[2015-05-01 16:30] #5037 closed

[2015-05-01 16:43] jlipps commented on #5035
You can't automate 2 apps in one session with iOS (this is an Apple limitation). If your changes to the calendar app persist, then you should be able to do this as follows (make sure you pass in the `noReset`: `true` capability)

1. start session with calendar app
2. run calendar flow
3. quit session
4. start session with your app
5. make verifications
6. quit session

In other words, you need to

[2015-05-01 16:43] #5035 closed

[2015-05-01 16:46] jlipps commented on #5034
appium isn't in charge of ideviceinstaller, have you contacted that project?

[2015-05-01 16:46] #5034 closed

[2015-05-01 16:51] amedvedjev commented on #4539
@jlipps we always do test suites with error log level. when i want to investigate any issue i temporarily set level to debug and run only needed test locally for debugging.

[2015-05-01 16:58] jlipps commented on #5029
I actually think the caps are weird here. With 8.x we don't need to reference MobileSafari.app, we just use bundleId. So somehow the caps are making Appium think we're on a lower version of safari.

[2015-05-01 16:58] jlipps commented on #5029
@valarmathivrv can you paste the entire appium log, please?

[2015-05-01 16:59] jlipps commented on #5032
:+1:

[2015-05-01 17:08] melonieji commented on #5035
Thanks for your quick update Jon,

Not sure how I can identify calendar app using desired capabilities.I tried using the bundleId which didnt work..

[2015-05-01 17:08] jlipps commented on #5018
@bootstraponline you are running bare `./reset.sh`?

[2015-05-01 17:10] jlipps commented on #5035
on a sim you should be able to launch it using the bundle id. on a real device you won't be able to automate built-in apps (since you don't own them)

[2015-05-01 17:10] melonieji opened #5038 "Identify calendar app using appium"
Not sure how I can identify calendar app using desired capabilities.
I tried using the bundleId which didnt work for some reason. Also tried to pass the "calendar" in app desired capabilities.

is there a different way of doing this on iOS simulator and android emulator? Because I can't identify the app as mentioned above.

[2015-05-01 17:11] jlipps commented on #5038
please paste in the logs when you tried to use bundleId on ios.

[2015-05-01 17:12] melonieji commented on #5038
I get a response saying undefined.. not sure what it means

[2015-05-01 17:13] jlipps commented on #4952
it would be great to add this to troubleshooting.md

[2015-05-01 17:15] jlipps commented on #5018
@bootstraponline i did the following:

[code]

then ran an iOS test. no crash. the only difference I guess is I'm on xcode 6.3 (6D570) not 6.3.1. i'll try to download that one...

[2015-05-01 17:19] jlipps commented on #5020
is it a custom control? uiautomation can't access custom controls

[2015-05-01 17:23] jlipps commented on #4643
special support for it was removed, but you can always use the app for your own purposes as if it were your own app.

[2015-05-01 17:28] jlipps commented on #4968
no, this is outside the scope of appium's responsibilities right now. you can always set up your own proxy wherever appium is running.

[2015-05-01 17:33] jlipps commented on #4549
@imurchie i took a look at the gist and can't see anything obviously off. can you?

[2015-05-01 17:34] jlipps commented on #4756
omit the `app` capability if you're using `browserName`. they can't be used together

[2015-05-01 17:35] jlipps commented on #5000
closing as a duplicate of https://github.com/appium/appium/issues/4178

[2015-05-01 17:35] #5000 closed

[2015-05-01 17:41] jlipps commented on #4350
I think it's reasonable for Android's `closeApp` to not initiate the session shutdown flow but instead to simply call force-stop. iOS behavior will remain the same (there's no other way to close the app). Adding to the features bucket.

[2015-05-01 17:42] #3493 closed

[2015-05-01 17:42] jlipps commented on #3493
this is fixed.

[2015-05-01 17:57] #4643 closed

[2015-05-01 17:57] Jonahss commented on #4643
That's a great workaround.

[2015-05-01 18:05] #4630 closed

[2015-05-01 18:05] #4759 closed

[2015-05-01 20:36] jlipps commented on #3259
is there a reason we can't add facility for this in Bootstrap.jar so we can call it directly from the appium server?

[2015-05-01 21:02] bootstraponline commented on #5018
Thanks to a tip from @Jonahss I figured out how to debug the problem.

[code]

[code]

The issue repros for me in the chrome dev tools.

[code]

[2015-05-01 21:09] bootstraponline commented on #5018
Manually adding a trim command got me a bit further along.

[code]

however I'm not sure why jonahss username is in the stacktrace.

[code]

[2015-05-01 21:15] bootstraponline commented on #5018
The gist for the new failure is [here](https://gist.github.com/bootstraponline/70e7419f6acec7dfb065). I'm pretty sure this is a bug in appium.

[2015-05-01 21:21] Jonahss commented on #5018
jlipps already committed that `trim()` fix for the symlink path.

On Fri, May 1, 2015 at 2:15 PM, bootstraponline <notifications@github.com>
wrote:

   ​

[2015-05-01 21:23] Jonahss commented on #5018
https://github.com/appium/appium-xcode/commit/a851f8e6fc6d6634d8c2fcca98cc054bba5b36f9

[2015-05-01 21:25] bootstraponline commented on #5018
right. it's still broken. i'm using the latest appium-xcode.

[2015-05-01 21:29] Jonahss commented on #5018
like, it adds the trailing slash anyways? Or is it some other issue.

[2015-05-01 21:32] bootstraponline commented on #5018
yes and when I add the code to remove the slash I get further along however there's some other piece outside of appium-xcode which still has the bug. also I'm not sure why `/Users/jonahss/Workspace` would show up in my stack trace

[2015-05-01 21:34] jlipps commented on #5018
@bootstraponline that last issue might have to do with source maps and transpiling

[2015-05-01 21:36] Jonahss commented on #5018
From the gist above, it looks like the same error.
ahhhhh, I think I get it.
you changed appium so it uses a modified appium-xcode, but appium-instruments also has appium-xcode as a dependency. I think npm-link should get that to work right, while modifying node_modules/appium-xcode wouldn't (you'd have to modify node_modules/appium-instruments/node_modules/appium-xcode)

[2015-05-01 21:37] bootstraponline commented on #5018
oh. that makes sense. I will try again with the proper link approach.

[2015-05-01 21:38] Jonahss commented on #5018
We're still learning about what work-flows are like with managing multiple modules.

[2015-05-01 21:50] jlipps commented on #5018
retry from a clean master @bootstraponline. is it working now?

[2015-05-01 22:12] moizjv commented on #5033
can you paste appium logs. How are you running appium server?

[2015-05-01 22:16] moizjv commented on #4842
@imurchie any update on this?

[2015-05-01 22:19] imurchie commented on #4842
No. It works locally. If @nishanov does as sebv says above, we might be able to move on. But really, the method is handled by the official Selenium binding.

[2015-05-01 22:22] moizjv commented on #4321
Hi @changusmc can you email your issue to `help@saucelabs.com` we can look into it

[2015-05-01 22:22] bootstraponline commented on #5018
I tried from a clean master and it's still broken. here are [the gist logs](https://gist.github.com/bootstraponline/37bbf7b1c46b7fd74edc). I used rev b08b2523aa4cf7f01ba93943d6dc67da5f53d303

[2015-05-01 22:25] moizjv commented on #4152
Closing due to inactivity

[2015-05-01 22:25] #4152 closed

[2015-05-01 22:28] moizjv commented on #5030
@imurchie thanks for the response :) closing it as it does not seem to be a bug.

[2015-05-01 22:28] #5030 closed

[2015-05-01 22:29] bootstraponline commented on #5018
I'll submit a PR which fixes the issue in a minute.

[2015-05-01 22:30] moizjv commented on #5015
@Anishohri can you please provide logs. If you have not updated appium things should just work fine. May be Application under test location strategies might have changed.

[2015-05-01 22:37] moizjv commented on #5014
@kani19 does second cap work by itself?

[2015-05-02 05:08] divyanshugarg commented on #4944
I am also facing same issue. After doing some investigation, I found that
---When new window open in Mobile Safari app and remote debugger notified to list a new page But Appium doesn't list becasue as per Appium, New page listing did not match the app id .

Due to this, we don't receive any window, so we can't send any command after-wards. Any commands we try to run after this call failing just r

[2015-05-02 07:00] srikanthsadhu commented on #5034
Yes already raised  with i device.
Reason raised with appium because, appium server hangs during launch I device object not found. Hangs infinitely at that point without any logs.
Also this will be issue when u move to official install to I device without fruitstrap.
I device didnt respond since 3 weeks. Seems none  looking.
Pls help.

[2015-05-02 07:03] srikanthsadhu commented on #5033
This happens might be because I device object not found , I device occasionally hangs due to usbmuxd error in SYS log imply remote peer socket connection closed.
We raised with I device and no use none looking since 3 weeks .
Only way it may work is replug device problem gets resolved by itself.

[2015-05-02 07:10] srikanthsadhu opened #5039 "Sometimes ideviceinstaller hangs due to a bug in libimobiledevice"
Hi we used fruitstrap,I device both had issues in install.
Appium has ocassional issues in launching due to log capture on device console.
The best resolution we figured was if we restart device BTW every test run, tests and tools are stable.
Is there a way appium can support restart of IOS device?
Even using settings app is fine but settings app bundle I'd not present.
Can any one please triage t

[2015-05-02 18:16] #5018 closed

[2015-05-02 23:13] moizjv commented on #5033
@srikanthsadhu I do not think this is appium issue? Can you ask in [forum](http://discuss.appium.com) ?

[2015-05-03 01:06] shivakrishnach31 commented on #5020
Custom control means? How to handle if it is a custom control?

[2015-05-03 02:56] SK-23 commented on #4617
Hello Jonathan,

I have had the same sequence of issues making me upgrade from appium 1.3.4 to appium 1.3.7.2(Windows)
- Have been using Appium 1.3.4 (Selendroid 0.12), with no issues past couple of months
- With the latest application apk, started encountering "could not bring up server in 20 seconds error"
- Upgraded to 1.3.7.2 (Selendroid 0.12). The 20 sec error went away and was replaced with

[2015-05-03 04:19] shivakrishnach31 commented on #5020
Custom control means? How to handle if it is a custom control?

[2015-05-03 05:49] ruthwe commented on #5028
thanks ur worked
On Apr 30, 2015, at 3:40 PM, Payman Delshad <notifications@github.com<mailto:notifications@github.com>> wrote:

Try:

location = tf.location

—
Reply to this email directly or view it on GitHub<https://github.com/appium/appium/issues/5028#issuecomment-97756020>.

[2015-05-03 06:54] #5028 closed

[2015-05-03 09:12] igalep commented on #4960
Guys , any help with it ?

[2015-05-03 09:21] igalep commented on #4580
@moizjv - I've fixed the post with the correct list's name.

regarding the list's iteration - I've tried with traditional "for / list's length" & with Java's iterator , none of them worked ...

[2015-05-03 21:39] moizjv commented on #4580
@igalep does below code work?

[code]

[2015-05-04 06:14] shivakrishnach31 commented on #5020
@jlipps, any update?

[2015-05-04 07:32] priyankshah217 commented on #5004
Its resolved now, checked in 81b90b599f8f1e0a5c7c39e7fb93f0314be0b328.

Thanks,
Moiz

[2015-05-04 07:32] #5004 closed

[2015-05-04 07:53] valarmathivrv commented on #5030
@imurchie  Thanks a lot for the response.

[2015-05-04 08:40] amedvedjev commented on #4539
run test which we use when generate new build with new data and saving screenshots.

How:
 - appium (1.3.7) server logs where set to debug mode.
 - test was started in MacOS terminal like: mvn test -DsuiteFile=src/test/java/resources/someTest.xml - testNG file
 - client: Android client with real phone of 4.3 android version
 - screenshots are taking from client as: ImageIO.read(((AppiumDriver) dri

[2015-05-04 09:17] tfcardoso commented on #4126
I'm having same problem... It installs the app in real device and then cannot lunch it.

This is the command where it fails:

    /Applications/Xcode.app/Contents/Developer/usr/bin/instruments -t /Applications/Xcode.app/Contents/Applications/Instruments.app/Contents/PlugIns/AutomationInstrument.xrplugin/Contents/Resources/Automation.tracetemplate -D /tmp/appium-instruments/instrumentscli0.trace -w

[2015-05-04 09:21] tfcardoso opened #5041 "Instruments crashes on startup"
appium 1.3.7

Can anyone merge this with https://github.com/appium/appium/issues/4126 or just close this one and re-open other?

It installs the app in real device and then cannot lunch it.

This is the command where it fails:

    /Applications/Xcode.app/Contents/Developer/usr/bin/instruments -t /Applications/Xcode.app/Contents/Applications/Instruments.app/Contents/PlugIns/AutomationInstrument.xr

[2015-05-04 13:38] robert-langenfeld opened #5042 "Android sendKeys() doesn't work properly when text exists in text field"
When attempting to send text over to an android webelement, it will work fine when the text field is empty. However when I attempt to send that same text when the text field has a value already in it, it does add it to the end of the line. Instead, it will place the cursor a couple characters in, attempt to delete them and then set the text.

For example when I send the text "test" on a an empty t

[2015-05-04 13:52] hkliya commented on #4960
@igalep What do you do in the onclick listener?

[2015-05-04 15:53] jlipps commented on #4617
@SK-23 what does logcat say? it will usually show a stacktrace of selendroid crashing, which is why it never shows up

[2015-05-04 15:58] jlipps commented on #5020
you can't automate custom controls with UIAutomation (and therefore, Appium)

[2015-05-04 15:58] #5020 closed

[2015-05-04 16:09] jlipps commented on #4539
@amedvedjev what are the stats for running your iOS tests with --log-level error?

[2015-05-04 17:17] jlipps opened #5043 "two-factor authentication for owners/contributors"
We need turn on 2FA to make sure the security of the Appium org is in a good spot. Please do this for each of your accounts and report back here when done. If you have any concerns, let me know!

- [ ] @appium-ci (@sebv responsible)
- [x] @triager (@jlipps responsible)
- [x] @Astro03
- [x] @ddkjin
- [x] @drpy
- [x] @maudineormsby
- [x] @paymand
- [x] @peepa
- [x] @penguinho
- [x] @sbonebrake
- [x]

[2015-05-04 17:38] jlipps commented on #4456
@bootstraponline i made a repo to track instruments bugs. let's start dumping what we know in there, then we can methodically attach openradar links and make repro cases / submit to radar if necessary.

https://github.com/appium/worms/

[2015-05-04 18:07] ktronic80 commented on #4742
Added a comment in the referenced issue  #4815

[2015-05-04 18:21] changusmc opened #5044 "Regressed issue #4702 in 1.4.0"
One of my team members tested 1.4.0-beta against Saucelabs and found a regression in the below issue.

https://github.com/appium/appium/issues/4702

[2015-05-04 18:22] jlipps commented on #5044
what is the regression @changusmc?

[2015-05-04 18:27] jlipps commented on #5044
oh right, this was fixed with 0b30bd1

[2015-05-04 18:27] #5044 closed

[2015-05-04 19:29] chrigrahcisco commented on #4397
Unfortunately I don't have anything additional or helpful to add at this time. Unsure when I'll have free time to investigate further and try to supply a test against the sample app to reproduce the issue.

[2015-05-04 19:29] amedvedjev commented on #4539
what will it say? we have 1 fail for 68 (67+1) tries with debug level. with error level we can have from 0 let say to 3 (just possible error rate).
i do not mind to test. just interesting what will it give...

[2015-05-04 19:32] jlipps opened #5046 "in some cases chromedriver doesn't start because of a Promise error"
get logs like these:

[code]

[2015-05-04 21:08] bootstraponline commented on #4456
@jlipps my thoughts re: instruments are here https://github.com/appium/appium-instruments/wiki/Instruments-Problems

I think we've had at least one issue in the appium repo related to each of the problems identified on that wiki page.

[2015-05-04 21:29] jlipps commented on #5046
this is a bug in node 0.10 only

[2015-05-04 21:36] hectorv commented on #4029
I just verified that this is now fixed in iOS 8.2

[2015-05-04 21:52] #5046 closed

[2015-05-04 22:00] bootstraponline opened #5047 "Get GPS location on Android"
appium apparently supports setting the GPS location on Android however not getting it. appium should allow [getting the current location](https://github.com/appium/ruby_lib/pull/333).

[2015-05-04 22:16] bootstraponline opened #5048 "Set GPS on physical android device results in unhelpful message"
[code]

It'd be better to tell the user that set location requires an emulator and isn't supported on physical devices.

[2015-05-04 22:22] cgadam opened #5049 "Unable to test an app that doesn't have a launchActivity"
Hi,

I'm trying to do some UI tests of an app that does not have a launchActivity but it does renders an Activity when an specific intent is received.

So based on the [Appium Server Capabilities](http://appium.io/slate/en/v1.0.0/?ruby#appium-server-capabilities) I configured my appium server to start with this capabilities:

[code]
Where I explicitly specify the appActivity and the fact that appi

[2015-05-04 22:48] Jonahss opened #5050 "Exit instruments when a Safari test ends"
Instruments isn't being shut down when a Safari test ends.
Not preventing things from working, but should be exited as part of the session cleanup phase.

@jlipps for deciding if this should be in 1.4 or added afterwards.

[2015-05-05 00:06] #4029 closed

[2015-05-05 00:07] jlipps commented on #5047
is there a way for the Bootstrap.jar to use the Android location methods so we can return this back to the user?

[2015-05-05 00:08] jlipps commented on #5048
I agree

[2015-05-05 00:08] bootstraponline commented on #5047
I'm pretty sure we need to use the "buddy apk" approach the Espresso devs outlined to get this information since we need an instrumentation context (this is similar to how we're implementing unlock).

[2015-05-05 00:40] sbonebrake commented on #5043
done

[2015-05-05 06:11] kani19 commented on #5014
@moizjv  yes it works by itself.

[2015-05-05 06:53] vathsalahn opened #5051 "apiium support for Android v5.0"
Not able to interact with the chrome browser on Android v5.0.is ther any solution for it??

[2015-05-05 07:24] valarmathivrv commented on #5029
I have attached the full apium log below

Launching Appium with command: '/Applications/Appium.app/Contents/Resources/node/bin/node'; lib/server/main.js --command-timeout "7200" --pre-launch --log "/tmp/appium.log" --platform-version "8.1" --platform-name "iOS" --app "com.vervewireless.iphone.qa.beta" --show-ios-log --device-name "iPhone 6"

info: [debug] Starting Appium in pre-launch mode

info:

[2015-05-05 09:01] ewazyga commented on #4706
Unfortunately I don't have ids in my app. Here is how inspector see username field:

__name:__
__type:__ UIATextField
__value:__ Username
__label:__
__enabled:__ true
__visible:__ false
__valid:__ true
__location:__ {332.00003051757812, 173.00001525878906}
__size:__ {360, 30.000015258789062}
__xpath:__ //UIAApplication[1]/UIAWindow[1]/UIATableView[1]/UIATableCell[1]/UIATextField[1]/UIATextField[1]

[2015-05-05 09:20] shivakrishnach31 commented on #5020
is there any other way to handle them. Because they have major part in my App. I have to handle them... or Can you implement this in next version?

[2015-05-05 10:16] aluedeke opened #5052 "Page source is completely different between ios 8 and 7"
I am currently testing a app on ios7 and ios8 real devices.

To do that i am using a lot of xpath call. Fortunately the html source looks completely different.

I think the reason is:

https://github.com/appium/appium/blob/81b90b599f8f1e0a5c7c39e7fb93f0314be0b328/lib/devices/ios/ios-controller.js#L259

Did anyone ever investigate if it is possible to return same source for all platforms?

Example:

[2015-05-05 10:30] amedvedjev commented on #5052
we have same problem. xcode backward compatibility i guess is problem. when we build client with Old xcode the problem absent. when moved to 8 we start see problems in 7.

[2015-05-05 10:53] amedvedjev commented on #4539
@jlipps updated with Error log level in previous comment.
BTW we experience strange behaviour with latest xcode. depending how it was installed (updated or from zero) - we see different behaviour.

[2015-05-05 11:10] valarmathivrv opened #5053 "How to use locators in the test cases?"
1. I have furnished the full details regarding the locator elements, which I have acquired from the appium inspector for android app.

2. I used text "CATEGORIES" as name and type "android.widget.TextView" as className and xpath="/android.widget.TextView[1]" in my test cases.

3. These are the possibilities I have tried it. But, the click action doesn't happens for me.

4. How can I use the locato

[2015-05-05 11:18] raldred commented on #4756
@jlipps thanks, I've tried using them both separated, it doesn't make any difference, I still get the same error: `Fail: Could not start script, target application is not frontmost.`

[2015-05-05 11:46] kani19 commented on #5014
Some more logs:

info: [IOS_SYSLOG_ROW ] May  5 17:11:19 user-mac SimulatorBridge[3817] <Warning>: LaunchServices: installing app for existing placeholder LSApplicationProxy: com.apple.mobilesafari

info: [IOS_SYSLOG_ROW ] May  5 17:11:19 user-mac SimulatorBridge[3817] <Warning>: LaunchServices: Not creating progress for LSApplicationProxy: com.apple.mobilesafari since it is not a placeholder.
inf

[2015-05-05 11:47] amedvedjev commented on #5053
Java:
driver.tap(1,driver.findElement(MobileBy.id("com.vr.droid.qa:id/side_menu_top_title_text")),200)
or
driver.findElement(MobileBy.id("com.vr.droid.qa:id/side_menu_top_title_text")).click();

[2015-05-05 11:48] naveenjammula commented on #2163
when it is going to fix.In my opinion element(s) method should not retrieve hidden elements. It retrieves only visible elements.

[2015-05-05 12:05] raldred commented on #4789
I'm getting a similar symtoms with my real iPhone 4 running 6.1.3
Xcode 6.3.1 on OSX 10.10
Appium master (1.4.0-beta)
ios-webkit-debug-proxy installed from the git repo above
ideviceinstaller latest installed with brew -HEAD

Driving tests with ruby appium_lib gem.

		desired_caps = {
			caps: {
				platformName: 'iOS',
				udid: device[:id],
				browserName: 'Safari',
				deviceName: device[:mode

[2015-05-05 12:12] valarmathivrv commented on #5053
@amedvedjev , I have tried with the above solution. But, the click action doesn't occur. I am using java only.

[2015-05-05 12:16] amedvedjev commented on #5053
well can't help more you need investigate yourself.
enable on phone or emulator in developer options to show location of cursor = thus you will see where and when the tap happening.

[2015-05-05 12:21] valarmathivrv commented on #5053
@amedvedjev , ok thanks for your response. I will give try.

[2015-05-05 12:31] amedvedjev opened #5054 "iOS: Hide keyboard does not work correctly on different machines"
appium 1.3.6 (fresh installed on both machines)
MacOS all updated
xcode 6.3.1 (both fresh installed)
iOS simulators (any 8.3, 8.1 ...)

Command:
((IOSDriver) driver).hideKeyboard(HideKeyboardStrategy.PRESS_KEY, "Hide keyboard")

With some machines it is 100% working always with others 100% fails always.
Same test and client. Same way of start from command line.

even with Fail keyboard is hiding s

[2015-05-05 12:35] naveenjammula opened #5055 "iOS, webdriver expect_id return True for invisible elements"
I am using appium with python client to write automation for an application iOS (target devices are iPhone 5c).
Issue:  Current implementation returns True even if item is  element is invisible.
I want expect_id to search the target id in from visible elements only.

Do we have any workaround for this ?

[2015-05-05 12:47] mariusbob commented on #4180
Hi,
I'm seeing this issue still opened. Was it fixed in 1.3.7?
Thanks.

[2015-05-05 13:22] amedvedjev commented on #5055
please post here your element from driver.getPageSource() to see what is there.

[2015-05-05 14:38] vascon8 opened #5056 "wrong location value in page source"
i have a tool bar on top of phone screen, and the location value is x=0,y=44. i can get the correct location value of the tool bar and its subviews, but after i use the scroll to method, the location value are wrong.
appum v1.3.7

some of the page source result:
            <UIAScrollView name="" label="" value="" dom="" enabled="true" valid="true" visible="true" hint="" path="/0/0/0" x="0" y="0"

[2015-05-05 14:40] vascon8 commented on #5056
<UIAScrollView name="" label="" value="" dom="" enabled="true" valid="true" visible="true" hint="" path="/0/0/0" x="0" y="0" width="320" height="568">
                <UIAWebView name="" label="" value="" dom="" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/0" x="0" y="-380" width="320" height="4025">
                    <UIALink name="↻, 刷新" label="↻, 刷新" value="" dom="[object

[2015-05-05 14:41] vascon8 commented on #5056
<UIALink name="↻, 刷新" label="↻, 刷新" value="" dom="[object Object]" enabled="true" valid="true" visible="false" hint="刷新" path="/0/0/0/0/0" x="283" y="8" width="28" height="28">
                        <UIAStaticText name="↻" label="↻" value="" dom="[object Object]" enabled="true" valid="true" visible="false" hint="刷新" path="/0/0/0/0/0/0" x="283" y="8" width="28" height="28">

[2015-05-05 14:47] vascon8 commented on #5056
the tool bar was loated on the location x=0 y=44
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="true" hint="" path="/0/0/0/0/5" x="0" y="44" width="80" height="40">
after scroll to:
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/0/5" x="0" y="-336" width="80" height="40

[2015-05-05 14:48] vascon8 commented on #5056
the tool bar was fixed at the location x=0 y=44
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="true" hint="" path="/0/0/0/0/5" x="0" y="44" width="80" height="40">
after scroll to:
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/0/5" x="0" y="-336" width="80" height="40"

[2015-05-05 14:49] vascon8 commented on #5056
the bar was fixed at the location of x=0 y=44
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="true" hint="" path="/0/0/0/0/5" x="0" y="44" width="80" height="40">
after scroll to:
<UIALink name="首页" label="首页" value="" dom="[object Object]" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/0/5" x="0" y="-336" width="80" height="40">

[2015-05-05 14:55] jlipps commented on #5020
You can try to enable accessibility on them, as in [this article](http://www.mattmccomb.com/blog/2013/06/02/ios-functional-testing-with-uiautomation/):

[2015-05-05 15:00] jlipps commented on #5020
(added this to the docs in https://github.com/appium/appium/blob/master/docs/en/appium-setup/troubleshooting.md#ios)

[2015-05-05 15:05] jlipps commented on #5052
this is a known issue (that the source changes between ios releases); there's nothing we can do about it as Apple changed the internal representation we use.

but it's odd that it would be different for ios 7.1 on xcode 5 and ios 7.1 on xcode 6. is that what you're saying @amedvedjev?

[2015-05-05 15:06] jlipps commented on #4539
interesting. it does seem like there is some correlation between logging and screenshot failure. we'll keep looking into this

[2015-05-05 15:06] jlipps commented on #4756
@raldred please paste in your appium log

[2015-05-05 15:20] SquareTheBase commented on #4539
@jlipps FWIW - When my tests fail with debug logging and I request a screenshot, you can continue to observe instruments debug statements print for minutes until it catches up to realtime.   Its during this time that the screenshot fails.

Presumably because its waiting on Instruments to acknowledge the screenshot?

[2015-05-05 17:24] shermanericSF commented on #4394
Hello to all.
I have also recreated this bug on Appium 1.3.7
I've put my capabilities and errors in this gist here:
https://gist.github.com/shermanericSF/30bff0d83c3fe7388bab

Notes:
1.  first test runs fine with same caps.
2.  2nd test is when I get the problem.
3.  i'm running this with --no-reset.  Without this (resetting by default) this error does not happen.

Please let me know if I can help

[2015-05-05 17:37] moizjv commented on #5014
@kani19 can you try with `1.4.0 beta`

[2015-05-05 17:39] moizjv commented on #4394
@shermanericSF can you paster complete appium log?

[2015-05-05 17:43] moizjv commented on #4296
@xsmaster `1.3.7` or `1.4.0 beta`

[2015-05-05 17:47] shermanericSF commented on #4394
false alarm.
I figured out my problem.  I needed to add this in my caps
appWaitActivity = "com.blackboard.android.bblearn.login.activity.LoginActivity"

I am all good now on my side.
Thanks for the quick response though!

[2015-05-05 17:50] moizjv commented on #5049
@cgadam can you paste complete appium log?

[2015-05-05 17:51] #4394 closed

[2015-05-05 17:52] moizjv commented on #5049
@cgadam similar issue #4394 try giving complete package name in appWaitActivity

[2015-05-05 17:54] moizjv commented on #5042
related to #4981 will add reference and close this.

[2015-05-05 17:54] #5042 closed

[2015-05-05 17:55] moizjv commented on #4981
https://github.com/appium/appium/issues/5042

[2015-05-05 17:56] moizjv commented on #5051
@vathsalahn can you paste appium logs.

[2015-05-05 17:58] amedvedjev commented on #5052
example of our problem:
 - some cell element has 2 text items. each text item has unique Accessibility Id. Cell itself also has Id.
When we build this with previous xcode we saw this correctly.
When we build with latest xcode with target device 8.3 Simulator we see this correctly only with 8.X Simulator. With 7.1 Simulator we see only Cell with text value equal to both text items.

Thus we can not

[2015-05-05 17:58] moizjv commented on #5039
@srikanthsadhu so you want capability to restart iOS from appium?

[2015-05-05 18:01] moizjv commented on #4898
closing due to inactivity

[2015-05-05 18:01] #4898 closed

[2015-05-05 18:04] moizjv commented on #4981
#4844 tracking similar issue

[2015-05-05 18:05] #4844 closed

[2015-05-05 18:10] moizjv commented on #4267
tracking #4815 #4504

[2015-05-05 18:10] #4815 closed

[2015-05-05 18:10] moizjv commented on #4815
duplicate

[2015-05-05 18:11] #4504 closed

[2015-05-05 18:20] ddkjin commented on #5043
done

[2015-05-05 18:43] moizjv commented on #5053
@valarmathivrv can you use [forum] (http://discuss.appium.com) for discussions. Does not seem to be an appium defect.

[2015-05-05 18:43] #5053 closed

[2015-05-05 18:46] moizjv commented on #5026
@akash-chaudhary can you paste complete log please?

[2015-05-05 18:55] moizjv commented on #4999
@biabraham did you try `getWindowHandles` method and switch to window?

[2015-05-05 18:58] srikanthsadhu commented on #5039
Yes please, I need an automated way to restart iOS device without physically touching device. Like adb restart in android.
This will fix issues with ideviceinstaller object not found from appium start, also fixes log capture didnt start in time from appium

[2015-05-05 19:05] moizjv commented on #4951
@seshav so where is appium running inside or outside virtual box?

[2015-05-05 19:09] moizjv commented on #4946
@Bohdan1304 looks like https://github.com/appium/appium-dot-app issue, can you raise it there. Thanks

[2015-05-05 19:09] #4946 closed

[2015-05-05 19:14] moizjv commented on #4937
@agileseph I am not sure if i follow you. Did you run `node bin/appium-doctor.js --dev` to see if all pre-conditions were followed? Here is the running from source [documentation](https://github.com/appium/appium/blob/master/docs/en/contributing-to-appium/appium-from-source.md)

[2015-05-05 19:15] moizjv commented on #4930
@KimMatt are you still facing this issue?

[2015-05-05 19:17] #4922 closed

[2015-05-05 19:56] yaphatak commented on #5039
idevicediagnostics restart
If you have appium installed on machine then  you should have idevicediagnostics along with it

[2015-05-05 20:02] yaphatak commented on #4539
@jlipps : is it worth using idevicescreenshot from libmobiledevice guys?
there are 2 catches to it
1.. You get very large image from idevicescreenshot . So,  you need to convert to .jpg before convert it into binary.
2. appium doesn't maintain libmobiledevice project
But we are still using it internally as we find its more stable. May be we can add capability and server-argument to choose how to t

[2015-05-05 20:21] raldred commented on #4756
@jlipps https://gist.github.com/raldred/84c8999bfd1269f0fc90
just fyi everything works fine, with my ipad 2 running 6.1.3, same appium, same ruby test code

[2015-05-05 20:25] moizjv commented on #4904
@whopiecat it should be available with `1.4.0 beta`

[2015-05-05 20:26] ArchanaChalapalle opened #5059 "When Appium Android Node runs more than 50 tests , tests are skipped"
When more than 50 tests are run continuously in a test suite , some tests are skipped.
All of a sudden , this error appears in betweeen the runs
org.openqa.selenium.SessionNotCreatedException:
 A new session could not be created. (Original error: Did not get session redirect from Chromedriver) (WARNING: The server did not provide any stacktrace information)

[2015-05-05 20:27] moizjv commented on #4880
@TrimNut did that help?

[2015-05-05 20:27] #4878 closed

[2015-05-05 20:28] moizjv commented on #4874
@wangcityboy this should be solved with `1.4.0` release

[2015-05-05 20:29] moizjv commented on #4853
Closing due to inactivity

[2015-05-05 20:29] #4853 closed

[2015-05-05 20:31] moizjv commented on #4849
@developerqa can you put complete appium logs?

[2015-05-05 20:34] moizjv commented on #4834
closing due to inactivity

[2015-05-05 20:36] moizjv commented on #4832
Closing due to inactivity

[2015-05-05 20:36] #4832 closed

[2015-05-05 20:38] moizjv commented on #4776
@lundstrj is this still an issue?

[2015-05-05 20:46] moizjv commented on #4730
@YoniH is there a way to reproduce this?

[2015-05-05 21:05] moizjv commented on #4700
@vselvaraj-ecofactor can you please paste complete appium log?

[2015-05-05 21:11] moizjv commented on #4690
@PriyaSilverback can you share your capabilities ? Is this still an issue?

[2015-05-05 21:17] srikanthsadhu commented on #5039
Thanks for reply.I will try this but wondering when I device hangs due to remote peer socket connection closed error  on appium will this work or not?
Is there a command line option to restart attached USB port? I mean mount / unmount without kernel options?

[2015-05-05 21:34] jlipps commented on #4713
please send in the full appium logs for this last case

[2015-05-05 21:35] moizjv commented on #4911
@NickAb AFAIK appium does not assign these names. You can always store it in variables and use variable instead to make your code more readable

[2015-05-05 21:44] moizjv commented on #2841
Similar issue https://github.com/appium/appium/issues/4689 Tracking it here

[2015-05-05 21:44] moizjv commented on #4689
Duplicate

[2015-05-05 21:44] #4689 closed

[2015-05-05 21:45] yaphatak commented on #5039
it wont work if you see lockdown error from ideviceinstaller

[2015-05-05 21:46] Jonahss opened #5060 "Touch actions with Real Device on Safari"
It turns out that Instruments _does_ continue to run while the SafariLauncher is backgrounded and Safari is running.
Switching to the NATIVE context, one can still get the page source, find elements, tap screen coordinates, but **CANNOT** tap elements. Tapping an element causes instruments to hang, appium eventually quits and never returns a response (so the whole test suite is frozen).

Short-ter

[2015-05-05 21:50] moizjv commented on #4609
@dqthebt @amedvedjev @prattpratt thanks! @tarunHub appium will figure out if you dont pass in those two capabilities from your androidmanifest.xml . Can you use [forum](http://discuss.appium.io) for asking questions. Closing it as it is not a bug.

[2015-05-05 21:50] #4609 closed

[2015-05-05 22:13] Jonahss opened #5061 "Fix execute_async on Safari Real Device"
The callback_url is set to localhost, needs to be local ip address for real devices.

[2015-05-05 22:14] Jonahss commented on #5061
@jlipps assign milestone?

[2015-05-05 22:15] amedvedjev commented on #5059
1) does it fail on "driver = new RemoteWebDriver(new URL("http://127.0.0.1:port/wd/hub"), some_capabilities);" ?
2) if YES - add retries here.

[2015-05-05 22:17] jlipps commented on #4756
@raldred can you try with master? there were some fixes for safarilauncher from @Jonahss that might help with this case

[2015-05-05 22:18] jlipps commented on #4539
i think adding a flag to use idevicescreenshot instead would be a good way of figuring out which is more reliable. can you create an issue for this @yaphatak and i'll add it to the 'features' milestone?

[2015-05-05 22:19] jlipps commented on #4949
can you try without --session-override?

[2015-05-05 22:28] moizjv commented on #4569
Looks like an issue

[2015-05-05 22:31] moizjv commented on #4564
@spatchamatla can you try `autoAcceptAlerts` capability?

[2015-05-05 22:33] moizjv commented on #5012
@vascon8 can you paste complete appium logs?

[2015-05-05 22:36] moizjv commented on #4151
Closing due to inactivity

[2015-05-05 22:40] moizjv commented on #4479
Does not look like an issue.  Unfortunately is a limitation by iOS

[2015-05-05 22:40] #4479 closed

[2015-05-05 22:41] moizjv commented on #4370
@mayureshshirodkar did you try `tap`? Also can you paste complete appium log so we can look at it

[2015-05-05 22:52] moizjv commented on #4257
@liqing380 is this still an issue?

[2015-05-05 22:53] moizjv commented on #4242
@tk-421 can you try upgrading appium and see if this is still an issue?

[2015-05-05 22:54] moizjv commented on #4240
Closing due to inactivity

[2015-05-05 22:54] #4240 closed

[2015-05-05 22:54] moizjv commented on #4239
Closing due to inactivity

[2015-05-05 22:54] #4239 closed

[2015-05-05 22:55] moizjv commented on #4225
Closing as it is tracked in another issue

[2015-05-05 22:55] #4225 closed

[2015-05-05 23:00] moizjv commented on #4731
Duplicate of https://github.com/appium/appium/issues/4608

[2015-05-05 23:00] #4608 closed

[2015-05-05 23:01] moizjv commented on #4731
@anazir-aa can you paste complete appium logs?

[2015-05-05 23:04] moizjv commented on #4525
Can you paste appium logs ? Can you also ask in [Forum](http://discuss.appium.io) ? It is not very clear what you are trying to achieve and is there a defect in appium that we should look into

[2015-05-05 23:05] moizjv commented on #4524
What do you mean working fine with appium and what do you mean by code in this context?

[2015-05-05 23:07] moizjv commented on #4487
Looks like a feature request

[2015-05-05 23:39] moizjv commented on #4533
@BenjaminZaiser is this still an issue? can you paste complete appium log?

[2015-05-05 23:47] moizjv commented on #4687
@sameer49 can you paste appium logs looks an interesting issue

[2015-05-05 23:50] moizjv commented on #4654
@kiransweng interesting @bootstraponline @jlipps  any ideas?

[2015-05-05 23:51] moizjv commented on #4654
@kiransweng so what is happening i dont understand do you want to check if tooltip is present or want to ignore and continue with the test

[2015-05-05 23:56] bootstraponline commented on #4654
uiautomator relies on the android accessibility apis for the ability to identify text and elements on screen. There are certain elements that can't be automated with uiautomator (such as toast notifications). This type of tooltip doesn't have a content description which is why uiautomator can't see it in uiautomatorviewer. As a result, it's unlikely that appium can automate it. You may have some s

[2015-05-05 23:56] moizjv commented on #4647
closing due to inactivity

[2015-05-05 23:56] #4647 closed

[2015-05-06 00:02] moizjv commented on #4612
hi @kiransweng thanks for the investigation. Can you raise this issue in https://github.com/appium/appium-dot-app repo so we can fix it.

[2015-05-06 00:02] #4612 closed

[2015-05-06 00:03] #4769 closed

[2015-05-06 02:04] srk9ravi commented on #4525
i will paste them soon, i have already posted in Forum i guess.

[2015-05-06 02:07] srk9ravi commented on #4524
i have run out of this issue, i will be posted if i come across any other of same. thank you.

[2015-05-06 02:07] #4524 closed

[2015-05-06 02:36] bootstraponline opened #5063 "String extraction broken on Android regression issue"
I'm running the Android unit tests for the Ruby bindings and basic features have regressed. The appium server is unable to extract strings.

I don't understand how quality can get worse with each release (crashing on startup, basic features constantly breaking). I was [hoping CI would help.](https://discuss.appium.io/t/continuous-integration-in-appium/2182)

[code]

[2015-05-06 04:43] vietnq254 commented on #4742
Will it be fixed in Appium 1.4 ?

[2015-05-06 05:20] vasudarch commented on #4934
not able to run safari script due to this issue

[2015-05-06 06:24] akash-chaudhary commented on #5026
Sir my this issue has been solved . It was due to incomplete download of appium.
But i am facing a different issue. The issue is related to scrolling through appium.

Sir my iOS mobile app has page which contains TableView and CollectionView . At this page appium driver as well as javaScriptExecutor both are unable to scroll . But at those pages which contain scrollView they both are working fine

[2015-05-06 06:25] akash-chaudhary commented on #5026
Thanks for your support earlier.

[2015-05-06 06:31] moizjv commented on #5026
@akash-chaudhary can you look at [documentaion](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md) it may solve your issues related to scroll. Also you can try asking at [forum](http://discuss.appium.com) for questions. Closing this issue.

[2015-05-06 06:31] #5026 closed

[2015-05-06 08:51] raldred commented on #4756
thanks @jlipps unfortunately it seems I'm getting exactly the same error with appium master.
I ran ./reset.sh which completed successfully.

New appium log:
https://gist.github.com/raldred/c23ef36955368a0912a7

[2015-05-06 09:37] SK-23 commented on #4617
@jlipps Thanks for your response.

The logcat says "Unable to find instrumentation info for: ComponentInfo{**com.nh.selendroid/io.selendroid.server.ServerInstrumentation**}".

Checked the following: adb shell pm list instrumentation
Returned :
instrumentation:com.example.android.apis/.app.LocalSampleInstrumentation (target=com.example.android.apis)
instrumentation:**com.nh.selendroid/io.selendroid

[2015-05-06 10:46] raldred commented on #4756
I just tried again and it got further... but failed with error: `Could not find button to launch Safari. Make sure you are using the latest version of SafariLauncher that appium is using`

    info: [debug] Socket data received (8158 bytes)
    info: [debug] Socket data received (8190 bytes)
    info: [debug] Socket data received (1118 bytes)
    info: [debug] Socket data being routed.
    info: [

[2015-05-06 12:05] Harbhawan commented on #4834
Hi @moizjv

Please do not close this issue, I am still facing issue for Android App

[2015-05-06 12:06] Harbhawan commented on #4834
Hi @jlipps

You are right Protractor using for Angular App
protractor framework execution more faster than other framework (TestNg)

[2015-05-06 12:26] xsmaster commented on #4296
1.3.7
On May 5, 2015 12:43 PM, "Moiz Virani" <notifications@github.com> wrote:

[2015-05-06 12:29] MUI-Fazy commented on #4949
Yes, I have already tried without '--session-override' flag, but it was the same.

[2015-05-06 12:39] Harbhawan commented on #4834
Hi All,

Please let me know any more information required from my side.

[2015-05-06 12:52] ArchanaChalapalle commented on #5059
Can you share the logic of how you add retries here ?

[2015-05-06 13:10] srikanthsadhu commented on #5039
Does any one know solution to re-plug the USB port / cable through command line?
atleast issue will be resolved when we unplug and replug the USB cable , is there a way to automate this through any mount/unmount diskutil commands?

[2015-05-06 13:15] srikanthsadhu commented on #5039
When ideviceinstaller hangs with appium, I tried idevicediagnostics restart and it didnt reset the socketconnection after restart.

[2015-05-06 14:04] cyrilchampier opened #5065 "Android `execute_script("mobile: scroll"` crashes"
[code]

Because of this line: controller.js:639
 `req.device.scroll(element, direction, getResponseHandler(req, res));`
that call this function: android-controller.js:686
`androidController.scroll = function (direction, cb) {`
which lacks the first element argument

[2015-05-06 14:13] glebPrischepa opened #5066 "Android. WebElement text is 0"
Hi, all,

I noticed one issue on Android while developing tests using Appium.
The problem is I am trying to get text from WebElement and I am getting empty text.

On Android WebElement is
 <EditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:inputType="numberPassword"
            />

So. I see that EditText has g

[2015-05-06 15:21] robert-langenfeld commented on #4981
Out of curiosity, is this going to be fixed in the near future or is this going to be for a much farther down milestone?

[2015-05-06 15:59] #5061 closed

[2015-05-06 16:01] #5063 closed

[2015-05-06 16:13] cgadam commented on #5049
I tried providing full qualified name for appWaitActivity but still getting the issue.

I can also see in the log that mentions this:

[code]

Does it help?

[2015-05-06 16:52] imurchie commented on #4981
This is in the works. I'm just fixing some issues with it on Selendroid.

[2015-05-06 17:19] Jonahss commented on #4756
There's a new version of SafariLauncher. Appium installs it automatically, but will not install it if you already have an older version of SafariLauncher on your device. Delete SafariLauncher from your device and run `reset.sh --real-safari`

[2015-05-06 17:35] Jonahss commented on #4742
Sorry no, 1.4 is already ready for release (going through the process today) so this bug won't make it in.

Thank you for the full reproduction cases in the referenced issue, that will make fixing this for the next release much easier.

[2015-05-06 17:38] Jonahss commented on #4612
Awesome @kiransweng glad it got solved :D

[2015-05-06 18:01] moizjv commented on #5049
Can you paste complete log?

[2015-05-06 18:08] moizjv commented on #5065
This method is not implemented for Android its only for iOS, you should be using [touch api](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md)

[2015-05-06 18:08] #5065 closed

[2015-05-06 18:13] Jonahss commented on #4911
Yeah, though this would be a useful feature, there's no way I know of to dependably keep track of webviews and make sure the same one always gets the same name. If you think about it, it is against the selenium/appium model to name elements as well. The appium server just assigns elements IDs and it is up to the test code to keep track of elements and assign them to variables.

Which appium client

[2015-05-06 18:23] whopiecat commented on #4904
Thanks for the info.

-------- Original message --------
Subject: Re: [appium] Server command '--suppress-adb-kill-server' displays appium.js: error: Unrecognized arguments: (#4904)
From: Moiz Virani <notifications@github.com>
To: appium/appium <appium@noreply.github.com>
CC: Re: [appium] Server command '--suppress-adb-kill-server' displays appium.js: error: Unrecognized arguments: (#4904)

@whopi

[2015-05-06 18:34] SquareTheBase commented on #4890
This is still an issue using iOS8.3 SDK with an app built from XCode6.3.1.

Is there any idea to what might be the cause?

Here is the same WebDriverException that is raised with Appium 1.3.7 and iOS8.3:
[code]

[2015-05-06 18:43] Jonahss commented on #4963
So when you run your test locally, on the same exact type of phone, the same thing happens? I'm inclined to believe that would mean the issue could lie how the page loads on that phone.
I notice in the Sauce video that the browser fully loads the page, and nothing is displayed.
Is this behavior flakey or fully reproducible?

I can't really detect anything going wrong with how appium loads the page

[2015-05-06 18:46] Jonahss commented on #4890
Thanks for upgrading!
I'll try to reproduce this.

[2015-05-06 19:32] moizjv commented on #4904
Closing the issue. If you still have issue in `1.4.0` with this argument open a new ticket. Thanks

[2015-05-06 19:32] #4904 closed

[2015-05-06 19:34] amedvedjev commented on #5059
google: "testNG retry failed tests"
solutions many e.g. example from search https://martinholladay.wordpress.com/2013/11/17/webdriver-2-0-automatically-retry-failed-tests/

[2015-05-06 19:40] moizjv commented on #4296
@xsmaster does it work? Shall i close the issue?

[2015-05-06 20:05] imurchie commented on #4549
This ought to be fixed with the latest unicode ime.

[2015-05-06 20:19] raldred commented on #4756
Thanks @Jonahss i'll give that a try in the morning.

[2015-05-06 20:57] inertjade commented on #4713
Following is the log for a device running Android SDK 21. This is the log created after I changed the context to a webview and clicked on a link. The click on the link did not succeed. The webview didn't change.

I can send you another log if you are interested. This log was created for a device running Android SDK 19. And the click on the link worked. And the webview transitioned to a different p

[2015-05-06 20:59] #4981 closed

[2015-05-06 21:22] Jonahss commented on #4890
If you take a look at the test I ran here: https://github.com/Jonahss/appium-es7-example/blob/master/lib/test.es6.js

I used this command:
`driver.pullFile('/Containers/Bundle/Application/E60FFDE4-8C99-4DFB-98FD-81D3EBD8F558/TestApp-iphonesimulator.app/Info.plist')`
which worked.

Were you using the app-relative path, or full path like I did above?

It's possible that app-relative paths are broken

[2015-05-06 21:22] Jonahss opened #5068 "Have all ios tests use sample-apps"

[2015-05-06 21:30] SquareTheBase commented on #4890
Hmm - I'm using the app-relative path because the iOS sim paths move around depending on sim resets.   I'll give the full path a shot and report back.

Thanks for looking into this!

[2015-05-06 21:46] Jonahss commented on #5068
Actually, this wasn't so bad, just missed one

[2015-05-06 21:49] Jonahss opened #5070 "Fix pull-file for IOS simulator app-relative paths"
They don't seem to work on iOS 8.3 sims.
This test fails: `should be able to fetch a file from the app directory`

[2015-05-06 21:52] Jonahss commented on #4890
I filed a bug for the app-relative paths: #5070

[2015-05-06 21:52] Jonahss commented on #4890
Looks like it's been assigned to appium 1.4.1, so that's soon ^.^

[2015-05-06 21:59] Jonahss commented on #5066
That's interesting. Sounds like a security feature, no?
Why are you trying to get the text out of a password field?

Is this in a webview, or a native app?

[2015-05-06 22:08] Jonahss commented on #5056
Whoah.
This on iOS right?
It looks like `position:fixed` has a lot of issues. Seems like this is a bug with iOS.

[2015-05-06 22:08] Jonahss commented on #5056
I suggest that you save the location of the element before scrolling, then you can still create a TouchAction on those coordinates.

[2015-05-06 22:12] Jonahss commented on #5056
Forgot to ask: is this on Safari, or a native app?

[2015-05-06 22:14] Jonahss commented on #5055
You can use isEnabled() or isDisplayed() to check if the element is enabled or displayed.

[2015-05-06 22:17] Jonahss commented on #5054
What do you mean "with different machines". Do you mean different host computers with the same iOS simulators? Or do you mean different simulators? (8.3, 8.2, ipad, iphone).

[2015-05-06 22:19] Jonahss commented on #5052
Sorry we can't do more to help, this is Apple changing their implementation (hopefully they're improvements ;)

[2015-05-06 22:19] #5052 closed

[2015-05-06 22:26] Jonahss commented on #5049
Try adding the `appPackage` capability.
Appium tries to parse the manifest to get the AppPackage and AppActivity, and it's failing to find the app Activity.

Here's the code which you want to hit:
https://github.com/appium/appium/blob/87b60278d2450fb6c6870beff8be79c08859fb9e/lib/devices/android/android-common.js#L672

If this works for you, we should still probably break those functions up, so we

[2015-05-06 22:54] Jonahss commented on #5041
Is the app `com.xxx.joynenter` already installed to the device?
You can use [ideviceinstaller](https://github.com/libimobiledevice/ideviceinstaller) to get a list of the exact bundleIds for apps on the phone.

[2015-05-06 22:59] Jonahss commented on #5039
Hm. You can buy an expensive USB hub that allows you to programmatically connect/disconnect the cables attached to it....

OH!
Does ideviceinstaller hang for you? And then you unplug the phone and plug it back in and it works? I have actually been experiencing this but thought it was only my computer.

what do you see when you run `idevice_id -l`? Mine has the same Id twice :/

[2015-05-06 23:00] Jonahss commented on #5038
What bundleId did you use?

[2015-05-06 23:04] Jonahss commented on #5033
Uh oh, this looks like a duplicate of #5039
Read my last comment there, does it apply to you?

[2015-05-06 23:07] Jonahss commented on #5029
@jlipps thoughts?

[2015-05-06 23:09] Jonahss commented on #5027
You could try using the `ios-uiautomation` locator strategy https://discuss.appium.io/t/how-to-use-findelements-byiosuiautomation/607

[2015-05-06 23:10] Jonahss commented on #5025
How does appium crash? Can you post the log for the crash?
Does unplugging the phone and plugging it back in fix it?

[2015-05-06 23:13] Jonahss commented on #4992
Can you post the appium logs please?

[2015-05-06 23:14] Jonahss commented on #4993
Possible duplicate: #4992

[2015-05-06 23:15] Jonahss commented on #4993
@poorvikamahesh Can you post the full logs for us? Thanks.

[2015-05-06 23:15] Jonahss commented on #4995
@nikhil969 Can you answer moizjv's questions?

[2015-05-06 23:22] Jonahss commented on #4997
Yeah! Go ahead with the pull request, and post here if you have any questions or difficulty :D

[2015-05-07 01:38] zxhfirefox commented on #5027
Hi, my question may not be very clear. What I want to know is that I already find the element, but I don't know how to call it's method which is documented in iOS UIAutomation Docs, and I use Python client.

[2015-05-07 04:49] prashantnagrecha opened #5072 "Uninstalling Appium"
Hi, I need steps in detail that can uninstall appium, node, etc related to Appium. Once uninstalled, I want to re-install everything from scratch. Does anyone have detailed steps for Mac.

[2015-05-07 04:50] prashantnagrecha commented on #5033
I think I shall uninstall everything and re-install appium and see how it goes.

[2015-05-07 07:01] mayureshshirodkar commented on #4370
I did try tap method. But it gave me out of bound error on Android whereas same tap did work fine on iOS.
But as my app was a hybrid app, I was able to get a work around by switching to Webview.

I feel the issue is as it is a Hybrid app. Any thoughts on this?

[2015-05-07 07:14] sanlengjingvv commented on #4128
I tried Appium 1.3.7，It works.

[2015-05-07 07:15] amedvedjev commented on #5072
how you install Appium? What is your OS?

[2015-05-07 07:18] priyankshah217 opened #5073 "Error on starting appium"
Hi All,
I was getting error on launching appium (Built from master).

adminuser@mydev-lt113:~/Java_Projects/Appium/appium$ node .
node: symbol lookup error: /home/adminuser/Java_Projects/Appium/appium/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build/Release/bufferutil.node: undefined symbol: _ZN2v816FunctionTemplate3NewEPNS_7IsolateEPFvRKNS_20FunctionCallbackInfoINS_5ValueEEEENS

[2015-05-07 07:25] amedvedjev commented on #5054
i mean physically different machines.
we all have Mac-s. Mac Pro (personal) and Mac mini (as server for CI).
with all machines we did following:
 1) re-installed Appium 1.3.6 :
      - npm remove -g Appium
      - npm install -g Appium@1.3.6
 2) re-installed xCode 6.3.1 :
      - xcode removed from Application folder
      - deleted following folders:
          - /Library/Developer/CoreSimulator

[2015-05-07 07:27] prashantnagrecha commented on #5072
Installed Appium via brew through terminal and via download for GUI version. I observed that by installing 2 different version of appium creates ambiguity when I initiate Appium through Java. #5033 so thought to uninstall and reinstall everything.

[2015-05-07 07:37] tfcardoso commented on #5041
It is correctly installed with ideviceinstaller during the launching of tests.

[2015-05-07 08:06] vselvaraj-ecofactor commented on #4700
Please see the full Appium log below.
==================================================

[36minfo[39m: Welcome to Appium v1.3.7 (REV 72fbfaa116d3d9f6a862600ee99cf02f6d0e2182)
[36minfo[39m: Appium REST http interface listener started on 0.0.0.0:4723
[36minfo[39m: [debug] Non-default server args: {"udid":"4df1485948529fa3","bootstrapPort":2250,"noReset":true,"defaultCommandTimeout":900}
[36m

[2015-05-07 08:23] amedvedjev commented on #5072
well i guess in that case should be enough:
 - npm remove -g Appium
 - and delete Appium from Application

[2015-05-07 08:44] SathiyaRengarajan opened #5074 "Unable to start appium-Mac OS X-10.3.3"
Logs:
Could not find config file: /usr/local/lib/node_modules/appium/.appiumconfig.json; looks like config hasn't been run. Please run reset.sh or appium configure.
error: uncaughtException: Could not find config file: /usr/local/lib/node_modules/appium/.appiumconfig.json; looks like config hasn't been run. Please run reset.sh or appium configure. date=Thu May 07 2015 14:12:06 GMT+0530 (IST), pid=

[2015-05-07 09:35] raldred commented on #5074
Have you tried doing what the error say?
cd /usr/local/lib/node_modules/appium/ && ./reset.sh

[2015-05-07 09:36] raldred commented on #4625
Have you run ios_webkit_debug_proxy?

[2015-05-07 09:38] glebPrischepa commented on #5066
It happens in native app.
The reason why I am trying is to check that my logic replaces text in WebElement(EditText) correctly.
I am developing test that allows to examine that invalid user cannot be signed in and I have to replace text several times.

To clear text in input I use loop and action
getDriver().sendKeyEvent(AndroidKeyCode.BACKSPACE);

but before I should know length of the text...but

[2015-05-07 09:43] raldred commented on #4756
@Jonahss @jlipps ./reset.sh --real-safari fixed it!
Thanks

[2015-05-07 09:44] SathiyaRengarajan commented on #5074
I am getting error as
/reset.sh: No such file or directory.

[2015-05-07 09:55] raldred commented on #5074
Ok maybe homebrew doesn't have reset.sh.
try running `appium-doctor`

[2015-05-07 10:10] SathiyaRengarajan commented on #5074
✔ Xcode is installed at /Applications/Xcode.app/Contents/Developer
✔ Xcode Command Line Tools are installed.
✔ DevToolsSecurity is enabled.
✔ The Authorization DB is set up properly.
✔ Node binary found at /usr/local/bin/node
✔ iOS Checks were successful.

Running Android Checks
✖ ANDROID_HOME is not set
Appium-Doctor detected problems. Please fix and rerun Appium-Doctor.
SR6-SM-PRORT:~ sathiya$

[2015-05-07 11:35] amedvedjev commented on #5074
try:
 - install Gui client 1.3.6: https://bitbucket.org/appium/appium.app/downloads/appium-1.3.6.dmg
then
 - npm install -g appium@1.3.6

[2015-05-07 12:09] robert-langenfeld commented on #4981
Thanks for getting this taken care of! Has a release date been given yet for 1.4? We can find a workaround until then. But if it's coming out in the next week or so then we won't bother with finding the work around. Or better yet, if this is in master, can we build this ourselves and run it?

[2015-05-07 13:44] ajit4848 opened #5075 "Unable to Invoke Software Keypad in iOS."
Unable to Invoke Software Keypad in iOS.
As I need to to Toggle soft Keyboard on each time of each execution as if I need sendKeys work properly.

Is there any code snippet to get task done.

Please Help.
Thanks,
Ajit Jadhav.

[2015-05-07 13:50] hungl opened #5076 "The way Appium install apk changes the behavior of the app"
Hi,

Lately, I have the same issue with https://github.com/appium/appium/issues/3782
My app does not behave the same way (crashes) when it is installed via Appium.
I wonder if anyone experience the same issue and have any solution. I would like to understand the way Appium pushing apk, and why it is different from the normal installing process.

Thanks.

[2015-05-07 14:17] ajit4848 commented on #4243
is it necessary to enable  soft keyboard in sim menu each time of execution.

[2015-05-07 15:12] priyankshah217 commented on #5073
Resolved.

[2015-05-07 15:12] #5073 closed

[2015-05-07 16:03] sriramkannan opened #5077 "iOS 8.3 test fails with "Failed looking up pid of launched process" error"
The following is the debug log lines. Can somebody point me what is it I am missing? TIA

sSock":"/tmp/instruments_sock","interKeyDelay":null,"justLoopInfinitely":false,"autoAcceptAlerts":false,"autoDismissAlerts":false,"sendKeyStrategy":"oneByOne"}

info: [debug] Dynamic bootstrap code: // This file is automatically generated. Do not manually modify!
...

info: [debug] Dynamic bootstrap path: /Us

[2015-05-07 16:06] Makavelic opened #5078 "Can't switch from Native to Webview context on real iOS device on Safari"
Here's my code:

                changeContext(1); //Switches to webview_1

		driver.get("http://www.google.com");
		changeContext(0); //Switch to Native Context
		int x=284;
		int y=200;
		TouchAction touchAction = new TouchAction((AppiumDriver)driver)
		.longPress(x,y,100)
		.release();
		touchAction.perform();

               //Everything works up until this point.
		changeContext(1); //Switch

[2015-05-07 17:13] #5078 closed

[2015-05-07 17:13] Makavelic commented on #5078
Duplicate of https://github.com/appium/appium/issues/4825

[2015-05-07 17:25] #5068 closed

[2015-05-07 18:22] Jonahss commented on #5076
https://discuss.appium.io/t/can-we-override-appiums-installing-apk-method/4193/8

I commented on your post, thanks for linking it.

[2015-05-07 18:23] Jonahss commented on #5076
If there's any more help I can give about the way Appium installs app, just comment here :)

[2015-05-07 18:24] Jonahss commented on #4756
^.^

[2015-05-07 18:24] #4756 closed

[2015-05-07 18:28] Jonahss commented on #5066
Oh I get it!
Look here: https://discuss.appium.io/t/how-to-clear-prefilled-text-of-a-textbox-in-mac/406/4

You can call `clear()` to remove all text, or you can call `setValue()` instead of `sendKeys()` and it will overwrite the textfield and you don't need to loop to erase :)

[2015-05-07 18:28] #5066 closed

[2015-05-07 18:44] Jonahss commented on #5041
It is correctly installed, but Instruments always fails with that error?
Can you verify that the bundleIds listed when running `ideviceinstaller -l` exactly match "com.xxx.joynenter"?

[2015-05-07 18:50] Jonahss commented on #5054
Oh my goodness, that sounds frustrating.
@imurchie any ideas?

[2015-05-07 18:52] Jonahss commented on #4370
Hm. Did you try switching to the Native context and using a TouchAction on the exact screen coordinates on the device (rather than sending an element to tap on)

[2015-05-07 18:53] Jonahss commented on #5072
Can further discussion be moved to a post on discuss.appium.io ? Would be a good place to write a guide on uninstalling.

[2015-05-07 18:53] #5072 closed

[2015-05-07 18:54] Jonahss commented on #5027
Ah, you can't call UIAutomation commands on an element you've already found.
What are you trying to do with the 'selectedButton' method? Perhaps we could add it as a feature to appium.

[2015-05-07 19:07] Jonahss commented on #5077
It looks like this post should solve your issue: https://discuss.appium.io/t/appium-v1-3-0-beta1-xcode-6-1-failed-looking-up-pid-of-launched-process/1015/6

[2015-05-07 19:09] Jonahss commented on #5075
I'm not sure I quite understand.
Unless you have a specific bug, try posting to the forum: http://discuss.appium.io

[2015-05-07 19:09] #5075 closed

[2015-05-07 19:14] Jonahss commented on #5033
Tell us how it goes :)

[2015-05-07 19:15] Jonahss commented on #5024
If you are using the Appium Inspector, you should post your issue on that github repository. Issues here should relate directly to appium. Thanks :)

[2015-05-07 19:15] #5024 closed

[2015-05-07 19:18] Jonahss commented on #4700
It looks like an issue with Selendroid and Cordova compatibility. Perhaps @paymand knows what's up?

[2015-05-07 19:19] Jonahss commented on #5021
This sounds like more of an issue with the Appium inspector, and not the core appium repository. Could you repost your issue on the repository for the Inspector?
Thanks.

[2015-05-07 19:19] #5021 closed

[2015-05-07 20:44] hungl commented on #5076
I fixed my issue. See my comment in https://discuss.appium.io/t/can-we-override-appiums-installing-apk-method/4193/8

[2015-05-07 21:04] #5076 closed

[2015-05-07 21:17] Jonahss commented on #5014
Oh huh. This is odd. It looks like appium isn't able to install MobileSafari on the device?
What happens if you run a regular Safari test with the `no-reset` capability. Then, modify your tests desired capabilities so they run the app `com.apple.mobilesafari` using the bundleId?

Instruments should skip the installation step, and mobileSafari should already be on your simulator.

[2015-05-07 21:19] jlipps commented on #5029
first of all, the logs provided have nothing to do with the screenshot; the logs don't say anything about safari, while the screenshot does. secondly, there aren't enough of the logs to prove that there's even a problem. in the second set of logs, does the session start? or not?

[2015-05-07 21:20] Jonahss commented on #5059
I'll try to reproduce this myself. Should running 50 simple chrome tests on an android emulator do it, or are you using a real device?

[2015-05-07 21:22] Jonahss commented on #5012
Which bounds are nil? Can you post the response from that rest request?

[2015-05-07 21:27] jlipps commented on #5059
ultimately the solution will probably be to retry. the only question is whether this should be on the client side or on the appium side.

[2015-05-07 21:35] ArchanaChalapalle commented on #5059
It is on real device that I am getting this error.

[2015-05-07 22:21] Jonahss commented on #5059
What type of device is it, and what version of Android is it running?

[2015-05-07 22:55] moizjv opened #5079 "Setting language and locale does not work with api > 21"
[code]

[2015-05-07 23:34] Jonahss commented on #4975
Looks like a duplicate of #4977 5054

[2015-05-07 23:35] #4975 closed

[2015-05-07 23:43] prashantnagrecha commented on #5033
Hi all, I did everything but unfortunately the latest version of appium v1.3.7 throws error stating ideviceinstaller not found when launched through Java...to me keep my project running, i revert to v1.3.4 where it works without any issues. Hopefully in some time i can install the latest version where ideviceinstaller issue is resolved.

[2015-05-07 23:44] prashantnagrecha commented on #5072
Sure.

[2015-05-07 23:45] Jonahss commented on #4484
+1

[2015-05-07 23:45] Jonahss commented on #4974
Your assessment looks correct. It should handle all these failure cases better.
The upcoming refactor as part of milestone 1.5.0 should help here.

Also, this should be helped by #4484

[2015-05-07 23:46] Jonahss commented on #4972
Can you try the latest code? this has been upgraded very recently

[2015-05-07 23:47] Jonahss commented on #4966
Installing the app with Xcode succeeds?
If you look through the appium logs, they have a log line that says: "starting instruments with command..."
If you run that command in your console, what happens?

[2015-05-07 23:50] Jonahss commented on #4962
@shivakrishnach31 you should talk to the team that manages the Jenkins build for your app, try to get them a copy which is signed by their Developer profile. Sorry that there's not more we can do, this is a limitation placed by Apple.

[2015-05-07 23:50] #4962 closed

[2015-05-08 00:01] Jonahss commented on #4961
which issue?

[2015-05-08 00:01] #4961 closed

[2015-05-08 00:04] Jonahss commented on #4955
Interesting yes. What about a single test, where you first start a driver with `no-reset`, start the app and immediately end the session. Then start a second driver (still in the same test) and this time `no-reset` is `false` so the next test starts fresh?

[2015-05-08 00:05] Jonahss commented on #4951
The issue here might be that the virtualBox adds so much weight to your CPU that the Android emulator is having issues. We're currently wrestling with buggy android emulators here at AppiumHQ ;)

[2015-05-08 00:06] Jonahss commented on #4951
A quick suggestion, if you're up for it, would be to try running the test on an emulator using Sauce Labs (or another mobile testing cloud provider)

[2015-05-08 00:13] Jonahss commented on #4950
Ok so, flakey behavior of instruments crashing on real iOS devices, once in a 100 tests.

Do you want to try appium version 1.4-beta and see if that works better? Check out the `1.4` branch.

[2015-05-08 00:16] Jonahss commented on #4949
Ok well this is a bug then. Reproduction would be to run 500 tests for 5-6 hours and look for it happening -_-

Workaround is to periodically restart appium every couple hours...

[2015-05-08 00:17] Jonahss commented on #4944
+1

[2015-05-08 00:18] Jonahss commented on #4939
Closed due to inactivity. Comment here and we can reopen the issue.

[2015-05-08 00:18] #4939 closed

[2015-05-08 00:22] Jonahss commented on #4938
So you can use the Context commands to switch automation from applying to the webview, or applying to the native app (in this case the browser).
https://discuss.appium.io/t/what-does-the-autowebview-desired-capability-really-do/69

I *think* you should be able to access the camera via sending commands to press buttons on the screen. http://stackoverflow.com/questions/25015540/is-there-are-any-way-

[2015-05-08 00:22] #4938 closed

[2015-05-08 00:27] Jonahss commented on #4934
This should be fixed in version 1.4  You can try the 1.4 branch to check for yourself

[2015-05-08 00:30] Jonahss commented on #4933
Hm. It looks we actually detect this, but don't do anything about it.
https://github.com/appium/appium-instruments/blob/a11c46926f8bccedf385b151a2cca0cbdfae9165/lib/instruments.js#L298

We should have it quit and return an error, or kill the session.

[2015-05-08 00:32] Jonahss commented on #4932
Well it's certainly a bug. Thanks for pointing it out. Adding to milestone.

[2015-05-08 00:35] Jonahss commented on #4930
+1, we're seeing lots of android emulator issues with api level 21 and 22.

[2015-05-08 00:36] Jonahss commented on #4926
Thank you. @paymand does this make sense to you?

[2015-05-08 00:37] Jonahss opened #5080 "Unlock.apk broken/unreliable on Android api level 21, 22"

[2015-05-08 00:38] Jonahss commented on #4930
related to #5080

[2015-05-08 00:38] Jonahss commented on #4924
Closed due to inactivity. Comment here is still experiencing difficulty.

[2015-05-08 00:38] #4924 closed

[2015-05-08 00:40] Jonahss commented on #4917
Oh dear. Sorry but if the view isn't appearing in the XML hierarchy that appium sees, it's doubtful that we can interact with it.
Your can still use TouchActions to tap screen coordinates....
@bootstraponline do you agree?

[2015-05-08 00:41] Jonahss commented on #4916
Well, the collection itself might not be visible......
What problem does this create for you?

[2015-05-08 00:42] bootstraponline commented on #4917
yep

[2015-05-08 00:42] Jonahss commented on #4999
#4944 could be related...

[2015-05-08 00:44] bootstraponline commented on #4917
If you use the [Apple accessibility inspector](https://developer.apple.com/library/ios/technotes/TestingAccessibilityOfiOSApps/TestAccessibilityiniOSSimulatorwithAccessibilityInspector/TestAccessibilityiniOSSimulatorwithAccessibilityInspector.html) and make the custom view accessible, then appium will be able to automate it. Apple has extensive documentation about accessibility on iOS.

[2015-05-08 00:46] moizjv opened #5081 "Fix wifi and data settings for android 21 and 22"
[code]

[2015-05-08 00:46] Jonahss commented on #5033
You can also install ideviceinstaller from source. it IS kind of a pain though.

[2015-05-08 00:46] #5033 closed

[2015-05-08 00:47] #4917 closed

[2015-05-08 00:48] #4874 closed

[2015-05-08 00:49] Jonahss commented on #4852
Can you post the XML output of the view, when you call `/source`?

[2015-05-08 00:50] Jonahss commented on #4850
Did you figure out a resolution @cosminduracsv

[2015-05-08 00:50] Jonahss commented on #4849
Also, how does it work on version 1.4 (from 1.4 branch)

[2015-05-08 00:54] Jonahss commented on #4839
Ah! Did you enable remote debugging in the Settings for Safari in the simulator?

[2015-05-08 00:57] #4831 closed

[2015-05-08 00:57] Jonahss commented on #4831
Closed due to inactivity. Comment here to reopen.

[2015-05-08 01:10] Jonahss commented on #4821
Referencing #5080

[2015-05-08 01:42] vietnq254 opened #5082 "[Android][Appium 1.3.7] Unexpected click event when using swipe()"
Hello,

I see that sometimes Appium will click element automatically after finishing the action swipe.
Can you help to fix it?

[2015-05-08 03:11] Sanjo commented on #4955
I use Sauce Labs. So I think that I cannot start a new session without loosing the state of the previous session.

[2015-05-08 03:16] zxhfirefox commented on #5027
Oh, I think it should be a feature that we can call these methods on the UIElement in a some kind of RPC ways(use string to name the methods maybe).
for my example, I found a UIASegmentedControl, but I can not find out which segment is selected in a easy.
I would like have something like this:

myElement = find_element()
method_return = myElement.send_method(method_name, method_args)

I think, thi

[2015-05-08 03:34] SathiyaRengarajan commented on #5074
Tried it. This is what i could see in Terminal. Appium GUI is not opening
SR6-SM-PRORT:~ sathiya$ info: Welcome to Appium v1.3.6 (REV 004f52f249d3513809e7d0734d9205d1fec19f8e)
info: Appium REST http interface listener started on 0.0.0.0:4723
info: Console LogLevel: debug

[2015-05-08 03:55] vietnq254 opened #5083 "[Android API >=19][Appium 1.3.7] Wrong result when using getText() for EditText control"
With API 19 or higher, when I get the text of EditText, it will automatically add the hidden value in the result.
For example:
expected: ```example@gmail.com```
actual: ```Enter an email address. example@gmail.com```

The hidden text of EditText control is ```Enter an email address```

[2015-05-08 05:04] vietnq254 commented on #4482
Please help to fix this problem in the next version 1.4.0.
I see the version 1.4.0-beta still has this problem.

[2015-05-08 06:38] cosminduracsv commented on #4850
@Jonahss No solution found on this, it works fine for inputs or button elements but does nothing when clicking on linktexts, drop downs .. What is frustrating that it seems the click was performed but in the ui  no action is present.

[2015-05-08 08:38] paymand commented on #4700
The original bug report was https://github.com/selendroid/selendroid/issues/658 (which led to this fix:
https://github.com/selendroid/selendroid/pull/788)
I backported that fix to Appium (together with upgrade to Selenium 0.15.0) here: https://github.com/appium/appium/commit/a2be0896305540d5f6ad0d0682428a66034e9fe1
However, that commit is not in 1.3.7.
@vselvaraj-ecofactor: Could you try with Appi

[2015-05-08 08:40] paymand commented on #4926
Does this also happen with Appium 1.4.0-beta which has Selendroid 0.15.0?

[2015-05-08 08:57] ashutoshcrestech opened #5084 "Connect to 127.0.0.1:4723 [/127.0.0.1] failed"
I am using
1.Selenium-server-standalone-2.45.0.jar
2.selenium-java-2.45.0.jar
3.java-client-2.2.0.jar

public static void main(String[] args) throws IOException, InterruptedException
{

stopAppiumServer();
startAppiumServer();
File appDir = new File("D:\\");
File app = new File(appDir, "xxxxxx.apk");
DesiredCapabilities capabilites = new DesiredCapabilities();
System.out.println("Above Device Name

[2015-05-08 09:37] glebPrischepa commented on #5066
Hm..."setValue" is not available for WebElement.
Also I noticed that "clear" and "sendKeys" are not stable when we use it more than 2 or 3 times.
It makes EditText does some strange things.

[2015-05-08 10:01] glebPrischepa commented on #5066
Also, "clear" does not work for EditText with inputType "password"

[2015-05-08 10:17] yaphatak opened #5085 "use idevicescreenshot to take screenshot on ios. Add capability and server-argument to choose how to take screenshot (instruments or idevicescreenshot)"

[2015-05-08 10:18] yaphatak commented on #4539
done @jlipps  #5085

[2015-05-08 10:31] yaphatak commented on #4825
@Jonahss : I am curious how you are planning to fix this. We only commented out https://github.com/appium/appium/blob/master/lib/devices/ios/ios-controller.js#L1637-L1640. I don't think we need to do this, what do we achieve with this?

[2015-05-08 10:49] ArchanaChalapalle commented on #5059
It runs on Samsung s5 and Samsung s3 . In both the devices I had same issue. In between tests , tests are skipped at line getRemotewebdriver .

-------- Original message --------
From: Jonah <notifications@github.com>
Date:05/07/2015 6:21 PM (GMT-05:00)
To: appium/appium <appium@noreply.github.com>
Cc: Archana Chalapalle <archanac@marketamerica.com>
Subject: Re: [appium] When Appium Android Node r

[2015-05-08 10:50] MUI-Fazy commented on #4949
My Current workaround is to restart appium only when the exception occurs.

[2015-05-08 11:43] amedvedjev commented on #5084
first check that before you start "AndroidDriver driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"),capabilites);" - Appium server is runs.
Just check it manually.

then check in Appium logs what url it is started with. e.g. in mine case i have after Appium start:
info: Welcome to Appium v1.3.6 (REV 004f52f249d3513809e7d0734d9205d1fec19f8e)
info: Appium REST http interface listener

[2015-05-08 11:53] ashutoshcrestech commented on #5084
Thank for reply..
After Starting it manually it is giving:

[2015-05-08 12:12] lundstrj commented on #4776
@moizjv hey man, I had to put my project on a ice for a bit so I can't give you a straight answer right now. I'm hoping to get back to it in a week or so, I'll do my best to update. (It's in my todo list)

[2015-05-08 12:26] amedvedjev commented on #5084
ok. if you start appium not in test but manually will "AndroidDriver driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"),capabilites);" now start successfully?

[2015-05-08 13:06] ashutoshcrestech commented on #5084
Yes it is successfully starting when starting manually.

[2015-05-08 13:08] amedvedjev commented on #5084
then verify again and make sure that in code appium starting correctly.

[2015-05-08 14:39] shivakrishnach31 commented on #4962
@Jonahss , They generates AppStore version build from jenkins with distribution profile, not with developer profile. So, I am not able to install the App which is build with distribution profile. But able to play with the App which is build with developer profile. I have to automate distribution profiled App. Any help still?

[2015-05-08 15:10] imurchie commented on #4981
It is in master. If you run from source and reset with the latest code it ought to work!

[2015-05-08 17:22] Jonahss commented on #4962
Nope, Instruments can only automate an app which has been built with a Developer Profile. This is a restriction put in place by Apple and we haven't found a way around it.

The code generated should be the same, so testing your Developer build with appium is the same as testing the actual Distribution-built app.

[2015-05-08 17:23] Jonahss commented on #4949
Ah ok. That's reasonable. We should test this and figure out where the issue is though.

[2015-05-08 17:24] shivakrishnach31 commented on #4962
Thanks @jonah
On May 8, 2015 10:53 PM, "Jonah" <notifications@github.com> wrote:

[2015-05-08 17:37] Jonahss commented on #4962
Welcome :)

[2015-05-08 17:45] Jonahss commented on #5066
Wow that sounds like a whole host of issues.
Hm, ah well. It seems like a lot of the limitations come from this being a "password" input.
You could go back to the Backspace loop you had before. But you *know* the length of the previous password you typed into it, so you should know the length already.

[2015-05-08 17:49] Jonahss commented on #4850
*sigh*
Have you tried creating a simple test of this with an Instruments script using Xcode? That at least can verify whether this is just a bug with Apple Instruments.

[2015-05-08 17:52] Jonahss commented on #4482
Yes, 1.4-beta still has this problem, if the problem had been solved then we would close the issue.
I can request to see if we can put this on the roadmap for the next release.

You can also take a look at the code in appium-uiauto project if you want to submit a pull request to fix this.

[2015-05-08 17:53] Jonahss commented on #5027
@jlipps what do you think?

We are usually against setting up commands that allow arbitrary execution of native automation methods.

[2015-05-08 17:55] Jonahss commented on #4955
Ah yes, that would certainly be a limitation.
@jlipps what do you think?

[2015-05-08 18:13] jlipps commented on #5027
two options:

1) just use executeScript, as in `driver.execute_script("au.getElement('" + element.id + "').selected`;
2) we can add an attribute to this type of element so you can do `element.get_attribute("foo");`. just need to know what kind of attribute it is we're inspecting

[2015-05-08 18:15] jlipps commented on #4955
@Sanjo can you just use `driver.startApp` with the package/activity of the home screen? then use it again with your app's package/activity. just wondering if that does the trick.

otherwise i'm wondering how we would restart the app with adb?

[2015-05-08 18:28] Jonahss commented on #4955
You could also press the home button. Then use startApp.

[2015-05-08 18:32] Jonahss commented on #4818
It looks like 300ms is too small an amount of time to wait. It should be between 500 and 6000.
I'll add a check to the java-client.

[2015-05-08 18:32] #4818 closed

[2015-05-08 18:43] Jonahss commented on #4812
Those are the simulator logs, but could you post the appium server logs please?

[2015-05-08 18:44] Jonahss commented on #4803
Yeah, you run two appium servers with different ports...

[2015-05-08 18:44] #4803 closed

[2015-05-08 18:45] Jonahss commented on #4797
That should be fine, feel free to submit a Pull Request.

[2015-05-08 18:46] Jonahss commented on #4789
Can you try on the 1.4 branch?

[2015-05-08 18:48] Jonahss commented on #4788
There is an `xcode-select` command which is useful. You can use that to switch the xcode being used by your system between different versions. Just keep both the Xcode.app files and pass the path to `xcode-select`

[2015-05-08 18:48] #4788 closed

[2015-05-08 18:51] Jonahss commented on #4787
Well first of all you need to specify the desired capability "PlatformVersion" not "version".
Appium 1.4 should be able to automate that version of iOS if you have the right Xcode installed.
Make sure the app is built for that version of iOS as well.

If you are still having difficulties, can you post the appium server logs?

[2015-05-08 18:55] KimMatt commented on #4930
@moizjv Yes the issue is still present.

[2015-05-08 19:02] axemclion commented on #4797
Just an update - Chrome has deprecated timline and now uses tracing instead. However, this is still needed since the format of the logs is a a String, so will do that.

[2015-05-08 19:06] moizjv commented on #4834
@Harbhawan can you paste what part of code is causing this issue?

[2015-05-08 20:01] yaphatak commented on #5059
@jlipps : Its chromedriver issue. We run more than 3000  tests everyday and but we dont see failures anymore. Only code change that I did, i dont kill chromedriver per test session, we restart it only if we see failure during new session creation. Again I will try to send pull request soon but i have implementation with earlier chromdriver code (where you didnt seprate chromriver package in separa

[2015-05-08 21:44] Jonahss commented on #5059
We've been using this script to run chromedriver, it restarts it on failures.
https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-05-08 22:58] Jonahss commented on #5085
:+1:
especially since screenshots on safari with real devices might work better with idevicescreenshot.

[2015-05-08 23:17] yaphatak commented on #5059
isnt thisfor ios-webit-debug-proxy

[2015-05-08 23:21] Jonahss commented on #5083
If you look at the actual device/emulator, does the EditText element just contain `example@gmail.com`?

[2015-05-09 00:14] Jonahss commented on #5082
Can you post the appium server logs please?

[2015-05-09 00:28] vietnq254 commented on #5083
In the real device Samsung Galaxy S5 (API19), I see just '''example@gmail.com'''
But Appium and UI Automator Viewer show '''Enter an email address. example@gmail.com'''

[2015-05-09 00:41] vietnq254 commented on #5082
I will post it later.
I often use swipe() function to scroll a Scrollview in the case there are more than 1 Scrollview or Listview in the screen:
```dr.swipe(startx, starty, endx, endy, time)```
And of course unfortunately  endx and andy is the location of a button, link textview,...

[2015-05-09 00:48] Jonahss opened #5087 "Switching context to default 'WEBVIEW' (without id) doesn't work on iOS real devices"
Because we switch to webview '1', but ios_webkit_debug_proxy could have any number of webview...

@imurchie

@jlipps my suggestion is just to remove this feature.

[2015-05-09 01:25] naughtylion commented on #4750
Enabling UI Automation resolved the problem. Thanks @MJanach

[2015-05-09 05:02] abhijeetkanade opened #5089 "Unable able to switch to WebView on real android device or on a simulator"
Hi,

I trying to test hybrid app, so trying a sample test on a selendroid-test-app. There are two issues with WebView on a android.

Tried following code to get context names:

for (String contextName : contextNames) {

System.out.println(contextName); //prints out something like NATIVE_APP \n WEBVIEW_1

//driver.context(contextName);

}
1. On real device, it only returns NATIVE_APP view, so can't

[2015-05-09 07:04] amaanmemon commented on #5089
Hey, there is no need to switch to webview for real android device, it automatically open google chrome once you provide the proper desired capabilities
or else
driver.context("WEB_VIEW")

[2015-05-09 10:10] abhijeetkanade commented on #5089
driver.context("WEB_VIEW") is throwing following error
io.appium.java_client.NoSuchContextException: No such context found. (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 195 milliseconds

[2015-05-09 10:13] amaanmemon commented on #5089
driver = new AppiumDriver(new URL("http://127.0.0.1:4723/wd/hub"), capabilities);

Set<String> contextNames = driver.getContextHandles();
for (String contextName : contextNames) {
    System.out.println(contextNames); //prints out something like NATIVE_APP \n WEBVIEW_1
}
driver.context(contextNames.toArray()[1]); // set context to WEBVIEW_1

//do some web testing
String myText = driver.findElement

[2015-05-09 10:23] abhijeetkanade commented on #5089
capa.setCapability(MobileCapabilityType.PLATFORM_NAME, MobilePlatform.ANDROID);
		capa.setCapability(MobileCapabilityType.DEVICE_NAME, "Android device");
		capa.setCapability(MobileCapabilityType.NEW_COMMAND_TIMEOUT, 120);
		capa.setCapability(MobileCapabilityType.BROWSER_NAME,"");
		capa.setCapability(MobileCapabilityType.APP_PACKAGE, packageName);
		capa.setCapability(MobileCapabilityType.APP_AC

[2015-05-09 15:31] tommedema opened #5090 "using appium for app automation, not for testing"
I'd like to automate a text transformation app on android. My node.js script would read from a database, input text from the database into the android app using appium, and then store the output on the virtual machine in the database.

Would it be possible to do this? I.e. I don't need to do testing, but I need to automate an app and store its output.

[2015-05-10 07:04] Jonahss commented on #4825
Yeah, all it took was removing that -_-
I think that line isn't neccessary anymore.

[2015-05-11 04:17] vietnq254 commented on #5082
This happened so much when I use swipe().
Please help to take a look at the source code of this function.

[2015-05-11 04:21] vijay0850 commented on #5089
I'm also facing same issue on real device it showing NATIVE_APP only but here driver.context(contextNames.toArray()[1]);

When the array is set to 1 it throwing ArrayInputBound Exception.

[2015-05-11 04:29] vijay0850 opened #5091 "How to find click a element that don't have a text or any specificdescription."
I can't able to click this menu button in this app. please help me to find the element id and make it clickable.

![image](https://cloud.githubusercontent.com/assets/10095173/7558517/ea9df97c-f7c3-11e4-8655-e486887f37cf.png)

I tried with following methods,

Absolute Xpath:-

driver.findElement(By.xpath("//android.widget.FrameLayout[0]/android.widget.LinearLayout[0]/android.widget.FrameLayout[0]/a

[2015-05-11 04:35] moizjv commented on #5091
Hi @vijay0850 can you use [forum](http://discuss.appium.io) to post questions? This space is raise bugs. On your question may be you can use `findElementsByClassName("android.widget.ImageView")` get the all elements and figure out which one is menu and then figure out other unique properties of the element which you can use.

[2015-05-11 05:51] vijay0850 commented on #5091
Okay I posted the same in discussion forum, now u can close the issue here @moizjv if it possible can u please tell me how to find the unique properties of the element. I tried list method it showing classname only.

[2015-05-11 06:04] #5091 closed

[2015-05-11 06:50] DylanLacey commented on #4944
I have examples of this occurring intermittently on Sauce Labs;  With the same device (iOS 8.0 iPad Simulator);  And the same test.  Sometimes it works, sometimes it doesn't.

@Jonahss I have emailed you the relevant job IDs (Would love to share them with the community but they're customer tests, not a repro I created)

[2015-05-11 07:13] valarmathivrv opened #5092 "How to resolve the couldn't find a device to launch issue, while launching the appium for ios?"
I am using 1.3.6 appium version. When I click the launch button I am  getting the below issue .
info: [debug] Cleaned up instruments socket /tmp/instruments_sock
info: [debug] Setting Xcode folder

info: [debug] Setting Xcode version

info: [debug] Setting iOS SDK Version

info: [debug] Getting sdk version from xcrun with a timeout

info: [debug] iOS SDK Version set to 8.1

info: [debug] Checking

[2015-05-11 07:31] maudineormsby commented on #5043
done

[2015-05-11 08:49] penguinho commented on #5043
done

[2015-05-11 09:24] glebPrischepa commented on #5066
Hm,,,I think I can create custom element extends WebElement to keep text but I would not rely on it much.

Any ideas?

[2015-05-11 09:55] Manasa-dd opened #5093 "Not able to start Appium session {"message":"A new session could not be created. (Original error: 'java -version' failed. Error: spawn ENOENT)","origValue":"'java -version' failed. Error: spawn ENOENT"},"sessionId":null}"
Checking if an update is available
Update not available
Starting Node Server
info: Welcome to Appium v1.3.7 (REV 72fbfaa116d3d9f6a862600ee99cf02f6d0e2182)
info: Appium REST http interface listener started on 127.0.0.1:4723
info: [debug] Non-default server args: {"app":"D:\apk\Calculator.apk","address":"127.0.0.1","logNoColors":true,"deviceName":"emulator-5554","platformName":"Android","platformVer

[2015-05-11 10:06] shadeimi opened #5094 "Add ability to set ios-webkit-debug-proxy port"
Hi,
There's any plan to extend appium in order to accept a specific ios-webkit-debug-proxy port? Support for automating multiple devices simultaneously is missing at now

[2015-05-11 11:07] penguinho opened #5095 "Can't npm install Appium in Appium.app because chromdwriver package requires node in path"
sh: node: command not found
-[0G-[0G\[0G-[0G[37m[40mnpm[0m [0m[30m[43mWARN[0m [0m[35mengine[0m hawk@0.10.2: wanted: {"node":"0.8.x"} (current: {"node":"0.12.1","npm":"2.5.1"})
[0m[37m[40mnpm[0m [0m[30m[43mWARN[0m [0m[35mengine[0m cryptiles@0.1.3: wanted: {"node":"0.8.x"} (current: {"node":"0.12.1","npm":"2.5.1"})
[0m[37m[40mnpm[0m [0m[30m[43mWARN[0m [0m[35mengine

[2015-05-11 11:07] penguinho commented on #5095
This is probably an issue for the chromedriver project to deal with, but this breaks building for the dot app

[2015-05-11 12:44] valarmathivrv opened #5096 "How can I resolve the browser start-up issue and failed to download mobile app in sauce-storage issue?"
1. I am trying to run the below code for iphone automation app testing.
2. When I tried to run the test cases for both in local and saucelab , I am facing the below mentioned issue.

 @BeforeMethod
    public void setUp(Method method) throws Exception
    {
        File appsZip = new File("/Users/alkaffkhan/work/iOS_zip_file_for_app_automation.zip");
        this.client.uploadFile(appsZip);

[2015-05-11 13:40] tfcardoso commented on #5041
Hi, sorry for late reply. The result of that command is:

    mac$ ideviceinstaller -l
    Total: 2 apps
    com.swiftkey.SwiftKeyApp - SwiftKey 124.3.5772003
    com.xxx.joynenter - RCS+ 3.0.0
    mac$

In the meantime I updated my system, its running now:
XCode6.3 (10.10)
Device: ios8.3
Appium 1.4.0

But same exact error appears

[2015-05-11 14:34] tfcardoso commented on #5041
Apparently it was related to this:
http://stackoverflow.com/questions/19112794/xcode-could-not-launch-only-reports-security-as-error

Fixed now :) thanks for support

[2015-05-11 14:34] #5041 closed

[2015-05-11 15:13] imurchie commented on #5087
Getting rid of it sounds fine with me. I don't think it's in the spec. But we might want to deprecate it in case anyone is using it. Then just bracket the test so real devices don't use it.

Alternatively, it could be changed to take whatever is the first webview, which is essentially what is being done on a simulator. Rather than adding `1`, we could find the lowest index and use that.

[2015-05-11 16:27] sebv commented on #4650
I can repro on ci, this is a real issue, trying to figure out how to fix it.

[2015-05-11 16:32] Simon-Kaz commented on #5090
I'm not sure how you plan to achieve this - " then store the output on the virtual machine in the database."

But other than that, definitely possible. I've done this myself (In java and c#), in testing its called Data Driven Testing (where you specify the data and the values are iterated over).

[2015-05-11 16:33] jlipps commented on #5087
webview names are just that---names. i don't think we can even assume there will be a number in it. i think the best practice is to always get the contexts and then choose based on some feature of the context (maybe its title, etc...). in most cases just getting the first non-native context is the right thing to do

[2015-05-11 16:35] Simon-Kaz commented on #5080
Can confirm that this is an issue... I (temporarily) resolved it by removing the screen lock on the device, haven't seen the issue since but I understand that this might not be a long term solution.

[2015-05-11 16:35] jlipps commented on #5090
yes. appium is not a testing framework. it is an automation framework that most people use for testing. you of course are responsible for retrieving whatever output you require using the UI, and figuring out how to store it.

[2015-05-11 16:35] #5090 closed

[2015-05-11 16:36] jlipps commented on #5080
i've also noticed for myself that adb itself with the most recent rev of the platform-tools is really, really unreliable

[2015-05-11 16:40] jlipps commented on #5095
we should probably just rewrite that project. it's not a big project and we have other modifications we need to make to it as well.

[2015-05-11 16:41] jlipps commented on #5094
yes, we should add an option for that.

[2015-05-11 16:41] jlipps commented on #5094
(changed title to reflect request)

[2015-05-11 16:59] SquareTheBase commented on #4890
This fixed my issue - however, the path sent shouldn't be the absolute path (starting from the root dir) because the same path behavior is observed.

Instead, send the simulator path as your example shows and the path will be accepted.

[code]

[2015-05-11 16:59] #4890 closed

[2015-05-11 17:41] Jonahss commented on #5087
Ok then, this ticket should be to fix that bit, to get the first non-native webview and return it when you try to switch to the 'WEBVIEW" context.

[2015-05-11 17:42] ashwiniadke opened #5097 "I am not able to run iOS test without pre-launching an app. If I tried unchecking the pre-launch option , I get error that following desired capability is not provided :deviceName . But I have already provided them"
Hi All ,

I am facing an issue with Appium 1.3.7 , where I am not able to run my test without per-launching the app. But I don't want to pre-launch app . My requirement is to launch app once the test is invoked . Please find the capability details below . I am able to run the test successfully if I checked the pre-launch option .

capabilities.setCapability(CapabilityType.BROWSER_NAME, "");
    ca

[2015-05-11 17:50] #4825 closed

[2015-05-11 17:51] Jonahss commented on #5041
Thanks for posting solution :)

[2015-05-11 17:52] Jonahss commented on #5066
Not being able to get the length or text inside of a Password textField is a security feature that prevent malicious javascript from getting your users' passwords, so I think removing that functionality wouldn't be productive.

Why not keep track of the length of the string you typed into the text field, then backspace that many times.

[2015-05-11 17:55] Jonahss commented on #5082
Yes we can definitely help :)
If you post the logs of the appium server, I can inspect exactly which commands are being sent and run.

If you could help me re-create the issue, it will make it even easier to figure out where the extra click is happening.

What language client are you using? What code do you use to send the Swipe?

[2015-05-11 17:58] Jonahss commented on #5059
Oh whoops, sorry about that. Sometimes my head gets stuck in iOS mode.

So the solution should be to add retry logic to Chromedriver and reset it when things fail?

[2015-05-11 18:04] ArchanaChalapalle commented on #5059
Ok. Thank you. Will give it a try.

[2015-05-11 18:06] Jonahss commented on #5083
Ok, sounds like a bug.
@bootstraponline have you encountered this before?

We get the text of an EditText just by calling the `getText()` UiAutomator method, so maybe the bug is within android.

[2015-05-11 18:18] tolgatanriverdi opened #5098 "Untrusted developer problem"
Hi I've installed appium server and used java-client library for appium
I've succesfully installed my .app bundle to my real IOS device(Iphone6-IOS 8.3)
But when the app first installed I'm not able to launch the app with instruments(from appium) because I need to click to app manually and select trust option from the alert window(Which says "Untrusted developer, do you allow to install app etc...

[2015-05-11 18:51] amedvedjev commented on #5098
problem is in your Developer certificate. https://support.apple.com/en-us/HT204460

[2015-05-11 19:41] binodpanta opened #5099 "Question related to sudo requiring steps for appium setup on Mac OS X"
This doc says there are some setup steps to run that require sudo,
http://appium.io/slate/en/master/?ruby#running-appium-on-mac-os-x

In my organization this means I have to work with a separate department who manages the hosts, and I probably have to repeat for each appium/xcode upgrade?

It would be some much easier for me to develop my tooling if the sudo requirement was not there or if there w

[2015-05-11 19:50] spatchamatla opened #5100 "Error while running Appium latest version 1.4.0"
Hi,
MAC OS X 10.10.3

i updated the latest version of appium  to 1.4.0 using `npm install -g appium` and it installed without any errors. But when i try to run the tests it errors out saying
[code]

and when i cd into `/usr/local/lib/node_modules/appium/build` i couldn't find SafariLauncher folder at all. I saw the dependecy Safari Launcher 2.0.5 and confirmed the folder in /usr/local/lib/node_mod

[2015-05-11 20:26] penguinho commented on #5095
How can I get the .app out in the mean time until we fix it? I haven't been able to figure out a workaround as of uet

[2015-05-11 21:04] bootstraponline commented on #5083
uiautomator returning the text value as displayed in uiautomatorviewer isn't a bug. I think this is a "feature."

[2015-05-11 21:37] Jonahss commented on #5083
Should we think about adding logic to strip the hint text from the beginning of the String? (Is that even possible?)

[2015-05-11 22:05] Jonahss commented on #5100
Thanks for reporting in. Looks like we didn't bundle SafariLauncher into the build process. We should push out a patch release to fix this.

More details:

It looks like publish.sh doesn't run reset.sh with the `--real-safari` flag.

[2015-05-11 22:06] hanzra opened #5102 "Running Appium IOS tests on remote appium server running on mac"
I am trying to run my appium tests written in c#  from windows machine using appium server running on Mac. appium server is running using mac's public address.My app is copied on Mac and it runs without problem using appium inspector from GUI.
 but it keeps throwing Bad app error when I try to run it through window's machine. below are my desired capabilities. path is exactly copied from gui which

[2015-05-11 22:12] Jonahss commented on #5100
Pulling version 1.4 from github (via the 1.4 branch) and running `reset.sh --real-safari` will enable you to run Safari tests on Real Devices.

[2015-05-11 22:19] #5095 closed

[2015-05-11 22:19] jlipps commented on #5095
@penguinho i fixed it but not sure how to reflect that in the .app. i could cherry-pick this into the 1.4 branch and you could build appium from that ref?

[2015-05-11 22:22] jlipps commented on #5083
we don't actually know what the hint text is without trying and failing to delete it, which is a bit of a heavy hammer

[2015-05-11 22:22] Jonahss commented on #5102
Are permissions set on the app file so that Appium can open it? Maybe you have permissions locked down.

The actual TestApp.app.zip file is located on the File System of the Apple computer running Appium, right? The clients do not upload apps to the host server.

btw: you should pass `deviceName: 'iPhone Simulator'` capability.

[2015-05-11 22:29] Jonahss commented on #5099
Unfortunately, it looks like it's an apple requirement. We aren't really in control of setting security for enabling DevTools and such.

This should only need to be run on the appium host machines, and only rerun when xcode is updated. Updating appium doesn't require `authorize_ios` to be run again.

[2015-05-11 22:29] #5099 closed

[2015-05-11 22:33] Jonahss commented on #5097
Are you using Appium.app or a similar desktop client? If so, could you post this issue on the github for that project?

[2015-05-11 22:36] Jonahss commented on #5096
Could you post the appium logs from when you try to run the test locally?

[2015-05-11 22:39] Jonahss commented on #5093
Do you have the JAVA_HOME environment variable set to your java executable?
To check you installation, run `appium-doctor`

[2015-05-11 22:40] Jonahss commented on #5092
It looks like you only have iOS 8.1 simulators installed. You will need to use Xcode to install iOS 7.1 simulators if you want to run tests with those.

[2015-05-11 22:40] #5092 closed

[2015-05-11 22:53] hanzra commented on #5102
Thanks for your reply:

Yes my file is locate at Apple computer.

This test app file I have loaded from appium assets on github so not sure what permission are set. (I was not able to run my own app so wanted to try if my Mac environemnt is set up properly or not but that's a separate issue)

As I told I am able to run this app perfectly fine on Mac using inspector, do you think running through co

[2015-05-11 23:08] Jonahss commented on #5089
So Android real devices aren't showing their webview contexts?

[2015-05-11 23:09] bootstraponline commented on #5083
issues like this are best addressed via a new automation backend. the hint text detection via clearing is slow, flaky, and doesn't always work.

[2015-05-11 23:10] Jonahss commented on #5084
How are you starting the Appium server?

[2015-05-11 23:11] ashwiniadke commented on #5097
I tried with both Appium.app and appium sever started using terminal.

[2015-05-11 23:13] Jonahss commented on #5074
Well it looks like the appium server is starting then. What's the issue now?
Also, try installing appium again via npm. Version 1.4 is now published.

[2015-05-11 23:14] Jonahss commented on #5049
@cgadam did that work?

[2015-05-11 23:15] Jonahss commented on #5039
@srikanthsadhu can you answer my questions above?

Does ideviceinstaller hang for you? And then you unplug the phone and plug it back in and it works? I have actually been experiencing this but thought it was only my computer.

what do you see when you run idevice_id -l? Mine has the same Id twice :/

[2015-05-11 23:16] #5011 closed

[2015-05-11 23:17] Jonahss commented on #5011
Closed due to inactivity. Comment here to reopen.

[2015-05-11 23:20] Jonahss commented on #3843
It looks like we designed appium to only connect to webviews on the app under test, whereas in this case we are switching to a webview in a different app (MobileSafari). If that will work, we might as well support switching to the detected webview.

[2015-05-11 23:27] Jonahss commented on #4042
Closing due to inactivity. If this is still an issue (seems possible) please comment here.

[2015-05-11 23:27] #4042 closed

[2015-05-11 23:29] Jonahss commented on #4064
How should we reproduce this issue?

[2015-05-11 23:31] Jonahss commented on #4112
@adigrinvald you shouldn't need the webkit-debug-proxy just to test native apps without webviews.

[2015-05-11 23:32] Jonahss commented on #4112
Closing due to inactivity. Please comment here if there's still an issue.

[2015-05-11 23:32] #4112 closed

[2015-05-11 23:35] Jonahss commented on #4131
How best should we reproduce this? Build an app with textfields set with the same attributes described in this post? Then we can play around with different methods for discovering the visibility.

[2015-05-11 23:36] Jonahss commented on #4162
It sounds like the Android Emulator is just crashing, and/or UiAutomator is crashing as well.

[2015-05-11 23:37] #4177 closed

[2015-05-11 23:39] bootstraponline commented on #4131
I'd start with the existing UICatalog app before building a new app.

[2015-05-11 23:52] Jonahss commented on #4198
So everything should be settled here now. Anyone else still having issues? If so, comment here and we will reopen the issue.

[2015-05-11 23:52] #4198 closed

[2015-05-11 23:52] Jonahss commented on #4205
Closing due to inactivity. Please comment here if still an issue.

[2015-05-11 23:52] #4205 closed

[2015-05-12 00:49] Jonahss commented on #5102
Can you post the logs for when you run it using Mac Inspector and it works fine?

[2015-05-12 00:51] #5097 closed

[2015-05-12 00:53] Jonahss commented on #5097
It still seems like Appium.app is not sending the 'deviceName' capability when you don't click the prelaunch box.

You are still running with Appium.app, or do you run your tests in the terminal too.

[2015-05-12 00:53] Jonahss commented on #5083
Closed, since this is a bug with Android, yay.

[2015-05-12 00:53] #5083 closed

[2015-05-12 02:14] vietnq254 commented on #5083
Thank you.

[2015-05-12 03:39] penguinho commented on #5095
Ok

[2015-05-12 03:49] praveenreddynarala commented on #4908
Hi sebv, I tried it with latest chromedriver 2.15. But getting same error. Kindly let me know if you have any sample working to resolve.

[2015-05-12 04:30] ashutoshcrestech commented on #5084
Right now I am starting Appium server directly from its exe and then execute the script from eclipes.

[2015-05-12 04:40] ashutoshcrestech commented on #5084
But my aim was to start it by using : process = runtime.exec("\"C:/Program Files/Appium/node.exe\" \"C:/Program Files/Appium/node_modules/appium/bin/Appium.js\"--no-reset --local-timezone ");
ie, through program only, what I found after debugging that it is not executing AndroidDriver driver = new AndroidDriver(new URL("http://127.0.0.1:4723/wd/hub"),capabilites); , when it comes here it gives me

[2015-05-12 04:49] valarmathivrv commented on #5029
@jlipps, same problem still persist, I have pasted the log below.
Launching Appium with command: '/Applications/Appium 3.app/Contents/Resources/node/bin/node' lib/server/main.js --command-timeout "7200" --pre-launch --platform-version "8.1" --platform-name "iOS" --app "com.vr.iphone.vrnews" --show-ios-log --device-name "iPhone 6"

Launching Appium with command: '/Applications/Appium 3.app/Contents

[2015-05-12 05:30] valarmathivrv commented on #5096
@Jonahss , I am not getting any appium log, while running my test. I am getting below defined error message, while running my program.

Failed tests: setUp(apps.ios.iOSTest): Could not start a new session. Possible causes are invalid address of the remote server or browser start-up failure.(..)

[2015-05-12 07:04] mayureshshirodkar commented on #4370
Yea...This does work...But I can't want to hard code the co-ordinates in the script...As the position of  element to be clicked is dynamic .

[2015-05-12 07:05] kani19 commented on #5014
@moizjv same issue with 1.4.0-beta

@Jonahss yes MobileSafari app disappears on its own when running the tests. I am sure this is an issue with Safari installation. In a regular safari test everything is smooth. Issue appears only when i run 2 apps

[2015-05-12 07:18] vijay0850 commented on #5089
Yeap, It displaying Native App only, In my case I'm using API level less than 19.  I set the selendroid compatibility also.

I have one more device having API level 19 for this setting autoWebView compatibility is enough?

[2015-05-12 07:28] ashutoshcrestech commented on #5084
Again the same Problem I got while executing, I am starting Appium Server manually and then executing the script from eclipes.
public static AndroidDriver driver;

public void readExcel(String filePath,String fileName,String sheetName) throws IOException
{

		  File file =    new File(filePath+"\\"+fileName);
		  FileInputStream inputStream = new FileInputStream(file);

		  Workbook wb= null;

		/

[2015-05-12 07:35] srikanthsadhu commented on #5039
Same with me, I see the same ID twice when it hangs where as when it works it was only once.
Do we know what does this imply?
Sys logs show an error like this when we do ideviceinstaller -l :
com.apple.usbmuxd[54]: SCEDeviceSocketCallback 0x100625cd0-libusbmuxd/org.libimobiledevice.usbmuxd remote peer closed connection for sce 0x100625cd0.

This could be because of socket connections being closed

[2015-05-12 08:15] glebPrischepa commented on #5066
your idea to press backspace several times is good but I have to keep text
or length of the text somewhere.

2015-05-11 20:53 GMT+03:00 Jonah <notifications@github.com>:

[2015-05-12 09:58] LimeDang opened #5104 "Appium v1.4.0 return invalid json data format"
Appium v1.4.0

When I execute: driver.executeScript("UIATarget.localTarget().frontMostApp().getTree()")
the data return is: {valid=true, enable=true, ..., name=Safari, type=UIAApplication} this is invalid json data format.

Previous versions of Appium, it return: {"valid":true, "enable":true, ..., "name":"Safari", "type":"UIAApplication"} this is valid json data format and it should be.

[2015-05-12 10:25] rameshkvv6231 opened #5105 "not able to open safari on real devices"
Here are the steps i have tried
1. Installed Safari launcher on real device through Xcode
2. ioswebkit proxy running

below is the error log seen in appium

info: [debug] Starting Appium in pre-launch mode

info: Pre-launching app
info: [debug] Configuring Safari session
info: [debug] Using local .zip from command line: /Applications/Appium.app/Contents/Resources/node_modules/appium/build/SafariLa

[2015-05-12 10:40] amaanmemon commented on #5105
Setup

Before you can run your tests against Safari on a real device you will need to:

Have the ios-webkit-debug-proxy installed, running and listening on port 27753 (see the hybrid docs for instructions)
Turn on web inspector on iOS device (settings > safari > advanced, only for iOS 6.0 and up)
Create a provisioning profile that can be used to deploy the SafariLauncherApp.
To create a profile fo

[2015-05-12 10:56] Simon-Kaz opened #5106 "Appium seems to hang when a native login prompt is displayed while browsing webview"
I'm writing some sample tests for webview and noticed that if you open the following, the appium server doesnt respond - I tried switching to webview/native view, but appium doesn't seem to recognize any commands after opening that url.

http://the-internet.herokuapp.com/basic_auth

I tried both opening the above URL directly, and by going to http://the-internet.herokuapp.com and clicking on the "

[2015-05-12 11:50] tfcardoso commented on #4934
info: [debug] [INST STDERR] 2015-04-16 14:32:24.643 instruments[1425:13193] Attempting to set event horizon when core is not engaged, request ignored
    info: [debug] [INST STDERR] 2015-04-16 14:32:24.643 instruments[1425:13193] Attempting to set event horizon when core is not engaged, request ignored

This is happening to me also with ios8.3 / xcode6.3/ appium 1.4, but it is not in all tests

[2015-05-12 12:08] shadeimi commented on #5094
Ok thank you :-)

[2015-05-12 12:25] tfcardoso opened #5107 "Instruments error: Attempting to set event horizon when core is not engaged, request ignored"
OS X 10.10.3
appium 1.4.0
XCode6.3

My tests start to run normally and after 2/3 tests it stops being able to launch them with the error below.

[code]

[2015-05-12 13:15] hanzra commented on #5102
Sorry its long but here are logs from mac when I am launching app with inspector:

/Appium.app/Contents/Resources/node_modules/appium/node_modules/appium-uiauto/bin/command-proxy-client.js","instrumentsSock":"/tmp/instruments_sock","interKeyDelay":null,"justLoopInfinitely":false,"autoAcceptAlerts":false,"autoDismissAlerts":false,"sendKeyStrategy":"oneByOne"}

info: [debug] Dynamic bootstrap code:

[2015-05-12 13:20] tfcardoso commented on #5107
I discover if I kill the app between each test (ios) it will never fail :|

[2015-05-12 13:27] ivasylchenko commented on #4934
Cannot confirm issue is gone, because I've faced with another issue now after upgrading appium (to 1.4.0), java (to 1.8.0_25) and ios_webkit_debug_proxy today to latest:
[code]

[2015-05-12 13:40] tolgatanriverdi commented on #5098
No its the regular certificate that I'm always using in my application development process

[2015-05-12 14:02] sam-viz commented on #4706
Hello,

Did you find any workaround to this issue? I am facing the same problem with the application i am working on.

Thanks in advance.

[2015-05-12 14:11] ewazyga commented on #4706
Hello @sam-viz as a workaround I use Xcode5 with iOS7.1 simulator and Appium 1.1.0. This is the last working version for me. For now it is still sufficient.

[2015-05-12 14:56] srikanthsadhu commented on #5039
this seemed to be a known issue with libusbmuxd and they are hoping to release in 1.4.0 , till then work around would be , with in itunes turnoff Synch ipad through wifi in iTunes and restart the ipad. this should be resolved temporarily till new relaease comes out OR fix the code and rebuild the libs.

[2015-05-12 15:34] Simon-Kaz opened #5108 "Clear app data with Appium"
First of all, I noticed that some devices don't play nice with the driver.appReset() method (java client). Main culprit being the Nexus 5 - Galaxy s4 is fine for example.

I tried the alternative (or is that what's being used by appReset?)

[code]

But again, it did not work on Nexus 5, and worked fine with Galaxy s4.

Is there an alternative to the above?

[2015-05-12 16:30] JasonDobo commented on #4297
I think I had the same issue with sendKeys. After investigating, I found that after using click(), the values returned by getLocation() had changed, but the element had not moved in the UI.
I solved the problem by finding the element again, using findElementById(), before calling sendKeys()

element = driver.findElementById("id/editTextBox");
element.click();
element = driver.findElementById("id/e

[2015-05-12 16:40] Jonahss commented on #5096
Ah well if you want to run locally, you have to install Appium and run the appium server before starting the tests.

[2015-05-12 16:49] nijakanthan commented on #4825
is this Bug fixed in 1.3.7 version

[2015-05-12 17:13] Jonahss commented on #5014
I was able to successfully reproduce this on appium master (commit 84669e81c81b5d9549707bd86a64638683a75147) here: https://github.com/Jonahss/appium-es7-example/tree/repro-appium-5014

I noticed that this error happens on 7.1 simulators, but works fine on 8.3 simulators. Didn't test other versions.

[2015-05-12 17:18] Jonahss commented on #5089
The low API level might be the issue. This is hard for me to test because I don't have an android phone on that API level.
It works fine in the emulators?

[2015-05-12 17:20] zhaohongda opened #5109 "Old fashion reset cannot work if we install app before launch appium and apply noReset=true"
Repro steps:
1. install apk to device before launch appium.
2. pass the --app paramter to appium
3. create appium session with noReset=true
4. call driver.closeApp();  then driver.launchApp();  in test code

We got error like:
2015-05-05 19:13:00:884 - info: --> POST /wd/hub/session/acfa587d-d451-483c-bf0f-f0be5d3b6a10/appium/app/reset {}
2015-05-05 19:13:00:890 - info: [debug] Resetting app mid-s

[2015-05-12 17:23] Jonahss commented on #5084
So the problem in the log you posted above is that Appium is running fine, and it can't find an element with the name "Phone Number".

Finding elements can be tricky, usually the best way to go about it would be to use the appium inspector, use an interactive session (with ruby or python or javascript) to try finding elements in different ways, or to call the `source()` command and carefully inspe

[2015-05-12 17:49] ashwiniadke commented on #5097
I ran the test with terminal today morning and got the same error. I can see same behavior with Appium.app

[2015-05-12 19:15] sebv commented on #4650
Workaround for yosemite:
https://github.com/appium/appium/blob/master/ci/as_current_user

[code]

[2015-05-12 19:37] Jonahss commented on #4370
Can you post the appium logs for finding the element and clicking on it? Posting the xml hierarchy would be useful too if you are able. Need to figure out why the coordinates we tap on are out of bounds, but the element is visible.

This could be an issue with UiAutomator and keeping track of locations while scrolling.

[2015-05-12 19:38] Jonahss commented on #5066
Yeah, you can keep the text or length within your test suite.

[2015-05-12 19:56] Jonahss commented on #5029
Thanks for supplying the code you are using to start the appium server.

You've found a bug. Looks like the `--app` server flag is broken for bundle IDs.

Change your command to supply the full path to your app file, instead of the bundleId as a workaround. I'm adding this to our bugs Milestone so it can be fixed.

(Depending on your use case, I expect you might want to pass in the app through the

[2015-05-12 20:00] muclemente opened #5110 "[App] View and record in the inspector using the "WEBVIEW" context."
Hi everyone,

I am using the OSX GUI App for Appium and when trying to change the context to a webview, I'm getting an error called "invalid parameter: name". This is because the JSON in the post request is being sent as " { context: "WEBVIEW" } " and not { name: "WEBVIEW" }.

I was able to workaround this issue by manually sending a request to the hub via Postman with the correct body.

But when

[2015-05-12 20:18] Jonahss commented on #5102
Ah! There's the issue. In your desired capabilities for the Windows test run, you specify `PlatformName: 'Android'`

Your test is trying to run the iOS app as an Android app ;)

[2015-05-12 20:18] #5102 closed

[2015-05-12 20:20] moizjv commented on #4565
@glorylo @xsmaster @vikramvi thanks for reporting the issue with #5103 it should be fixed. It should be out in the next release

[2015-05-12 20:48] ashwiniadke commented on #5097
these are the logs from terminal

info: --> POST /wd/hub/session {"desiredCapabilities":{"acceptSslCerts":false,"platformName":"iOS","simulator":true,"timeHack":false,"variation":"Retina4","CFBundleName":"com.ebay.mobile","device":"iphone","CFBundleVersion":"NA","language":"en"}}
info: Client User-Agent string: Apache-HttpClient/4.3.1 (java 1.5)
error: The following desired capabilities are requir

[2015-05-12 22:52] patweb commented on #4825
This bug still exists in Appium 1.3.7. The fix is in 1.4.0.

[2015-05-12 23:05] Jonahss commented on #5039
Thanks for doing the research on that. Waiting on the fix.

[2015-05-12 23:08] Jonahss commented on #4934
@ivasylchenko You need to open Xcode while the device is connected via USB.
UiAutomation needs to be enabled in the Developer Settings on the device, and when you restart a device those settings disappear until you plug it into xcode (or theres a libimobiledevice tool to mount developer image or something)

[2015-05-12 23:13] stevechun opened #5113 "Instrument launching time out when app requires access permission"
If the app requires some access permission when first launched (i.e. location),
then the test doesn't get started and times out.
The app is launched successfully, and the permission alert is displayed.
If i tap 'Allow' button manually, Appium successfully starts the test.

This is happening often, but not always.

Appium Version: 1.3.7, 1.4.0
Simulator iOS Version: 8.3
noReset: false (this is requ

[2015-05-12 23:21] Jonahss commented on #5113
This is a duplicate of #4178 and a known bug in Apple Instruments. The workaround is to put a delay into your app before requiring the service which generates the alert.

[2015-05-12 23:21] #5113 closed

[2015-05-12 23:23] Jonahss commented on #5110
Hi, thanks for your issue, can you repost this to the github repository for Appium.app? This repo is only for the actual appium server :)

[2015-05-12 23:23] #5110 closed

[2015-05-13 00:21] Jonahss commented on #5109
What is the exact command you are using to start appium?
I used this command `appium --pre-launch --app-pkg io.appium.android.apis --app-activity io.appium.android.apis.ApiDemos --platform-name Android`

If you add a `--app <path/to/file.apk>` then it will install the app when it starts. If you try to pass `--app some-string-that-is-not-a-path` then the app will still start (because it's already i

[2015-05-13 00:21] Jonahss commented on #5109
Can you try just removing the `--app` arg?

[2015-05-13 00:27] Jonahss commented on #5108
Appium's `reset` function first uninstalls, then reinstalls the app.

Any idea why it doesn't work on the Nexus 5? What do you see in logcat when you try to run the adb commands?

[2015-05-13 00:30] Jonahss commented on #5107
The first log line I'm seeing that reports a failure is
`info: [debug] [INST] 2015-05-12 12:14:21 +0000 Fail: The target application appears to have died`

Is it possible that your app is crashing?

[2015-05-13 00:42] imurchie commented on #4884
This ought to work now.

[2015-05-13 00:42] #4884 closed

[2015-05-13 00:47] imurchie commented on #5093
Repeat of #4876.

[2015-05-13 00:47] #5093 closed

[2015-05-13 00:49] Jonahss commented on #5106
Ah, you need to work with contexts. See: https://discuss.appium.io/t/what-does-the-autowebview-desired-capability-really-do/69

In your case, you first need to switch to the NATIVE_CONTEXT. You will now be running your test in the context of the browser app itself. You can find the various Textfields and enter your information. After navigating to the page behind auth you can switch back to the WE

[2015-05-13 00:49] #5106 closed

[2015-05-13 00:55] #4536 closed

[2015-05-13 02:01] rameshkvv6231 commented on #5105
Hi,
I did same procedure still getting same error

[2015-05-13 02:44] zhaohongda commented on #5109
I launched Appium 1.3.5 with the command line as
appium -a hostname -U deviceID -p port --session-override --log-timestamp --log logLocation --app pathToApp

I reviewed the appium log and found:
1. If I don't install app before launch appium, appium will install the app, and I could find "adb push" command which push the apk to /data/local/tmp folder, which could be detected by the old fashion res

[2015-05-13 03:09] Jonahss commented on #5109
Oh, I was working with the latest version of appium. You should get on version 1.4

[2015-05-13 03:09] abhijeetkanade commented on #5089
No, I tested issue with API level 21 on a real device, it did not work. It only returns Native_App on a real device. On a simulator, it does return webview context, however while switching to Webview context throws an error which I have mentioned in my first post.

[2015-05-13 04:10] valarmathivrv commented on #5096
ya, I installed appium and the  problem I am facing is I couldn't get any entry of log in appium.

[2015-05-13 06:43] vijay0850 commented on #5089
@Jonahss, In API level 19 also I'm not able to switch to webview, please take look into this below screen shot

![image](https://cloud.githubusercontent.com/assets/10095173/7604952/9d6c9da2-f967-11e4-9d86-e6bcbfce159b.png)

Code is:- ( For API 19 We no need to set compatibility to selenroid rite)

![image](https://cloud.githubusercontent.com/assets/10095173/7605005/3173ff7c-f968-11e4-9bba-9eb6fc27

[2015-05-13 06:59] nijakanthan commented on #4825
is Appium 1.4.0 dmg available now?

[2015-05-13 07:09] ashutoshcrestech commented on #5084
I re run the same script its working! thanks for your support..

[2015-05-13 07:09] #5084 closed

[2015-05-13 07:19] ashutoshcrestech opened #5114 "An element could not be located on the page using the given search parameters."
Hi,
I tried with with class,id,link, then finally with xpath on both device and emulator but its giving me same error in Appium, am I doing something wrong, am trying to automate a simple phonegap application having html page, Please Help me to automate simple phonegap app.
//***My CODE is :***
public static AndroidDriver driver;
	public static void main(String[] args) throws IOException {
		Desir

[2015-05-13 07:30] sam-viz commented on #4706
Thank you @ewazyga , i hope it will work for me ...

[2015-05-13 08:33] mgajananan commented on #4812
Attaching screen shot , Appium server log and other.
Please let me know if you want any other log [ or is there any other way to get Appium crash report]

![screen shot 2015-05-13 at 1 54 17 pm_appiumcrash on precisetap inspector](https://cloud.githubusercontent.com/assets/6602399/7606635/505564fc-f978-11e4-825b-21b6488d606e.jpg)

*Server Log*
[code]

*OTHER Log* from APPLE
[code]

[2015-05-13 10:05] Simon-Kaz commented on #5106
I actually did that, and it didn't work, which is why I logged this issue.  I couldn't switch to native context because the appium server did not respond.

[2015-05-13 10:17] Simon-Kaz commented on #5108
I'll do some more research later today! Will provide logs as well/

[2015-05-13 10:59] ivasylchenko commented on #4934
@Jonahss That helped, thanks!
But another issue discovered:
[code]

Is it also known isue and I forgot to configure something?

[2015-05-13 12:45] valarmathivrv opened #5115 "Depending on legacy on-demand authorization, which is not supported for new apps"
1. I am using appium version 1.3.7 for inspecting ios  app. I have given  the app path and device name and platform version.

2. When I launch the appium server, it doesn't recognize the physical device which I have connected via USB.

3. The appium log shows the simulators which are all available in the system.

4. I have tried to inspect the ios app in ios simulator itself, the app doesn't get i

[2015-05-13 13:50] d9kgit commented on #5048
I have:

ERROR running Appium command: port should be > 0 and < 65536: 0

[2015-05-13 15:18] hanzra commented on #5102
How can I be that stupid!!! I was passing in correct 'PlatformName' capability if you see in my initial post but was using wrong driver, androidDriver instead of IOSDriver.
Everything works perfectly fine now. thanks

[2015-05-13 16:08] KITSGautamraojangili commented on #4620
Looks like Crosswalk-WebDriver does not has a windows version for now, they have said they were going to to integrate it with Appium. I was not able to find any further information about it.

https://lists.crosswalk-project.org/pipermail/crosswalk-dev/2014-September/001974.html

Does any one has any further information on it?

[2015-05-13 16:45] osgafarov opened #5116 "Cannot navigate back after calling setBackButtonBackgroundImage:"
Hey,

I am using appium 1.3.7. I am testing an iOS app on iOS 8.3 Simulator.
I have a navigation controller with multiple view controllers in its stack.
If I call

[code]

then the back() method of Web Driver is not able to navigate back to previous view.

Looks like UIAutomation is not able to find a proper "Back" button in the nav bar.

Can you check it out guys?

Thanks,
Osman

[2015-05-13 17:09] patweb commented on #4825
I don't know if this fix will be pulled into the upcoming 1.4.0 release. Jonahss stated on April 15th (see comment above) that it will not.

[2015-05-13 17:23] hanzra opened #5117 "What is the correct way of generating .app file to make it run with Appium"
I am struggling from the past few days to make appium work with the app developed by my team. I read on appium documents that debug version of .app file targeted for iphone simulator should work with Appium and I think we are doing the same.

Is there anything else that should be taken care of while building app file? any suggestion for troubleshooting?

Dev Team is using xamarine to build the app

[2015-05-13 18:09] ashwiniadke commented on #5097
Can I get some updates on this? It's really very important for me.I appreciate your help.

[2015-05-13 19:00] zhaohongda commented on #5109
I just tried 1.4.0 and get the same error.

[2015-05-13 19:01] imurchie commented on #5054
I consistently get an error that the key is wrong:

[code]

Is it possible to get a failed test while using the `--show-ios-log` server flag? This might provide more information to go on.

[2015-05-13 19:43] hectorv commented on #4549
This is now fixed in Appium `v1.4.0`, thanks!

[2015-05-13 19:43] #4549 closed

[2015-05-14 05:11] naveenjammula opened #5119 "when mac version of appium 1.4.0 will be released"
when mac version of appium 1.4.0 will be released

[2015-05-14 06:00] vascon8 commented on #5056
web_view

[2015-05-14 09:34] dipti076 commented on #4452
((AndroidDriver) driver).sendKeyEvent(AndroidKeyCode.BACK);

[2015-05-14 09:35] dipti076 commented on #4452
Try this code

[2015-05-14 13:16] valarmathivrv opened #5121 "Unable to inspect the ios app using appium inspector"
1. I am using appium version 1.3.7 version.
2. After starting appium sever, the app get installed in ios simulator.
3. When I tried to inspect using appium inspector, the refresh button in the appium inspector keeps on loading, it doesn't load the home page of an app at all.

[2015-05-14 16:35] moizjv commented on #5119
@naveenjammula we are tracking that [here](https://github.com/appium/appium-dot-app/issues/486), we are trying to get it soon out. In mean time you can start using the appium server

[2015-05-14 16:35] #5119 closed

[2015-05-14 18:08] vijay0850 commented on #5089
Any update on this issue, I'm still facing issue

[2015-05-14 19:00] bchand1748 commented on #5089
I has a similar issue few months back where I was not able to switch the context eventhough the code seem to be right . The issue was fixed once I put thread.sleep
Thread.sleep(15000)
 Set<String> contextNames = driver.getContextHandles();
	     for (String contextName : contextNames) {
	       System.out.println(contextName);
	       if (contextName.contains("WEBVIEW")){
	         driver.context(

[2015-05-14 19:05] jwallis commented on #4243
@jlipps I am experimenting with Sauce and on its iOS sim the keyboard does not appear.  Tapping does not make it appear.  I do not believe there is a way for me to access the sim menu is there?

                capabilities['appium-version'] = '1.3.4'
                capabilities['platformName'] = 'iOS'
                capabilities['platformVersion'] = '7.1'
                capabilities['deviceNam

[2015-05-14 19:15] Anishohri commented on #5015
Hi

Sorry for the delay:

Here you go:

Launching Appium with command: export ANDROID_HOME="/Users/mobilelabserver/Downloads/adt-bundle-mac-x86_64-20140702/sdk"; '/Applications/Appium.app/Contents/Resources/node/bin/node' lib/server/main.js --address "127.0.0.1" --port "4727" --log-no-colors --automation-name "Appium" --platform-name "Android" --platform-version "4.4" --chromedriver-port "8086" --

[2015-05-14 19:26] plessbd commented on #4993
it might be related to the host trying to be connected to being down.  For instance I connect to localhost:8080 but my server was not running, it caused this.

[code]

[2015-05-14 20:42] brbrr commented on #4470
Recently appear again. Same device, appium 1.4.0, appium_lib 7.0.0
Problem with Unlock app - it unlock screen successfully, but cant recognize it. (so after 1t unlock try I can tap on any icon)

New logcat log: http://pastebin.com/V7JFMZDX
new appium log: http://pastebin.com/6mU2pBRW

[2015-05-14 21:57] ashwiniadke commented on #5097
@Jonahss : can you please take a look at this issue?

[2015-05-14 23:23] moshimoshibye opened #5122 "Can't switch back to native app view from webview in 1.4.0 against saucelab env."
Found a regression in 1.4.0 that is blocking us from running our Appium scripts against SauceLab environment. We have a hybrid application and once you switch to the WEBVIEW, you can no longer switch back to the NATIVE_APP.

Related post:
https://discuss.appium.io/t/cant-switch-back-to-native-app-view-from-web-view-for-android-4-4-on-sauce/1460/6
And: https://github.com/appium/appium/issues/4429

[2015-05-14 23:24] moshimoshibye commented on #5122
@jlipps

[2015-05-15 06:38] ASYB opened #5123 "Unable to run using SafariLauncher on ipad"
Hi

Using com.bytearc.SafariLauncher I am unable to install SafariLauncher in Device, forcibly I have to give the bundle Identifile as com.MyCompanyName.SafarilLauncher to install SafariLauncher in my device and While running my scripts I am getting the below error
info: [debug] Error: Command failed: /bin/sh -c ideviceinstaller -u be9c05c4344748a52f99c75672a4cda4715a44ca -i /var/folders/x9/rbf6yq

[2015-05-15 11:14] thaiching opened #5124 "Unable to launch appium server using a different port for parallel Android tests"
Hi,
I have previously managed to run tests parallel on Android devices with previous Appium version (v 1.3.7) but not anymore with Appium version 1.4.0)

I started 2 Appium service using different port number (Appium port, bootstrap port and chromedriver port) as below, however when I run my tests, the tests are only run on the Appium server with default port (4723). When I run my tests against th

[2015-05-15 11:26] naveenjammula commented on #5055
It works with isDisplayed() thanx

[2015-05-15 11:26] #5055 closed

[2015-05-15 13:00] valarmathivrv opened #5125 "Could not pre-launch appium and app doesn't get installed in iphone real device using appium"
1. I am using appium version 1.3.7.
   2. I have connected physical device via usb.
   3. I have launched appium server,after a while appium get crashed.
   4. I have pasted that full log below.
   5. I have attached the screen shot below.

Appium Log:

Launching Appium with command: '/Applications/Appium.app/Contents/Resources/node/bin/node' lib/server/main.js --command-timeout "7200" --pre-launc

[2015-05-15 13:21] naveenjammula opened #5126 "Not able read value attribute of elements"
I am using appium with python client to write automation for an application iOS (target devices are iPhone 5c and 6).
Issue: Current implementation of get_text returns text from property of element obj (i.e. name or label attribute not very sure which one), i require to read the value attribute of element (value of text field etc)

Do we have any api for this?

[2015-05-15 13:32] thaiching commented on #5124
Sorry guys. It was my own mistake that I made at the code level. I forgot to change the Appium server port no when initiating the driver. It works on Appium version 1.4.0.

[2015-05-15 13:32] #5124 closed

[2015-05-15 14:44] KateOgar commented on #4644
Hi! I have appium version 1.3.7 and test Android with java. Have the same problem while click() method ((

[2015-05-15 16:25] imurchie commented on #5126
For the value of a text field, `driver.text`.

This sort of query would be better asked on the [Appium Discuss](https://discuss.appium.io/) board.

[2015-05-15 16:25] #5126 closed

[2015-05-15 16:28] imurchie opened #5127 "[Android] Unable to get the text from a password field."
UI Automator is unable to get the text from an `android.widget.EditText` field which is used for a password (i.e., sets `inputType="textPassword"`). `getText()` always returns `""`. This also manifests itself as an inability to clear a password field, since clear checks if there is any text in the element, and UI Automator says there is not.

See appium/python-client#81.

[2015-05-16 00:37] sanarkh20 commented on #4297
fb_username=$app.find_element_by_xpath "//*[contains(@resource-id, 'login_username')]"
username= fb_user['email']
fb_username.click
fb_username.send_keys(username)

Friends in the above ruby code, I am trying to enter the emailid in FaceBook app to login. However the sendkeys function is slicing the domain name and hence my login is failing.

How do i use the adb command in a ruby file to enter th

[2015-05-16 05:08] abhijeetkanade commented on #5089
@bchand1748 did you check it recently? I do have Thread.sleep(10000) in my code, but it still returns NATIVE_APP only. I wasn't lucky with capa.setCapability(MobileCapabilityType.AUTOMATION_NAME,"Selendroid");I am getting error with it, Could you please paste complete code and steps to test with Selendroid using Appium.

[2015-05-16 07:48] PavithraRavichandran commented on #4298
Hi Everyone,

       I am facing the same issue, but it was working fine before two days. I haven't change anything in my code but it's not working
On eclipse I'm getting the following,
FAILED CONFIGURATION: @BeforeClass testConfig
org.openqa.selenium.SessionNotCreatedException: A new session could not be created. (Original error: Permission to start activity denied.) (WARNING: The server did not

[2015-05-16 10:43] archu-test opened #5128 "Logcat capture failed-Spawn EONET Error while running Appium"
I am getting this error continuously while running appium1.4. I have set the environment variable- Android_home correctly without spaces. C:\Androidnew\sdk
Also added the location of tools and platform-tools folder in path variable.
Kindly suggest.
Find the script below:

public class abc {
	private AppiumDriver driver;

    @Before
    public void setUp() throws Exception {
        // set up appi

[2015-05-17 04:36] vijay0850 commented on #5089
Hi, @abhijeetkanade as per @bchand1748 suggestion it worked for me in one app.

Here is the code I used to switch from native to webview.

package com.test.appium;

import io.appium.java_client.AppiumDriver;
import io.appium.java_client.android.AndroidDriver;

import java.io.File;
import java.net.URL;
import java.util.Set;
import java.util.concurrent.TimeUnit;

import org.openqa.selenium.By;
impor

[2015-05-17 04:41] vijay0850 commented on #5128
Did you tried with some other system?

[2015-05-17 06:02] abhijeetkanade commented on #5089
@vijay0850 Hi Vijay, I still have no luck here. I tried with capabilities.setCapability("automationName","selendroid"); (I even tried as Selendroid)in my code but it throwing null pointer exception.
FAILED CONFIGURATION: @AfterMethod afterMethod
java.lang.NullPointerException
	at tests.AppiumSample.afterMethod(AppiumSample.java:115)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)

[2015-05-17 17:31] nijakanthan commented on #4825
Ya Thank you @patweb. Its working when running the source code.

[2015-05-17 18:09] vijay0850 opened #5129 "Appium-Selendroid not working with xpath to find the element in Native app"
My Environment:

Windows 7, Appium 1.4.0, API 17, Automation: Selendroid, App:Hybrid

Selendroid is not clicking an element in Native app by using xpath.

Code:-

String s= driver.findElement(By.className("android.widget.Button")).getText();

System.out.println(s);  //Printing the Text "OK"

 driver.findElement(By.xpath("//Button[@text='OK'']")).click(); // as suggested I used this xpath

but not

[2015-05-18 03:46] moizjv commented on #4470
#5080 we are tracking it there so closing it because of duplicate

[2015-05-18 03:46] #4470 closed

[2015-05-18 03:48] moizjv commented on #4298
@PavithraNavaneeth can you paste complete log? Are you able to launch application without appium?

[2015-05-18 04:54] PavithraRavichandran commented on #4298
@moizjv , Thanks!,  Here is the complete log of my Appium.

[2015-05-18 06:09] PavithraRavichandran commented on #4298
@moizjv , Thanks for your reply, I found the mistake. it was on my side only, I have already installed another version of the same application and tried to automate the lower version. Now it's working fine.

[2015-05-18 06:42] ajsait commented on #4829
When do you think will apple watch support be released?

[2015-05-18 06:49] cjtcwyk opened #5130 "Failed to start an Appium session, err was: [object Object]"
When Appium runs test on a Jenkins slaver, Appium will probability of occurrence the error.(Probably nine or ten test cases will occur once error)
error: Failed to start an Appium session, err was: [object Object]
info: [debug] undefined
info: [debug] Responding to client with error: {"status":33,"value":{"message":"Invalid response from device","name":"UnknownError","origValue":"Invalid response

[2015-05-18 07:20] naveenjammula commented on #4669
Its working fine now..so please close the issue

[2015-05-18 08:01] brbrr commented on #5080
Have same issue but for 4.4.2 (samsung). Even removed screen lock did not help. After I've restart device - everything works ok. my logs are in #4470

[2015-05-18 10:55] SealviewTW commented on #4502
I am using server version 1.3.7.2 on Windows and I still have this problem.
Didn't try it on 1.4.0 since my code is not working anymore with 1.4.0, and I do not wish to change the whole project because of server update.

[2015-05-18 11:06] Simon-Kaz commented on #5108
I've tried to grep the logs but I'm not sure what to look for :( I can confirm though that nexus does not play nice with that adb command, the data is still there.

[2015-05-18 12:51] shadeimi commented on #4900
Same for me,
2015-05-18 12:50:10:029 - info: Welcome to Appium v1.4.0 (REV 8f63e2f91ef7907aed8bda763f4e5ca08e86970a)
2015-05-18 12:50:10:032 - info: Appium REST http interface listener started on localhost:4736
2015-05-18 12:50:10:035 - info: [debug] Non-default server args: {"udid":"198d79290272ed914232da7c31885ff704228ce3","address":"localhost","port":4736,"bootstrapPort":2251,"logTimestamp":tru

[2015-05-18 13:40] shadeimi commented on #4112
2015-05-18 13:39:57:517 - info: Welcome to Appium v1.4.0 (REV 8f63e2f91ef7907aed8bda763f4e5ca08e86970a)
2015-05-18 13:39:57:520 - info: Appium REST http interface listener started on localhost:4736
2015-05-18 13:39:57:523 - info: [debug] Non-default server args: {"udid":"198d79290272ed914232da7c31885ff704228ce3","address":"localhost","port":4736,"bootstrapPort":2251,"logTimestamp":true,"logNoColor

[2015-05-18 14:39] tolgatanriverdi commented on #5098
is there any idea about this issue?

[2015-05-18 14:41] tolgatanriverdi opened #5131 "Starting appium server for both android and IOS on same machine through command line or through code?"
Hi
I would like to use appium in our project and I would like to start appium server for both android and IOS on the same machine.
I'm using Mac OsX , as far as I found there is only appium gui application for mac os x
If I want to start appium for IOS and android through command line(Or through changing source code)
What should I do?

Thanks
Tolga

[2015-05-18 16:21] amedvedjev commented on #5131
use command line :+1:
 - to install on mac: npm -g install appium

[2015-05-18 17:00] raldred commented on #5094
Doesn't this already give us this functionaity using env REMOTE_DEBUGGER_PORT:
https://github.com/appium/appium/pull/2212

[2015-05-18 17:30] #4298 closed

[2015-05-18 20:02] TikhomirovSergey commented on #2676
#4835

[2015-05-18 21:51] Ricardonacif commented on #4865
I'm facing the exact same problem. Xcode 6.2, Appium 1.4 :(

[2015-05-18 21:54] Ricardonacif commented on #4993
Facing the same issue, Xcode 6.2, Appium 1.4

[2015-05-18 23:52] norman784 opened #5133 "Issues finding element by id"
Hi,

I've got this message on the log

[code]

Test error

[code]

I've just clone the android-simple.js to use with my project and so far this is my test

[code]

And the layout of my app its just a test

[code]

Don't understand why it works on the ApiDemos and not on my Test project, I'm just trying to solve this a few hours but seems to go nowhere, and there is not so much documentation of thi

[2015-05-19 05:44] biabraham commented on #4999
@moizjv
sorry for the late response.

when i try driver.getWindowHandles().size(), it returns zero.

[2015-05-19 05:56] vietnq254 commented on #5133
If you want to search by Id, you need to use the device that has Android API >=18.

[2015-05-19 07:53] ASYB commented on #5123
Any updates please ...

[2015-05-19 08:11] andreeamatei commented on #4950
I have the same problem on v 1.3.7 with iOS 8.2 Simulator.

{"app":"/Users/daniela.domnici/Desktop/voxerApp/build1805/andreea/nou/Voxer.app","appium-version":"1.0","platformVersion":"8.2","platformName":"iOS","deviceName":"iPhone 6"},"app":"x.app","appium-version":"1.0","platformVersion":"8.2","platformName":"iOS","deviceName":"iPhone 6"},"sessionId":"a5bed787-9451-4d7e-8200-c5ce969ba804"}
2015-05

[2015-05-19 09:51] Simon-Kaz commented on #5108
Aaaaaand it started working.. I'll dig into this one more time, must've been the settings I changed.

[2015-05-19 10:42] naveenjammula opened #5134 "Delay in find_element_by_name after application crashes"
I am using appium with python client to write automation for an application iOS (target devices are iPhone 5c and 6).

Issue: Due to a certain bug the test application crashes when i perform some operation. After the application is crashed the appium becomes unresponsive for almost 10 min to proceed to next testcase ( capabilities newCommandTimeout is set to 60 secs )

webdriver is trying to 'find

[2015-05-19 10:44] naveenjammula commented on #5134
Appium logs:
--------------------------------------------------------------------------------------------------------------------------------------
[36minfo[39m: Welcome to Appium v1.3.6 (REV 004f52f249d3513809e7d0734d9205d1fec19f8e)
[36minfo[39m: Appium REST http interface listener started on 127.0.0.1:4723
[36minfo[39m: [debug] Non-default server args: {"app":"/Users/pocketavatar5/Desktop/

[2015-05-19 10:48] naveenjammula commented on #5134
Appium log file: https://gist.github.com/naveenjammula/54980e10fb7f81b798b8

[2015-05-19 14:16] TikhomirovSergey opened #5135 "Question: Get "/wd/hub/session/:sessionId?/location" implementation."
Hi. There is an interesting question.

Appium 1.4 allows to set GPS coordinates (location) but still [doesn't allow to get them](https://github.com/appium/appium/blob/68cd862c93fd0c9999cc9f3f85172dcb0d255067/lib/server/routing.js#L166). Is it going to be implemented? Is there any workaround for now?

[2015-05-19 14:25] naveenjammula commented on #5134
Appium logs with appium v1.3.7: https://gist.github.com/naveenjammula/d575dbcaf704731fb84b

[2015-05-19 14:33] norman784 commented on #5133
My device its Android 4.4.2 so their api its 19, but it still not working (its a real device).

Also there is another way to click certain button without the findElementById?

[2015-05-19 15:57] norman784 commented on #5133
Weird I've added the package name and it works now

[code]

its necessary to add it? when I specify the package in the caps

[code]

I'll leave open till get the answer about this behaviour.

Regards

[2015-05-19 18:25] vijay0850 commented on #5129
Any update for this issue

[2015-05-19 19:35] #4713 closed

[2015-05-19 22:38] nabeel-ibrahim commented on #5128
I had the same issue, I reinstalled Eclipse and that solved my problem.

[2015-05-20 05:20] yaphatak opened #5136 "Shell command fails on retry logic"
This(https://github.com/appium/appium-adb/blob/master/lib/helpers.js#L157-L160) is adding escape characters on retry and causing failures

2015-05-20 00:00:08:036 - info: [debug] Getting device API level
2015-05-20 00:00:08:039 - info: [debug] executing cmd: c:\Olympus\ADT\SDK\platform-tools\adb.exe -s deviceid shell "getprop ro.build.version.sdk"
2015-05-20 00:00:08:069 - info: error sending comm

[2015-05-20 05:52] naveenjammula commented on #5134
Hi,
       Can you please fix it ASAP as it blocking issue for us.

Regards,
Naveen

[2015-05-20 06:23] vathsalahn opened #5137 "web view issues on Android lolipop version"
Able to launch the chrome browser but not able to interact with the browser using appium on lolipop version.Need support from appium for webview support on android lolipop

[2015-05-20 07:11] amedvedjev commented on #5137
can you see it with "uiautomatorviewer" with Android SDK tool?

[2015-05-20 08:01] ASYB commented on #5123
Working fine now, hence closing

[2015-05-20 08:01] #5123 closed

[2015-05-20 09:22] ASYB commented on #4900
same for me
it was working fine with lower appium version ....

[2015-05-20 10:46] saumitra91 opened #5138 "UIATextfield could not be tapped"
There's this issue existing in appium in sendkeys() function that has not been fixed till 1.3.7
50% of the time, appium gives an error, with [INST] UIATextfield or UIAButton could not be tapped.
It finds the element, but sometimes it gets tapped, other times it does not.
Please help.

[2015-05-20 10:52] ASYB opened #5139 "Could not find any webviews yet, refreshing/retrying issue occuring intermittent"
Hi

after upgrading my Xcode 6.3 and appium 1.4 I am getting the issue
"Could not find any webviews yet, refreshing/retrying", first test is running properly even 2nd test cases running some times but later on the mentioned issue is coming
Please find the complete logs

@sebv EDIT: moved log to gist: https://gist.github.com/sebv/1fdaf83e673ec4180bcc

[2015-05-20 10:53] ASYB commented on #5139
ios_webkit response below

34363bcbbc8a:appium z001hgg$ ./bin/ios-webkit-debug-proxy-launcher.js -c dee68d8d0e765f406ecfc2909004e7d816bd42ea:27753
RUNNING: ios_webkit_debug_proxy -c dee68d8d0e765f406ecfc2909004e7d816bd42ea:27753
stderr: Invalid message _rpc_applicationUpdated: <dict>
	<key>WIRApplicationBundleIdentifierKey</key>
	<string>com.apple.WebKit.WebContent</string>
	<key>WIRHostApplicatio

[2015-05-20 11:53] shivakrishnach31 commented on #5020
@jlipps , I informed about your suggestion to my dev team. They tried to add the line you suggested, but they didn't find it ie: "setAccessibilityEnabled:YES". is there a way to find it and add it to dev code.

[2015-05-20 12:15] ericzered opened #5140 "Safari "readyState was interactive" since Appium 1.3.5"
Hello,
I was using Appium 1.3.4 and everything was ok with my Safari Browsing on iOS 8.1 Simulator.
I'm going to a website with JS.
But since I update to 1.4 (And I try too 1.3.5 and 1.3.7 with the same problem), I have "[REMOTE] readyState was interactive" for severals minutes...then a timeout.
I have only the problem with iOS, with Android (real devices), my exact same website doesn't have this

[2015-05-20 13:34] valarmathivrv commented on #5125
Appreciate your inputs on this issue, I am unable to make any progress.

[2015-05-20 13:35] valarmathivrv commented on #5125
Appreciate your inputs on this issue, I am unable to make any progress.

[2015-05-20 13:35] valarmathivrv commented on #5125
Appreciate your inputs on this issue, I am unable to make any progress.

[2015-05-20 13:36] valarmathivrv commented on #5125
Appreciate your inputs on this issue, I am unable to make any progress.

[2015-05-20 13:37] valarmathivrv commented on #5125
Appreciate your inputs on this issue, I am unable to make any progress.

[2015-05-20 13:54] ericzered opened #5141 "Safari "readyState was interactive" since Appium 1.3.5"
Hello,
I was using Appium 1.3.4 and everything was ok with my Safari Browsing on iOS 8.1 Simulator.
I'm going to a website with JS.
But since I update to 1.4 (And I try too 1.3.5 and 1.3.7 with the same problem), I have "[REMOTE] readyState was interactive" for severals minutes...then a timeout.
Url is : http://sample.teads.net/demo/prod/qa.html

With 1.3.4 I have correct browsing :

info: [debug]

[2015-05-20 15:31] chenhengjie123 opened #5142 "[Android][Appium 1.4.0] Need to use get_attribute("name") but not get_attribute("content-desc") to get content-desc attribute value"
I have try to get an element's content-desc attribute by using codes below:
[code]
But it raises error in appium server:
[code]

I look into the source codes, found that it is caused by some codes:
Codes in lib/devices/android/bootstrap/src/io/appium/android/bootstrap/handler/GetAttribute.java
[code]
And the codes for el.getStringAttribute:
[code]

Then I tried using `get_attribute("name")`, it ca

[2015-05-20 17:52] ashwiniadke opened #5143 "I am not able to run iOS test without pre-launching an app. If I tried unchecking the pre-launch option , I get error that following desired capability is not provided :deviceName . But I have already provided them"
Creating this issue again as I didn't got any response for https://github.com/appium/appium/issues/5097

[2015-05-20 20:06] spatchamatla commented on #5100
@Jonahss is the patch been fixed? where do you want me to run the reset.sh --real-safari?

[2015-05-20 20:12] spatchamatla commented on #5100
and when i looked at reset.sh, i see only ```reset_ios()``` no real-safari

[2015-05-20 20:18] spatchamatla commented on #5100
i git clones the 1.4 branch and tried to run ```reset.sh --real-safari``` and see the error::
```-bash: reset.sh: command not found```

[2015-05-20 20:29] spatchamatla commented on #5100
i ran the cmd ```./reset.sh --real-safari``` and the i see the failure
[code]

[2015-05-20 21:33] norman784 opened #5144 "Tap after fill an Textfield"
Hi

I've stuck trying to tap somewhere on the app after a Textfield is filled with a text

[code]

Seems that the tap sometimes not fired or fired before the text is filled, the reason I need to do this is b/c when the textfield is filled is shows a autocomplete where I need to select an item, but don't know why the list doesn't appear on the view xml on the inspector, so I don't know how to click

[2015-05-20 21:56] Jonahss commented on #5100
Can you run the command again with the `--verbose` option and post the log here?

[2015-05-20 22:34] deadmoto opened #5145 "Non-deterministic swipe behavior on Android"
I found an issue in either Appium or UIAutomator (more likely).
The problem is that when I use swipe action it scrolls different number of pixels every time.
It is frustrating when your tests use image comparison.
And it's more annoying because it cannot scroll exact number of pixels if its too little.
Thus when I try to scroll the screen by just 3 pixels down it scrolls  5, 9, 15 (it can be basic

[2015-05-21 07:41] EthanJiang commented on #5129
Can you start the selendroid server. I just try 1.4.0 with selendroid. find the Selendroid server can't be started.

[2015-05-21 08:49] d9kgit commented on #4565
Could you tell, in which Appium version it will be fixed?

[2015-05-21 09:18] truebit commented on #4584
Appium 1.3.7 still got this bug. `brew install ideviceinstaller` fixed it.

[2015-05-21 10:04] valarmathivrv opened #5146 "Unable to inspect in appium inspector and the appium get crashing , while launching the appium inspector"
1. I have installed appium 1.3.7 version in mac machine.
  2. I have started appium server for android app in android device.
  3.  In android device, the app get installed and opened successfully.
  4.  I have clicked the show inspector button and then I can able to see the inspector screen and then my appium inspector get crashed.
![063933c4-ef1b-11e4-9bb8-488bdae8d661](https://cloud.githubuserc

[2015-05-21 11:38] vijay0850 commented on #5129
@EthanJiang I able to start selendroid server and able to find elements with classname but I cant use xpath to find the element.

[2015-05-21 11:41] amedvedjev commented on #5145
well we have similar issue when automating Google Map view inside application (both iOS and Android).
as workaround we use image comparison against several images. this increase result success dramatically :-)

example of our test steps:
1) open google view screen in application
2) do zoom in
3) capture needed image_1
4) steps 1,2 and compare against image_1 -> no match save image_2
5) steps 1,2 a

[2015-05-21 11:42] Simon-Kaz commented on #5145
@amedvedjev  do you use openCV? Tesseract? Sikuli? Your own wrapper for those?

[2015-05-21 12:13] amedvedjev commented on #5145
you got at first choice! opencv-2.4.10-0.9.1-20141109.113201-4-macosx-x86_64.jar

[2015-05-21 12:51] DmitryKa opened #5147 "Cannot read property 'x' of null on waiting"
Updated appium: 1.3.6 to 1.4. And now when I do

    Appium::TouchAction.new.wait(3000).perform

(Ruby) I get error above.
Full log:

dmitry@dmitry-PC:~/Documents/appium/appium$ node .
info: Welcome to Appium v1.4.0 (REV dc30dae9e8fe8c85eeea707dbdbd60350fdff55b)
info: Appium REST http interface listener started on 0.0.0.0:4723
info: Console LogLevel: debug
info: --> POST /wd/hub/session {"desiredC

[2015-05-21 13:41] tolgatanriverdi opened #5148 "Understanding the types of IOSElements"
Hi
I'm running appium server in my mac os x for IOS tests and everything seems ok while installing and running tests on real device
However when I try to get all the elements in the screen with the below method. It returns list of IOSElement objects , but from that point I dont know how to understand which element is TextField which element is a Button etc...

 List<WebElement> elements = driver.f

[2015-05-21 13:50] Simon-Kaz commented on #5145
I've been using sikuli as I only needed to create a quick prototype, but I'll definitely dig deeper and go for opencv directly!

[2015-05-21 14:00] spatchamatla commented on #5100
[code]
its error's on
```Fatal error: Could not find Android SDK, make sure to export ANDROID_HOME```

do i have to set ANDROID_HOME even thought I'm not testing on Android?

[2015-05-21 14:08] spatchamatla commented on #5100
and also i see it safari launcher to use Release-iphoneos, if i want to open safari on Ipad will it be the same? Previously i used to install SafariLauncher for IPAD and launch appium to open safari using safari launcher.

[2015-05-21 15:11] spatchamatla commented on #5100
after installing the android studio, setting  ANDROID_HOME , and rerunning
```./reset.sh --real-safari --verbose``` i see the below error
[code]

[2015-05-21 20:19] kamaldeep1983 opened #5149 "Safari Launcher not working for IOS 8.3"
Hi Team,

Could you please provide me safari launcher for IOS 8.3 ( Xcode is 6.3 and OS is 10.10 these are my machine configuration) .

I tired with safari launcher ios 8.2 but i am not able to compile it.

Regards,
Kamaldeep

[2015-05-21 20:23] yaphatak commented on #5136
@sebv can you have look at this?

[2015-05-21 20:30] yaphatak commented on #5136
adding escape character to adb command wont work except that escape character is part of "query" to certain adb command

[2015-05-21 23:30] Jonahss commented on #5149
this? https://github.com/snevesbarros/SafariLauncher

[2015-05-21 23:31] Jonahss commented on #5146
Could you repost this issue on the github repository for the inspector? thanks.

[2015-05-21 23:31] #5146 closed

[2015-05-21 23:48] EthanJiang commented on #5129
There is another Group, just for windows [Appium-dot-exe], I get quick response in that group. I think you can post the issue to that group.

[2015-05-22 00:16] Jonahss commented on #5100
If you run `reset.sh --ios` it will skip the android stuff.

On Thu, May 21, 2015 at 8:11 AM, spatchamatla <notifications@github.com>
wrote:

[2015-05-22 00:31] apallin opened #5150 "Travis -> Appium Instruments crash exit code 250"
While trying to execute Appium Code against Sauce Labs simulators for iOS I am having trouble with instruments crashing (go figure). However, this seems to be a pretty reproducible in one configuration where we are having Travis CI trigger a sauce labs test and execute the test code as part of a CI run.

Appium Logs:
134562015-05-13 01:06:26:249 - info: [debug] [INST STDERR] Instruments Trace Erro

[2015-05-22 00:57] imurchie commented on #5147
Why are you trying to do a `wait` without any other commands? You need to `press` before you can `wait` (both logically, and, apparently, programmatically).

[2015-05-22 07:46] DmitryKa commented on #5147
@imurchie I use this command to just wait some seconds for my app reaction, not only after press. It worked, and worked fine earlier.

[2015-05-22 10:01] aluedeke commented on #4131
i just reproduced the issue. The element.isVisible() call to ui auto is returning 0 for the element.

I changed the code to make all elements visible by always assigning visible: true . Then i was able to focus and sendKeys. to my "invisible" TextField

@Jonahss @bootstraponline if you need more details feel free to ping me

[2015-05-22 11:53] dharamveerSinghRajpoot commented on #4950
HI Team,

Testing an iOS app with 6.1,7.1 on the real device, when trying to perform sendskey action on UIPicker Instruments died in 7.1, It's working fine with 6.1.
Find Appium logs

info: --> POST /wd/hub/session/35913ec2-af44-453b-a37d-fe988f104193/element {"using":"name","value":"Add % Item Tax Override. 1 of 12"}

warn: [DEPRECATED] The name locator strategy has been deprecated and will be re

[2015-05-22 12:01] glebPrischepa opened #5151 "Is it possible to xpath to find webelenent on Android?"
Hey,

I am using Appium server 1.4.0 and io.appium java-client version 2.2.0 and developing tests for Android.

I cannot get xpath of WebElement using such construction
final String xpath = mobileElement.getAttribute("xpath");

In Appium Terminal I see

Is it possible to use xpath for Android?

Thanks in advance

[2015-05-22 12:14] vikaspune commented on #5151
Hi Gleb,
I think you cant get xpath of element from WebElement. but If you already have WebElement object they you are are trying yo get it's locator?

If you wanted to access the parent element of current element you can use below code.

// .. refers to parent
WebElement parent = mobileElement.findElement(By.xpath("//.."))

[2015-05-22 12:59] pbc commented on #4937
The `node bin/appium-doctor.js --dev` should be plastered all over the docs with huge letters :)

thx @moizjv

[2015-05-22 13:18] glebPrischepa opened #5152 "Is it possible to send keys to input by one letter?"
Hi, all,

I am developing tests for Android.
When I use .sendKeys methods it replaces previous text.

My goal is to imitate typing in software keyboard like
A
An
And
Andr
Andro
Androi
Android

I checked log in Appium Terminal and found
info: [debug] [BOOTSTRAP] [debug] Got data from client: {"cmd":"action","action":"element:setText","params":{"elementId":"12","text":"A","replace":false}}

It appea

[2015-05-22 13:31] glebPrischepa commented on #5151
Hi,

WebElement parent = mobileElement.findElement(By.xpath("//.."))
throws InvokationTargetException

in Console

Any ideas?

[2015-05-22 13:37] imurchie commented on #5147
Interesting. There has been some refactoring of that code, and that is a use case that we hadn't thought of. That said, it is not a good pattern, and my "fix" would be to throw an error earlier, saying that you can't do that!

Selenium has an api for waiting that should be used instead. I'm not sure of the exact usage in Ruby, but the official documentation is [here](http://docs.seleniumhq.org/doc

[2015-05-22 15:37] Fanch- commented on #5145
Do you have also this issue with a high swipe duration ? Try with 5sec for example.

[2015-05-22 16:06] DmitryKa commented on #5147
Sorry, but https://www.dropbox.com/s/uqlyuhocn9diril/Screenshot-2015-05-22-22.05.14.png?dl=0

[2015-05-22 16:16] imurchie commented on #5147
Well... I guess google "Selenium wait"?

[2015-05-22 16:49] nischay-gulati18 opened #5155 "Not able to dismiss Android Keyboard through tapping next button?"
It presses the Android software back button(those three buttons at the bottom) on tapping that.

[2015-05-22 18:12] apallin commented on #5150
More logs of the same crash.  This happens so frequently and it hoses all other test runs against the same VM's.

141562015-05-21 23:11:33:926 - info: [debug] [INST STDERR] Instruments Trace Error : Failed to load document 'file:///tmp/appium-instruments/instrumentscli0.trace' : (Error Domain=com.apple.instruments Code=-6 "Document Missing Template Error: The operation couldnât be completed. (co

[2015-05-22 20:08] Ricardonacif commented on #4993
Fixed by removing the 'app': 'safari' from the capabilities

[2015-05-22 20:11] KyleChihCheng opened #5156 "Appium pushed remote APK into temp and never clean it up, resulted /tmp filesystem full and killed appium process"
Hi,

I am a newbie of Appium. Please tell me how does Appium clean up the temporary APK files, it seems keep generating new folders that contained APK file until it ran out of space (my /tmp filesystem is 3 GB)

Is the cleanup configurable or I am using appium switches wrong. Pardon my formatting since this is my first post.

Version: 1.3.4
Option: appium --session-override --strict-caps --selendr

[2015-05-22 20:14] deadmoto commented on #5145
@Fanch- I tried to change swipe duration and swipe length.
When difference between startY and endY drops below certain value swipe action just stops working.
Example:
startY = 594, endY = 425 - woks (but element get shifted a few pixels)
startY = 417, endY = 425 - does not do anything

Also I tried to increase swipe path by swiping from the left edge to the right one.
It did not help either.

In l

[2015-05-22 20:28] amedvedjev commented on #5145
@deadmoto why it is such a problem with different swipe?
BTW we have such problem ONLY with elements like google map. when we need precise scroll e.g. by 1/3 of page of some gallery or elements this working quite well.

[2015-05-22 20:32] deadmoto commented on #5145
@amedvedjev we need that to compare screenshots with baseline.
Even 1px shift fails the test.

[2015-05-22 20:35] amedvedjev commented on #5145
@deadmoto why not to use set of images? or let say 70% similarity?

[2015-05-22 21:26] deadmoto commented on #5145
@amedvedjev Because if we will set threshold higher than delta caused by swipe shift it may not detect small issues.
Moreover, precise scroll that gives deterministic results is not too much to ask :)

[2015-05-23 08:34] vijay0850 commented on #5129
Can you please tell me the group name

[2015-05-23 09:21] karunakaranvrv opened #5157 "Is browsermob proxy supports MobileApp"
@jlipps I am writing automation test for Mobileweb and Android/iOS app.

Using https://github.com/lightbody/browsermob-proxy to capture network responses for MobileWeb.
I want to do same for MobileApp. Is it possible?  or Where i need to post  this question to get answer for it?

Proxy code used in mobileweb:-

ProxyServer proxyServer = new ProxyServer(4444);
proxyServer.start();

Proxy proxy = pr

[2015-05-23 11:27] valarmathivrv opened #5158 "Could not pre-launch appium"
1. I am using Xcode Version 6.3.2 and appium version 1.3.7.
2. I am getting below defined error message, When I start appium server

Error Log:

Launching Appium with command: '/Applications/Appium.app/Contents/Resources/node/bin/node' lib/server/main.js --command-timeout "7200" --pre-launch --platform-version "7.1.2" --platform-name "iOS" --app "com.vr.iphone.sampleApp" --udid "1c71d40a38f94c9e66

[2015-05-23 16:12] Tekin1 opened #5159 "Appium identification methods"
Hi, i hope anyone here can help me. I am Writing my Final exam and evaluationg the three tool experitest, appium and monkeytalk.
And i am trying to find out which identification methdos appium can use.

Native ID
Web HTML5(DOM) commands
Image recognition
OCR (text recognition) <-- i know that appium can use OCR

[2015-05-25 04:12] thanhxnguyen commented on #4649
Hi @jlipps
Was this enhancement included in Appium Release 1.4?
I cannot still inspect all elements in WebView

[2015-05-25 04:47] naveenjammula commented on #5134
Can you please fix it ASAP as it blocking issue for us.

[2015-05-25 08:27] vikaspune commented on #5151
Thanks for your above information.
I did research on this and realized you can not find element by calling element.findElement(By.xpath("")) You only have to use driver.findElementByXpath("") but in your case this is not useful.

I found a way to get parent element. It's using UIAutomator script with Appium.

Please go through below link
http://stackoverflow.com/questions/17680352/how-can-i-get-th

[2015-05-25 10:29] PradeepNagol commented on #4865
I am also facing the same problem. Xcode 6.3.2 Appium 1.3.7

[2015-05-25 11:08] glebPrischepa commented on #5151
Cool, Thanks!
I will try.

Any ideas about
https://github.com/appium/appium/issues/5152
?

[2015-05-25 11:17] DmitryKa commented on #5147
Thx. Seems `Selenium::WebDriver::Wait.new(timeout: 5).until {}` solves this problem

[2015-05-25 20:55] Henry-Gao opened #5160 "Android - Webview cannot read property 'innerHTML' of undefined"
I can successfully switch to the window handle and I also change the context to webview, however, when i do a document.getElementsByClassName('title')[0].innerHTML; I get the following error.

[36minfo[39m: [debug] Responding to client with success: {"status":0,"value":"WEBVIEW_com.fivemobile.thescore.debug","sessionId":"e516cba4-2577-472f-86dd-8c5f7ca8179a"}
[36minfo[39m: [37m<-- GET /wd/hub

[2015-05-26 01:14] Tekin1 commented on #5159
Has no one a answer?

[2015-05-26 03:55] moizjv commented on #5159
@Tekin1 ideally you should be asking questions in [forum](http://discuss.appium.io) this space is for raising and tracking defects. Please go through our [documentation](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/finding-elements.md) . Thanks

[2015-05-26 03:55] #5159 closed

[2015-05-26 05:15] esoests opened #5161 "Appium -iOS isAppInstalled always return true on 1.4.0"
the isAppInstalled method always return true no matter what bundle id specified.
But it works well on Appium 1.3.4

[2015-05-26 05:38] EthanJiang commented on #5129
appium/appium-dot-exe

[2015-05-26 10:22] shivakrishnach31 commented on #5020
@jlipps , any update?

[2015-05-26 12:08] wushuai100 commented on #4297
i had the same issue up ,it cant  works with the appium 1.3.7

[2015-05-26 12:50] karunakaranvrv opened #5162 "Unable to tap search button in Android App keyboard using automation"
@jlipps  @imurchie

Steps:-
1. Entering text on the search text field
2. Tap the search button on Android keyboard(In Android App)

Code to tap on search button:-

Method1:-

driver.sendKeyEvent(0x00000054);

Where 0x00000054 is KEYCODE_SEARCH. Refer http://developer.android.com/reference/android/view/KeyEvent.html

Method2:-

driver.sendKeyEvent(84). where 84 is constant value for search.

Refer:

[2015-05-26 15:21] ericzered commented on #5140
Hello,
I still have this error. The Url I try to reach is http://sample.teads.net/demo/prod/qa.html
My iOS Simulator load the page but Appium continue to says "readyState was interactive" during 5 minutes...

[2015-05-26 17:32] spatchamatla commented on #5100
i ran with ```./reset.sh --ios --real-safari``` and it ran without errors.I started appium with
```node lib/server/main.js``` and when i try to run the tests it errors out
[code]

even thought i got the latest branch, it still shows the version as ```Appium v1.4.0```

[2015-05-26 17:46] spatchamatla commented on #5100
After looking at the post #4584, i installed ```ideviceinstaller``` using ```brew install ideviceinstaller``` and unlinked and installed ```ios_webkit_debug_proxy```. Now when i try to run the test i see the below error

[code]

So do i have to install the safari launcher on the iPad as well? i though safari Launcher is inbuilt now with latest appium.

[2015-05-26 18:12] imurchie commented on #5161
What version of [node-idevice](https://github.com/OniOni/node-idevice) is installed with the system (to see, check in `appium/node_modules/node-idevice/package.json` for the `version`)? And what version of [ideviceinstaller](https://github.com/libimobiledevice/ideviceinstaller) do you have? There may be a mismatch there.

[2015-05-26 18:41] spatchamatla opened #5164 "appium getting stuck while running multiple tests"
Hi,
appium 1.4.0
protractor 2.1.0
iPad ios 8.3

i got multiple tests, and able to run the first test fine. But when its trying to run the second, its getting stuck and not able to run the second test.

i see the logs which logs the below MSG over and over again(even thought there is no alert) until i ended it.

[code]

it runs fine if i run on MAC Safari.I see this issue only on iPad Safari.

[2015-05-26 18:44] jlipps commented on #4397
we're totally redoing logging in appium 1.5, so this should be fixed with those changes. we'll check back in at that release

[2015-05-26 18:47] Anishohri opened #5165 "JSExecutor script not executing on real iOS device."
Hi

I am trying to execute the JS script on real device safari but i stops with a error executing the javascript supplied:

Please see the attached Appium logs, I have iOS-webkit-debug-proxy running.

info: --> GET /wd/hub/status {}

info: [debug] Responding to client with success: {"status":0,"value":{"build":{"version":"1.3.7","revision":"72fbfaa116d3d9f6a862600ee99cf02f6d0e2182"},"isShuttingDow

[2015-05-26 18:49] imurchie commented on #5152
Unfortunately that is not how Android UI Automator wants us to handle text. It does not entirely simulate typing on a keyboard.

To do that, you will need to use key events. This will trigger all the delegation in your app, as well.

The `KeyEvent` and key codes are available in [Android's Documentation](http://developer.android.com/reference/android/view/KeyEvent.html). In Appium, you just need t

[2015-05-26 19:02] chrigrahcisco commented on #4397
Sorry I haven't been contributing here. I actually did spend some time a couple weeks ago attempting to reproduce this with one of the test apps but was unable to. Based on that, I suspect part of the issue is with the monster UIATable elements in my AUT. There are often 100+ UIATableCell and I'm sure that's chewing up a lot more resources than the simple test apps you have shared.  Hit me back up

[2015-05-26 19:04] imurchie commented on #5156
At the moment temp file management is not handled by Appium. It seems like something it _could_ do, though, so I'm adding this as a feature request.

[2015-05-26 19:11] spatchamatla commented on #5100
Im able to run the test after building latest safari launcher on iPad, but appium gets stuck while appium try to run second test. It successfully runs the first test Though.

i opened issue#5164 for the above issue.

[2015-05-26 21:51] imurchie commented on #5144
This appears to be a bug in Android's UI Automator, which Appium uses under the hood. It does not seem to be able to find the `android.widget.AutoCompleteTextView` element that is created.

With a `TouchAction` you can click on the autocorrect dropdown, though the position of the elements may be dependent on screen size and whatnot. In your device you can turn on showing of touch coordinates, whic

[2015-05-26 21:53] imurchie commented on #5148
Perhaps `List elements = driver.findElementsByIosUIAutomation(".elements()");` is too broad. You can use one of the other selectors (find by class name, for instance, will allow you to find `UIATextField` elements), or UI Automation code that is more exact.

[2015-05-26 21:53] #5147 closed

[2015-05-26 21:54] imurchie commented on #5141
Repeat. Closing.

[2015-05-26 21:54] #5141 closed

[2015-05-26 21:55] tolgatanriverdi commented on #5148
How can i find the all elements in a screen and find out which one is UIATextField and which one is UIAButton

[2015-05-26 21:56] imurchie commented on #5140
Can you provide the full Appium server log for the failing case? And what version of Xcode are you running?

[2015-05-26 22:13] imurchie commented on #5140
Further, having tried this out, does anything begin to load? It took a while for your website to load in Safari for my test, and while it was happening it had the above `readyState was interactive` message.

[2015-05-26 22:36] norman784 commented on #5144
Thanks for the reply, but I ended up hacking my app to work with the tests.

Regards

[2015-05-26 23:35] Jonahss opened #5166 "Performance logs on iOS real devices don't work"
I'm going to quarantine the tests for performance logs on real devices until this is fixed.

If you take a careful look at this function, the callback is never called:
https://github.com/appium/appium/blob/d5abb9f48e4ad433b45c48a915aa1dd90eebe5ff/lib/devices/ios/webkit-remote-debugger.js#L156

That callback is expected to be called here, when the performance logging begins, otherwise we hang, wait

[2015-05-26 23:58] Jonahss opened #5167 "Opening a new window on safari real devices has a race condition"
From a preliminary investigation it looks like clicking on a link which opens a new window in iOS mobile safari, the new tab _does_ open, but if we are currently spinning on a command (like checking the page title) the new window doesn't open that tab until the command ends.

Quarantining this test on real devices until this issue is resolved:
https://github.com/appium/appium/blob/d5abb9f48e4ad433

[2015-05-27 00:28] imurchie commented on #5144
Excellent! Care to share what you did? So we can expand our knowledge base?

[2015-05-27 02:59] huangzhichong commented on #4934
@ivasylchenko i met the same issue about 'Could not navigate to webview'

it was resolved by

  *  adding more waiting time after launching SafariLaunche

  *  start ios-webkit-debug-proxy from appium's source,

        node bin/ios-webkit-debug-proxy-launcher.js -c d154b25d17a9f262251b58f48f3da446dc746415:27753

[2015-05-27 04:37] jlipps opened #5169 "Appium Architecture Overhaul"
### The Problem

Over the years, Appium has grown organically in sometimes not-so-great ways. We've identified a number of problems that make Appium increasingly difficult to work on (especially for new developers) and increasingly prone to introducing regressions:

0. Code is not modular enough—this makes testing independent chunks difficult. Example: the Java bootstrap is really its own project

[2015-05-27 10:28] narulacool opened #5170 "Getting error "A new session could not be created as Could not initialize ideviceinstaller" even when ideviceinstaller is present"
Hi,

On running appium tests through commandline, I keep on getting the below message:

org.openqa.selenium.SessionNotCreatedException: A new session could not be created. (Original error: Could not initialize ideviceinstaller; make sure it is installed and works on your system) (WARNING: The server did not provide any stacktrace information)

I have ideviceinstaller installed in my system but sti

[2015-05-27 12:15] Lynn907 opened #5171 "Cannot use method TouchAction to process clicking the menu icon in Google page for real Android device"
Hi,

I use click, and tap method to click the left top corner menu icon in Google Home page for Android 5.0 device, but it's failed.

Here is the method I used. Please help me check the issue and advise the right method to process the action.

driver.navigate().to(https://www.google.com);
driver.context("WEBVIEW_1");
WebElement menu = driver.findElement(By.id("gbg"));
menu.click();
OR:
TouchAction

[2015-05-27 12:27] ASYB commented on #5139
Can anybody respond please, this issue I am getting only for ipad mini 8.3 MODEL MD528HN/A, for other ipads it is working fine.

[2015-05-27 12:54] AlexTrofimchik opened #5172 "Set the orientation, but app refused to rotate"
Hi guys!

I'm trying to change device orientation using AppiumDriver#rotate(ScreenOrientation orientation) and have got an exception. This is stack trace:
[code]

And this is Appium logs:

[code]

I have tested orientation changes with Appium 1.3.4, 1.3.7 and 1.4.0. java_client version - 2.2.0
I have tried everything I found on the web:
- use the driver as AndroidDriver
- cast the driver to Rotata

[2015-05-27 14:32] faysalyare opened #5173 "I am new to Appium and getting issue while trying to run Appium mobile Web Test in chrome/android."
Here is the server side error

=========================
 Starting Node Server

==============================

and here is my capabilities

DesiredCapabilities capabilities = DesiredCapabilities.android();
			capabilities.setCapability(MobileCapabilityType.BROWSER_NAME, "chrome");
			capabilities.setCapability("automationName", "Appium");
			capabilities.setCapability("platformName","Android");

[2015-05-27 15:49] jlipps commented on #5020
Maybe the custom view is only defined in the interface builder? In which case you'd need to do some actual coding to set things up. Unfortunately this is as far as I can go in helping you with this issue. The official stance for Appium on custom views is that they're not supported (since they're not supported in UIAutomation)

[2015-05-27 15:51] jlipps commented on #4649
no, this was added back to the general Features bucket, it was not handled in 1.4. 1.4 used to mean "things we _might_ include in 1.4", which was confusing, so we put it in Features. It will be addressed when we move it into a specific release milestone.

[2015-05-27 15:54] jlipps commented on #5150
interesting. I'd like to take a look at the full logs. @apallin since this took place on Sauce, can you ping help@saucelabs.com and notify them that I sent you there? Include a link to your test. This way the Sauce support team can track it and they can direct it to me internally, so we'll take it from there. Apologies for the runaround, it looks like this may indeed be a Sauce-specific issue.

[2015-05-27 15:54] #5150 closed

[2015-05-27 15:58] jlipps commented on #5136
ah, so we're double-wrapping it. @moizjv fyi as you're porting appium-adb :-)

[2015-05-27 16:03] jlipps commented on #5135
the only workaround currently is to have your app print gps coordinates to some ui element and get the text from that using appium. i'll add this to the features list so we can try to add it in the future

[2015-05-27 16:04] jlipps commented on #2676
closing as dupe

[2015-05-27 16:04] #2676 closed

[2015-05-27 16:05] jlipps commented on #5094
ah yes, it does. however we should probably standardize on a server flag rather than an ENV var

[2015-05-27 16:06] jlipps commented on #4829
no ETA at the moment

[2015-05-27 16:08] jlipps commented on #5127
not being able to get the text may be intentional, but not being able to clear it is problematic :-/

maybe uiautomator2 will fix this

[2015-05-27 16:09] jlipps commented on #5122
have you created a sauce labs help ticket?

[2015-05-27 16:28] jlipps commented on #4617
that does look like the issue. i wonder why no one else is experiencing it? can you try to clear out your temp directories and remove your app (including the selendroid app) from the device and try again?

[2015-05-27 17:23] divyanshugarg commented on #3977
You can launch main/root activity using 'startActivity(String appPackage, String appActivity,
			String appWaitPackage, String appWaitActivity)' method till it fix.

[2015-05-27 17:41] Jonahss commented on #5169
Should this be a milestone?

[2015-05-27 18:12] #4934 closed

[2015-05-27 18:43] imurchie commented on #5148
What is the use case for doing that?

You can get the page source, which will be an xml document, and parse that for the information you need. All the elements will be there, with their class and attributes.

[2015-05-27 19:19] imurchie commented on #5173
Are you using performance logging? If not, turn it off.

Otherwise, the latest version of Appium uses ChromeDriver 0.15, which has fixed this issue.

[2015-05-27 19:25] imurchie commented on #5173
Alternatively, with your current setup, you can add the capability:

[code]

Which ought to turn off timeline and you won't get the error.

[2015-05-27 20:21] imurchie commented on #5172
Is this a real device or an emulator?

[2015-05-27 20:23] tolgatanriverdi commented on #5148
Use case is getting all the elements in a screen of an application which I dont have access to source code
So I can run tests on ipa files(compiled in debug mode) which I dont have the source code

[2015-05-27 20:27] imurchie commented on #5171
What does "failed" mean? Can you post the Appium server logs?

[2015-05-27 20:28] imurchie commented on #5148
Using `driver.source()` (or the similar command for your language) will give you access to the hierarchy for the view.

[2015-05-27 20:47] sukh48 commented on #4461
getting the same problem

[2015-05-27 20:47] kimbo-slice commented on #4880
I had this issue and it was resolved after running "adb root". Hope this helps you as well.

[2015-05-27 23:37] jlipps commented on #5171
I'm guessing it has to do with the javascript events that the app is listening for not matching those that the atoms are sending

[2015-05-28 06:36] clmathuriya commented on #4516
Thanks @moizjv !!

[2015-05-28 08:38] naveenjammula commented on #4162
I have observed this error using appium 1.3.7  on iphone 6 device (8.3 platform) . Below are the appium logs[36minfo[39m: [debug] Creating new appium session 981972bb-d146-4d89-9f08-30ddbfb7e8e3
[36minfo[39m: [debug] Removing any remaining instruments sockets
[36minfo[39m: [debug] Cleaned up instruments socket /tmp/instruments_sock
[36minfo[39m: [debug] Setting Xcode folder
[36minfo[39m:

[2015-05-28 08:39] AlexTrofimchik commented on #5172
The issue reproduced on both device and emulator.

Also, maybe it would be helpful, this is Activity declaration in AndroidManifest.xml:
[code]

Also I have tried to test app without **android:screenOrientation="portrait"**

[2015-05-28 08:43] naveenjammula commented on #4162
we have observed in one more ios device also. below is the appium logs
[36minfo[39m: [debug] [32m[INST] 2015-05-28 05:18:10 +0000 Debug: evaluation finished[39m
[36minfo[39m: [debug] [32m[INST] 2015-05-28 05:18:10 +0000 Debug: responding with:[39m
[36minfo[39m: [debug] [32m[INST] 2015-05-28 05:18:10 +0000 Debug: Running system command #1: /usr/local/Cellar/node/0.10.35/bin/node /Users/po

[2015-05-28 09:03] saadjan1 opened #5175 "Selendroid reset issue."
Hi Everyone,

I am facing this problem when trying to execute ./reset.sh --selendroid. I have exported that Maven solution which has been discussed in previous threads but still facing the same problem.

Admins-MacBook-Pro-8:appium admin$ ./reset.sh --selendroid

    Determining platform
    Platform is mac ---- Resetting / Initializing Appium ---- RESETTING NPM
    Installing new or updated NPM m

[2015-05-28 10:16] jcesarmobile commented on #4599
I'm having the same problem with appium app

[2015-05-28 10:20] lukcioj opened #5176 "Android: Background app actually restarts the application"
Hi,

I was testing: ( java ) driver.runAppInBackground(5); for both platforms: Android/iOS and it seems that it works differently.

For Android an app is actually restarted (killed & started) where for iOS it's backgrounded for given time.

I think that it should work the same way for Android as it works for iOS.

Appium: 1.4.1
iOS 8.1.2 & 8.3
Xcode: 6.2
ios-webkit-debug-proxy: 1.4
Android KitKat

[2015-05-28 10:32] ubmobile commented on #5170
Can u try after installing libimobiledevice library

[2015-05-28 11:08] narulacool commented on #5170
I did
$ brew uninstall libimobiledevice
and then
$ brew install libimobiledevice

I also tried uninstalling & installing ideviceinstaller.
$ brew install ideviceinstaller
It was installed but still appium is not running & gives the error in my original post.

Also, when I run :
$ ideviceinstaller

I see,
dyld: Library not loaded: @@HOMEBREW_PREFIX@@/opt/libxml2/lib/libxml2.2.dylib
  Referenced fro

[2015-05-28 11:21] rizvi opened #5177 "Appium error: uncaughtException: Cannot read property 'executeAtom' of null"
I am doing iOS Mobile Application Testing using Selenium. I am using respectives

    1. Appium version 1.3.7
    2. Node JS version 2.7.5
    3. ios webkit debug proxy
    4. iPhone 5c
    5. Xcode version 6.1

I am using a shell script which is helping me to check the ios_webkit_debug_proxy is available or not. If not exists, within 2 seconds, it will start the ios_webkit_debug_proxy.

My testin

[2015-05-28 11:23] ruthwe commented on #5028
how come i don’t see that function on python-client<https://github.com/appium/python-client>/appium<https://github.com/appium/python-client/tree/master/appium>/webdriver<https://github.com/appium/python-client/tree/master/appium/webdriver>/webdriver.py ?
On Apr 30, 2015, at 3:40 PM, Payman Delshad <notifications@github.com<mailto:notifications@github.com>> wrote:

Try:

location = tf.location

—
R

[2015-05-28 11:27] rizvi commented on #5177
@jlipps Please check the issue and help me to solve the problem.

[2015-05-28 11:32] ubmobile commented on #5170
Please try once after updating Xcode command line tools, It worked for me once

To update Xcode command line tools from terminal:
xcode-select --install

[2015-05-28 11:53] naveenjammula commented on #4154
Can you please update the fix on this issue ??

[2015-05-28 11:54] #4879 closed

[2015-05-28 12:53] ericzered commented on #5140
I've got Xcode 6.3.1 and Appium 1.4.
What is strange is that, if I install Appium 1.3.4, I don't have this "interactive" problem and script continue.
And for Android, I don't have this problem at all.
Because I have this url ( http://sample.teads.net/demo/prod/qa.html ) to test and I don't know what in it (I'm not a web specialist...), I'm lost... You think it's because something is indefinitely l

[2015-05-28 14:20] faysalyare commented on #5173
You right! I  turned off the performance logging and that worked for me .

Thanks,

[2015-05-28 14:50] Anishohri commented on #5171
I am facing the similar problem. Can't click on any webview object on chrome browser on any android device.

No error in appium logs.

[2015-05-28 15:05] wushuai100 opened #5178 "I cant see the expression on Emulator,but the appium debug log is OK"
List<WebElement> textFieldsList = driver.findElements(By.className("android.widget.EditText"));
        textFieldsList.get(0).click();
        driver.manage().timeouts().implicitlyWait(5,TimeUnit.SECONDS);
        System.out.println(1);
        textFieldsList.get(0).sendKeys("91442591@.com");
        System.out.println(2);t
        driver.manage().timeouts().implicitlyWait(5,TimeUnit.SECONDS);

[2015-05-28 15:08] imurchie commented on #5140
The Android side working and iOS not is not surprising, as they are entirely different parts of the codebase.

[2015-05-28 15:13] imurchie commented on #5173
Excellent!

[2015-05-28 15:13] #5173 closed

[2015-05-28 16:09] paymand commented on #5028
``location`` is a property of ``WebElement``  (not ``WebDriver``), so had it been defined anywhere, it should have been in https://github.com/appium/python-client/blob/master/appium/webdriver/webelement.py. However, in the Python client we're just extending the Selenium ``WebElement`` which is where ``location`` is defined. See https://github.com/SeleniumHQ/selenium/blob/master/py/selenium/webdriv

[2015-05-28 17:19] narulacool commented on #5170
I am using xcode 6.3.2, so I have the latest command line tools.
$ brew config
Command shows command line tool version as 6.3.2.0.1.1431401888

[2015-05-28 18:19] imurchie commented on #5170
Try installing the latest from `ideviceinstaller`.

[code]

[2015-05-28 18:23] narulacool commented on #5170
I am unable to install using --HEAD
It keeps on giving error:
unable to find file makefile.in

[2015-05-28 18:33] imurchie commented on #5170
Strange. Something is out of whack on your system. Can you run `brew update` and `brew doctor`?

[2015-05-28 18:37] narulacool commented on #5170
I did try that but didnt help.
Brew doctor just says you are ready to brew...so that means everything is up to date..

[2015-05-28 18:44] Simon-Kaz commented on #5170
It only checks if requirements are met, it doesn't check if the required software works.

[2015-05-28 19:17] #4880 closed

[2015-05-28 20:12] avidas opened #5180 "Switching back to webview from native refers to priorly opened window instead of current one"
Hello,

We have a situation could be similar to #4615. Starting in a native app, we switch to a webview. We click on a button in the webview to be redirected to native app (the browser window then also updates, lets call this x), and then switch to native. Later when the app redirects back to the browser via the same flow, it seems appium still holds a reference to the old window in the context in

[2015-05-28 22:05] imurchie commented on #5177
Interesting. This looks like an async error. The first call to get the elements by link text doesn't return but the server starts handling the context methods.

[2015-05-28 22:22] imurchie commented on #5177
Can you post your test program? I am having a hard time reproducing.

[2015-05-28 22:25] imurchie commented on #5178
I'm not sure what your issue is here. Is the provided log that of the second `sendKeys` call? And are you not seeing the text `"saohao4544312"` in the text field?

[2015-05-28 23:14] willosser opened #5181 "currentActivity can return the wrong value"
Reproduced against Appium 1.3.7 and 1.4.1

We use the value returned from appium_driver.driver.current_activity (ruby) to help identify the screen.  At times, this call returns .SubSettings instead of the expected current activity.  .SubSettings is the Android Settings screen, which is present but not active.

Appium server logs in
<script src="https://gist.github.com/willosser/591f24676d0584b281e

[2015-05-28 23:14] willosser commented on #5181
https://gist.github.com/willosser/591f24676d0584b281e0

[2015-05-28 23:35] willosser commented on #5181
This was run against an Android device using v4.4.2.

Also, there were several calls to currentActivity in a short amount of time.  I don't know if that is a factor, although I'll note we haven't noticed this under other circumstances (i.e. calling it less frequently).

[2015-05-28 23:40] PavithraNavaneeth opened #5182 "How about appium for native apps in smart watches"
Hi all,
I am using appium for ios and android. We have the existing application being shipped for smart watch as well (for both ios and android). Wondering whether some one has any proof of concept or tried out appium for IOS/Android - Smart watch (native apps).

Thanks,
Pavi

[2015-05-29 00:12] wushuai100 commented on #5178
yeah ,i cant see the text "saohao4544312" in the screen ,but the logs show it succeed?,,,,,i use the other app with this code, it works nornal,but only with my test app ,it not work ,I think that some problem with my app?i not sure ,would you help me ,i have already stuck a week ,,........

[2015-05-29 04:45] ubmobile commented on #5170
I am expecting with App, whether the app signed in debug mode with developer profile, Plz check once. Try with .app file too

[2015-05-29 04:57] narulacool commented on #5170
app is signed and automation was working fine before I upgraded to the latest configuration.

[2015-05-29 08:16] vgrigoruk commented on #2558
@chrigrahcisco, "UIAButton" is not a valid xpath. ".//UIAButton" is a valid one.

[2015-05-29 08:16] tolgatanriverdi commented on #5148
Thanks that solved my problem
and the answer for java is driver.getPageSource() method

[2015-05-29 08:16] #5148 closed

[2015-05-29 09:23] ericzered commented on #5140
Thanks, I will try to see with the dev waht they can change to the website to avoid it, like see if something is loading forever...

[2015-05-29 09:29] ericzered commented on #4865
Me too, Xcode 6.3.2 Appium 1.4.
The "home page" (with 1.3.7 it was apple.com, now with 1.4 it's the appium servor IP) is loading forever. It happens a lot of times

[2015-05-29 09:48] ericzered opened #5184 "iOS Simulator : browser window was closed (Watir::Exception::NoMatchingWindowFoundException)"
Hello,
I run a script in Ruby on iOS Simulator with Appium 1.4 and Xcode 6.3.2, Yosemite, and I have this error "browser window was closed (Watir::Exception::NoMatchingWindowFoundException)" like 90% of the time.
Some weeks ago my scripts were working fine, they still are ok on Android, but for iOS now I see the Safari open, go to my url and then Safari close itself just after instead of doing res

[2015-05-29 10:06] wushuai100 commented on #5178
help,help

[2015-05-29 12:26] ericzered commented on #5184
I see that I have the error "Could not connect to a valid app after 4 tries", what does it means ?
When my script works, I don't have this and the script continue...
Thanks

[2015-05-29 12:53] ericzered commented on #4944
Hello,
I think I've got the same problem : After loading the first page of my test on iOS 8 Simulator, Safari close immediatly.
Appium 1.4.1, logs just after my page loading :

info: [debug] [REMOTE] Receiving data from remote debugger
info: [debug] [REMOTE] got applicationSentData response
info: [debug] [REMOTE] readyState was complete
info: [debug] [REMOTE] Page is ready, calling onload cbs
info

[2015-05-29 13:08] rizvi commented on #5177
Thanks for the pointer imurchie.

Actually this is a hybrid app developed in Cordova we are automating. We need to perform a lot of context switches between NATIVE & WEBVIEW. It seems whenever we send a command to Appium to find an element or else in WEBVIEW and we switch the context to NATIVE before the Appium returns the result for WEBVIEW command, the exception occurs. I didn't check the Appium