[2016-12-21 15:47] pisarenco92 commented on #7583
@mykola-mokhnach  I tried your code and prints "Nothing found".

I have added before your code driver.getPageSource() and elements are present:

`                                            <XCUIElementTypeStaticText name="DetailedFilterTitle" label="Trollkids" value="Trollkids" dom="" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/0/0/0/1/0/0/1/1407/0" x="0" y="0" width="59" hei

[2016-12-21 16:33] viveksinghtt commented on #7363
@imurchie thanx a lot !!!!!!!!!! really appreciate the prompt help!!!!!!!

[2016-12-21 16:39] ToddGlover commented on #6918
I'm having the same issue on 1.6.3.

[2016-12-21 17:14] pavanbachu0604 commented on #7568
@wensj sudo chmod -R 777 /var/db/lockdown/ is not permanent fix , its a workaround I would suggest you to follow these commands
brew uninstall libimobildevice
brew install libimobiledevice --HEAD

[2016-12-21 17:48] abourdon commented on #7557
Alright! I'm away until the end of the the year so I will send you a PR in January.

Regards,
Aurélien

[2016-12-21 18:16] dpgraham commented on #7583
'getPageSource' only shows what is visible. Is it possible that you need to scroll the element into view first?

[2016-12-21 18:21] dpgraham commented on #7559
Yeah, @imurchie is working on that right now so that XCUITest chains long_press and move_to. We can leave the python client as is.

[2016-12-21 18:26] dpgraham commented on #7511
If there is no sqlite truststore present in the Keychains directory than we would indeed expect there to be problems. The tests that I wrote didn't account for that directory not existing and @midopa's fix would correct this.

[2016-12-21 18:27] dpgraham commented on #7584
Can you provide a code snippet and a gist of the appium server logs?

[2016-12-21 18:28] imurchie commented on #7511
Does @midopa 's hack make the trust store work? Or just make our code not break? Does the custom cert take affect?

Further, is there some plist entry we're missing that would turn on the feature and make the sim build its own trust store?

[2016-12-21 18:35] dpgraham commented on #7511
I would have to create a test to confirm if it actually fixes the problem. @imurchie you might have a point about the plist entry. The non-existence of a SQLite TrustStore might suggest that the simulator isn't configured to accept truststore entries.

[2016-12-21 18:36] dpgraham commented on #7511
p.s.: I'm going to be away from December 30th to January 14th so we may want to move this up on our priority list so that I can take a look at it.

[2016-12-21 18:42] imurchie commented on #7511
Yeah. If we are saying that we support this, we should be clear about it.

[2016-12-21 19:25] SalmonMode opened #7585 "`Alert` `send_keys` method doesn't work on iOS"
## The problem

If I have an alert present (`XCUIElementTypeAlert`), I can grab the alert, and even access its `.text` property, but `alert.send_keys("something")` throws the following error:

[code]

## Environment

* Appium version (or git revision) that exhibits the issue: Appium v1.6.3 (REV 9cd5a21b473f0271b162bbe7f77f7d1468c0cfa1)
* Last Appium version that did not exhibit the issue (if appli

[2016-12-21 19:36] jlipps commented on #7511
OK, moved into current sprint

[2016-12-21 19:41] jlipps commented on #7585
It looks like WDA doesn't support sendKeys on alerts. I believe it should be possible to find the text field in the alert using the normal find element route, however (i.e., not using `switch_to_alert`). Can you try that?

[2016-12-21 19:44] jlipps commented on #7582
autoLaunch was removed in Appium 1.5.

[2016-12-21 19:44] #7582 closed

[2016-12-21 19:46] jlipps commented on #7571
@sepiol you can click the home button then find another app's icon in the UI and tap on it using all the usual appium commands.

[2016-12-21 19:56] jlipps commented on #7253
Sorry for the delay @dsavchenkov. Can you add the _full_ appium logs to that gist? We need to see everything from the beginning of starting the appium server up to that error.

[2016-12-21 19:56] dpgraham commented on #7581
Which line in the logs is it showing the error? I'm not seeing any calls to click or sendKeys.

Also, can you try calling 'source' and getting the source XML before you call click or sendKeys so we can see the contents of the document.

[2016-12-21 19:57] dpgraham commented on #7584
@midopa: Were you actually able to observe that one of your simulators didn't have a TrustStore and then when you drag-and-dropped the cert onto Safari, the TrustStore appeared for the first time?

[2016-12-21 19:59] mykola-mokhnach commented on #7585
for me it just worked if I locate text input field on the alert by xpath and then use _setValue_ instead of _sendKeys_

[2016-12-21 20:31] shreyasdraut commented on #7575
I am facing the same issue!

[2016-12-21 21:03] SalmonMode commented on #7585
@jlipps If I try to select it based on its class and then call `send_keys` on that, it gives me this error:

[code]

It is actually able to find the element, but i only get that error when I call `send_keys`

here's the log for that https://gist.github.com/SalmonMode/363523d7a17aa1a9cb64fd3088dba350

[2016-12-21 21:15] baclark774 opened #7586 "WDA Fails to Start Properly on iOS 10.2 - XCode 8.2.1 - Real Device"
WebDriverAgent is never started properly on iOS 10.2 with XCode 8.2

## Environment

* Appium Version: 1.6.3
* Desktop OS/version used to run Appium: OS Sierra
* Node.js version (unless using Appium.app|exe): Latest
* Mobile platform/version under test: 10.2
* Real device or emulator/simulator: Real Device
* Appium CLI or Appium.app|exe: CLI

## Details
Launching WebDriverAgent on 10.2 hangs on th

[2016-12-21 21:18] SalmonMode commented on #7585
@mykola-mokhnach I get the same thing using `set_value` as `send_keys` when selecting by class name.

[2016-12-21 21:23] jlipps commented on #7585
@SalmonMode weird, I'd reach out to the WebDriverAgent project then, as I believe this is supposed to work.

[2016-12-21 21:25] jlipps commented on #7579
@wsander3 can you try with Appium 1.6.3? We don't support Appium 1.5.x any longer.

[2016-12-21 21:32] jlipps commented on #7552
I'm open to adding a capability that will kill the emu in between tests if Appium started it. Adding as an enhancement

[2016-12-21 21:39] jlipps commented on #7570
I have not seen it before. But it doesn't look like there's much we can do about it. I wish we knew what was going on with iProxy. @slipy12 is there any interesting info in ios or system logs?

[2016-12-21 21:53] hardik-d opened #7587 "An unknown server-side error occurred while processing the command. Original error: Could not navigate to webview; there are none!"
## The problem

Whenever I launch my web test suite on iphone6 ios 10 simulator using XCUITest driver and appium 1.6.3 test fail randomly with above errors. What i noticed running the tests is webdriveragent app launches then safari launches and then goes in background. Whenever this happens tests fail randomly and not sure what the solution is here.

## Environment

* Appium version (or git revis

[2016-12-21 21:58] mykola-mokhnach commented on #7585
@SalmonMode Can you provide the code snippet where you try to find and set the value for the alert input?

[2016-12-21 22:01] SalmonMode commented on #7585
@mykola-mokhnach

[code]

[2016-12-21 22:08] mykola-mokhnach commented on #7585
@jlipps I believe the problem should be here:

appium-xcuitest-driver/lib/element.js

[code]

WDA, actually, has setValue method. And since Appium itself still tries to use sendKeys instead WDA says "no way", because the keyboard is obstructed, which we, actually see in the log:

[code]

I don't see this problem, because I'm smart ass and calling WDA's _/element/:uuid/value_ API directly.

[2016-12-21 22:12] rong4188 commented on #7581
@dpgraham thanks for your response. in this log, I got two different issues.
1. if you search "unexpected alert open" in this log, you would see an error, sometimes I encountered this error when I use sendkeys()
2. if you search ".js-password" in this log, you would see the value returned is null, which is incorrect. if i put a breakpoint in findelement() method in remoteWebDriver and wait several

[2016-12-21 22:14] rong4188 commented on #7581
@dpgraham also, it only happens in android system webview version 55. when I remove the update of android system webview v55 and back to 54, the issue is just disappear.

[2016-12-21 22:21] mollywhitnack commented on #7575
I had `capabilities.setCapability("fullReset", true); `
Removing this fixed the issue for me!

[2016-12-21 22:21] #7575 closed

[2016-12-21 22:22] mjduvall opened #7588 "Cannot find element after alert_accept"
## The problem

After accepting a system permissions alert, appium fails to locate an element.

## Environment

* Appium 1.6.0
* Last Appium version that did not exhibit the issue (if applicable): n/a
* Desktop OS/version used to run Appium: Mac 10.12.1
* Node.js version (unless using Appium.app|exe): v6.7.0
* Mobile platform/version under test: Android 7.1.1
* Real device or emulator/simulator: R

[2016-12-21 22:44] jlipps commented on #7585
@mykola-mokhnach the ` /element/:uuid/value` endpoint is exactly what `await this.setValue(value, el)` is calling. So the problem must be that the keyboard is obstructed. @SalmonMode maybe try tapping in the text field once to bring up the keyboard? This is presumably what a user would have to do in this scenario.

[2016-12-21 22:46] jlipps commented on #7588
Are you sure it's not a timing issue? To check if it is, add a 5-10s sleep between the accept alert and the click. If that resolves the issue, it means you have a race condition of some kind and should account for that in your code (using some strategy other than a static sleep of course)

[2016-12-21 23:12] #7578 closed

[2016-12-21 23:13] mjduvall commented on #7588
@jlipps I did try adding a 10, 20, and 60 second wait between the alert_accept and the next .click, but this did not resolve the issue.

[2016-12-21 23:43] wsander3 commented on #7579
@jlipps I just tried with Appium 1.6.3. Appears to be the same issue, with the same error message.

[2016-12-21 23:58] asnaith commented on #7440
@imurchie @jlipps Should Appium be handling the conversion to seconds if that's what WDA is using?

[2016-12-21 23:59] jlipps commented on #7440
@asnaith yes. Appium should keep accepting whatever it was before, and if WDA is using something different, Appium should convert (and tell WDA to change! :-))

[2016-12-22 00:13] asnaith commented on #7440
@jlipps Thank you for the clarification. So maybe the conversion could be linked to a bool "convertToSecs" desired capability and then if WDA switch back to milliseconds people can just set that capability back to false?

[2016-12-22 00:15] jlipps commented on #7440
What I'm saying is we shouldn't have a capability at all. If WDA isn't doing the right thing, Appium should intercept the command, convert the number appropriately, and only then proxy the command to WDA.

[2016-12-22 00:27] asnaith commented on #7440
@jlipps ah ok, thanks Jonathan. This issue is becoming a big blocker for my iOS 10 testing so maybe I need to see if I can attempt the conversion fix. I don't know javascript or how this project is structured but I can at least investigate and give it a try.

Perhaps leave the bug unassigned for now though because if someone with more experience has capacity to take it on that would probably be be

[2016-12-22 01:34] midopa commented on #7584
@dpgraham I think you meant to comment on another issue: #7511
I'll respond in that one.

[2016-12-22 01:55] midopa commented on #7511
I thought I did, but I can't repro that specific scenario. I think the drag-drop cert was a red herring. I believe the TrustStore files are created after the Simulator restarts outside of Appium.

Here's how I can repro the original issue:
1. Run an Appium session with `fullReset: true` and `noReset: false`
2. Close the session (this will cause all the simulator's files to be removed from disk, in

[2016-12-22 03:42] jibingli commented on #7520
@jeangb i meet the same problem, have you solved it ?

[2016-12-22 03:58] Siddh010 commented on #7572
Hi

Please find the device log in https://gist.github.com/Siddh010/65f05fa1b0d8bdc7b69109f6f3bb13cd

Thanks
Siddartha

[2016-12-22 04:01] IceEnd opened #7589 "[XCUITest]Appium 1.6.3 How to unlock app by gesture"
## The problem
I have some questions about how to unlock app by gesture, for example：<br/>
```press-wait-moveTo-wait-moveTo-release```<br/>
![ gestures to unlock](https://testerhome.com/photo/2016/9fa6ecf574e4e34294c9e545ade3c13b.png)
 But Appium only supports several simple gestures:```press-wait-moveTo-release```<br/>
https://github.com/appium/appium-xcuitest-driver/blob/master/lib/commands/gest

[2016-12-22 04:15] vishwathma commented on #7567
[Server Logs.zip](https://github.com/appium/appium/files/667988/Server.Logs.zip)

[2016-12-22 04:15] vishwathma commented on #7567
Server logs attached. Thanks!

[2016-12-22 05:10] SatishKumarKV opened #7590 "Appium fails to findElements and perform action in CreateContact screen"
## The problem

Appium fails to findElements and perform action in CreateContact screen
**While parsing the screen for elements, looks like it is stuck at Postal Code**
![img_0002](https://cloud.githubusercontent.com/assets/22965310/21418600/5d97f058-c848-11e6-8f85-7fc508cfc3f0.PNG)

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.1
* Last Appium version that did no

[2016-12-22 05:29] RashmiMurthy commented on #6842
@mykola-mokhnach : XPath locators working very slowly even in Appium 1.6.3

[2016-12-22 06:37] RashmiMurthy opened #7591 "Appium 1.6.3 XCUITest - iOS 10 Tests Are Running Very Slow"
## The problem

Tests running using Appium 1.6.3 XCUITest is very slow

findelement by xpath take very very long time.Test stuck for few seconds on finding element before proceeding to execute any task. I have to use XPATH locator majorly as in my app its not possible to find elements using Accessibility ID.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last

[2016-12-22 06:49] MikeFursov opened #7592 "Inspector does not open main window. Driver permanently wait for server response."
## The problem

After starting Appium inspector, driver permanently wait for server response, Inspector does not open main window.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): unknown
* Desktop OS/version used to run Appium: MacOS 10.12 Sierra
* Node.js version (unless using Appium.app|exe):

[2016-12-22 07:25] pisarenco92 commented on #7583
@dpgraham I'm on the page that you can see in the image:
![screen shot 2016-12-22 at 9 17 23 am](https://cloud.githubusercontent.com/assets/15072906/21418082/8397684a-c827-11e6-8dc3-ecf10f44c0ac.png)

and I execute getPageSource() - returns: https://gist.github.com/pisarenco92/a320ee21d8da462b339e378383c343da
From where you can see that "100% LIN, 100% Leinen ... 4YOU" elements are visible and get

[2016-12-22 07:40] mykola-mokhnach commented on #7585
@jlipps The further code in this file explicitly check for keyboard presence (check the very first condition). Appium should, probably, ignore an exception happening there and continue to setvalue.

[code]

@SalmonMode you can try to workaround the issue by commenting this condition inside **commands.setValue** method of the corresponding file. Execute

[code]

inside /usr/local/lib/node_modules/a

[2016-12-22 07:42] mykola-mokhnach commented on #7588
@mjduvall What do you see in driver.getPageSource() output after the alert has been accepted?

[2016-12-22 07:46] mykola-mokhnach commented on #7591
Known [WDA issue](https://github.com/facebook/WebDriverAgent/issues/372)

[2016-12-22 07:46] #7591 closed

[2016-12-22 07:48] mykola-mokhnach commented on #7590
Can you also attach page source returned by driver.getPageSource() and piece of your code where click is happening?

[2016-12-22 07:52] mykola-mokhnach commented on #7572
Unfortunately it's not what is needed. This is Appium log and I need the log from the device itself.

[2016-12-22 07:52] mjduvall commented on #7588
If I add page to the script after the first alert accept, the script hangs
- it doesn't time out and there are no errors; it just sits.

When I step through the script using ARC, I can pull 'page' after the alert
accept and it contains the next button that I want to click.
On Wed, Dec 21, 2016 at 11:42 PM Mykola Mokhnach <notifications@github.com>
wrote:

[2016-12-22 08:20] ybb8131225 commented on #7313
so, i still don't know how to do

[2016-12-22 08:39] mykola-mokhnach commented on #7588
Have you tried Appium 1.6.3? Do you see the same issue there?

[2016-12-22 08:41] jeangb commented on #7520
@jibingli No I put that aside for the moment. Keep us in touch if you find something ! good luck

[2016-12-22 08:44] mykola-mokhnach commented on #6842
@RashmiMurthy it might be because of https://github.com/facebook/WebDriverAgent/issues/372

You may try to apply the workaround I proposed there and see whether it makes your xpath search faster. Nothing else we can do there.

[2016-12-22 09:05] tfcardoso commented on #7328
Migrating tests to 1.6.3 and this is happening to me. Kind of annoying when developing new tests :)

[2016-12-22 09:39] slipy12 commented on #7570
Now with `info:info` debug-level. This log is just after the block but the issue title didn't appeared
I don't know what can be happening
also updated xcode to 8.2 and ios to 10.2 (macOS still to 10.12.1 I wanna try to keep this one)
[code]

[2016-12-22 09:51] derunewige commented on #6825
Found a solution for my problem. I just added a Thread.sleep() before I am calling .getContextHandles()

[2016-12-22 10:03] zhic5352 opened #7593 "Can not finish function: longPress(element shows)-moveTo this element"
### The problem

When I want to finish this operation:
Long press an element till menu shows, then move onto which you want to do. The menu will not present unless you finger press on the screen.

### Pictures
![step1](https://cloud.githubusercontent.com/assets/9360943/21421930/49a7ec74-c870-11e6-9594-0110d1d613a7.png) ![step2](https://cloud.githubusercontent.com/assets/9360943/21421933/4f3a795e-c

[2016-12-22 10:25] SatishKumarKV commented on #7590
@mykola-mokhnach
getPageSource() is failing just for this screen. Tried with both HTML inspector as well as GUI appium version.

[2016-12-22 10:43] mykola-mokhnach commented on #7590
Update Appium to the most recent version and add the visibility patch described in https://github.com/facebook/WebDriverAgent/issues/372
This might help. There's nothing we can do from Appium side to solve this.

[2016-12-22 10:43] #7590 closed

[2016-12-22 10:55] muratme commented on #6892
The problem solved by installing xcuitest-driver VERSION v2.0.36
--------
cd /usr/local/lib/node_modules/appium
npm install appium-xcuitest-driver@2.0.36
--------

[2016-12-22 11:22] SteffenL commented on #6618
Are there any workarounds for this issue at all, e.g. preventing resetting state?

[2016-12-22 11:24] Siddh010 commented on #7572
Hi

Please find the device log in https://gist.github.com/Siddh010/d579d11db61d94bbfae95387fffe47d8

I am facing similar issue : -
https://discuss.newrelic.com/t/how-to-ignore-esockettimedout-socket-hang-up-errors/10697

Thanks
Siddartha

[2016-12-22 11:29] SteffenL commented on #7552
Thank you! Since it is currently impossible for me to first run tests on one virtual device and then run tests on a different virtual device, this would help a lot!

Are we actually supposed to be able to test on different devices (sequentally at least)? I think that the only way that can work (for me) is to run Appium on multiple computers (virtual or physical) where each has only one virtual dev

[2016-12-22 12:26] Mygod opened #7594 "How to get the url of WebView?"
Original issue: https://github.com/appium/appium-uiautomator2-server/issues/44

[code]

I can also get all the window handles by calling `driver.getWindowHandles()` but is it possible to know which WebView uses which handle?

[2016-12-22 12:38] ybb8131225 commented on #7313
so , i stall don't know how to do , sometimes it can succeed ,sometiems can not succeed.

[2016-12-22 13:31] SteffenL commented on #7552
I tried two things so far:

- Run two separate Appium server instances on the same machine, managing one virtual device each.
- Run a single Appium server instance, managing multiple virtual devices.

The result is the same in both cases; the second emulator instance shows a black screen and never boots up. The log indicates that Appium is trying to communicate with both emulator instances.

[2016-12-22 13:48] babusurendra commented on #6903
Hi @mykola-mokhnach  @imurchie  I am also facing the same issue mentioned by @nrazvan87 , and using the same configuration.
Could you please take a look and help on this?

Thank you!

[2016-12-22 14:16] nrazvan87 commented on #6903
Hi @babusurendra for the moment, you can try running tests on devices which already have the app installed.

1. Install the app on your device.
2. Add these capabilities:
[code]

[2016-12-22 14:44] babusurendra commented on #6903
@nrazvan87 , I have updated the capabilities as you mentioned but still facing the same issue.

[2016-12-22 16:54] midopa commented on #6825
I'm glad you have it working for your scenario, but hard coding waits is more of a band-aid solution.

[2016-12-22 16:59] jawlitkp commented on #7567
same issue using Android devices running parallel on Grid. seem look like Grid displays node is ready for next testcase and receives request to create new driver but on Appium server side still old session is not cleared

[2016-12-22 17:24] derunewige commented on #6825
I know =(
But do you know a wait condition I can use for an implicit wait? Can I increase the amount of tries from 20 to something like 100 and hope it won't kill the server?

[2016-12-22 18:00] rhyjouett opened #7595 "Appium failure attempting to set the date via exec("adb shell 'date..."
## The problem
Appium crash attempting to set the date via exec("adb shell 'date #{mm}#{dd}#{hh}#{mn}#{yyyy}.00'")

## Environment
* Appium version (or git revision) that exhibits the issue: 1.5.3 (Ara)
* Desktop OS/version used to run Appium: OS X, 10.10.5 (14F1021)
* Node.js version (unless using Appium.app|exe):
* Mobile platform/version under test: Android 6.0 - API Level 23
* Real device or e

[2016-12-22 18:26] mjduvall commented on #7588
I just updated and I'm seeing the same issue. What I don't understand is that it works in the Appium Ruby console, but the same code does not work in my script. There has to be something happening in ARC that isn't happening in my script, but I'm not sure how to pin that down.

[2016-12-22 18:56] SalmonMode commented on #7585
@jlipps the keyboard actually shows up when the alert pops up, but even when I click it before trying to type, the same thing happens (`Alert is obstructing view`).

@mykola-mokhnach I noticed your fix just got merged, so I'll give that a shot.

[2016-12-22 20:03] hardik-d commented on #7587
@imurchie @jlipps any workaround here ?

[2016-12-22 22:17] dpgraham commented on #7583
The source is showing everything from 'Trollkids' to 'Uvex' while the screenshot is showing everything from '100% LIN to 4YOU'

What happens in the appium inspector is the screenshot and xml are not always in sync with eachother. You can check this by checking the Simulator to verify that what's visible in the Simulator is the same as what's shown in the screenshot. If it's not, hit the 'refresh'

[2016-12-22 22:33] dpgraham commented on #7511
I opened a pull request at https://github.com/appium/appium-ios-simulator/pull/86.

Most of this was taken from what @midopa did and then was refactored to be more async. Thanks for the help on this @midopa!

The test I did was
1. Rimraf the keychains dir of Simulator 345072D1-38A2-4EFA-8407-AEDD32D350FC
2. Start an https server with a new certificate at localhost:9758
3. Open Simulator 345072D1-3

[2016-12-22 22:36] dpgraham commented on #7511
This test proves that there is a case where a Keychains folder gets deleted and then when you use 'installSSLCert' it will re-create the Keychains folder and the SQLite truststore and work correctly, so far that reason I think we can apply the patch that I provided.

But it's still TBD if there is a case where a Keychains folder doesn't exist for some other reason and re-inserting the truststore w

[2016-12-23 00:55] maesiva commented on #7357
Verified on 1.6.3 and I could launch the app. Thanks !!

Now, waiting for "invalid clicks in Landscape mode" (https://github.com/appium/appium/issues/6994) fix of WDA.

[2016-12-23 01:06] maesiva commented on #6994
Verified on 1.6.3 on iOS 10.0.2 and XCode 8.
Good to see that app launch issue (https://github.com/appium/appium/issues/7357) is fixed.

But, landscape mode click issue still persists. Clicks work for some elements if dynamic id locators are used (ext-element-xx .. ) though. Yet won't be able to proceed with my app tests.

Hoping to see the fix (https://github.com/facebook/WebDriverAgent/pull/411)

[2016-12-23 02:06] jibingli commented on #7520
@jeangb it failed when I directly use xcodebuild command to run WDA in real devices, but succeed when destination is simulator. Maybe it is WDA problems, new issue has been opened there

[2016-12-23 02:43] dpgraham commented on #7593
Can you show me a gist of your appium server logs and a code snippet?

[2016-12-23 02:54] dpgraham commented on #7587
What happens if you try running the test without setting the automationName?

[2016-12-23 03:00] dpgraham commented on #7581
Can you call ```driver.getSource()``` and then post a Gist of the XML? I suspect that it's calling findElement before it's present and is a race condition.

[2016-12-23 03:05] dpgraham commented on #7595
When does the crash happen? I don't see any errors.

[2016-12-23 03:08] hardik-d commented on #7587
same results @dpgraham

[2016-12-23 03:09] dpgraham commented on #7592
Inspector doesn't support 1.6.3

We have a new GUI in progress called appium-desktop which should be released within the next few weeks.

[2016-12-23 03:12] #6635 closed

[2016-12-23 04:05] Siddh010 commented on #7129
Hi I am also getting this waiting for wda server after loading app. I
suppose this might be due to size of app. Bigger the size of app (58
MB)more time it takes.  I also tried with sample demo project  which was of
small size (756 KB)
. It was fast  in loading app without waiting log.

On 21 Dec 2016 5:08 pm, "Murat Mercan" <notifications@github.com> wrote:

[2016-12-23 04:33] dsavchenkov commented on #7253
@jlipps , I updated an existing log file
https://gist.github.com/dsavchenkov/6d2694100b52f370ec95035efb4f0a79

[2016-12-23 10:43] pisarenco92 commented on #7583
@dpgraham The xml from inspector looks fine (shows the visible elements):
https://gist.github.com/pisarenco92/7cb09e9cc60a493b4a025198c645ba54

[2016-12-23 11:17] VenkateshPS commented on #4602
I can see this issue happening on 1.4.16.

Steps:

I create two appium instances running on ports 4723 and 4725 and bootstrap port 4724 and 4726.

Tests run on first server for an hour and then I trigger different tests using different appium server , then I get "Error: stdout maxBuffer exceeded.info: [debug] Error: stdout maxBuffer" on second Appium server console.

[2016-12-23 11:48] prem0144 opened #7596 "Not able to set Geo location on google map by passing lat and long in Appium"
## The problem
Showing error FAILED CONFIGURATION: @BeforeClass setUp org.openqa.selenium.WebDriverException: ERROR running Appium command: port should be string=false

## Environment

## Details

## Code To Reproduce Issue [ Good To Have ]

package Test;
import io.appium.java_client.AppiumDriver;
import io.appium.java_client.android.AndroidDriver;

import java.net.MalformedURLException;
import ja

[2016-12-23 11:58] bhumireddy100 commented on #2163
Hi,
Appium 1.6.3 with xcuitest
Any one Please provide the code for making ios native element visible true.

[2016-12-23 12:16] SatishKumarKV opened #7597 "Appium Java client shows longPress duration in ms"
## The problem

LongPress not working with 1.6 Appium

EDIT: The JavaDocs say that longPress delays are in 'milliseconds' (http://appium.github.io/java-client/) but in appium-xcuitest-driver it takes the value in seconds. We'll either need to update the documentation to say seconds or we need to update the appium-xcuitest-driver to accept values in milliseconds --DG

## Environment

* Appium versi

[2016-12-23 12:48] zhic5352 commented on #7593
#### You do not get my point. When I do this on ONE device:
[code]
It works perfectly!
#### But when I want like this:
(I have wrote a test case which had to be execute on devices about 100 pcs. The **likeBtn** shows only when I longPress on the title. )
[code]
#### I got appium server log like this:
[code]
#### In a touchAction I can't get the element which is not present unless you finger press

[2016-12-23 13:03] Timoxa84 opened #7598 "Error connecting to device!"
## The problem

Appium does not always start the test.

## Environment

* Appium v1.6.3.
* Desktop OS/version used to run Appium: OS X EL Capitan
* Node.js version : v6.6.0
* Mobile platform/version under test: iOS 10.0.1
* Real device or emulator/simulator: iPhone 6 Plus
* Appium CLI or Appium.app|exe: CLI

## Details

I have met the issue with starting of the tests, very often it fails to start.

[2016-12-23 14:38] swachhab opened #7599 "Test target WebDriverAgentRunner encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted)"
## The problem

I am stuck while automating IOS 10 using appium.. Test target WebDriverAgentRunner encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted)

desired_caps['platformName'] = 'IOS'
desired_caps['platformVersion'] = '10.1.1'
desired_caps['deviceName'] = 'Iphone 5'
desired_caps['udid'] = '********'
desired_caps['app'] = <APP_PAT

[2016-12-23 14:57] swachhab commented on #7066
I am still facing same issue.. even specified team name. Please help me out.

[2016-12-23 18:30] SatishKumarKV commented on #7597
According to Documentation , TouchAction time is suppose to be in milliseconds , same above code worked after change time from 3000 to 3.

[2016-12-23 18:46] SatishKumarKV commented on #7590
@mykola-mokhnach
After lot of tries on this screen , I am able to capture its XML. Please check once..
`<?xml version="1.0" encoding="UTF-8"?>
<AppiumAUT>
    <XCUIElementTypeApplication name="MaaS360" label="MaaS360" value="" dom="" enabled="true" valid="true" visible="true" hint="" path="/0" x="0" y="0" width="375" height="667">
        <XCUIElementTypeWindow name="" label="" value="" dom="" ena

[2016-12-23 19:18] pcortez commented on #6973
Same problem, but I tried with OS X and an android APK with crosswalk.
[code]

[2016-12-23 19:19] mykola-mokhnach commented on #7598
I think it has never been stable with multiple iOS devices connected to the same host.

[2016-12-23 19:23] mykola-mokhnach commented on #7599
Pay attention to this log line:

Something is wrong with code signing. Can you check WDA source building manually using Xcode?

[2016-12-23 20:24] gopi09m opened #7600 "Appium IOSDriver enters first few chars in send keys method"
## The problem

org.openqa.selenium.WebDriverException  An unknown server-side error occurred while processing the command. Original error Error Domain XCTestManagerErrorDomain Code=14 "Timed out waiting for key event to complete" UserInfo={NSLocalizedDescription=Timed out waiting for key event to complete} (WARNING: The server did not provide any stacktrace information

## Environment

* Appium v

[2016-12-23 21:10] gopi09m opened #7601 "Appium doesn't take my xpath value instead takes value as "xpath""
## The problem

I use xpath at many places but at one particular screen it doesn't work.Appium doesn't take my xpath value instead takes value as "xpath". E.g. xpath i am using is below.I am trying to do a click action to open keyboard and type some text using send keys. but only for one screen it enables to find elements by xpath.

//XCUIElementTypeApplication/XCUIElementTypeWindow/XCUIElementTyp

[2016-12-23 22:18] dpgraham commented on #7583
When you call 'getPageSource()', is '100% LIN' visible on the Simulator (not the Inspector)?

[2016-12-23 22:22] srdanb opened #7602 "click and tap do not work on NATIVE_APP - iOS 10.2 - XCode 8.2.1 - Real Device"
## The problem

I find a WebElement in an native iOS app and call a click() method or perform a tap() action on it. It is not triggering any reaction in the app. When I tap on the same element with a finger, the app opens new WebView.

## Environment

* Appium version that exhibits the issue: 1.6.3
* Desktop OS/version used to run Appium: macOS Sierra 10.12.2
* Xcode version: 8.2.1
* Mobile platfo

[2016-12-23 22:48] dpgraham commented on #7593
It's not going to find 'likeBtn' because you called 'FindElement' before you started the TouchAction when the likeBtn wasn't present yet. Try inlining the call to FindElement within the touch action.

[code]

[2016-12-23 23:34] dpgraham commented on #7601
Can you provide a code snippet for when that HAPPENS?

[2016-12-23 23:34] dpgraham commented on #7601
Ignore the uppercase, my caps was turned on by mistake

[2016-12-23 23:46] dpgraham commented on #7602
Hi @srdanb,

I noticed it's in landscape mode which XCUITest has had issues with (it doesn't respect coordinates properly).

I would recommend testing in portrait (if that's possible) or find a workaround (e.g.: hardcoding the coordinates) until the fix is ready: https://github.com/facebook/WebDriverAgent/pull/411

[2016-12-23 23:46] #7602 closed

[2016-12-23 23:47] hardik-d commented on #7575
@mollywhitnack are you sure? I have logged https://github.com/appium/appium/issues/7587 i do not have fullReset set, but agree the issue is in the tear down process somewhere. Is there anything else you could have down, other than removing fullReset capabiliy?

[2016-12-23 23:50] hardik-d commented on #7575
Other difference is, I am using simulator and you are using real device i guess!

[2016-12-23 23:51] dpgraham commented on #7600
Can you provide the logs leading up to the error and provide a code snippet?

[2016-12-23 23:53] dpgraham commented on #7594
Hi @Mygod, what happens when you run this code? Does driver.getCurrentUrl() do anything?

[2016-12-23 23:55] dpgraham commented on #7589
Is the code you're running not working correctly?

[2016-12-23 23:56] dpgraham commented on #7586
This sounds like a problem with https://github.com/facebook/WebDriverAgent

[2016-12-24 03:14] Mygod commented on #7594
Yes. The problem is how to retrieve the window handle for a specific webview.

[2016-12-24 05:06] IceEnd commented on #7589
Use XCUITest,on iOS 9.3.Throws an exception：
[code]

Appium logs:
[code]

[2016-12-24 06:38] pisarenco92 commented on #7583
@dpgraham Not visible.
https://gist.github.com/pisarenco92/11cc7c8f39d754128283a9d1ca1d35d0

[2016-12-24 09:34] mykola-mokhnach commented on #7600
I believe this is WDA/XCTest issue. I can observe it randomly in my automated tests, but I cannot understand why the timeout happens.

[2016-12-24 11:01] shashidhar-2618 opened #7603 "how to get the android or ios screen, xml tree or screen source using appium"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to Appium). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, go to http://discuss.appium.io!

## Environment

* Appium version (or git revision) that exhibits the issue:
* Last Appium version that did not exhibit the issue (i

[2016-12-24 11:40] SteffenL commented on #7552
I came across the Android-only command line parameter `--reboot`. It seems to do more or less what I wanted. Maybe we can close this issue? 👍

When using this parameter, I can now run tests on more than one Android device/platform on the same host machine. The only unexpected behavior now is that this seems to cause the client to throw an exception:

[code]

[2016-12-24 11:59] mykola-mokhnach commented on #7603
Closed as irrelevant.

[2016-12-24 11:59] #7603 closed

[2016-12-24 15:36] swachhab commented on #6895
Facing Same issue using appium v1.6.3 on Ios 10.1, done all the installation except running bootstrap.sh, will try to run that. But What does that shell file do in appium/WebDriver?

[2016-12-24 21:03] gopi09m commented on #7601
closing as there is an issue with my code using class xpath.

[2016-12-25 00:08] #7601 closed

[2016-12-25 00:31] gopi09m opened #7604 "selecting value from picker control using appium 1.6"
## The problem

I am trying to use send keys method to select experience which is in years and months.
Its a combination of two pickertypewheels one to elect number of years (in ui it has values like 0 Years, 1 Years, 2 Years ....) and another one as months (O Months,1Months,2Months ...)

When i use SendKeys method with below code it doesn't select the value. it simply collapses the picker control

[2016-12-25 03:07] zhic5352 commented on #7593
#### Here's the appium server log
Seems the inlining way didn't work as before. BTW the action **press down** on **title** never performed.
[code]
[code]

[2016-12-25 03:29] hardik-d commented on #7510
@goldylucks it seems memoryNBack is not available as an npm package. who is referencing that package?

[2016-12-25 08:53] mykola-mokhnach commented on #7604
This might be related to https://github.com/appium/appium/issues/6962, which is rather XCTest issue.

[2016-12-25 15:15] goldylucks commented on #7510
@hardik-d
indeed it's not available as a package.

It's available in this [repo](https://github.com/goldylucks/dual-n-back/blob/native-e2e)

what do u mean by that?

[2016-12-26 05:54] sangeetajust opened #7605 "Launching chrome driver using appium"
I am new to mobile browser automation. I am trying to launch chrome using appium but there is no proper documentation available on the same on internet so not available to find it. Please help me with this

## Environment

Appium version : 1.4.16.1

* Desktop OS/version used to run Appium :windows 8
* Node.js version (unless using Appium.app|exe):
* Mobile platform/version under test: android vers

[2016-12-26 06:56] vishwathma commented on #7567
Can someone help me on this?

[2016-12-26 08:39] Timoxa84 commented on #7598
That is bad. Thank you @mykola-mokhnach for the response.

[2016-12-26 10:58] vikramvi commented on #7598
@Timoxa84 can you please clarify how are you connecting to multiple devices ? Are you using Selenium HUB or something else ?

If you can share sample project can be helpful to debug and get this important bug prioritized for upcoming release.

As not all companies can afford to run daily regression runs on cloud based services, it will be nice to get this fixed earlier.

[2016-12-26 12:24] prem0144 opened #7606 "Implement feature to set Geo Location in Google map via using Appium in Java"
I have to set Geo location when Google app starts by passing latitude and Longitude with Appium in Java. If this is already implemented then please let me the code in java to set Geo location by lat and long instead of current location. If not implemented then please implement it very fast. thanks!

[2016-12-26 15:55] gopi09m commented on #7604
Ok. Thanks for the update. Are there are any workarounds ? Not sure if Apple is aware of this issue.

[2016-12-26 16:34] yoosufm commented on #7380
I am having same issue. Any solution for this. Thanks in advance.

[2016-12-26 19:27] dpgraham commented on #7606
Can you explain this in more detail? Is it the Google Maps app you're using or are you using Google Maps as a WebView from inside of your app?

[2016-12-26 19:30] dpgraham commented on #7605
The error is ```Device 4100df0accbd9f00 is not online```

Does the device have an internet connection?

[2016-12-26 19:46] dpgraham commented on #7597
Xcuitest Driver takes the values in seconds. The documentation is incorrect. Thanks for pointing that out for us. We'll put this as a fix on our backlog but until then just keep using longPress in milliseconds.

[2016-12-26 19:50] dpgraham commented on #7605
This is a duplicate of this issue: https://github.com/appium/appium/issues/5686

We don't support Appium 1.4.x any more so you'll have to upgrade to Appium 1.6.x

[2016-12-26 19:50] #7605 closed

[2016-12-26 20:57] dpgraham commented on #7593
Yeah, I just realized that it's not going to locate the element because it will still call 'driver.findElement()' before the touch action takes place (the touch action doesn't happen until 'perform' is called). My mistake.

Hey @jlipps and @imurchie, the use-case @zhic5352 is trying to achieve is a multitouch like:

[code]

Where el1 isn't present until action0 has occurred (ie: longpressing the m

[2016-12-26 20:59] #7568 closed

[2016-12-26 21:02] dpgraham commented on #7604
Closing this as non-appium related issue.

Unfortunately I don't know of any workaround for this. And Apple should be aware but it's unknown how long they'll take to reply.

[2016-12-26 21:05] dpgraham commented on #7594
I understand now. You're trying to infer the window handle from the web element. I couldn't uncover any such functionality.

@jlipps and @imurchie Do either of you know of a way to do this?

[2016-12-26 21:07] dmlemeshko commented on #7606
hi @prem0144
There is a possibility to change your current location (setting mocked geo location) for your test device by calling `setLocation` on AppiumDriver instance:
[code]
for location you can import `org.openqa.selenium.html5.Location;`

By default it will work only on Android & iOS simulators, but if you select `Appium Settings` as mocked location app in Developer options, it should work fo

[2016-12-26 21:20] dpgraham commented on #6325
So far, this is what we're ignoring in the .npmignore file

[code]

We still need exclude untranspiled code and docs. I think this ticket is worth revisiting to see if we can slim down the Appium build further. The node_modules/ directory is 200+ MB.

[2016-12-26 21:21] dpgraham commented on #5913
Closing this because it's related to an old version of Appium. If this issue returns please leave a comment.

[2016-12-26 21:21] #5913 closed

[2016-12-26 21:42] dmlemeshko commented on #7552
@SteffenL are you stopping Appium server before you are calling `adb reboot`?
From the stack race it looks like Appium server is being stopped after emulator was already off and it causes error.

[2016-12-26 22:03] dpgraham commented on #5921
Re-open if this is still error

[2016-12-26 22:03] #5921 closed

[2016-12-26 22:04] #7604 closed

[2016-12-26 22:19] dpgraham commented on #7502
Looks like this is fixed by https://github.com/appium/appium-android-bootstrap/pull/33

[2016-12-26 22:19] #7502 closed

[2016-12-26 22:20] dpgraham commented on #7427
Closing unless problem happens further

[2016-12-26 22:20] #7427 closed

[2016-12-26 22:21] dpgraham commented on #7499
Since there's no difference in performance I'm going to close this.

[2016-12-26 22:21] #7499 closed

[2016-12-26 22:29] dpgraham commented on #6360
I don't think this is something that can be resolved on the Appium side. If I understand, the issue has to do with one of the nodes shutting down and then all of the tests halt. This would have to be fixed on Selenium Grid.

[2016-12-26 22:33] dpgraham commented on #6508
If this issue is still happening with a later version of Appium, please re-open this issue. Sorry for the non-reply.

[2016-12-26 22:33] #6508 closed

[2016-12-26 22:40] #7375 closed

[2016-12-26 22:54] dpgraham commented on #6661
Closing. Re-open if still a problem.

[2016-12-26 22:54] #6661 closed

[2016-12-26 23:13] dpgraham commented on #7391
This has been fixed already (see https://github.com/appium/appium-adb/commit/5db0b1acafe6f522b00419df6373353d1e2c2f6a). Internal hyphens were breaking the regex that was used to parse the 'optionalIntentArguments' argument.

[2016-12-26 23:13] #7391 closed

[2016-12-26 23:18] dpgraham commented on #7583
What do you actually see in the Simulator (not the XML, but what do you actually observe). 'getPageSource' clips invisible elements.

[2016-12-26 23:21] dpgraham commented on #5904
Closing due to inactivity,

[2016-12-26 23:21] #5904 closed

[2016-12-26 23:32] #6310 closed

[2016-12-27 04:55] gleemitsu opened #7607 "allow wildcards in appWaitActivity"
## Issue

I have a trouble launching my android app on Appium 1.6.0 or later.
`
[ADB] Error: Activity used to start app doesn't exist or cannot be launched! Make sure it exists and is a launchable activity
`
I understand that `appWaitActivity` is required and the problem may be fixed by setting a correct activity, however, I think it is very difficult to set all activities to `appWaitActivity` for

[2016-12-27 06:25] ShayTaub commented on #7334
@asnaith

Hi, I am unable to access the link you have just provided and I am receiving the same error.
Thanks in advance.

[2016-12-27 06:52] dpgraham commented on #7607
appWaitActivity is an optional parameter. What happens when you omit it?

[2016-12-27 07:05] dpgraham commented on #7600
Does this problem happen consistently? I'd be curious to see if we can re-create it.

[2016-12-27 08:06] vikramvi commented on #6360
@eliasnogueira did you manage to get this issue fixed ? It will be helpful to community in case you can give more details here.

[2016-12-27 08:44] huanglik opened #7608 "WDA ./Scripts/bootstrap.sh error happened"
**when my  pwd is**
/Users/likunhuang/Downloads/appium-1.6.3/node_modules/appium-xcuitest-driver/WebDriverAgent/

**and run  with     ./Scripts/bootstrap.sh   it happens error belows:**

Hash: 9ed7d0b85cc08341fd0f
Version: webpack 1.14.0
Time: 48ms
   [0] multi main 28 bytes {0} [built] [1 error]
    + 1 hidden modules

ERROR in ./js/app.js
Module parse failed: /Users/likunhuang/Downloads/appium-1

[2016-12-27 08:56] pisarenco92 commented on #7583
@dpgraham Elements are visible in the simulator.

[2016-12-27 09:24] gleemitsu commented on #7607
Certainly appWaitActivity is optional.

When I omitted both appActivity and appWaitActivity, I cannot launch my app and I got log message like this.
[code]
So I tried setting appWaitActivity referring to [Android on appium 1.6: 'Incorrect package and activity.' error - Issues/Bugs - Appium Discuss](https://discuss.appium.io/t/android-on-appium-1-6-incorrect-package-and-activity-error/12608) and en

[2016-12-27 12:26] imurchie commented on #7608
There is no reason to run the webpack initialization code for Appium, and we make no guarantees about its working. If you really really want to run the bootstrap script manually, use the `-d` flag.

[code]

[2016-12-27 12:26] #7608 closed

[2016-12-27 12:27] qamonstir commented on #6579
@jlipps is there any way to restart appium server after my application crashes? Because if it crashed all next scenarios will fail with next error - "A session is either terminated or not started (Selenium::WebDriver::Error::NoSuchDriverError)". How can I avoid this?

[2016-12-27 12:29] imurchie commented on #6325
Yes. But it's probably best to do after we've pared down the packages to at least a reasonable number (the "dearchitecting" project).

[2016-12-27 12:45] imurchie commented on #7607
This seems like a good feature to have, to be able to send in a wildcard. Adding it to our work.

[2016-12-27 13:00] huanglik opened #7609 "【BUG】 start appium for xcuitest and stuck at ”Waiting for WebDriverAgent to start on device“"
using the newest appium source and wda source， and i find that appium server will stuck at ”Waiting for WebDriverAgent to start on device“ and can‘t  do anything。

so i check the source in appium server

in fact， appium will launch wda and Waiting for WebDriverAgent return message to match /ServerURLHere->(.*)<-ServerURLHere/;

const AGENT_STARTED_REGEX = /ServerURLHere->(.*)<-ServerURLHere/;
![im

[2016-12-27 13:04] imurchie commented on #7609
This is not where WDA prints the message. It prints it in the device log.

But Appium will no longer be using this as a check for starting, moving forward.

[2016-12-27 13:15] huanglik commented on #7609
WDA print log in device log ?   how can I find that log ?
I am trying to fix this for launch my app testing,  also waiting for appium

[2016-12-27 13:28] imurchie commented on #7609
On a real device you can either use `idevicesyslog` or `deviceconsole` to see it, or go through "Devices" in Xcode. On a simulator it is in your home library (the exact path is printed in the Appium logs).

[2016-12-27 13:32] imurchie commented on #7609
But if you re-install the dependencies from the Appium repo (`rm -rf node_modules && npm install`) you will get an entirely different mechanism for checking WDA startup.

[2016-12-27 13:50] huanglik commented on #7609
i re-install the dependencies and see what you did for checking WDA startup.
so good， thank you very much ！！！

[2016-12-27 14:11] #7382 closed

[2016-12-27 14:19] imurchie commented on #7467
I moved the repo into `appium-boneyard` too soon, it seems. There is a PR there to update the README, then this ought to be closeable.

[2016-12-27 14:24] #7495 closed

[2016-12-27 14:29] zhuchuji commented on #6579
You could create a new appium service or restart it with AppiumDriverLocalService or AppiumServiceBuilder class

[2016-12-27 15:29] rhyjouett commented on #7595
The failure happens when the exec line executes `exec("adb shell 'date #{mm}#{dd}#{hh}#{mn}#{yyyy}.00'")` There's nothing i see that really indicates a crash. However the behavior is:
* the tests fails to complete
* the command line displays the date/time and returns control (the test quits)
* subsequent attempts to run appium tests without relaunching results in `[HTTP] <-- POST /wd/hub/session 5

[2016-12-27 15:31] rhyjouett commented on #7595
One more note: i change the description from
`Appium crash attempting to set the date via exec("adb shell 'date...` to
`Appium failure attempting to set the date via exec("adb shell 'date...`

[2016-12-27 15:46] rhyjouett commented on #7595
A bit more info: I was wondering i the problem is with the specific adb command or with exec() so i changed the command to a simple `exec("ENV > /dev/nul")`, that results in the same behavior. Conclusion: the problem isn't with the adb command or the bash output, it's with exec.

[2016-12-27 15:48] #7513 closed

[2016-12-27 15:59] tfcardoso opened #7612 "Cannot get content-desc from element [UIAutomator2]"
## Environment

* Appium version: 1.6.3
* Desktop OS/version used to run Appium: OSX 10.12.1
* Mobile platform/version under test: Android 6.0.1
* Real device or emulator/simulator: Samsung S5
* Driver: UIAutomator2

## The problem

Using appium 1.6.3 with UIAutomator2 I'm unable to get content-description from elements.

With UIAutomator we did:

    driver.findElement(By.id("my_id")).getAttribut

[2016-12-27 15:59] qamonstir commented on #6579
@zhuchuji is there any examples on Ruby for this? I would like to implement it in my env.rb file(http://pastebin.com/PchaqFqw)

[2016-12-27 16:44] gitsaquib commented on #7564
Thanks @dpgraham . Please update me once you have latest available

[2016-12-27 17:06] rhyjouett commented on #7595
After digging around in the Kernel module, i've found the following:
For Kernel.exec `# Replaces the current process by running the given external _command_...`
for Kernel.system `# Executes _command..._ in a subshell.`

These methods are behaving as specified. #system does what i'm wanting whereas #exec replaces the currently running of the tests (and seems to bork appium until it's stop/launched

[2016-12-27 17:30] razor901 opened #7613 "ChromeDriver Gets Stuck When Switching Back & Forth In Web/Native Contexts"
## The problem

ChromeDriver Gets Stuck When Switching Back & Forth In Web/Native Contexts

**EDIT : Tried to fix the problem by adding another launchApp after using closeApp, even though I noticed that driver.get(URL) opens the chrome successfully without launching the chrome again
But now after switching to WEB again and going to the URL this is the page source that was returned :
<html xmlns="h

[2016-12-27 17:36] gopi09m commented on #7600
Yes, i can recreate it consistently..

[2016-12-27 17:42] dpgraham commented on #7600
Can you provide a code snippet and server logs? I'd like to try duplicating it on my side. I have a feeling it's a wda or xctest issue but I'd like to confirm it.

[2016-12-27 17:46] dpgraham commented on #7564
We'll mention it in the Appium release notes I'm sure

[2016-12-27 17:57] razor901 commented on #7613
**EDIT : Tried to fix the problem by adding another launchApp after using closeApp, even though I noticed that driver.get(URL) opens the chrome successfully without launching the chrome again
But now after switching to WEB again and going to the URL this is the page source that was returned :
<html xmlns="http://www.w3.org/1999/xhtml"><head></head><body></body></html>
 ---> Couldn't Find any eleme

[2016-12-27 18:34] dpgraham commented on #7612
Can you try calling 'driver.getPageSource()' and inspect the source XML. The XML format has changed between UIAutomator and UIAutomator2 and the way of accessing the content description may have changed.

[2016-12-27 18:45] Akshay64 commented on #5089
I am also facing the same issue. I am getting WEBVIEW context when i run test on Android Emulator but when I run the test on real android devices, it returns on NATIVE context.

Anybody? plz help

[2016-12-27 19:39] dpgraham commented on #7593
On second look I just saw the problem, you need to refactor your code to do this:

[code]

A touch action needs to occur on title first (this occurs once perform is called) and then you need to apply another touch action to the bubble icon afterwards.

[2016-12-27 19:40] dpgraham commented on #7583
I'm stumped. @jlipps or @imurchie do you have any thoughts?

[2016-12-27 19:45] jlipps commented on #7583
@pisarenco92 it's odd that Appium would be returning something that's not valid XML. Can you please include the appium log from the run where you have requested the page source? I want to see what the appium log says it's returning.

[2016-12-27 20:15] #7467 closed

[2016-12-27 20:24] eliasnogueira commented on #6360
Hello guys!
As my main problem is about power off the device (the battery goes down) I put a usb hub with a good power charge. But if I manually disconnect the device, or the device or emulator goes off the error persist.

Just to mention it occurs in Windows and Linux environment .

[2016-12-27 21:46] jlipps commented on #7613
Are you trying to automate the Chrome browser? If so, there's no need to mess with setting contexts. Just start a session using the appropriate capabilities:

[code]

If you want to start and stop Chrome, don't use launchApp and closeApp. Just create and quit sessions.

[2016-12-27 21:46] #7613 closed

[2016-12-27 21:49] jlipps commented on #7595
Why is it necessary to set the date on the emulator in the middle of a test? Can you set it before starting Appium? Seems like changing the date/time while other processes are running on the emulator has weird consequences.

[2016-12-27 22:39] jlipps commented on #7499
Thanks for the investigation anyway, @midopa!

[2016-12-27 22:41] jlipps commented on #7606
@dmlemeshko has it right, these are your options.

[2016-12-27 22:41] #7606 closed

[2016-12-27 22:42] jlipps commented on #7594
Right now there's no way to select a webview based on its url. You need to switch into the context then call `GET /url` to determine the url.

Also, I'm unclear why you're working with window handles. Typically you'd care about context, not window handles, in mobile tests.

[2016-12-27 22:42] #7594 closed

[2016-12-27 22:44] jlipps commented on #7380
Appium itself already checks the readyState of the loading page, and returns control to you when the page is ready. Thus there should be no reason for you to check this yourself. If the page never loads, then that's a problem with the page, and not with Appium. Closing this unless you think Appium is doing something wrong in loading the page.

[2016-12-27 22:44] #7380 closed

[2016-12-27 22:47] jlipps commented on #7598
Looking at the logs, it doesn't seem that Appium is failing. Rather it seems iproxy somehow disconnects to the device or otherwise gets confused. Any reason that could be?

[2016-12-27 22:57] jlipps commented on #7510
@goldylucks those examples are probably pretty out of date now. it might be easiest to just try and accomplish your automation and put the problems you're running into here. I can't see anything particularly wrong with the Appium log output that you've attached. It might be easier to start with a basic one-file setup and see if you can get your app launching and finding something.

[2016-12-27 23:46] jlipps commented on #6973
If the OP is also using crosswalk webviews, I think that's probably the issue. IIRC, as of this moment Chromedriver does not support automating crosswalk webviews. I would raise an issue at Google's tracker for Chromedriver asking for Crosswalk support.

[2016-12-27 23:46] #6973 closed

[2016-12-27 23:48] jlipps commented on #4602
@VenkateshPS this has been fixed for over a year, you have a very old version of Appium.

[2016-12-27 23:49] mollywhitnack commented on #7575
Here are my capabilities, incase something else is causing the problem for you:

[code]

I also cloned and replaced [xcuitest driver](https://github.com/appium/appium-xcuitest-driver/releases
) and [appium-ios-driver](https://github.com/appium/appium-ios-driver/releases) to get the most updated versions.

Hope this helps!

[2016-12-27 23:50] jlipps commented on #7575
@mollywhitnack just as an FYI, you shouldn't need to specify the `bundleId` capability if you have `browserName` set to Safari, as you do here.

[2016-12-27 23:51] jlipps commented on #7253
@dsavchenkov I mean everything starting from the moment you run the appium server. Everything starting with these lines:

[code]

[2016-12-28 00:05] jlipps commented on #7129
@ReaLau can you try with running Appium with latest dependencies? `npm install -g --no-shrinkwrap appium`

there have been updates to the way we wait for the WDA server. Though this doesn't seem to be the problem here, rather something with WDA not responding to the command.

[2016-12-28 00:06] #7592 closed

[2016-12-28 00:19] jlipps commented on #7587
@imurchie if I'm reading this log right, we're looking at the pageDict but it's empty ("waiting for data") for long enough that we time out. When it finally does have useful data, we're no longer listening for it. Could we resolve this simply by trying more times, or increasing the timeout between each try?

[2016-12-28 00:30] gopi09m commented on #7600
sorry, its not very consistent. i will provide the detailed log next time i see that error again.

[2016-12-28 00:30] #7600 closed

[2016-12-28 00:40] gopi09m opened #7614 "hide keyboard doesn't work consistently on iOS apps with appium1.6.3"
## The problem

Hide keyboard doesn't work consistently on iOS apps with appium1.6.3.The iosDriver.hideKeyboard() method below worked fine at first screen of our application. We need to hide the keyboard at another screen to submit data ,and the button to submit is hiding under the keyboard since the button is placed in the bottom right corner. If we leave the keyboard open it does find the elemen

[2016-12-28 00:48] jlipps commented on #7614
Since there is no Apple "hide keyboard", this is actually working as intended. Appium does provide some convenience methods but there is no guarantee its hide keyboard functionality will work in all cases. Think how a user of your app would hide the keyboard. If a user can't press the submit button, then neither can Appium. How would your users hide the keyboard to hit the button? Just figure out

[2016-12-28 00:48] #7614 closed

[2016-12-28 00:56] jlipps commented on #7588
@mjduvall can you paste the output of your ARC session for comparison with your code?

[2016-12-28 00:57] gopi09m commented on #7614
user would click on done button to collapse the keyboard. but the below code lines never work on this particular screen.

iosDriver.hideKeyboard(HideKeyboardStrategy.PRESS_KEY, "Done");

or

iosDriver.hideKeyboard();

[2016-12-28 00:59] jlipps commented on #7614
@gopi09m those strategies are not guaranteed to work and in any case definitely won't work with the new XCUITest driver (they were based on UIAutomation commands). What I would recommend is looking at the page source and using the normal find element methods to find the "Done" button and press it.

[2016-12-28 01:02] jlipps commented on #6825
@derunewige you could wrap the context setting logic itself in a retry with a short timeout. Something like this (pseudocode):

[code]

(of course you'd want some kind of global timeout in case it never finds one). But this should at least keep your wait more elastic.

[2016-12-28 01:07] gopi09m commented on #7614
Thank you for your reply.  thanks for closing the thread,

[2016-12-28 01:13] jlipps commented on #7570
Yeah, still no idea what could be going on

[2016-12-28 01:15] jlipps commented on #7328
I agree @tfcardoso. We have this prioritized in our backlog so it should be fixed in a sprint or two.

[2016-12-28 02:19] praveen-cimplicity commented on #7011
Appium 1.6.3 is not without problems as has been seen with Saucelabs. Opening it up to the industry can only help alleviate problems or work around the lack of instruments support in iOS 10 introduced by Apple.

[2016-12-28 03:03] wjl025 opened #7615 "appium-1.6.3 for mobile safari"
## The problem
ios_webkit_debug_proxy is run
SafariLuancher is build and install on  real device
safari is not run
## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium:10.11.6
* Node.js version (unless using Appium.app|exe):v6.9.1
* Mobile platform/version unde

[2016-12-28 06:04] VenkateshPS commented on #4602
@jlipps Please tell the build on which it was fixed.

[2016-12-28 06:45] debbie-qin opened #7616 "Appium 1.6.3 Real IOS :Failed with "Unable to start WebDriverAgent: Error: Command 'idevicedate -u b92d1245a0d0818ee09ab09621cca98bdb2e42ca' exited with code 255""
Here is the log:
xxxx:~ xxx$ appium -U b92d1245a0d0818ee09ab09621cca98bdb2e42ca
[Appium] Welcome to Appium v1.6.3 (REV 604f4b6a0785e0295e548e6d033823303da19061)
[Appium] Non-default server args:
[Appium]   udid: 'b92d1245a0d0818ee09ab09621cca98bdb2e42ca'
[Appium] Deprecated server args:
[Appium]   -U,--udid => --default-capabilities '{"udid":"b92d1245a0d0818ee09ab09621cca98bdb2e42ca"}'
[Appium] De

[2016-12-28 06:47] gleemitsu commented on #7607
@imurchie thank you!
I've been thinking about a way to make it work.
If I come up with a good one, I'll send a PR.

[2016-12-28 06:49] sudhirsingh1 commented on #4632
[Appium] Welcome to Appium v1.6.3

[Appium] Non-default server args:

[Appium]   port: 4727

[Appium]   launch: true
[Appium]   robotPort: 4
[Appium]   debugLogSpacing: true
[Appium]   platformName: 'iOS'

[Appium]   platformVersion: '10.1.1'
[Appium]   deviceName: 'iPhone'
[Appium]   app: 'com.app.CGR'
[Appium]   udid: 'e7c69546539cc06d5351e33c6a4aa8cd1f13d263'
[Appium]   fullReset: true
[Appium]

[2016-12-28 06:51] sudhirsingh1 opened #7617 "[XCUITest] xcodebuild exited with code '70' and signal 'null' [XCUITest] Error: xcodebuild failed with code 70"
[Appium] Welcome to Appium v1.6.3

[Appium] Non-default server args:

[Appium]   port: 4727

[Appium]   launch: true
[Appium]   robotPort: 4
[Appium]   debugLogSpacing: true
[Appium]   platformName: 'iOS'

[Appium]   platformVersion: '10.1.1'
[Appium]   deviceName: 'iPhone'
[Appium]   app: 'com.app.CGR'
[Appium]   udid: 'e7c69546539cc06d5351e33c6a4aa8cd1f13d263'
[Appium]   fullReset: true
[Appium]

[2016-12-28 07:08] zhic5352 commented on #7593
Cool! It works perfectly! The menu shows when **perform** called. Thanks a lot @dpgraham

[2016-12-28 07:08] #7593 closed

[2016-12-28 07:46] vpkhachane commented on #6555
How to fix following error . it is getting while installing Appium 1.6

Selendroid Could not find Java's 'jar' executable on your PATH.

![appium error](https://cloud.githubusercontent.com/assets/15686482/21516726/d6c340e8-ccff-11e6-9da7-12e541f3123e.jpg)

[2016-12-28 08:01] erduoniba opened #7618 "python ios_simple.py failed"
## The problem

Appium server and clinet is Ok now. when i execute
`python ios_simple.py`
always failed

## Environment

* Appium version is 1.7.3
* Node.js version is 3.10.9
* Xcode version is 8.1, iPhone iphonesimulator version is 10.1

## Link to Appium logs

======================================================================
ERROR: test_scroll (__main__.SimpleIOSTests)
---------------------

[2016-12-28 08:36] ajayv1 commented on #5253
SendKeys was not working for me in either case. But i tried inject and its working.
inject(driver, "var city = document.getElementById('id of the city');city.selectedIndex=1; var ev = document.createEvent('HTMLEvents'); ev.initEvent('change', true, true); month.dispatchEvent(ev);");

and similarly,
for datePicker, you can directly inject date and time by picking id of date field.

[2016-12-28 08:41] ansonliao opened #7619 "[XCUITest] Can't complete appium-xcuitest-driver setup for getting "Listening on USB""
## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): N/A
* Desktop OS/version used to run Appium: Mac MacOS Sierra, 10.12.2
* Node.js version (unless using Appium.app|exe): 6.5.0
* Mobile platform/version under test: iPhone 6P with iOS 10.2
* Real device or emulator/simulator: Real device
* Appium CL

[2016-12-28 09:28] razor901 commented on #7613
I wanted to check if the user closes the browser & then visits again the website in Chrome in one session.
But if this is not supported it's fine I can pass on that @jlipps

[2016-12-28 09:30] levyshachar2 commented on #6941
i also experience a similar issue , ios 9.3 and appium 1.6.1-beta

I am trying to click a button in an alert , first finding the button with xpath.
i can see in the logs  that the button is found properly and even the click event is sent successfully , however the alert is still present.

It doens't happen all the time, not sure what is the cause , but sometimes it works fine, and sometimes the cl

[2016-12-28 09:37] mykola-mokhnach commented on #6941
@levyshachar2 If landscape mode then known XCTest bug

[2016-12-28 09:42] levyshachar2 commented on #6941
@mykola-mokhnach  sorry forgot to mention , the app is not in landscape mode

[2016-12-28 10:09] pisarenco92 commented on #7583
@jlipps Appium logs:
https://gist.github.com/pisarenco92/0cc3e6b84b7d3f26b9cc6e796043c480

getPageSource() (added 20 sec to wait before calling):
https://gist.github.com/pisarenco92/a320ee21d8da462b339e378383c343da

xml from inspector:
https://gist.github.com/pisarenco92/7cb09e9cc60a493b4a025198c645ba54

[2016-12-28 10:24] jeangb commented on #7520
@jibingli Hi, do you have the issue id you mentioned ?

[2016-12-28 10:28] wojciwojci opened #7620 "Creating new AndroidDriver or AndroidUiautomator2Driver session fails"
## The problem

Appium server returns HTTP response 500 when asked to create session with following capabilities,
`2016-12-27 15:56:31:293 - [HTTP] --> POST /wd/hub/session {"desiredCapabilities":{"app":"http://lkw-dev-selenium-srv01/apps/android/4.5.17.apk","appPackage":"com.seamless.seqr","recreateChromeDriverSessions":true,"noReset":false,"usage":"prod_test","deviceName":"Anyname","platform":"A

[2016-12-28 10:39] vikramvi commented on #6360
@eliasnogueira can you re-open the bug please, as currently it's in closed state

[2016-12-28 10:40] mykola-mokhnach commented on #7616
Please use search to look for similar resolved issues.
In general, you need to remove currently installed idevicelibrary package and update it to HEAD revision.

[2016-12-28 10:40] #7616 closed

[2016-12-28 10:43] vikramvi commented on #6555
@vpkhachane please open a new ticket instead of mentioning on closed ticket.

Also provide details as per issue format only, your screenshot is not very useful

[2016-12-28 10:45] mykola-mokhnach commented on #7617
1. You need to update idevicelibrary to HEAD revision

2. Execute

[code]

command in Terminal and get the output from there. Attach it as a gist to this issue. Do not paste as raw text, since it's hard to read.

[2016-12-28 10:47] mykola-mokhnach commented on #7618
Make sure you have Carthage installed and working

[2016-12-28 11:02] sravanmedarapu commented on #7620
Seems it is more of an issue with launching activity com.seamless.seqr/com.seamless.mpayment.qr.androidapp.ui.MainActivity,

Can you try to execute below command and see if you it launching the activity with and with out app reset
`adb -P 5037 -s SH442WM04371 shell am start -W -n com.seamless.seqr/com.seamless.mpayment.qr.androidapp.ui.MainActivity -S -a android.intent.action.MAIN -c android.inten

[2016-12-28 11:06] Prakash-Saravanan commented on #7462
The capability usePrebuiltWDA is not working for iOS 10 also.
It says "usePrebuiltWDA is set, but on real device. So skipping"

[2016-12-28 11:07] sravanmedarapu commented on #7612
Using `driver.findElement(By.id("my_id")).getAttribute("contentDescription")` should work.

[2016-12-28 11:14] wojciwojci commented on #7620
@sravanmedarapu
Thanks for quick reply.
This command worked like a charm, the app MainActivity is started without app reset.
[code]

I am suspect handling custom session capabilities because when i removed "status" and "usage" from node config the session in appium server was created correctly. Unfortunately i cannot remove "status" and "usage"  permanently.

[2016-12-28 11:54] pisarenco92 commented on #7600
I have the same problem (Appium 1.6.3, iOS simulator 10.2).

[2016-12-28 12:12] tfcardoso commented on #7612
Amazing @sravanmedarapu. It works. I'll close this issue and will post your answer on appium forum. Thanks

[2016-12-28 12:12] #7612 closed

[2016-12-28 12:20] #7496 closed

[2016-12-28 12:32] imurchie commented on #4632
Please start a new issue rather than updating an old, closed one.

[2016-12-28 13:48] imurchie commented on #7615
Can you try running the startup command:

[code]

[2016-12-28 13:53] mykola-mokhnach commented on #6941
@levyshachar2 What if you try to click by coordinates? Are sure the correct element is found? What if the locator matches multiple elements?

Can you also try to apply [this patch](https://github.com/facebook/WebDriverAgent/pull/411) to your local WDA source and check how it works then?

[2016-12-28 14:22] eliasnogueira commented on #6360
I cannot reopen the issue :(
I gonna put this issue on Selenium Grid and ask for help to analyze this issue and try to solve it.

[2016-12-28 14:25] imurchie commented on #7253
This is a reproducible error. Pulling into the sprint.

[2016-12-28 14:27] eliasnogueira commented on #6360
Issue on SeleniumHQ/Selenium
https://github.com/SeleniumHQ/selenium/issues/3300

[2016-12-28 14:55] Prakash-Saravanan commented on #7441
I too face same issue with following.
iOS 10.1
Xcode 8.1
Appium 1.6.3

[2016-12-28 15:38] tfcardoso opened #7621 "longPress ignores duration in UIAutomator2 (turning it into a normal tap)"
## The problem

longPress method ignores duration when using UIAutomator2

## Environment

* Appium version: 1.6.3
* Desktop OS/version used to run Appium: OSX & Windows
* Mobile platform/version under test: Android M
* Real device or emulator/simulator: Samsung S5
* Driver: UIAutomator2 v0.2.5
* Java-client: v4.1.2

## Details

element is a valid element. Independently of the duration inserted, i

[2016-12-28 16:31] rhyjouett commented on #7595
There are legitimate test scenarios for
* doing something
* waiting some period of time (10 minutes, a day, a month, whatever)
* doing some else
If i set the time before selenium/appium loads, i can't run these type of scenarios.

In any case, my problem is solved using a `Kernel.system` (which uses a sub-shell) vs. `Kernel.exec` (which replaces the current shell). IMHO, i'm not convinced this is

[2016-12-28 16:40] ohadschn opened #7622 "Hide/mask/scrub secrets/passwords in logs"
## The problem
Passwords and other secrets sent by `sendKeys` variants are seen in plaintext in the logs. It would be nice to be able to prevent that somehow.

## Details

Suppose I have code that looks like this
[code]

The logs will show my password:

It would be great to be able to write something like ```myPasswordElement.sendSecureKeys(pass);``` (without compromising log verbosity), and have

[2016-12-28 16:58] ohadschn opened #7623 "Selective autoAcceptAlerts / autoDismissAlerts"
The current `autoAcceptAlerts` / `autoDismissAlerts` capabilities are very generic. As I understand it, they will accept/dismiss any and all alerts, including my own app's alerts or alerts I expect due to actions in my test (such as push notification approval).

What I'd really want to have is a selective variant that provides me with some information on the alert (e.g. title, text, buttons text)

[2016-12-28 17:00] mykola-mokhnach commented on #7623
These capabilities are not relevant anymore for XCTest-based Appium backend

[2016-12-28 17:00] #7623 closed

[2016-12-28 17:07] imurchie commented on #7619
With that running in one tab can you try this in another:

[code]

[2016-12-28 17:11] jeangb commented on #7520
@imurchie Hi, do you have some news ? I'm still having the "dyld: Library not loaded: @rpath/XCTest.framework/XCTest" error from appium server.
In Xcode, I've been trying some solutions like adding "$(PROJECT_DIR)/Carthage/Build/iOS" in framework search path, putting XCTest.framework status as optional, nothing change.

[2016-12-28 17:24] Mygod commented on #7594
Well I'm working on a test bot so I'm wishing to use this feature. So this won't be implemented in the near future right?

[2016-12-28 17:30] ohadschn commented on #7623
Is there another way to accomplish this in XCUItest then?

[2016-12-28 17:41] tzedar opened #7624 "Unable to run Appium 1.6.3 on Sierra MACOS"
## The problem

I upgraded my MAC OS to Sierra and then upgraded Appium from 1.6.0 to 1.6.3. I now get an errro with SQLite3. It is looking for version47 but it is installing version 48.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.6.0
* Desktop OS/version used to run Appium: Sierra

## Co

[2016-12-28 17:51] emil-petersen commented on #7619
@imurchie Hey, for what it's worth, I have the same problem, and this is the output I get when trying to run the commands you posted:

[code]

[2016-12-28 17:51] dpgraham commented on #6360
@imurchie @jlipps can you guys confirm if this is an Appium issue or a Selenium grid issue.

[2016-12-28 17:54] dpgraham commented on #7612
Thank you Sravan

[2016-12-28 17:54] imurchie commented on #7619
Something is wrong with the quotation marks. It may have been in the original pasting. Make sure that the quotes around the header are both regular.

[code]

[2016-12-28 17:59] emil-petersen commented on #7619
@imurchie I believe I resolved that. This is still the output I get:

[code]

[2016-12-28 18:05] emil-petersen commented on #7619
All of the above is with Appium 1.6.3, using XCUITest on real iOS devices.

[2016-12-28 18:12] emil-petersen commented on #7619
@imurchie I tried manually passing in the headers, to avoid whatever was going wrong with the quotes ETC. It removed the errors ETC I was getting, but on `localhost`', it's a definite failure.

The `appium` logs mention the IP 10.67.29.44, and substituting `localhost` for that - keeping the port the same - instead of getting the error, I see `curl` hanging indefinitively.

[2016-12-28 18:12] imurchie commented on #7619
IS this a real device or a simulator?

[2016-12-28 18:15] emil-petersen commented on #7619
@imurchie Real device, iOS 9.3.5. Trying with iOS 10.1 (also real), still using the `10.67.29.44` IP, I get a similar hanging, and then same result - operation timed out.

[2016-12-28 18:16] imurchie commented on #7619
Yes, real device will need the ip of the device. Can you try starting `iproxy` in another tab?

[code]

[2016-12-28 18:36] #7511 closed

[2016-12-28 18:36] gopi09m opened #7625 "keyboard timeout exception in appium@1.6.3"
## The problem

I am seeing this issue consistently today. i also observed mac system performance a bit slow.

`               mobileElement.tap(1, 49);
		Thread.sleep(1000);
		mobileElement.sendKeys(IdentifierValue);`

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to

[2016-12-28 18:49] emil-petersen commented on #7619
@imurchie I find that the `iproxy` I started in another tab exits (Killed: 9) a little while after I start up my test suite (Python, Appium CLI). Starting it back up manually allows me to get past this, and instead get to 'Waiting for WebDriverAgent server to finish loading...'.

However the manually-started process (that I re-started after it was killed) just says 'waiting for connection' indefin

[2016-12-28 18:55] imurchie commented on #7619
I don't understand what you are trying to do anymore. This issue was about manually starting xcodebuild and trying to test whether the server was up and running.

[2016-12-28 18:59] emil-petersen commented on #7619
@imurchie Sorry, I was trying to run my test suite and connect to iOS. If I manually run the `curl` command after starting `iproxy` in another tab, it still times out. The `iproxy` command itself just outputs 'waiting for connection'.

[2016-12-28 19:06] #7595 closed

[2016-12-28 19:09] mjduvall commented on #7588
When I last ran it in ARC, I was getting the permissions dialog, but I am not getting that now. Is there a way to automatically set permissions in my Ruby script, so that I don't get hung on this page?

[2016-12-28 19:11] dpgraham commented on #7622
What is the use-case you were envisioning? Would it be when the testers use their own password in an Appium test and then when a 2nd or 3rd party looks at the test logs you don't want them to be able to see the password?

@imurchie @jlipps Do we have a way to scrub PII from server logs?

[2016-12-28 19:12] goldylucks commented on #7510
@jlipps thanks for the guidance
in the gist I posted u can c the tests r timing out

do u have any minimalistic example I can copy?

[2016-12-28 19:12] imurchie commented on #7622
We don't. And it is hard to envision a way to do it that doesn't have unwanted side-effects.

[2016-12-28 19:13] dpgraham commented on #7624
-Have you tried doing a full uninstall?

[code]

-Is the terminal logging anything when you try running the above command?

[2016-12-28 19:14] imurchie commented on #7510
I recently had to create a simple iOS example in Node. It could be adapted for Android.

https://github.com/imurchie/basic-js-test

[2016-12-28 19:18] goldylucks commented on #7510
@imurchie I don't c any Appium reference on that repo
r u using it?

[2016-12-28 19:21] imurchie commented on #7619
So, to recap, you have run the `xcodebuild` command and it eventually prints something like `Test Case '-[UITestingUITests testRunner]' started.`

Keeping that going, in another tab you open `iproxy` with `iproxy 8100 8100 <UDID>`, which will print `waiting for connection`.

Finally, in another tab, you run the `curl` command. This _should_ give a status object.

And it is this last step that does

[2016-12-28 19:23] imurchie commented on #7510
Yes, I used it. You need to start Appium manually, and then run the tests.

[2016-12-28 19:29] dpgraham commented on #7625
Looks like you aren't the only one having this problem: http://stackoverflow.com/questions/34009253/xcode-7-ui-tests-fail-with-timed-out-waiting-for-key-event-to-complete

Are you testing on a local IOS Simulator? If you are, can you try disabling the 'Hardware -> Keyboard -> Connect Hardware Keyboard' and try your test again?

(Also, unrelated to the ticket, I noticed you are using Thread.sleep.

[2016-12-28 19:34] mykola-mokhnach commented on #7623
Nothing we know about. Check this [issue](https://github.com/facebook/WebDriverAgent/issues/335) for more details

[2016-12-28 19:36] tzedar commented on #7624
The installation process works just fine. There error comes when I am running the script.

Error: Cannot find module '/usr/local/lib/node_modules/appium/node_modules/sqlite3/lib/binding/node-v47-darwin-x64/node_sqlite3.node'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/mo

[2016-12-28 19:37] dpgraham commented on #7362
Closing this as a duplicate. For progress on that, follow this issue:

https://github.com/appium/appium/issues/7435

[2016-12-28 19:37] #7362 closed

[2016-12-28 19:43] mykola-mokhnach commented on #7625
Maybe, there is a workaround. One can try to invoke _/keys_ WDA API call, which is wrapped as *commands.keys* inside lib/commands/element.js. But I'm not sure how to invoke it via Java interface.
@imurchie Probably, you know?

[2016-12-28 19:44] dpgraham commented on #7435
This issue was resolved in WebDriverAgent https://github.com/facebook/WebDriverAgent/commit/d5694557113d6f875457472c7bb0501e21155ec5.

Appium 1.6.3 should have the latest webdriveragent with this fix in it. I'm going to confirm right now and then close this ticket.

[2016-12-28 19:44] imurchie commented on #7624
Have you changed Node versions at all? I have seen this happen when I install with one version and switch to another.

[2016-12-28 19:46] emil-petersen commented on #7619
@imurchie Sorry for being all over the place. Yes, that is what I did, and what I'm doing, and I am finding still that it gives me 'operation timed out'. However the reason I came to this thread was because I could not run my company's app on iOS. I found, though, that grabbing the latest Appium from git (commit ccb7b26dfa0f9b45636e5876d6977bab2a12e5a0) solved that problem for me.

I apologize for

[2016-12-28 19:47] tzedar commented on #7624
The only thing I upgraded was XCode and MAC OS and then I upgraded Appium from 1.6.0 to 1.6.3 and tried to run the script and ran into the above error.

[2016-12-28 19:51] imurchie commented on #7619
Well, I'm glad that it was fixed!

Can you try one last thing, just to clarify? After starting the `iproxy` proxy, use `localhost:8100` for the curl command? It proxy is there to send traffic through usb.

Along the same lines, are the device and the computer running Appium on the same network?

[2016-12-28 19:52] imurchie commented on #7624
And it continues even after, as @dpgraham suggested, you uninstall and re-install?

[2016-12-28 19:54] tzedar commented on #7624
Yep. I did that previously on my own also and then once he suggested it I did it again. I have tried:

npm uninstall -g appium
npm install -g appium

and

npm uninstall appium
npm install appium

I moved the location in my script to follow the new path with each installation and both installations give me the same error.

[2016-12-28 20:04] imurchie commented on #7624
Strange. I get version 47 if I install with Node 5.8. And 48 with Node 6. I'm not sure what to make of all that.

[2016-12-28 20:07] tzedar commented on #7624
I just checked my node version and it came back with 5.10.1

[2016-12-28 20:15] nellylam commented on #6941
I'm experiencing this issue on Appium 1.6.3. Our sendKeys stopped working once we upgraded to 1.6.3.

[2016-12-28 20:29] dpgraham commented on #7625
I think sendKeys already proxies through to the '/keys' WDA call.

[2016-12-28 20:32] dpgraham commented on #7624
By coincidence I just got the exact same error. I'm going to work through this right now and keep you all posted on my status.

[2016-12-28 20:36] imurchie commented on #7625
I do not know for Java. But it is a standard Selenium command so it ought to be there somewhere.

[2016-12-28 20:39] imurchie commented on #7624
One way to "fix" it is to wrap the `require` statement in a `try`/`catch`

[code]

And then check if `sqlite3` is undefined before using it, and log appropriately.

That way it only affects the people who actually want to use the feature, not everyone who tries to start Appium.

[2016-12-28 20:42] mykola-mokhnach commented on #7625
@dpgraham looks like not, sendKeys is proxied to _commands.setValue_ by default.

[2016-12-28 20:47] dpgraham commented on #7624
I just had this same problem but with electron and not appium (https://discuss.atom.io/t/sqlite3-cannot-find-node-sqlite3-node-question/16530/6) so it is a somewhat common issue.

I think we need to:
* [ ] Find a workaround for this that fixes the problem
* [ ] Implement the fix @imurchie suggested above
* [ ] Document this issue

[2016-12-28 20:47] mykola-mokhnach commented on #7625
I think it is supposed to be like that. WDA API provides two method for typing:
_/element/:uuid/value_
and
_/keys_

only the first one uses the actual element ID. The second one just tries to tap corresponding keys on on-screen keyboard independently of what is currently focused on the screen (and if the keyboard itself is shown)

[2016-12-28 20:49] imurchie commented on #7624
Does manually installing `sqlite3` fix the problem? Like, going into your Appium installation and running `npm install sqlite3`?

[2016-12-28 20:49] mykola-mokhnach commented on #7625
@TikhomirovSergey can you advice on that?

[2016-12-28 20:50] tzedar commented on #7624
I tried this and still had the same problem. I thought I would try to install an older version of sqlite3 and did not have much luck with this.

[2016-12-28 20:52] dpgraham commented on #7624
@tzedar When you navigate to /usr/local/lib/node_modules/appium/node_modules/sqlite3/lib/binding/ what do you see?

[2016-12-28 20:54] mykola-mokhnach commented on #7624
How about this?
http://stackoverflow.com/questions/20221825/node-js-says-it-cant-load-sqlite3-module-but-does-anyway

[2016-12-28 20:57] tzedar commented on #7624
node-v48-darwin-x64

The script is looking for a folder node-v47-darwin-x64. I thought I would be slick and change the folder name to v47 but then my script said it was looking for V47 and got V48.

[2016-12-28 21:17] dpgraham commented on #7624
Can you try going into your Appium installation directory and running npm install sqlite3 --build-from-source

[2016-12-28 22:18] ohadschn commented on #7622
@dpgraham yes something like that, it doesn't have to be your password, any password really shouldn't be visible in plaintext. Compromised "test" accounts are often more dangerous than "real" accounts, for example they usually have 2FA disabled and monitored less closely.

@imurchie could you elaborate please? Forgive me as I know nothing about appium source code..

[2016-12-28 23:09] dpgraham opened #7626 "/element/:uuid/value endpoint only works on sliders with value 0"
When calling 'sendKeys' on a slider element, passing it a value between 0 and 1, the slider value only changes if the value was 0 to begin with. Otherwise, no change takes effect

## Details
Here are the server logs for when /value is applied to a slider with value > 0

[code]

When you apply it to a slider with value = 0 then this happens
[code]

## Environment

* Appium version (or git revision)

[2016-12-28 23:11] dpgraham commented on #7435
Closing this issue but we're still having some issues with 'sliders' that need to be resolved

See https://github.com/appium/appium/issues/7626

[2016-12-28 23:11] #7435 closed

[2016-12-28 23:19] dpgraham opened #7627 "/touch/click endpoint not being proxied through WDA"
## The problem

Calling `/touch/click` on an element is not doing anything. Returning error saying 'endpoint not being proxied through WDA'

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.6.0
* Desktop OS/version used to run Appium: MacOS
* Node.js version (unless using Appium.app|exe): 6.9.1

[2016-12-28 23:30] dpgraham commented on #7624
I've done more research on this,

I was able to fix my problem using a component called ```electron-rebuild``` which rebuilds native node modules to match the version of Node that electron is using instead of the system version of Node.

This obviously doesn't help @tzedar but I think it's a related type of problem (incompatible native SQLite3 node module).

We need to figure out how to resolve th

[2016-12-29 01:45] ansonliao commented on #7619
@imurchie
I am sorry that I only run `appium-xcuitest-driver` project test, no appium server run, so how I can get the real device's IP?

[2016-12-29 02:17] wjl025 commented on #7615
@imurchie
i reinstall appium,now issue is resolve.
thank you!

[2016-12-29 02:17] #7615 closed

[2016-12-29 02:22] erduoniba commented on #7618
@mykola-mokhnach thanks, i installed carthage fix
` Command '/bin/bash Scripts/bootstrap.sh -d' exited with code 1`

But I‘m sorry have another question:

➜  python python ios_simple.py
test_scroll (__main__.SimpleIOSTests) ... ok
test_ui_computation (__main__.SimpleIOSTests) ... ERROR

======================================================================
ERROR: test_ui_computation (__main__.Simp

[2016-12-29 02:57] gopi09m commented on #7625
I restarted my iPad(since i felt its a bit slow too) and this issue is temporarily fixed.I will remove Thread.Sleep() and use WebDriverWait().

[2016-12-29 03:26] pyraman opened #7628 "driver.get and sDriver.navigate().to() not render the page."
## The problem

the 2 functions: driver.get() and sDriver.navigate().to() not render the page although the URL is in address bar.

## Environment

* Appium version: 1.6.3
* Node.js version: 5.1.0
* Mobile platform/version under test: iPad Mini 4, iOS 10.1.
* Real device or emulator/simulator: Real device.
* Client: java-client-4.1.2.jar, selenium-server-standalone-3.0.1.jar

## Details

sometimes

[2016-12-29 05:40] erduoniba commented on #7618
@mykola-mokhnach thanks!

[2016-12-29 06:10] Siddh010 commented on #7572
Facing same issue as :- https://github.com/appium/appium/issues/7538

[2016-12-29 06:14] zhuchuji commented on #6579
@qamonstir Sorry. I work on Java...Never work with Ruby before

[2016-12-29 07:24] ansonliao commented on #7619
@imurchie
I can run iOS 10 on real device now.

[2016-12-29 08:52] #7618 closed

[2016-12-29 09:49] jeangb commented on #7520
I finally solved my problem ... As I wanted to build the .ipa with the developer certificate myself, I put a few weeks ago the iPhone developer certificate at "Always trust" in "When using this certificate", in order not to be prompted.
Following this: https://forums.developer.apple.com/message/69085#69085, I saw it had to be "Use system defaults".

[2016-12-29 11:38] codeVerySlow opened #7629 "suppress-adb-kill-server didn't work"
## The problem

i use --suppress-adb-kill-server to start appium(cmd: appium --suppress-adb-kill-server),it still kill adb server and restart.

## Environment

* Appium version (or git revision) that exhibits the issue:1.6.3
* Desktop OS/version used to run Appium: windows 10 1607
* Node.js version (unless using Appium.app|exe):v6.9.1

## Details

I think the suppressKillServer option did not pass

[2016-12-29 11:48] limitcracker opened #7630 "Appium 1.6.3 - Test hungs - Wait Polling not working"
## The problem

I type a word in a search. This made a loader to appear. In my next step I am trying to tap a second a element. This leads Appium to make a POST. There I have expected conditions that keeps polling.
While in prior versions my expected conditions worked just fine and polling was working in Appium 1.6.3 it hungs and the whole test stops at the point of the first POST request.
If I pu

[2016-12-29 12:07] mykola-mokhnach commented on #7630
It must be this WDA issue: https://github.com/facebook/WebDriverAgent/issues/372

Try to use non-xpath locator as a workaround or apply visibility patch I mentioned in that WDA issue to your local WDA source

[2016-12-29 13:09] #7253 closed

[2016-12-29 14:12] imurchie commented on #7622
Making a new client-side method and a new endpoint on the server would work. I was thinking of the "special character" option, which almost never works, since what is a special character is a normal one to some use-cases.

I'll add this to the backlog to try to address.

[2016-12-29 14:20] imurchie commented on #7619
Excellent! Closing this.

[2016-12-29 14:20] #7619 closed

[2016-12-29 14:39] #7561 closed

[2016-12-29 14:48] limitcracker opened #7631 "iOS App crashes after calling window().getSize() - Appium 1.6.3 - XCUITest"
## The problem

I go to a screen that is our Sing Out screen. When I go by hand and perform actions app doesn't crash, but when I call `window().getSize()` or any other method via appium on that screen the app crashes.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to

[2016-12-29 14:51] limitcracker commented on #7630
Thanks for the quick response once again @mykola-mokhnach !
I am trying the patch right now. It helped me with some tests but I think it makes some discrepancies on others. I 'll get back to you when I 'll try some more to be sure.

[2016-12-29 15:17] mykola-mokhnach commented on #7631
What do you see in the device/simulator logs?

[2016-12-29 15:32] limitcracker commented on #7631
Attached
[iphone-6-plus-emulator-logs.txt](https://github.com/appium/appium/files/677395/iphone-6-plus-emulator-logs.txt)

[2016-12-29 15:59] imurchie commented on #7587
Yes, this looks like things are in weird state, where the page gets in before we actually get a connection. I'll look a little at this to see if I can make some headway.

[2016-12-29 16:25] mykola-mokhnach commented on #7631
BTW https://github.com/wireapp/wire-ios/blob/develop/Wire-iOS/Sources/UserInterface/Conversation/Content/Cells/ConversationCell.m#L213
This is how we define accessibility elements for table cells in our app. Maybe, this could be useful for your app as well.

[2016-12-29 17:25] asnaith commented on #7440
@jlipps I've unsuccessfully looked into this but am not sure where to start. Could you help point me in the right direction where a fix would need to be please? I'm totally lost.

[2016-12-29 17:27] jlipps commented on #7627
@dpgraham out of curiosity why are you using that endpoint instead of the usual click one?

[2016-12-29 18:06] imurchie commented on #7587
@hardik-d  Can you try updating the dependencies so you have `appium-remote-debugger@3.2.1`? I've added a check to at least try things out when no app is there. I'm hoping this has some effect.

[2016-12-29 18:23] imurchie commented on #7624
@tzedar Can you try re-installing the latest? I have implemented something that ought to fix this issue.

[code]

[2016-12-29 18:41] imurchie commented on #7253
@dsavchenkov Yes, you can. Though the easiest way is to upgrade without shrinkwrap (`npm uninstall -g appium && npm install -g appium --no-shrinkwrap`), you can also just update the XCUITest module.

(1) Find out where Appium is installed.
(2) Go to where Appium is installed.
(3) run `npm install appium-xcuitest-driver`
(4) run `npm ls appium-xcuitest-driver`. It should now be version 2.5.1 (this

[2016-12-29 18:44] imurchie commented on #7462
This should work in the latest version of the `appium-xcuitest-driver` driver, 2.5.1.

[2016-12-29 20:31] tzedar commented on #7624
I have installed with your instructions and my script did load successfully. I have not really run any tests yet but they should be fine since my startup script runs.

[2016-12-29 20:51] imurchie commented on #7624
Excellent! Glad to hear it.

[2016-12-29 20:51] #7624 closed

[2016-12-30 03:03] pyraman commented on #7628
hi! Can anybody please take a look at this?
If i execute script: window.location = "https://google.com" instead of using webdriver API functions, i get the same behavior. Maybe this issues belong to safari.

[2016-12-30 03:23] tangtingting commented on #7016
I have the same question, what's the reason for this problem
install log ：
UiAutomator2 setup files did not yet exist, waiting...
dbug AndroidDriver Getting Java version
info AndroidDriver Java version is: 1.7.0_121
info UiAutomator2 downloading UiAutomator2 Server APK v0.0.8 : https://github.com/appium/appium-uiautomator2-server/releases/download/v0.0.8/appium-uiautomator2-server-v0.0.8.apk
info

[2016-12-30 06:52] dsavchenkov commented on #7253
@imurchie thank you

[2016-12-30 09:28] StevieSun opened #7632 "Run script on already launched application"
## The problem

I dont want appium to launch the application, because when I run the script the application will already be open. In DesiredCapabilities, the autoLaunch key is not present for iOS. Please help with correct configuration.

## Environment

* Appium 1.6,3
* OS X 10.11.6
* Node.js 5.7.0
* iPhone 6 - iOS 10.1.1

[2016-12-30 09:55] Prakash-Saravanan commented on #7462
@imurchie yes. it works with appium-xcuitest-driver driver, 2.5.1.
But still it tries to install WDA into the device every time when launching driver session.

[2016-12-30 10:48] Timoxa84 commented on #7598
@vikramvi indeed I am using Selenium HUB to run my tests,

To start Appium I'm using bash script:

[code]

_**nodeAppiumiPhone.json**_

[code]
**_nodeAppiumiPad.json_** similar to **_nodeAppiumiPhone.json_** the only diffrence is `"browserName": "iPad".`

I am using Java and TestNG with `parallel="methods"`. For each method, I am passing the `wdaLocalPort` and `browserName`. So that the way.

Howe

[2016-12-30 12:40] jawlitkp opened #7633 "error: Unexpected error: Error: Can't set headers after they are sent using Appium 1.6.3"
I ma getting this error after running test cases for longtime (around 7-8 hrs)

## Environment

Appium version 1.6.3
Node JS version latest
ios webkit debug proxy
iPhone 6
Xcode version 7.3

[2016-12-30 15:51] vikramvi commented on #7598
@triager please close per last comment

[2016-12-30 15:51] #7598 closed

[2016-12-30 15:54] vikramvi commented on #6579
@dmitrysolnikov can you please share if you could get any workaround for this problem ?

[2016-12-30 15:56] vikramvi commented on #7633
@jawlitkp can yo provide appium log in gist ?

[2016-12-30 18:33] pavanbachu0604 commented on #7632
Can you share the logs as gist ?

[2016-12-31 18:13] dmakhno commented on #5404
@ktronic80, can you please explain how you've fixed this? I have the same issue now on aws device farm, using beta-channel for the app.

[2017-01-01 00:09] hardik-d commented on #7587
@imurchie it is better than before. All the commands in webview context work, but safari still goes in background and hence none of the native_app context commands work nor will i be able to capture meaningful screenshot at the point of failure since safari is not in foreground.

[2017-01-01 00:12] hardik-d commented on #7587
@imurchie is there a way for us to make sure safari is the app in focus or not, if not bring it in focus? that would solve the problem.

[2017-01-02 05:47] #7527 closed

[2017-01-02 05:50] sravanmedarapu commented on #7527
Should work with appium-uiautomator2-driver v0.2.6

[2017-01-02 05:50] sravanmedarapu commented on #7524
should work with appium-uiautomator2-driver v0.2.6

[2017-01-02 05:50] #7524 closed

[2017-01-02 07:21] sravanmedarapu commented on #6615
@tfcardoso yes, current work around using WifiManager implemented in UIAutomator2 driver. but unfortunately work around will not work in all higher version real devices because of Android Security constraints and using adb commands also not working, we should investigate other possible means.

[2017-01-02 08:43] pisarenco92 opened #7634 "Cannot get 'xml' source of the current application"
## The problem

I have some pages in my app that when I call getPageSource() - nothing returns.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Desktop OS/version used to run Appium: macOS Sierra
* Mobile platform/version under test: iOS
* Real device or emulator/simulator: simulator

## Details
![screen shot 2017-01-02 at 10 38 45 am](https://cloud.githubuserc

[2017-01-02 09:28] derunewige commented on #6825
Thanks for your response jlipps! But the problem is, that getContexts() throws an error.
If I would make such a while loop, I somehow have to ignore the error till It works.
As soon as the call of getContexts() is working, the webview is instantly found.

[2017-01-02 11:03] mykola-mokhnach commented on #7634
Can you attach the device log?

[2017-01-02 11:41] SteffenL commented on #7552
@dmlemeshko Sorry for the late reply. I did not call `adb reboot` or stop the emulator myself by any other means.

Full log since requesting a session:
https://gist.github.com/SteffenL/17709c1a454b99d5510c7336ea0f28be

This happens while using the `--reboot` parameter. For some reason, this does not seem to happen in some cases. When my test is running as part of a Jenkins build, I get this error;

[2017-01-02 12:05] yoosufm commented on #7380
@jlipps I am getting this error after just after switch to Webview. Any idea?

[2017-01-02 12:11] rahulmr commented on #7328
Hello All, is it possible to know which version it was working fine? I was trying 1.5.3 but getting same issue.

[2017-01-02 12:42] sirishasirim commented on #6569
Hey, I am also facing the same issue, when i click on doctor icon after setting java home and sdk home path

[2017-01-02 14:17] tfcardoso commented on #7328
@rahulmr I had 1.5.3 for long time and never encounter this problem

[2017-01-02 15:26] WitoldKijKijowieckiMobica commented on #7151
any progress in that matter?

[2017-01-02 15:35] botnari commented on #7634
Hi! I have the same problem! @mykola-mokhnach How can I add the device log?

[2017-01-02 17:23] NamrathaKRao opened #7635 "issue in automtting native android app"
## The problem

Trying to automate a native app.The click and sendKey do not do work. App is getting launched but click on the button is not happening and sendKey gives an error " {"status":13,"value":{"message":"An unknown server-side error occurred while processing the command.","origValue":"Unknown error"}"

## Environment
* Appium version 1.4.16.1, 1.4.13.1
* Desktop OS/version used to run App

[2017-01-03 06:31] yogeshdawkhar commented on #4565
@moizjv :-
I am facing issue on Mi 4i device. Andorid version 5.0.2. script not running but on other device script runs.

 info: [debug] Pushing command to appium work queue: ["find",{"strategy":"id","selector":"com.ifm:id/ed_login","context":"","multiple":false}]

[2017-01-03 08:00] yoosufm commented on #7380
@jlipps do we need provisioning profile when run Appium test on Apple real device.

[2017-01-03 08:35] xiaoningz opened #7636 "webElement click function not working on appium1.6.3 on real device ios 10.0.1"
## The problem

calling WebElement click function on an element is not doing anything, but show 200 status for the click request

[HTTP] <-- POST /wd/hub/session/c02bd830-b5e4-4f24-93cb-e6f0dc6ab4fa/element/5004/click 200 510 ms - 76

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): no one
* Desk

[2017-01-03 08:45] mykola-mokhnach commented on #7636
Is it in landscape mode?

[2017-01-03 08:59] mykola-mokhnach commented on #7636
what if you calculate coordinates of the text input on the screen and then perform tap by coordinates?

[2017-01-03 09:11] erduoniba opened #7637 "xcodebuild exited with code '65' and signal 'null'"
## Environment

* Appium version : v1.6.3
* Node.js version : v7.3.0
* Mobile platform/version under test: iOS10.2
* Real device or simulator: iPhone 7

## Details

[code]

[2017-01-03 09:16] mykola-mokhnach commented on #7637
Can you attach the full log and xcodebuild log?

Usually, error 65 means WDA source is not signed properly. Make sure you follow real device setup procedure described [here](https://github.com/appium/appium-xcuitest-driver#usage)

[2017-01-03 09:20] mykola-mokhnach commented on #7635
Does the same error happen to Appium 1.6.3?

[2017-01-03 09:22] LukasLewandowski commented on #4131
What about that issue?

"Appium inspector showing elements as invisible which are actually visible"

Any solution for this? Clicking/tapping into "invisible" element is not working :(

(MobileBy.XPATH, '//UIAStaticText[2][@visible="false"]')

[2017-01-03 09:22] LukasLewandowski commented on #6635
Any solution for this? Clicking/tapping into "invisible" element is not working :(

(MobileBy.XPATH, '//UIAStaticText[2][@visible="false"]')

Appium throws: Original error: elementId 16 could not be tapped

[2017-01-03 09:25] yoosufm opened #7638 "Getting time out error when find element on web view"
## The problem
I am test ios hybrid app. I am getting time out error when find element on web view (Just after switch to web view).

## Environment

* Appium version : 1.6.2
* Desktop OS/version used to run Appium: iOS
* Real device or emulator/simulator: Real Device
## Details

Describe in more detail the problem you have been experiencing, if necessary.

## Link to Appium logs

https://gist.gith

[2017-01-03 09:29] erduoniba commented on #7637
But I'm just using the simulator to test, not real device

[2017-01-03 09:33] mykola-mokhnach commented on #7637
No way to solve it without full log

[2017-01-03 09:39] erduoniba commented on #7637
python client log:
$ python ios_simple.py
test_scroll (__main__.SimpleIOSTests) ... ERROR

======================================================================
ERROR: test_scroll (__main__.SimpleIOSTests)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "ios_simple.py", line 21, in setUp
    'deviceName': 'iPhone 7',
  File "build/b

[2017-01-03 09:44] erduoniba commented on #7637
ios_simply.py:

[code]

[2017-01-03 09:52] mykola-mokhnach commented on #7637
This all looks good, but Appium server log you provided is not full. It should contain a link to a file generated by xcodebuild and containing WDA building details.

[2017-01-03 09:55] erduoniba commented on #7637
Session-WebDriverAgentRunner-2017-01-03_172151-8GZzRL.log :

[code]

[2017-01-03 10:01] mykola-mokhnach commented on #7637
Looks like xcode is unable to run the simulator for iPhone 7. Can you start it manually? What if you delete and create it again in Devices Manager?

[2017-01-03 10:14] erduoniba commented on #7637
Can you start it manually?
YES, i can, and i delete app, use `python ios_simple.py` can install app but cann't launch，start it manually is ok.

What if you delete and create it again in Devices Manager?
yes, it create again

[2017-01-03 10:42] mykola-mokhnach commented on #7637
I have found only this possible solution so far

[code]

But I'm sure this has to do with Appium itself

[2017-01-03 10:46] yoosufm commented on #7638
@mykola-mokhnach gist path is added. Thanks in advance.

[2017-01-03 11:01] mykola-mokhnach commented on #7638
It would be useful to see the log generated by the device itself

[2017-01-03 11:04] slipy12 commented on #7570
Proxying problems still happening
[code]

But the execution doesn't freezes. You can close if you want

[2017-01-03 11:21] xiaoningz commented on #7636
@mykola-mokhnach thank a lot. I try the tap with coordinates would work but only when we exchange the x, y coordinates.  it seems that it is the same problem for https://github.com/appium/appium/issues/6994, as you mention the landscape mode, hope it would be in the next appium release.

[2017-01-03 11:21] yoosufm commented on #7638
@mykola-mokhnach thanks for you quick attention

device log
https://gist.github.com/yoosufm/170bd5a046903b336b38585186c60b59

[2017-01-03 12:27] imurchie commented on #7462
Yes, that is how it works. Even when using a pre-built one, it just doesn't build it. There is no other way.

[2017-01-03 13:28] imurchie commented on #7587
Can you provide the logs from the latest run? Things were obscured in the old ones.

Secondly, can you try manually starting the session, to see if the same behaviour exists?

In one terminal session,
[code]

In another,
[code]

[2017-01-03 13:52] jesusMT opened #7639 "Webview context not found on Android 7.0"
## The problem
Webdriver context not found when I login for a second time.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium: Mac Book Pro
* Node.js version (unless using Appium.app|exe): 6.9.1
* Mobile platform/version under test: Android 7.0 API Level 24

[2017-01-03 13:55] jeangb commented on #7143
@philipsTanoto I have the same problem, applying the fix didn't change a thing. Have you been able to resolve this ?

[2017-01-03 14:00] skumar1122 opened #7640 "Appium 1.6.1 : Android OS version 6.0.1 : Native app calendar is not handled by appium"
## The problem

I am trying to test Android native calendar on web browser using appium UIAutomator. After switching to Native app context, I can't access any of calendar elements by using UIAutomator (used ID,all Xpath's).

Not sure if something has changed with new Appium version, I haven't seen this before with any older versions.
can someone please suggest ?

**Below my native calendar view in

[2017-01-03 14:27] imurchie commented on #4565
@yogeshdawkhar Can you create a new issue with the information necessary, rather than adding to an issue that has been closed for a year and a half. Things have changed so the context of your problem is almost certainly different than this one.

[2017-01-03 15:10] mykola-mokhnach commented on #7638
I don't see anything suspicious in the log. Although I've seen similar issue report before and this was happening for web views with many elements.

[2017-01-03 16:14] jeangb opened #7641 "Enqueue Failure error during a test with WDA and real iOS device"
## The problem

Hi,
When I try to hit on a an object on a certain page using an xpath, I have a "Enqueue Failure: UI Testing Failure - Failure fetching attributes for element <XCAccessibilityElement" error on the appium server.

It will work if I use the accessibility id, but only a few objects on this page have an accessibility id.
I downloaded the last WDA from github.
This is strange because th

[2017-01-03 16:20] #7641 closed

[2017-01-03 16:38] yoosufm commented on #7638
Do we need to setup Provisioning profile when build a app? I just saw in one blog. they says we need build using provisioning profile. Thanks in advance.

[2017-01-03 16:49] dduphorn commented on #7136
I'm getting the same error in

{"status":0,"value":{"build":{"version":"1.6.3","revision":"2176894a5be5da17a362bf3f20678641a78f4b69"}},"sessionId":null}

What is the fix?

[2017-01-03 19:09] ohadschn commented on #7276
Easiest way to install *cathage* on OSX: `brew install carthage`.

[2017-01-03 20:23] ericomurtez commented on #6970
Hey guys, did you have any update on this?

[2017-01-03 20:36] dduphorn commented on #7136
I was successfully able to get the android emulator to open correctly.

When your creating a device, don't select a System Image that included (with Google API).  The issue must have something to do with Google API.

[2017-01-03 23:03] jlipps commented on #6970
No update yet but @ericomurtez thanks for confirming the version, hopefully that will help us to repro

[2017-01-03 23:09] jlipps commented on #7638
@yoosufm I'd recommend loading up the Safari inspector with this page open (not involving Appium at all), then running this JS command in the console:

[code]

This is what Appium is sending over via the remote debugger. It would be interesting to see if there are likewise problems with this even outside of Appium.

[2017-01-03 23:18] jlipps commented on #7640
@skumar1122 if you'd like us to investigate a potential problem with appium, it's best follow the instructions in the issue template, for example:

[2017-01-04 00:07] hardik-d commented on #7587
@imurchie here are the new logs: https://gist.github.com/hardik-d/570a95da837a2113e3a5edd29921e49f

not sure if this helps because like i said all the test commands were in webview context and test passed however safari was in background

[2017-01-04 00:12] hardik-d commented on #7587
@imurchie the manual commands work!

[2017-01-04 00:56] jlipps commented on #7639
It looks like somehow Chromedriver is not responding. It's likely not an Appium issue but maybe there's something we can do to work around it (maybe restarting chromedriver instead of reusing it, for example). I'll add this to our backlog.

[2017-01-04 00:59] erduoniba commented on #7637
thanks a lot, and i according this log solution my problem

[code]

[code]

Solving steps：
1: download [appium-xcuitest-driver](https://github.com/appium/appium-xcuitest-driver#usage);
2: build WebDriverAgentRunner
3: restart appium

but i have other question：
At the beginning install appium , i already `npm install wd`, why i also to build WebDriverAgentRunner?
i'm rookie, thanks to help me

[2017-01-04 01:03] jlipps commented on #7634
@pisarenco92 what is your client code? It's doing something funky. See this line in the logs:

Should be `GET /source`, not `/source/xml`.

[2017-01-04 01:10] jlipps commented on #6825
@derunewige you could achieve this by using exception handling in your programming language. and @imurchie's recent changes should prevent the getContext call from throwing an error immediately.

[2017-01-04 04:49] yoosufm commented on #7638
@jlipps Web view working without any issue on Web and Android app. I am having issue with iOS app. As per dev they using same code for Web, Android and iOS.

[2017-01-04 07:56] ahmetkocu commented on #7549
I have same issue.

[2017-01-04 08:21] pisarenco92 commented on #7634
@jlipps I'm using java-client.

[2017-01-04 08:26] rahulmr commented on #7595
@rhyjouett  is it possible for you to share how you did the time settings? Is there any way we can do this using webdriverio?
Actually, in my case I can set the time before starting tests also. My scenario is like I want to set the device with Kenya time zone date and time settings.

[2017-01-04 08:44] Schnutzel opened #7642 "resetApp resets Android app state even when noReset=true and fullReset=false"
## The problem

I am running Appium to test an Android app using the java client. The capabilities include noReset=true and fullReset=false. Executing driver.resetApp() deletes all the app data. This is different from the behaviour on iOS apps, where driver.resetApp() only restarts the app.

From looking at the code, it looks like the reset command always executes adb.stopAndClear, which clears th

[2017-01-04 09:07] songzcn commented on #7545
have the same issue with appium 1.6.3

[2017-01-04 09:12] mykola-mokhnach commented on #7637
Because WDA is the core component used by Appium to interact with the device. WDA executable is installed on the device under test and provides REST API over standard Apple's  XCTest engine, so then we can use this API to interact with the device.

[2017-01-04 09:16] debbie-qin commented on #6867
@ngreeney I have failed with same issue:
Fetching dependencies
Building Inspector
Creating bundle directory...
Fetching Inspector dependencies...
npm WARN react-treeview@0.4.6 requires a peer of react@>=0.14.0 but none was installed.
npm WARN web-driver-inspector@1.0.0 No repository field.
Building Inspector...

Hash: 9ed7d0b85cc08341fd0f
Version: webpack 1.14.0
Time: 86ms
   [0] multi main 28 byt

[2017-01-04 09:16] mykola-mokhnach commented on #7634
@botnari https://support.avg.com/SupportArticleView?l=en&urlName=How-to-collect-console-logs-for-iOS-devices

[2017-01-04 09:17] rhyjouett commented on #7595
@rahulmr i've posted some code for setting time in stackoverflow. If you find it useful, please +1 my answer: http://stackoverflow.com/questions/36648080/appium-set-custom-time-programatically-on-emulator-or-saucelabs/41349574#41349574

[2017-01-04 10:40] swachhab commented on #7304
Does Appium 1.6.1 supports TouchAction functions like Pinch(x,y).Perform(), I am facing Unhandled endpoint exception while working in IOS 10.1..?

[2017-01-04 10:41] swachhab commented on #7599
@ @mykola-mokhnach thanks for the reply, It got resolved after downgrading appium to 1.6.1.

[2017-01-04 10:43] swachhab commented on #7599
@mykola-mokhnach  Need another help as am getting exception while running touch action functions like Pinch(x,y).Perform() in AppiumV1.6.1 with IOS 10.1. Does appium 1.6.1 supports it?

[2017-01-04 10:45] davidrova commented on #7639
Hi @jlipps,

I have been investigating this issue and found what is happening. I will try to explain shortly.

- When the test project starts there is no chromedriver process
- The first time the test wants to access a webview context Appium creates a chromedriver instance and starts a webview session. Appium caches the webview name and its session.
- When the test makes logout, the application re

[2017-01-04 10:46] mykola-mokhnach commented on #7599
it would be better if you try it with the most recent version available. Although, as far as I know, many gesture actions are still missing there.

[2017-01-04 11:18] swachhab commented on #7599
@mykola-mokhnach Thanks for the prompt reply.
But if I go back to v1.6.3, the above code signing issue occurs. And all gesture actions are available in latest version(1.6.3)?

[2017-01-04 11:28] devqa-investing commented on #7109
Did anyone find a solution for this issue?

[2017-01-04 11:55] luisromanwp commented on #7136
Yes, I have the same problem and only is working automatically with Emulator without Google API

[2017-01-04 12:43] imurchie commented on #6867
@debbie-qin I presume this is you tryng to run the `Scripts/bootstrap.sh` command? If it is, you need to add `-d` so as to not build the Inspector, which is not used.

[2017-01-04 12:47] imurchie commented on #7634
The proxied command is correct (to `/source/xml`, on the device side). I'm not sure why nothing would be returned, though.

[2017-01-04 13:47] sravanmedarapu commented on #7534
published in 0.2.4

#https://github.com/appium/appium-uiautomator2-driver/pull/56

[2017-01-04 13:47] #7534 closed

[2017-01-04 14:22] RatkoD commented on #6996
This still needs some work, I need to execute @imurchie command almost every time I run a test.

[2017-01-04 14:48] vsaraydarova-broadsoft commented on #7570
Hi, I have the same problem. I have a function that requests findElement until the element appears, with delay of 1 second and the timeout is 30 sec. I am testing with ipython and I am starting to wait for an element that is missing, and I manually tap on screen to navigate the screen where the element exists. Very often when the page source is changed in the middle of findElement processing the p

[2017-01-04 14:49] imurchie commented on #6970
The problem is starting `ios-webkit-debug-proxy` in the way that Google [recommends](https://github.com/google/ios-webkit-debug-proxy#start-the-proxy). This leads to the proxy listening on port 9221, but each individual device being on subsequent (open) ports. So with a single iPhone attached I get it actually listening on port 9222.

If you start the proxy with `ios_webkit_debug_proxy -c <uuid>:<

[2017-01-04 15:18] NagyRobertt opened #7643 "JSONWP proxy timeouts after 4 minutes"
## The problem

I have a test where i supposed to have the application in background for 5 minutes, however i see in the log that iproxy timeouts after 4 minutes:

2017-01-04 14:22:21:049 - info: [debug] [JSONWP Proxy] Proxying [POST /deactivateApp] to [POST http://localhost:8100/session/B6A08EA3-E909-4C01-8D91-A6ECB4C436BB/deactivateApp] with body: {"duration":300}
2017-01-04 14:26:21:071 - info:

[2017-01-04 16:07] imurchie commented on #7643
I will look into whether this is possible.

[2017-01-04 16:08] zademaxfield commented on #7524
Is there an easy way to install appium-uiautomator2-driver v0.2.6 while running appium 1.6.3?

[2017-01-04 16:10] imurchie commented on #7524
Either re-install using `npm unisntall -g appium && npm install -g appium --no-shrinkwrap`, or find where Appium is installed, `cd` there, and run `npm install appium-uiautomator2-driver`.

[2017-01-04 16:17] codiophile commented on #7537
@jlipps We are facing some random failures that started after upgrading to XCUITest. The tests were stable when we were still using UIAutomation. Anyway, the lack of logs is making it hard to debug these failures, so it would be very valuable for us if we could get the logs working again. Is there anything we can do to help getting this addressed sooner?

[2017-01-04 16:40] zademaxfield commented on #7524
I did npm unisntall -g appium && npm install -g appium --no-shrinkwrap and it fixed the problem for me.
Thanks!

[2017-01-04 16:40] #7640 closed

[2017-01-04 16:51] goldylucks commented on #7510
@imurchie I'm trying your solution it seems like it works, tho I can't be sure since I can't find anywhere a working example or a documentation of nodeJS appium syntax + react native corresponding code.

do u know of any?

I find it very odd there is no full example anywhere, showing how to find an element.

especially when appium has bold giant title in the homepage saying
# Easy setup process, r

[2017-01-04 17:13] #7627 closed

[2017-01-04 17:28] imurchie commented on #7537
If you use the latest (as yet unreleased in an Appium version) code this is fixed.

You can get it by running `npm uninstall -g appium && npm install -g appium --no-shrinkwrap`.

[2017-01-04 18:20] imurchie commented on #6996
@RatkoD Can you provide the logs from a session? We have measures in place to kill the process, and something seems to be going wrong.

[2017-01-04 18:39] imurchie commented on #7570
What is happening is the interaction of two different proxies. The WebDriverAgent tool, running on the device, does not respond in a timely fashion, and so the proxy (JSONWP Proxy) sending the command to it times out. This, in turn, means the connection is dropped through the USB proxy (iProxy) which prints its cryptic message.

This seems to happen more when searching by Xpath, though that is by

[2017-01-04 18:53] imurchie commented on #7636
Can you try using the `nativeWebTap` capability?

[2017-01-04 21:03] jlipps commented on #7510
There are two things that "setup" could mean:
* Getting the Appium server running
* Getting an initial test of your application written

What we advertise on the homepage is the first thing. If you're having any problems getting the Appium server running, we'd definitely like to hear about it. Obviously we'd like for the second thing to be easy as well, but our sample code repo, which you found, h

[2017-01-04 21:10] goldylucks commented on #7510
Gotcha.

is there an existing guide that shows an example for node js?
regardless of react-native.

[2017-01-04 22:50] jmehtaebates opened #7644 "increase event listener max to avoid warning message"
When I try 'Ctrl + C' to shut down the appium server I get the below error

[code]
I see there are few more users facing similar issue @ https://discuss.appium.io/t/appium-1-6-0-beta3-memory-leak/12787

Any pointers how to fix this?

[2017-01-04 23:13] jlipps commented on #7510
The files in @imurchie's test repo are a good place to start. It doesn't take the form of a guide. There are guides galore on the internet (and even books) which a google search can help you find, but unfortunately they tend to go out of date quickly since the ecosystem is very fast-moving at this point.

[2017-01-04 23:14] jlipps commented on #7644
I don't think this is a memory leak. I think we just use a lot of event emitters. I guess we can set the max emitter value in Appium so the warning is printed. But I don't think this is causing any actual issues unless you've noticed other bad behavior.

[2017-01-04 23:37] jlipps commented on #7634
Oh yes, I do now see that the response is to the correct query on the Appium side. Weird that WDA made up their own source API.

[2017-01-04 23:40] mykola-mokhnach commented on #7634
WDA had only json source implementation before, which was used by the built-in inspector module. And I've recently added XML, which is 1:1 representation of the tree, which is generated for internal xpath search.

[2017-01-04 23:45] jmehtaebates commented on #7644
Yes. Limiting the event emitters should help.

Currently I see that the server does not stop for a really long time (it took several minutes before I had to terminate the process) with the above warning been seen multiple times. Will limiting the event emitters help in this case ?

[2017-01-04 23:47] jlipps commented on #7634
Oh right, I remember that now :-)

[2017-01-04 23:48] jlipps commented on #7644
No, it wouldn't help. And I'm not talking about limiting them, I'm talking about _increasing_ the limit, so that the warning goes away. But it sounds like there's actual strange behavior we should look into. We'll need to understand more of what's going on in your case to repro though.

[2017-01-04 23:49] jlipps commented on #7136
Sounds like ADB or the emulator is broken. I'd report it to Google.

[2017-01-04 23:58] jlipps commented on #7639
@davidrova can you please try running your test with the `recreateChromeDriverSessions` capability set to `true`?

[2017-01-04 23:59] jmehtaebates commented on #7644
I thought so too :(
I am not doing anything different. I launch the appium server via terminal (cmd I use: 'appium'). Once i am done, I hit ctrl+c to exit but i see the above warnings and the server doesn't stop until several minutes and I have to terminate the process

[2017-01-05 00:02] jlipps commented on #7644
@jmehtaebates in that case the issue you're experience may be a duplicate of https://github.com/appium/appium/issues/7328

[2017-01-05 00:07] jmehtaebates commented on #7644
Looks like that. The logs look similar. Do we have any workaround for now or terminating the process is the only way for time being?

[2017-01-05 02:14] debbie-qin commented on #6867
@imurchie I used Scripts/bootstrap.sh -d:
xx-xx-xxxx:WebDriverAgent xx-xx-xx$ sudo ./Scripts/bootstrap.sh -d
Password:xxxx
Fetching dependencies.
That's all, is it fixed ?

[2017-01-05 06:04] raymondlapak commented on #7233
Any update on this one? I face this issue when running the test on my apps, trying to tap on a textview..

[2017-01-05 06:49] shabinmohan opened #7645 "Not able to identify below xpath element using XCUITest -iOS Automation Native App"
@jlipps ## The problem
Not able to locate the below xpath element:

//XCUIElementTypeApplication/XCUIElementTypeWindow/XCUIElementTypeOther[2]/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeOther/XCUIElementTypeTable/XCUIElementTypeCell/XCUIElementTypeStaticText

There are few more elements [l/XCUIElementTypeStaticText] also

[2017-01-05 09:27] jeangb commented on #7641
Thanks a lot @mykola-mokhnach, I can't say how I had the wrong file in WDA...

[2017-01-05 09:32] tfcardoso commented on #5538
I'm trying to automate an embedded app also and this is giving me problems. This is a simple fix and should be in next milestone.

[2017-01-05 09:35] BertLeonaers commented on #6918
I Have the same problem.
Appium: 1.6.3
XCUITEST-driver
I am using ruby.
I did some investigation, and I noticed the following.

I want to swipe up with the following command:
`swipe(start_x: 100, start_y: 500, delta_x: 0, delta_y: -200, duration: 200)`

This command gets translated to this:
`#<Appium::TouchAction:0x007f8889b5b760 @actions=[{:action=>:press, :options=>{:x=>100, :y=>500}}, {:action=

[2017-01-05 09:45] raviraj-bidchat commented on #4597
Guys, can anybody help me, I'm going mad with this issue.
I can view in my logs

How can i get my actual webview name instead of chromium

I have changed hybrid.js file below

androidHybrid.listWebviews = function (cb) {
  logger.debug("Getting a list of available webviews");
  var webviews = [];
  var definedDeviceSocket = this.args.androidDeviceSocket;
  this.adb.shell("cat /proc/net/unix", func

[2017-01-05 09:51] jeangb opened #7646 "Not able to run test on 2 different iOs real devices"
## The problem

Hi,
In order to test main features of my application, I need to execute tests using 2 devices.

I'm able to launch tests controlling 2 Android devices at the same time, using 2 different servers (one with port 4723 and the other with port 4724).

So I thought I could do the same with iOS devices.
However the second server isn't able to launch the application under test on the secon

[2017-01-05 10:10] codiophile commented on #7537
@imurchie That's cool, thanks. I will try that. Any ETA for the next Appium release?

[2017-01-05 10:28] raviraj-bidchat commented on #7365
Guys can anybody help me in the same above issue.
I can only see Native and Chromium as my webviews, the actual webview of my App is not getting displayed in the console

I changed my hybrid .js file and changed line match pointing to my App
androidHybrid.listWebviews = function (cb) {
  logger.debug("Getting a list of available webviews");
  var webviews = [];
  var definedDeviceSocket = this.arg

[2017-01-05 10:38] RatkoD commented on #6996
I started the test suite and now I'm stuck on this:

[2017-01-05 10:42] luisromanwp opened #7647 "See whether Appium can set itself as the mock location app automatically"
Hi all!
The Appium settings is crashing every time I use a script that use the setLocation to set the GPS Position when I use a Android 7 N Device or Emulator.

Environment
* Appium 1.5.3 GUI with Appium 1.6.3
* MacOS Sierra
* Node.js v7.2.1
* Tested in Nexus 5 API 25 and Nexus 6 API 24
* Emulator and Real Device

[2017-01-05 12:45] mgehlen commented on #7545
I also have the same issue. idevicedate itself is returns the correct date on the device just like for @shivakrishnach31:

[debug] [XCUITest] Unable to get device time. Using local system time
[debug] [XCUITest] Output from idevicedate: Thu Dec 15 16:38:39 IST 2016

Since idevicedate returns the correct date I don't think that #7540 proposed steps fixes the issue here. After all if that would be t

[2017-01-05 12:48] mykola-mokhnach commented on #7645
Do you see these elements in the accessibility tree when you use built-in XCode inspector tool?

[2017-01-05 12:55] mykola-mokhnach commented on #7545
@mgehlen Try to update the appium-xcuitest-driver component to the version 2.5.1

[2017-01-05 13:12] imurchie commented on #7646
Can you try adjusting the local port for one of the servers? Using `--webdriveragent-port`.

[2017-01-05 13:12] imurchie commented on #7646
I'm not sure that this is possible, but that would get you past the iproxy error, anyway.

[2017-01-05 13:14] imurchie commented on #6867
I don't know what the problem was (this thread is too twisted to know what is going on anymore) but that solves the error in building the Inspector.

[2017-01-05 13:19] imurchie commented on #6996
Can you provide the _full_ logs as a [gist](https://gist.github.com)?

[2017-01-05 13:26] imurchie commented on #7647
Can you provide the Appium server logs, as a [gist](https://gist.github.com)?

[2017-01-05 13:34] imurchie commented on #7643
Can you update your setup to use `appium-xcuitest-driver@2.5.2`? Then use the new desired capability `wdaConnectionTimeout` and set it to a sufficiently long time (in milliseconds).

[2017-01-05 13:38] imurchie commented on #7647
Logcat logs for a run:

[code]

[2017-01-05 13:42] imurchie commented on #7647
Adding to our work queue.

[2017-01-05 13:51] luisromanwp commented on #7647
@imurchie
Here you have: https://gist.github.com/luisromanwp/d3fe2246f97aa0a213e0ee5d3ee3fa65

[2017-01-05 14:24] mykola-mokhnach commented on #7585
Can you provide more details? which alerts? what is the diff between these alerts where it works and where it does not work? How the log looks like?

[2017-01-05 14:36] jeangb commented on #7646
Hi, thank you, I'm able to launch the application on the device now !
But this is very very slow. The time that appium server 2 click on a button on device 1, appium server 1 close the application on the first device due to timeout...

[2017-01-05 14:42] oscheller87 opened #7649 "Native XCUITest commands?"
Before iOS 10 we were able to use find_element_by_uiautomation(<UI Automation String>) to locate elements, using native UI Automation commands. Is there a way to use XCUITest in a similar way? If so, are there samples or tutorials that explain XCUITest's syntax and usage? I want to avoid using XPATH because it's running too slowly.

[2017-01-05 14:43] imurchie commented on #7646
Unfortunately this hasn't been tested. It probably is not possible.

[2017-01-05 14:44] jeangb commented on #7646
Thank you for your answer. It's too bad because I'm able to doing well with Android.

[2017-01-05 14:47] imurchie commented on #7646
Yes, Android has much better support for testing. Apple disallows a lot of stuff in its tools.

[2017-01-05 14:56] squeemish commented on #7585
All alerts are UIAlertControllerStyleAlert.

I have two links on a login page (request new activation mail and request new password) that open a UIAlertControllerStyleAlert with a single text field XCUIElementTypeTextField.

Both of those links give the `Alert is obstructing view` error.

Inside the application on a profile screen there is a Deactivate button that brings up a UIAlertControllerStyl

[2017-01-05 15:00] imurchie commented on #7585
Are there textfields behind the failing alert, and not behind the working one?

[2017-01-05 15:10] squeemish commented on #7585
yes.  there is one XCUIElementTypeTextField and one XCUIElementTypeSecureTextField behind the failing alert.

using the absolute XPath worked instead of the class locator.  Was attempting to grab the other text field.

Still shaking off the holiday I guess.  Thanks for the help...sorry for the false alarm

[2017-01-05 15:29] codiophile opened #7650 "Appium occasionally fails to launch application"
## The problem

Application occasionally fails to launch with following error:

[code]

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.5.3
* Desktop OS/version used to run Appium: mac 10.12
* Node.js version (unless using Appium.app|exe): v7.0.0
* Mobile platform/version under test: iOS
* Rea

[2017-01-05 15:31] imurchie commented on #7650
Can you update the next time it happens? There is little that can be done from the logs provided.

[2017-01-05 15:36] mgehlen commented on #7545
@mykola-mokhnach thanks, that did the trick.

I just moved my setup from Appium 1.6.0 testing on iOS 10.0.2 to Appium 1.6.3 on iOS 10.2.
Generally it seems to work meaning App is installed, tests can be started and run.

At the moment I have the feeling it became less stable:
- I have more failing tests, which previously ran
- sometimes the App does not start properly and a test is not performed

[2017-01-05 15:47] hitesh02sharma commented on #5005
anyone have final solution of acutal issue ? I am still facing the same

[2017-01-05 15:54] codiophile opened #7651 "Appium occasionally fails to enter keyboard input"
## The problem

Appium occasionally fails to enter keyboard input.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.5.3
* Desktop OS/version used to run Appium: mac 10.12
* Node.js version (unless using Appium.app|exe): v7.0.0
* Mobile platform/version under test: iOS
* Real device or emulator

[2017-01-05 16:17] nikolmarku1 opened #7652 "How to setup safari to start on blank page and not appium.io"
## The problem
When browser safari start it starts with appium.io url open
Can I change this to about:blank and how ?

## Environment

* Appium version : 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium: iOS 10.12.2
* Node.js version (unless using Appium.app|exe):  7.3.0
* Mobile platform/version under test:  iPad mini 9.3.5
* Real

[2017-01-05 16:20] nikolmarku1 commented on #7652
[appiumlog.txt](https://github.com/appium/appium/files/687702/appiumlog.txt)
GIST
https://gist.github.com/nikolmarku1/b784ffcf85ab6c6dc75e2018819b28f6

[2017-01-05 16:23] dduphorn commented on #7136
How do I report it to Google :)

[2017-01-05 16:30] imurchie commented on #7652
Try using the `safariInitialUrl` desired capability.

[2017-01-05 16:34] squeemish commented on #7585
as a side note, interesting that the locators I was using (find by class name) worked fine before this new version, but now fail.  Either way, i can use the XPath for these two alerts since the old locators are not behaving the same

[2017-01-05 16:52] NagyRobertt commented on #7643
It seems that this solved the issue for me. Thank you!
Closing the ticket.

[2017-01-05 16:52] #7643 closed

[2017-01-05 16:53] imurchie commented on #7643
Awesome!

[2017-01-05 17:02] codiophile commented on #7650
It happened again on the last run. I am examining the logs at the moment, trying to find the relevant part. Out of 61 scenarios, 3 failed for this reason.

[2017-01-05 17:55] imurchie commented on #7651
Please do update with logs next time it happens.

[2017-01-05 18:12] mmcintyre123 commented on #5054
This works for me!
.elementByAccessibilityId('Hide keyboard')
Appium 1.5.3, Mocha, Javascript, iOS 9.3.4.

[2017-01-05 18:32] jmehtaebates commented on #7328
I see similar issue in Appium 1.6.3 when I try to stop the appium server via Ctrl+c

[code]

At this point terminating the process is the only way to stop the server.

[2017-01-05 18:41] jmehtaebates commented on #7328
Also there is this issue with catch signals #7644

[2017-01-05 18:42] jmehtaebates commented on #7328
#7644

[2017-01-05 18:56] emil-petersen commented on #7352
@mykola-mokhnach I'm closing this issue since work is under progress along these lines.

[2017-01-05 18:56] #7352 closed

[2017-01-05 19:17] jlipps commented on #7652
I believe we used to go to about:blank but it did not have the same kind of webview or something. Maybe it'd work nowadays.

[2017-01-05 19:18] jlipps commented on #7136
https://code.google.com/p/android/issues/list

[2017-01-05 19:24] jlipps commented on #7646
Pretty sure this is theoretically possible, however we haven't put time into supporting it. No clue why it would be slow.

[2017-01-05 19:27] jlipps commented on #7647
do we not have the MOCK_LOCATION permission allowed? or maybe users need to allow mock locations in an emulator setting?

[2017-01-05 19:35] #5538 closed

[2017-01-05 19:35] RatkoD commented on #6996
[debug] [WebDriverAgent] Device: Jan  5 20:33:18 RGs-iPhone-6 XCTRunner[1562] <Notice>: background task expired!!!
[debug] [iProxy] recv failed: Resource temporarily unavailable
[MJSONWP] Encountered internal error running command: ProxyRequestError: Could not proxy command to remote server. Original error: Error: ETIMEDOUT
    at JWProxy.proxy$ (lib/jsonwp-proxy/proxy.js:122:13)
    at tryCatch (

[2017-01-05 19:37] jlipps commented on #7365
@raviraj-bidchat did you try switching to the chromium context?

[2017-01-05 19:37] jlipps commented on #7639
fantastic! this issue was beginning to sound familiar :-)

[2017-01-05 19:37] #7639 closed

[2017-01-05 20:07] ohadschn commented on #7482
This happened to me to, and as @mykola-mokhnach suggested fixing the _xcconfig_ worked:
`CODE_SIGN_IDENTITY = iPhone Developer`

[2017-01-05 20:09] ohadschn commented on #7535
Same thing worked for me.
Note that using the `xcodeOrgId` and `xcodeSigningId` capabilities did **not** work.

[2017-01-05 20:18] RatkoD commented on #6996
https://gist.github.com/RatkoD/c605a975e5282c8d548bc763632e8d70

[2017-01-05 21:29] jlipps commented on #7638
@yoosufm what I'm saying is take Appium out of the picture. Launch your app manually on a simulator. Then open the Safari desktop browser and try to connect to the webview in your app, using the debug tools. Does that work?

[2017-01-05 21:34] jlipps commented on #7617
@ChiWhiteSox56 `signal null` just means that a subprocess exited on its own, not in response to an external signal. Your issue is probably unrelated.

[2017-01-05 22:13] dam1 commented on #5089
If you are using Crosswalk you need to use the [patched chromedriver webdriver](https://github.com/rokkknrollla/appium-android-xwalk-driver-patch) and use the context "CHROMIUM"

[2017-01-05 23:21] ericomurtez commented on #5942
@ds3p2 Did you ever solve this? Seeing same, but what is unusual I am only seeing it one of my environments so it is definitely something I have done but I cant figure out the discrepancy?

[2017-01-06 00:32] ericomurtez commented on #6970
That worked for me, thank you very much.

[2017-01-06 02:08] VivaLosDoyers opened #7653 "AUT stops immediately after launch - "App accessibility isn't loaded""
After updating Appium and the XCUITest driver, my app under test now terminates immediately after opening.

The Appium log says "App accessibility isn't loaded".

I've asked the Google about this, and it seems most people who've run into this problem are trying to deploy ARM-build IPAs to their sim. In my case though, I'm building the app seemingly properly:

`xcodebuild clean build -scheme "TestA

[2017-01-06 02:21] saikrishna321 commented on #6996
@RatkoD can you try upgrading to 1.6.3 and give it a try and also make sure you send a different wda port from your caps.

I also see somehow your tests are picking selendroid as AutomatioName on your second run

https://gist.github.com/RatkoD/c605a975e5282c8d548bc763632e8d70#file-gistfile1-txt-L2718

[2017-01-06 02:21] saikrishna321 commented on #6996
@imurchie should i reopen this issue ?

[2017-01-06 02:48] adarliu opened #7654 ""Could not proxy command" when getting logcat logs with UiAutomator2"
## The problem

I tried to get the logs with Python client. However, I always got the error "Could not proxy command to remote server. Original error: 404 - undefined".

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.5.3
* Desktop OS/version used to run Appium: WIndows 10
* Node.js version (u

[2017-01-06 02:55] SteffenL opened #7655 "Concurrent Android emulators"
## The problem

I am in most cases unable to run multiple Android emulators concurrently because Appium is unable to find one of the emulators. It looks like a bug to me now but I will explain more and let you decide.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to

[2017-01-06 03:07] adarliu opened #7656 ""An unknown server-side error occurred while process ing the command." when call driver.back() with automationName "uiautomator2""
## The problem

When calling driver.back() while automationName is uiautomator2, the Python client always got exception "WebDriverException: Message: An unknown server-side error occurred while process
ing the command."

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appium version that did not exhibit the issue (if applicable): 1.5.3
* Desktop OS/version

[2017-01-06 03:27] debbie-qin commented on #6867
Yeah, the error would happen when begin to building inspector, I try to delete Inspector/node_modules, but it would be created again.

[2017-01-06 04:31] Akshay64 commented on #5089
@dam1 will you pleas elaborate what is crosswalk

[2017-01-06 05:11] raviraj-bidchat commented on #7365
@jlipps Yes jlipps, The above appium log was observed after switching to Chromium context.
Later I tried changing my hybrid.js file by referring this link https://github.com/ITKarel/ChromeDriver, After that i'm now getting NATIVE_APP,WEBVIEW_undefined

Below is new updated log with webview_undefined

 info: [debug] Available contexts: NATIVE_APP,WEBVIEW_undefined

Thanks for replying Jonathan, If

[2017-01-06 05:27] NamrathaKRao commented on #7635
Am not getting the link to download the latest Appium version, 1.6.3. Can the link be shared here please.

[2017-01-06 06:26] #7649 closed

[2017-01-06 07:29] sravanmedarapu commented on #7656
[code]
Is `back` operation performed ?

[2017-01-06 07:39] mykola-mokhnach commented on #7653
Are you sure the app with the "com.oblong.TestApp-Alpha" identifier is installed properly before WDA is started? Do you get the same output after you execute xcodebuild from the terminal?

[code]

[2017-01-06 07:41] nidhitri opened #7657 "Unable to Build WebDriverAgent using Appium 1.6.1"
## The problem

Unable to build Webdriver Agent using Appium 1.6. **Getting Error as:**-

[Xcode] Signing for "WebDriverAgentRunner" requires a development team. Select a development team in the project editor.
Code signing is required for product type 'UI Testing Bundle' in SDK 'iOS 10.1'
Signing for "WebDriverAgentRunner" requires a development team. Select a development team in the project edit

[2017-01-06 07:57] adarliu commented on #7656
@sravanmedarapu Yes, the back operation was performed on the phone, even there was the error.

[2017-01-06 08:50] xyuklin opened #7658 "After running for some time,WDA response very slowly."
## The problem
After running for some time,WDA response very slowly.
(appium-xcuitest-driver v2.5.2)

[HTTP] --> POST /wd/hub/session/04e60673-d667-4d44-905e-48fce7035640/touch/perform {"actions":[{"options":{"x":150,"y":150},"action":"press"},{"options":{"ms":500},"action":"wait"},{"options":{},"action":"release"}]}
[debug] [MJSONWP] Calling AppiumDriver.performTouch() with args: [[{"options":{"x

[2017-01-06 08:57] yoosufm commented on #7638
@jlipps first of all thanks for your support. I tried above steps. Its not worked.

[2017-01-06 09:28] jeangb commented on #7646
Maybe if all the objects were identified with accessibility ids, it should be fast enough.

[2017-01-06 09:38] codiophile commented on #7651
I added a 1 second sleep before every `driver.action.send_keys(text).perform` and since then we haven't had a single failure because of this reason. I'm assuming the timings changed in the switch to XCUITest which causes Appium to send input before the app is ready to receive it.

[2017-01-06 10:19] mykola-mokhnach commented on #7657
There is a problem with WDA code signing. Make sure you follow real device configuration steps from https://github.com/appium/appium-xcuitest-driver#usage

[2017-01-06 10:19] #7657 closed

[2017-01-06 10:29] BertLeonaers commented on #6918
When I print the location of an element, I get the right values.

[2017-01-06 11:27] nikolmarku1 commented on #7652
Thanks imurchie ....

[2017-01-06 11:27] #7652 closed

[2017-01-06 11:51] Vinothbk commented on #6895
How to replace default (integration app)test app by my own test app with webdriveragent? please tell me the steps.. thanks in advance!

[2017-01-06 13:27] imurchie commented on #6996
@saikrishna321 I don't think so. The latest version of Appium better handles killing the processes.

@RatkoD Can you upgrade to 1.6.3?

[2017-01-06 13:28] imurchie commented on #6867
That should be fixed, then, since the `-d` options excludes the Inspector.

[2017-01-06 13:39] imurchie commented on #7655
Interesting. Looking into this.

[2017-01-06 14:26] imurchie commented on #7655
I'm seeing the same behavior. Digging a little deeper.

[2017-01-06 15:05] imurchie commented on #7655
Unfortunately, this seems like an Android problem. Without Appium I still can't get two Emulators to start. One always sits with a black screen. Each individually works fine.

You can try. The command is like

[code]

[2017-01-06 15:08] imurchie commented on #7655
This might be related to Intel. I can get it to work if one of the emulators is ARM based and the other Intel.

[2017-01-06 15:10] imurchie commented on #7658
Can you turn on timestamping and re-post the logs (as a [gist](https://gist.github.com), not a txt file)? That will allow us to see where the time is being spent. Just use the `--log-timestamp` flag when starting Appium.

[2017-01-06 15:33] imurchie commented on #7651
Unfortunately, there is no way for Appium to know if/when the app is ready to receive something. :(

[2017-01-06 15:39] imurchie commented on #6970
Awesome!

[2017-01-06 15:39] #6970 closed

[2017-01-06 15:41] SteffenL commented on #7655
Thanks for looking into this. Feels like the ARM-based emulator takes forever to boot (even Appium gives up). :)

When using Intel for both emulators, do you happen to see this in the console?
[code]

I was able to launch both emulators in sequence after making adjustments to the limit.

[2017-01-06 16:17] SteffenL commented on #7655
Despite the emulators seeminly working, the console still says things like..
[code]

No idea if that was intended or not.

[2017-01-06 17:03] TheChell commented on #6867
@imurchie I would like to try your solution of passing an .xcconfig file. I am working on a pre-existing maven project. Do you know how I can pass the full path in using the xcodeConfigFile, with maven?

[2017-01-06 17:17] imurchie commented on #6867
I don't know anything about Maven. But however you pass in desired capabilities, you should be able to send the `xcodeConfigFile` capability.

[2017-01-06 17:48] TheChell commented on #6867
@imurchie I apologize for my lack of understanding, this is my first time working with Maven. I have created the .xcconfig file and have passed values for for both

[code]

However, when I go to the properties file to add the `xcodeConfigFile` capability, it is not displaying as one I can pass.

I am on Appium version 1.6.3.
My list of desired capabilities is:

[code]

But `xcodeConfigFile` remain

[2017-01-06 17:56] imurchie commented on #7655
Yes, adjusting the limit let me run your scenario, too.

The logs will say that until the new emulator is available. It is querying what is there, and gets the other emulator, so tries again.

[2017-01-06 17:56] #7655 closed

[2017-01-06 17:58] imurchie commented on #6867
I do not know. This would be better asked on https://discuss.appium.io/

[2017-01-06 17:58] TheChell commented on #6867
Thank you for your quick response. I will ask there.

[2017-01-06 18:15] goldylucks commented on #7510
@jlipps I haven't found a single guide, tutorial, or example, using appium with nodejs.

maybe I'm missing something obvious?

[2017-01-06 18:17] jlipps commented on #7638
In that case, there's nothing Appium can do :-( Appium uses the remote debugger to connect to the webview. This is the same technology that Safari uses to connect to an iOS simulator webview. This proves it's not an Appium issue. The next thing I'd do is ensure that the web inspector is enabled (go to Settings > Safari > Advanced, and ensure "Web Inspector" is enabled.

[2017-01-06 18:17] #7638 closed

[2017-01-06 18:20] jlipps commented on #7365
@raviraj-bidchat so you're using a crosswalk webview? And you are sure the new chromedriver is the correct binary from that other repo? If it's not working then I'm afraid I can't help further; Appium doesn't officially support the crosswalk webview because Chromedriver doesn't officially support it. You could ask @ITKarel for help though; maybe the android-hybrid.js code needs to be rebased on to

[2017-01-06 18:22] jlipps commented on #7654
Thanks for reporting, @adarliu. It looks like uiautomator2 does not respond to the logs command. @sravanmedarapu, should it? Or should we just not proxy it to the uiautomator2 server?

[2017-01-06 18:30] jlipps commented on #7510
@goldylucks did you look at the link @imurchie shared above? https://github.com/imurchie/basic-js-test.

Getting Appium itself set up is not Node-specific. You can follow any Appium guide. If you want to write and run tests written in Node, then the link I just shared should be a good starting template.

[2017-01-06 18:32] SteffenL commented on #7554
Sorry for the delay. I can finally confirm that chromedriver version 2.20 works with the Android 6 emulator.

[2017-01-06 18:32] #7554 closed

[2017-01-06 19:01] jlipps commented on #7440
@asnaith just to follow up: it looks like we're already doing this. Check out https://github.com/appium/appium-xcuitest-driver/blob/master/lib/commands/gesture.js#L153. Notice that we're getting the `ms` of the duration, then turning into seconds for WDA. So I'm unsure why you're experiencing this.

[2017-01-06 19:06] jlipps commented on #7622
yeah, maybe adding a custom json parameter `redact` to the sendkeys method would work. We can bring this up with the selenium folks too to see if it's worth talking about in terms of the spec.

@lukeis @shs96c have you guys had requests before for a flag for sendkeys that will instruct the server not to log the text in case it's sensitive information?

Alternatively, we could stay within spec and

[2017-01-06 19:07] #7520 closed

[2017-01-06 19:12] jlipps commented on #7581
This is an error from Chromedriver that unfortunately we can't do anything about. Did you notice an alert before switching to the webview mode? It looks like it's affecting Chromedriver's operation.

[2017-01-06 19:12] #7625 closed

[2017-01-06 19:16] jlipps commented on #7626
Interesting. @marekcirkos do you think this is an XCTest bug? Could we workaround it by setting the slider to 0 first in WDA before then trying to change its value?

[2017-01-06 19:18] jlipps commented on #7588
@mjduvall which type of permissions dialog is it?

[2017-01-06 19:28] jlipps commented on #7594
@Mygod correct, there are no plans to build this feature at the moment. If you research and discover a way for us to get the url of a webview internally, maybe there's a case for expanding the protocol to include `GET /context/:name` to retrieve information about the webview including url.

[2017-01-06 19:36] benzhou29 opened #7659 "Appium 1.6.3 - Can't stop appium, hangs"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to Appium). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, go to http://discuss.appium.io!

Can't quit appium using control + C.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Last Appi

[2017-01-06 19:39] imurchie commented on #7659
Duplicate of #7328

[2017-01-06 19:39] #7659 closed

[2017-01-06 19:58] goldylucks commented on #7510
@jlipps the android example there is new.
I'll check it out, thanks!

[2017-01-06 20:19] ABahadori156 commented on #7585
Could one of you guys paste your code for using absolute XPath to locate the text field inside the alert view and have it input text? I'd appreciate it - been stumped on this for a little as well

[2017-01-06 20:35] jlipps commented on #6360
Hmm, it sounds like it's an adb issue, or a uiautomator issue. @eliasnogueira what did you observe on the device attached to the closed node? Did the device itself crash or go offline?

[2017-01-06 20:41] jlipps commented on #7621
I'm actually pretty sure this would be a client issue. `long press` is not part of the action api itself. I'm guessing it's something in how the Java client works. If you shared your appium logs, we could probably prove that hypothesis.

[2017-01-06 20:58] goldylucks commented on #7510
@imurchie i c u use `elementByAccessibilityId` in your tests.
is that equal to the string of an element?

if so for some reason it doesn't work on my app.
Maybe it's a react native glitch.

I can make a barebones repo of an apk and the test.
will that help?

[2017-01-06 21:10] squeemish commented on #7585
@ABahadori156

`private IOSElement getForgotPasswordPopupTextField() {
        return DriverUtils.findElementByXPath(driver, "//XCUIElementTypeApplication[1]/XCUIElementTypeWindow[1]/XCUIElementTypeOther[2]/XCUIElementTypeAlert[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[2]/XCUIElementTypeOther[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[1]/X

[2017-01-06 21:10] VivaLosDoyers commented on #7653
I'm fairly certain the app is not installed properly, because I can't manually launch it either.

With that said, I've used the exact same build method for months now (using the xcodebuild string I posted above), so I'm really not clear on what could have changed for it to suddenly stop working.

I'm confident that my app itself is OK, because if I build and deploy to the simulator through Xcode d

[2017-01-06 21:31] rkavalap commented on #7653
@VivaLosDoyers Did you trust the AUT in settings ?

[2017-01-06 21:48] hardik-d commented on #7510
accessibilityID maps to content-desc in android and accessiblityID in ios. your respective app elements needs to have these properties set for you to use accessiblityID strategy

[2017-01-06 22:32] jlipps commented on #7510
There's an open issue about react native ids being mapped to the tag field in Android which makes them unfindable using normal mechanisms. So that may cause problems for now: https://github.com/appium/appium/issues/6025 (we're working on this though)

[2017-01-06 22:37] VivaLosDoyers commented on #7653
@rkavalap is that something you need to do for the simulator? I've never seen it pop up any dialogs regarding trust.

[2017-01-06 22:56] ABahadori156 commented on #7585
Thanks so much!

Gonna give it a try now

On Fri, Jan 6, 2017 at 1:10 PM, squeemish <notifications@github.com> wrote:

[2017-01-06 23:52] rkavalap commented on #7653
Oops. My earlier statement was something i encountered for real device. That is the developer / Enterprise signing the app needs to be trusted for you continue further.

[2017-01-07 00:44] ABahadori156 commented on #7585
I am also getting the "Alert is obstructing view" error following with a 'No keyboard found. Clicking element to open it.'

For the XPath I am using:
private IOSElement alertTextFieldInput() {

return (IOSElement) driver.findElementByXPath("//XCUIElementTypeApplication[1]/XCUIElementTypeOther[2]/XCUIElementTypeOther[2]/XCUIElementTypeAlert[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[1]/XCUIEle

[2017-01-07 04:05] sravanmedarapu commented on #7654
@jlipps, We should not proxy it to the uiautomator2 server.

[2017-01-07 11:25] goldylucks commented on #7510
following #6025 , I ended up using [this](https://github.com/facebook/react-native/pull/9942#issuecomment-266992184) solution.

thanks for the help @jlipps !

I've seen many people online struggling with RN and appium (and actually, e2e testing in general).

I think it could b very valuable to have an updated sample code.
I can prepare a PR for this repo or the sample-code repo.

What do u think?

[2017-01-07 12:28] wangtao169447 opened #7660 "in iOS system, getPagesource function works very slow"
## The problem

the getPagesource() works very slow in iOS; however which works very quick in Android
in Android system, less than 1 second
in iOS,more than 10 seconds

the gist path of log:https://gist.github.com/wangtao169447/60587200d4b0835dd301bc9e5fc32994

thanks for your help

## Environment

* Appium version (or git revision) that exhibits the issue:1.6.3
* Last Appium version that did not

[2017-01-07 12:39] ohadschn commented on #7622
@jlipps

That's a great idea, at the very least could serve as a stopgap until the redact approach is implemented.

[2017-01-07 13:43] simonjgamer commented on #6944
I do not seem to have Tools (Preview Channel) in my SDK manage. Although Enable preview is ticked in preference of SDK manager. Any idea?

[2017-01-07 17:21] mykola-mokhnach commented on #7660
This is not appium issue, but rather Apple's XCTest framework, which we use as a backend, is slow and buggy. Also, XCTest does not directly support neither XML representation of the UI tree nor XPath search. That is why this is slow and we hardly can do anything to speed it up.

[2017-01-07 17:21] #7660 closed

[2017-01-08 11:08] wangtao169447 commented on #7660
@mykola-mokhnach
thanks

[2017-01-09 02:36] debbie-qin commented on #6867
@imurchie I tried to clone the WebDriverAgent folder to another folder and installed it, then succeed .

[2017-01-09 06:05] yoosufm commented on #7638
@jlipps Thanks..

[2017-01-09 07:11] Jitu1888 commented on #7636
I have a solution for it to click on landscape mode.

[2017-01-09 07:23] StevieSun commented on #7658
In my case the WDA does not startup at all..!!!
Any support on this is very much appriciated. I waited for almost 4 minutes and still the WDA did not finish starting. Please find the gist below. Thanks in advance.
[https://gist.github.com/StevieSun/ab201c65b03e9ffe1d79e9cd393e3b29](url)

[2017-01-09 08:40] tfcardoso commented on #7621
Hi, please look at the full logs here:
https://gist.github.com/tfcardoso/6c4d22e0d0d55e5b82181a19e15025ca

The command seen in logs is:

    [debug] [MJSONWP] Calling AppiumDriver.performTouch() with args: [[{"action":"longPress","options":{"element":"b151ddda-1d88-4047-810e-b062fa5b2dc9","duration":6000}},{"action":"release","options":{}}],"a2d11779-24ac-4f6b-bff9-19e2d5bfb5d7"]

By the way on th

[2017-01-09 08:47] vsaraydarova-broadsoft commented on #7570
Thanks for the quick replay, waiting until additional information is available.

[2017-01-09 09:31] codiophile commented on #7651
I'm guessing that you are at least checking that the keyboard is on screen. Maybe it would be worth adding a small delay between detecting the keyboard and sending input?

[2017-01-09 10:03] anbuvelm opened #7661 "iOS 10 real device - Appium 1.6.0 how to scroll the page with elements"
## The problem

Briefly describe the issue you are experiencing (or the feature you want to see added to Appium). Tell us what you were trying to do and what happened instead. Remember, this is _not_ a place to ask questions. For that, go to http://discuss.appium.io!

## Environment

* Appium version (or git revision) that exhibits the issue:
* Last Appium version that did not exhibit the issue (i

[2017-01-09 10:09] mykola-mokhnach commented on #7661
Please use Appium forum for howto questions.

[2017-01-09 10:09] #7661 closed

[2017-01-09 10:09] RatkoD commented on #6996
I've upgraded to 1.6.3, let me do a few more test runs to see if it happens and how often. Thanks!

[2017-01-09 10:11] mykola-mokhnach commented on #7658
@xyuklin Does this problem happen if you run this this test not as a part of test sequence? Because it might be related to [this](https://github.com/facebook/WebDriverAgent/issues/372) WDA issue.

[2017-01-09 10:56] xyuklin commented on #7658
@imurchie I had re-post the logs https://gist.github.com/xyuklin/0ab095383987a76c12fd1e7eeb933941

[2017-01-09 11:00] xyuklin commented on #7658
@mykola-mokhnach After the implementation of many times will appear

[2017-01-09 11:14] mykola-mokhnach commented on #7658
I see there's a big delay between sending request and getting a response from WDA. Can you also attach the log from the device for this time period when requests are getting too slow?

[2017-01-09 11:53] rkn411 commented on #5100
info: [debug] Responding to client with error: {"status":33,"value":{"message":"A new session could not be created. (Original error: ENOENT: no such file or directory, stat '/Applications/Appium 2.app/Contents/Resources/node_modules/appium/build/SafariLauncher/SafariLauncher.zip')","errno":-2,"code":"ENOENT","syscall":"stat","path":"/Applications/Appium 2.app/Contents/Resources/node_modules/appium

[2017-01-09 11:54] rkn411 commented on #5100
error while launching safari browser on real device
iPhone 5s -9.3.3
xcode8.1
appium 1.14
safari launcher signed with developer certificates

[2017-01-09 12:41] fayizkc commented on #5100
Hi,
Please download the latest SafariLauncher
project from github(https://github.com/budhash/SafariLauncher), then build
it in Xcode, it will generate a file SafariLauncher.app in Products folder.
Compress the file to "SafariLauncher.zip", then navigate to
/Applications/Appium.app/Contents/Resources/node_modules/appium/build/,
create a folder "SafariLauncher", put "SafariLauncher.zip" file into th

[2017-01-09 13:07] tadesushilgithub opened #7662 "Getting error while running appium with iOS 10"
## The problem

[XCUITest] Error: Command '/bin/bash Scripts/bootstrap.sh -d' exited with code 1
[MJSONWP] Encountered internal error running command: Error: Command '/bin/bash Scripts/bootstrap.sh -d' exited with code 1

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.2
* Last Appium version that did not exhibit the issue (if applicable): 1.3
* Desktop OS/version u

[2017-01-09 13:30] steinwelberg opened #7663 "process.env.HOME undefined when Appium tries to start an iOS simulator"
## The problem

When running tests using Appium with the `XCUITest` automator on a simulator I run into the following problem. The simulator fails to start due to the following error: the home directory path cannot be resolved. `process.env.HOME` is resolved to `undefined`.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.0
* Last Appium version that did not exhibit

[2017-01-09 13:35] mykola-mokhnach commented on #7662
Please search existing issues. This one has been reported many times already.

[2017-01-09 13:35] #7662 closed

[2017-01-09 13:37] mykola-mokhnach commented on #7663
How do you execute appium? Usually, a new process inherits environment from its parent. So, in case you execute Appium as a system service, then it might be possible these env vars are not initialised yet on this stage.

[2017-01-09 13:41] steinwelberg commented on #7663
Hmm good point Mykola, we are running Appium as a daemon.. That is also probably why I couldn't reproduce this issue on another mac where I'm running Appium in a terminal window..

Thanks for the Tip, I'll investigate this, and it will probably solve my issue.

Thanks for the quick reply!

[2017-01-09 13:54] pankyopkey opened #7664 "Always Unable to connect to WDA for 60 secs"
## The problem

In the Appium Logs, i am seeing this log everytime i try to create a session. It waits for 60 seconds to connect to the WDA, and then says unable to connect.

## Environment

* Appium version (or git revision) that exhibits the issue : 1.6.3
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium: Mac OS Sierra
* Node.js version

[2017-01-09 13:58] rkn411 commented on #5100
i created folder i m running in mac machine so there won't be zip  format i think so

[2017-01-09 14:01] #7663 closed

[2017-01-09 14:02] steinwelberg commented on #7663
Adding an additional environment variable to the daemon configuration resolved my issue. Thanks again @mykola-mokhnach  for your quick reply!

[2017-01-09 14:30] dilsreccse commented on #7550
I tried that, its not working , will the next appium release will resolve the swipe issues ??

[2017-01-09 15:24] imurchie commented on #7664
Hmm. Yes, it should. Investigating.

[2017-01-09 16:12] codiophile commented on #7650
Logs are coming. They are massive, so we need to extract just the relevant parts. Unfortunately that might have to wait as we are working on a release with a tight deadline and I don't have a lot of time to spare for this.

We are currently working around this problem by catching the exception and trying again, which so far has been working fine for us, but ultimately it would be nice if we didn't

[2017-01-09 19:57] suganeby commented on #7305
I have the same issue too. Not able to set value to the picker wheel. I tried 'sendKeys' and 'setValue', none of them worked.
It seems to be an issue with XCodeUITest. But not sure when apple would fix the issue because issue seems to be there for over an year. In XCodeUITest, setting value to the picker wheel is achieved by tapping also. So I dont think this issue would get any attention by apple

[2017-01-09 20:06] suganeby commented on #6873
@appiumnovice,  Did you solve the picker issue? I do have issue in setting value to the picker wheel. Let me know if you have any solution.
I am using appium 1.6.3 on a real device ios 10.

[2017-01-09 20:57] suganeby commented on #6622
What is the workaround? I do have same issue in appium 1.6.3. Not able to set value value to the picker wheel in ios app. I tried "sendKeys" and "setValue", both of them didnt work.

Code that i tried
List<IOSElement> wheels = driver.findElements(MobileBy.className("XCUIElementTypePickerWheel"))
wheels.get(0).sendKeys("5")

[2017-01-09 21:01] pavanbachu0604 commented on #7646
@imurchie How can i run the parallel tests on 2 iOS devices (Appium 1.6.3 and iOS 10.2 devices)

[2017-01-09 21:36] KBhatti commented on #7564
@dpgraham I am not able to do a driver.tap() or tap for a particular timeframe using TouchAction. I am using Appium 1.6.3/iOS 10.2 simulator. From your comments seems like its an issue that Appium WDA is looking at. Is it resolved yet?
TIA!

[2017-01-09 21:37] KBhatti commented on #7379
@SonaliBurghate is driver.tap or touchaction tap working for you? It doesn't work for me with Appium 1.6.3/iOS10.2

[2017-01-09 21:53] ChiWhiteSox56 commented on #7220
@SatishKumarKV - I'm having an issue that's very similar to the one you're having: https://discuss.appium.io/t/xcodebuild-exited-with-code-65-no-signing-certificate-ios-development-found/14095/6

The only difference that I see is I'm not using Crontab.

Did you find a solution to this problem? If so, will you kindly share it with me? I haven't been able to run tests on iOS real devices since the u

[2017-01-09 22:50] ChiWhiteSox56 commented on #7152
@Nesaganesh - Have you found a solution to the problem that you reported? I'm having a similar issue where I'm also receiving the following error:

[code]

I really don't know what else to try, and my work is critically blocked because I can't run tests on real iOS devices. Everything was working fine until I had to accommodate the XCUITest framework.

I submitted the following question to Appium

[2017-01-09 23:53] mjduvall commented on #7588
We have a permissions page within the app where the user selects a button to grant permissions and that calls the associated system permission. It's after the system permission is accepted, using 'alert_accept', that I'm having the issue.

I took another look and realized that I was running ARC with autoGrantPermissions set to True, which explains why I suddenly wasn't seeing the permissions issue

[2017-01-10 00:16] pavanbachu0604 opened #7665 "Running Appium Scripts in iOS 10 devices parallely"
Device iOS Version : iOS 10.2
Appium : 1.6.3

**Req: Need to run automation scripts in iOS 10.2 using Selenium-Grid**

Experimented Methods:
1. Passing the wdaLocalPort as capability in nodeconfig file
  _Observation_ : Both the devices are pointing to 8100 and error in appium logs : iproxy exited with 208

2. Pass the wdaLocalPort as the capability in Code, wdaLocalPort would increment dynamicall

[2017-01-10 00:22] hardik-d commented on #7587
@imurchie any updates here? let me know if i can help debug it any further.

[2017-01-10 00:23] nchinenk opened #7666 "Unable to click a button when an alert is displayed in the background"
I have this command:

wd.find_element_by_xpath("//XCUIElementTypeButton[@name='Cancel']").click()

or using full Xpath:

wd.find_element_by_xpath("//XCUIElementTypeApplication[1]/XCUIElementTypeOther[1]/XCUIElementTypeOther[3]/XCUIElementTypeOther[2]/XCUIElementTypeButton[2]").click()

which no matter what time out I set returns an error: An element could not be located on the page using the given

[2017-01-10 03:28] xyuklin commented on #7658
appium log: https://gist.github.com/xyuklin/e24d2e468bf9b66b9dcfaf041f9880b9
device log:https://gist.github.com/xyuklin/70a1399a5b22e6ec7a40adbbd02b2492

[2017-01-10 04:19] dilsreccse commented on #7379
I am also facing same issue. Not able to tap on elements using x,y co-ordinates. Is there any fix for this?

[2017-01-10 05:18] SumanthSanathi opened #7667 "Appium can't launch .ipa with iOS 10 beta / Xcode 8 beta"
**Appium can't launch ipa with iOS 10 beta / Xcode 8 beta.**

Environment

Appium version : 1.6
Desktop OS/version used to run Appium: OS X 10.12
Mobile platform/version under test: iPhone 6S with iOS 10
Real device or emulator/simulator: **Real device**
**Xcode 8 beta**

[2017-01-10 06:50] wangtao169447 commented on #7257
I am seeing this issue too on v1.6.3, iOS 9.3.5 iOS 10.1.1 and so on

[2017-01-10 07:05] SatishKumarKV commented on #7220
@ChiWhiteSox56
Crontab was failing to access certs in my keyChain for some reason. Moved my development certs to System/local and it started working without any issues.

[2017-01-10 07:24] wangtao169447 commented on #6895
am seeing this issue too on v1.6.3, iOS 9.3.5 iOS 10.1.1 and so on

[2017-01-10 07:36] wangtao169447 opened #7668 "after launching WebDriverAgent , the next script does't execute, strunk in."
## The problem

real device, ios , (iOS 9.3.5 or iOS 10.1.1)
i can run WebDriverAgent in real device, and when i run appium script, after launching webdriveragent, there is nothing to print ,and appium does not work

## Environment

* Appium version (or git revision) that exhibits the issue:1.6.3
* Last Appium version that did not exhibit the issue (if applicable):none
* Desktop OS/version used to

[2017-01-10 07:45] mykola-mokhnach commented on #7666
What happens if you call driver.switchTo().alert().accept() to accept the alert first?

[2017-01-10 08:21] swachhab commented on #6895
Solved this problem by re-installing whole setup(Appium 1.6.3, xcode 8.2, and other dependencies) Its working absolutely fine now.
@Vinothbk : Please tell what u r facing?

[2017-01-10 08:24] swachhab commented on #6895
You have to do some tweaks in WebDriverAgent.xcodeproj file to build it and launch it on your IOS device, Then your script will launch your application using this WebDriver Application.

[2017-01-10 08:32] #7599 closed

[2017-01-10 08:35] mykola-mokhnach commented on #7668
Can you try it with updated appium-xcuitest-driver component. Set its version to 2.5.1/2.5.0

[2017-01-10 08:36] mykola-mokhnach commented on #7667
There 's not enough information to help. We need at least both logs: xcode and appium.

[2017-01-10 08:42] mykola-mokhnach commented on #7658
I see only one potential candidate for making delays in the log:

[code]

And this is Apple's XCTest issue for sure. Have no idea why it happens though. @xyuklin Probably, you can observe what is happening in your app at the time when the corresponding logline appears.

[2017-01-10 08:45] wangtao169447 commented on #7313
i wonder where to change the func:

if (!reachedEnd) {
reachedEnd = true;
}

in which file?

[2017-01-10 09:05] TusharRastogi commented on #7273
@jlipps, @mykola-mokhnach

I have update appium to v1.6.3 and I am still facing this issue.

Also while I run:

`xcodebuild -project WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner -destination 'id=<udid>' test`

I get something I like this

2017-01-10 13:55:41.362400 XCTRunner[282:34627] Continuing to run tests in the background with task ID 1
Test Suite 'All tests' started at 2017-01-10 13

[2017-01-10 09:12] wangtao169447 commented on #7668
@mykola-mokhnach

how to update appium-xcuitest-driver to 2.5.1/2.5.0?

thanks!

[2017-01-10 09:24] njf1107 opened #7669 "Open URL in Edge,how can I click element with Appium"
## The problem
In Windows 10,One method is use WebDriver.exe to luncher Edge,But I want to know how can I do winth Appium,thanks

## Environment

* Appium version (or git revision) that exhibits the issue:
* Last Appium version that did not exhibit the issue (if applicable):
* Desktop OS/version used to run Appium:
* Node.js version (unless using Appium.app|exe):
* Mobile platform/version under te

[2017-01-10 09:30] njf1107 commented on #7669
@jlipps ,i need your help,thank you

[2017-01-10 09:35] slipy12 commented on #6895
yes.
1. Reinstall appium
2. move to `usr/local/lib/node_modules/appium/node_modules/`
3. run `sudo npm install appium-xcuitest-driver@2.5.2`
4. run `open appium-xcuitest-driver/WebDriverAgent/WebDriverAgent.xcodeproj`
5. In xcode change the Signing certificates to development
It should work

[2017-01-10 09:36] mykola-mokhnach commented on #7668
[code]

[2017-01-10 09:43] mykola-mokhnach commented on #7273
@TusharRastogi Try Appium with most recent components:

[code]

[2017-01-10 09:49] wangtao169447 commented on #7668
thanks very much!
i will update all components

and then, i will try to execute appium script on real device;
and give you the execute results.

[2017-01-10 10:04] NamrathaKRao commented on #7635
Am facing same issue with Appium 1.6.3 too.

[2017-01-10 11:02] wangtao169447 commented on #7668
@mykola-mokhnach
：）
after i update all components as your advise

the appium script runs well!

thanks

and i have a question that
https://github.com/appium/appium/issues/7641
we konw the solution to solve this kind of problem, but why don't merge the change in the branch of WebDriverAgent?

[2017-01-10 11:05] mykola-mokhnach commented on #7668
@wangtao169447 Because Appium team does not have a control over WDA project. It's maintained by Facebook developers and we just create pull requests there or report bugs and they decide what to marge and do code reviews. You can try to convince  Facebook dudes yourself if you want an issue to be merged faster ;)

https://github.com/facebook/WebDriverAgent/issues

[2017-01-10 11:21] mykola-mokhnach commented on #7668
Set either _preventWDAAttachments_ or _clearSystemFiles_ capability to True. See https://github.com/appium/appium-xcuitest-driver#usage fro more details

[2017-01-10 11:27] michalakm opened #7670 "XPath does not locate element which does not fit in the screen on iPhone"
## The problem

If element is not presented on the screen because it does not fit (for example it is 15th element in a table but on the screen you can fit only 14 elements at once) it is not found by XPath locator.

## Environment

* Appium version (or git revision) that exhibits the issue: 1.6.3
* Desktop OS/version used to run Appium: OS X El Capitan
* Node.js version (unless using Appium.app|ex

[2017-01-10 11:30] pavankumar9 commented on #6776
Any update on this issue. Even I am also facing the same issue.

[2017-01-10 11:42] wangtao169447 commented on #7668
@mykola-mokhnach
thanks for your introduce.

i also find that in iOS UIAutomate, it runs very slow and use  much resources than Android UIAutomate  ;  and slower than the former UIAutomation framework after i changed to XCUITest.

i wonder the reason why the UIAutomate become slow is because the XCUITest?
and the increase of the resource usage is also because the XCUITest?

because i found it is r

[2017-01-10 11:55] wangtao169447 commented on #7668
[You can try to convince Facebook dudes yourself if you want an issue fix to be merged/reviewed faster ;)](url)

OK，i will have a try.
and i tried the solution, found the solution works well. and the faster they merge the solution , it will help more people.

and i also write a blog to introduce the solution in chinese , and hope it can help more people .  :)

[2017-01-10 12:02] shivakrishnach31 opened #7671 "Is there a way to find out the URL of an image from imageView in Android Native App"
## The problem
I am unable to extract the URL or source of image in native app which is in image view. Do we have any way to find out this. This is an e-commerce and it displays product image, description and price. I have to extract image URL, description and price. I am able to extract description and price but not able to extract image URL and didn't find any parameters related to image view.
C

[2017-01-10 12:19] TusharRastogi commented on #7273
Thanks @mykola-mokhnach for replying, I tried running again and I get [this](https://gist.github.com/TusharRastogi/03e2123ed1345901c540af32cf8835f8).

I really don't understand what/why is this:

[2017-01-10 12:51] mykola-mokhnach commented on #7273
Try to restart your device

[2017-01-10 12:52] premji456 commented on #7606
@dmlemeshko Below is my code for setting location on Google map by passing lat and long but it doesn't work.

package Test;
import io.appium.java_client.AppiumDriver;
import io.appium.java_client.android.AndroidDriver;

import java.net.MalformedURLException;
import java.net.URL;
import java.util.Set;
import java.util.concurrent.TimeUnit;

import org.openqa.selenium.By;
import org.openqa.selenium.W

[2017-01-10 12:54] premji456 commented on #7606
@dpgraham for now I am using google map. If it passes then i will jump to my app where I am using google map as webview.

[2017-01-10 13:11] huanglik opened #7672 "[BUG] iOS Appium “ dragfromtoforduration” function failed ， while calling this in webdrvieragent（facebook） works well"
when i write test for iOS Appium using  “ dragfromtoforduration” function
it doesn‘t work
I check the server log of appium， it wronglly changes the “toY” and “toX”  to call wda
client send fromX，fromY（160，85.2） endX，endY（160，511.2）

**but appium changes  the value of  endX，endY to (320, 596.4)**
thus that my test fail   !!!!!!!!

![image](https://cloud.githubusercontent.com/assets/3026388/21807114

[2017-01-10 13:20] huanglik opened #7673 "[HELP ] could not find shrinkwrap; skipping fixing shrinkwarp"
i check out the source of appium
when i run 'npm install', it works well and i can use 'node .' launch appium

however, when i modify the source of appium, just like adding more log , and then try to rebuild appium, it occurs something wrong like ' not find shrinkwrap;  skipping fixing shrinkwarp'
<img width="994" alt="143ad7ef-6afc-4a02-b8e7-f2e3b2bbc4f5" src="https://cloud.githubusercontent.com/

[2017-01-10 13:26] dmlemeshko commented on #7606
@premji456
Please provide more details about your env and full stacktrace: `Appium server version` (I hope you are using 1.5.3 or above), `appium-java-client` version, what type of emulator: Android SDK or genymotion.
So far you can check [this thread](https://github.com/appium/appium/issues/4309), looks like your issue

[2017-01-10 14:26] premji456 commented on #7606
Appium 1.6.3 Java client 4.1.2 Android SDK emulator I am using shwoing issue in screenshot
![google map set location](https://cloud.githubusercontent.com/assets/6905826/21809699/dc64c4da-d76e-11e6-8f88-327079ca4ced.png)

[2017-01-10 14:50] surikiran opened #7674 "Luck didn't favour for ios parallel execution with appium 1.5.3"
I have been going through lots of forums and found mixed comments saying that parallel execution of ios devices with appium is possible/impossible...but luck didn't favour as I followed all the steps provided by @saikrishna and @SrinivasanTarget  but unable to succeed for not even a single instance....I am trying to execute iphone 5s(8.2) and iPad Pro(9.3.2) parallelly using appium but nothing did

[2017-01-10 14:59] VolhaMartynovich opened #7675 "Android getPageSource() returns unformatted source code"
## The problem

driver.getPageSource() returns markup as one string which is unreadable (for comparison, calling such a method for iOS application returns well formatted markup).

## Environment

* Appium version for Android: 1.5.3
* Android platform/version under test: 5.1
* Real device or emulator/simulator: emulator

[2017-01-10 15:07] mykola-mokhnach commented on #7672
Can you paste you code snipped for appium client? Maybe, TouchAction interface just calculates coordinates differently from what you expect?

[2017-01-10 15:18] mykola-mokhnach commented on #7675
Please provide the string you get from driver.getPageSource() call and Appium log.

[2017-01-10 15:30] rkn411 commented on #5727
2017-01-10 15:28:30:674 - info: [debug] Error: ENOENT: no such file or directory, stat '/Applications/Appium 2.app/Contents/Resources/node_modules/appium/build/SafariLauncher/SafariLauncher.zip'
    at Error (native)
2017-01-10 15:28:30:674 - info: [debug] Responding to client with error: {"status":33,"value":{"message":"A new session could not be created. (Original error: ENOENT: no such file or

[2017-01-10 15:30] rkn411 commented on #5727
xcode 7.3
iOS-9.3.5
appium 1.4.13

[2017-01-10 16:06] nchinenk commented on #7666
I'm getting an error for this line of code you provided:

AttributeError: 'WebDriver' object has no attribute 'switchTo'

[2017-01-10 16:08] mykola-mokhnach commented on #7666
in python this might have different name. Try switch_to

[2017-01-10 16:15] nchinenk commented on #7666
I used wd.switch_to().alert().accept(). Now the following error appears:

AttributeError: MobileSwitchTo instance has no __call__ method

Sorry, I've never used this method before. Trying to find out what the syntax in Python is for it.

Thanks!

[2017-01-10 16:27] mykola-mokhnach commented on #7671
Looks like duplicate of https://github.com/appium/appium/issues/7201

[2017-01-10 16:34] nairouz12 commented on #7054
@wjl025 Did you get this fixed? if yes, how?
thanks!

[2017-01-10 16:36] nchinenk commented on #7666
wd.switch_to_alert().accept() worked, but it still doesn't find the button and displays same error in the terminal Appium log: Alert is obstructing view

[2017-01-10 16:39] marekcirkos commented on #7626
Wow that sounds crazy. Let me write integration test that checks that. I'll get back to you.

[2017-01-10 18:20] sp5594 opened #7676 "Unable to find WEBVIEW in an hybrid app possibly due to ios-webkit-debug-proxy"
Hey guys,
I`m trying to find WEBVIEW in an hybrid app but all I`m getting back is NATIVE_APP. Here`s my setup:
- xcode 10.2
- ios 10.1
- appium 1.6.3

'TestCase:
@Before
    public void setup() {

        try {

            DesiredCapabilities capabilities = new DesiredCapabilities();
            capabilities.setCapability(MobileCapabilityType.APPIUM_VERSION, "1.6.3");
            capabilities.set

[2017-01-10 18:41] pavanbachu0604 commented on #7676
Please check if you web inspector is turned ON in ur device

From: sp5594 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: appium/appium <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, January 10, 2017 at 1:21 PM
To: appium/appium <appium@noreply.github.com<mailto:appium@noreply.github.com>>
Cc: Subscribed <subscribed@noreply.github.com<mailto:subscribed

[2017-01-10 18:46] sp5594 commented on #7676
web inspector is turned on

[2017-01-10 19:29] asnaith commented on #7440
@jlipps Thanks for following up. This is strange, I'll put it on 1.6.3 and I'll give it another go and print a log to see.

[2017-01-10 20:07] asnaith commented on #7440
@jlipps When I look through my logs (for a test on Appium 1.6.3) I see that it's still passing 3000 ms for a gesture and that is in turn being interpreted as a long press by the app.

`2017-01-10 19:39:34:982 - info: [debug] [MJSONWP] Calling AppiumDriver.performTouch() with args: [[{"action":"press","options":{"x":187,"y":428}},{"action":"wait","options":{"ms":3000}},{"action":"moveTo","options":

[2017-01-10 22:29] ericomurtez opened #7677 "Session [(null externalkey)] not available and is not among the last 1000 terminated sessions."
## The problem

This was working for me and I updated everything on the environment and now I cannot run a test successfully.

Every time I start a test, the chrome (or safari) will start on the device then the test will fail with error. This only happens when I run a test through the grid, if I point straight to node there are no issues. I can also run desktop browser tests through same node, so

[2017-01-11 02:51] debbie-qin commented on #7066
I have solved the code signing issue, but now it failed with some similar error:
[debug] [XCUITest] Carthage found: /usr/local/bin/carthage
[debug] [XCUITest] Killing hanging processes
[debug] [XCUITest] Using real device logger 'idevicesyslog'
[debug] [XCUITest] Beginning test with command 'xcodebuild build test -project /usr/local/lib/node_modules/appium/node_modules/.2.4.3@appium-xcuitest-drive

[2017-01-11 03:02] debbie-qin commented on #6867
@imurchie I have solved the code signing issue, but now it failed with above error:
[Appium] Welcome to Appium v1.6.3 (REV 604f4b6a0785e0295e548e6d033823303da19061)
[Appium] Non-default server args:
[Appium]   app: '/Users/beyondsoft/Desktop/xxxx.ipa'
[Appium]   udid: 'bb1f6c5abfef652ef6b087f434acb8de105b90d4'
[Appium] Deprecated server args:
[Appium]   --app => --default-capabilities '{"app":"/Us

[2017-01-11 03:10] huanglik commented on #7672
In appium client ， my code is
driver.swipe(160,85.2,160,511.2,800)
it‘s nothing wrong with TouchAction interface 。

you can see the appium server log。
 MSJSONWP prints the right fromX，fromY 、endX，endY
however
JSONWP Proxy changes the value endX，endY

I think problem is in JSONWP Proxy，can you help me？

[2017-01-11 04:26] anshumanchatterji commented on #7664
This happens when i change the wdaLocalPort while launching the Appium CLI. I beleive this should be a minor fix where instead of the wdaLocalPort, the port where WDA is listening to in the device is being used.

[2017-01-11 05:38] mushtaque87 commented on #6895
Has the Appium 1.6.3 Released ?

On Tue, Jan 10, 2017 at 3:28 PM, Vinoth Kumar B <notifications@github.com>
wrote:

--
Regards,
Mushtaque Ahmed
+91-9886820824.

[2017-01-11 05:58] swachhab commented on #6895
@mushtaque87  You can install it using npm: "npm install -g appium@1.6.3"

[2017-01-11 06:00] swachhab commented on #7066
You can try to restart your device, same issue was faced by me, It got resolved my restarting.

[2017-01-11 06:23] surikiran commented on #7674
Sorry forgot to add the JSON files hence adding them here
iPad Pro Config JSON
{
	"capabilities": [
		{
			"browserName": "iPad Pro",
			"version": "9.3.2",
			"maxInstances": 1,
			"tmp": "/Users/MyMachine/temp2/",
			"platform": "MAC"
		}
	],
	"configuration": {
		"cleanUpCycle": 2000,
		"timeout": 300000,
		"proxy": "org.openqa.grid.selenium.proxy.DefaultRemoteProxy",
		"url": "http://0.0.0.0:4

[2017-01-11 06:26] huhutouch commented on #7503
hi,I have encountered the same problem, I would like to ask you how to solve the final it

[2017-01-11 06:44] Akulavenkatesh commented on #7363
@viveksinghtt were you able to solve the scroll issue?

[2017-01-11 06:46] rockyav commented on #7503
@huhutouch  Can i have your logs ?

[2017-01-11 06:46] sravanmedarapu commented on #7656
Using appium-uiautomator2-driver v0.2.7 should fix the issue.

[2017-01-11 06:46] #7656 closed

[2017-01-11 06:46] sravanmedarapu commented on #7654
Using appium-uiautomator2-driver v0.2.7 should fix the issue.

[2017-01-11 06:46] #7654 closed

[2017-01-11 06:56] huhutouch commented on #7503
testdeiMac:~ test$ appium -a 172.27.34.27 -p 4727
[Appium] Welcome to Appium v1.6.1
[Appium] Non-default server args:
[Appium]   address: '172.27.34.27'
[Appium]   port: 4727
[Appium] Appium REST http interface listener started on 172.27.34.27:4727
[HTTP] --> POST /wd/hub/session {"desiredCapabilities":{"automationName":"XCUITest","bundleId":"sg.bigo.live","udid":"00e3eb9b9d0acf3efcb1aee31c13927ed

[2017-01-11 06:58] mthangaraj opened #7678 "How to do Parallel test execution using ruby scrit ans rspec"
I have sample simple web automation script in Ruby with Rspec. Now i want to execute in parallel like as TestNG. But no support for TestNG in ruby. So how to achieve parallel execution.

What am need is i have only one test method(it xxxxx do), i need to launch two browsers simultaneously and execute single test script into both browsers.

Automation script:-

require "selenium-webdriver"
require

[2017-01-11 07:07] rockyav commented on #7503
@huhutouch
1. Make sure you perform install follow the link : https://github.com/appium/appium-xcuitest-driver
2. Then you perform step "Manual configuration alternative" to signing code by:
. Open Terminal
. enter : open /usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/WebDriverAgent.xcodeproj
There will be Xcode window open --> waiting build complete --> doub

[2017-01-11 07:22] TusharRastogi commented on #7273
@mykola-mokhnach @jlipps

Still same **ENOTFOUND** issue see [gist](https://gist.github.com/TusharRastogi/170f8a8a7f207776c2ba6affa0ada1d1l).

Here is my script :
[code]

Both Integration and WebDriverAgent Runner apps **_are installing_** on my device but only WDA Runner launches than closes...

Also is it possible that this issue is due to my host machine and real device being in same network?

[2017-01-11 07:28] TusharRastogi commented on #7273
I found similar issue (#4642) for appium v1.3 related to ios-webkit-debug(i guess) but it has no resolution to it.

Could it be related to Mac OSX version, mine is 10.11.6.

[2017-01-11 07:50] mykola-mokhnach commented on #7273
do you see any errors in real device log when you try to start WDA?

[2017-01-11 07:52] mykola-mokhnach commented on #7672
Just be kind to provide what I've asked. I won't be able help without the log and full code snippet.

[2017-01-11 08:09] huanglik commented on #7672
appium client
def swipe(self, start_x, start_y, end_x, end_y, duration=None)
this function input arguments here declared is  end_x and end_y (not offset_x, not offset_y)
![image](https://cloud.githubusercontent.com/assets/3026388/21840296/b052e47c-d817-11e6-821a-257d76b99406.png)

however, in appium server, it changes my arguments end_x , end_y
it is end_x, end_y,  not offset x, offset y, ok?
 Obv

[2017-01-11 08:31] viveksinghtt commented on #7363
@Akulavenkatesh yes i was using execute_script in python with the javascript given above.

[2017-01-11 08:42] mykola-mokhnach commented on #7672
yes, this might be documentation issue. These values should be calculated as relative offsets to the recent touch point. You 're welcome to push a fix for that.

[2017-01-11 08:47] Akulavenkatesh commented on #7363
@viveksinghtt will be helpful if you can share the code here

[2017-01-11 08:54] huhutouch commented on #7503
Very grateful, I reload the appium, according to the steps you do, the problem has been solved

[2017-01-11 09:10] premji456 commented on #7606
@dmlemeshko Now I able to set one location on android emulator. But I have to set multiple location on map. I am not abler to do that. My code is below. it setting only first location but I have to set multiple location. Any idea? Some problem in sleep time?

public void setUp() throws MalformedURLException, InterruptedException{
//Set up desired capabilities and pass the Android app-activity and

[2017-01-11 09:30] viveksinghtt commented on #7363
@Akulavenkatesh something like this

    def scroll_to(self, el):
        self.driver.execute_script('mobile: scroll', {"element": el, "toVisible": True})

[2017-01-11 09:45] TusharRastogi commented on #7273
I don't this so!
This is complete log(incl. device logs) for one session.

[2017-01-11 09:48] jeangb opened #7679 "Appium inspector says an iOS element is visible whereas it is not on my screen (xcuitest)"
## The problem

Hello,
On the login page of my application, there is a button "cancel" which is only displayed after user submitted the login form.
The problem is appium inspector see it all the time, even when not displayed, and his attributes visible, enabled are always true.
So during my test, if I want to check that this kind of element isn't displayed I can't because this one is never saw as

[2017-01-11 09:52] huanglik commented on #7672
thank you so much
I am looking forward to see the code after you fix that， plesae comment back after you fix ok
thank you so much again

[2017-01-11 09:54] slipy12 commented on #7679
Is it possible that you are using xcuitest driver? I think it shows everything loaded in the phone's memory :( (not sure if it's that, but seems the behaviour in my same situation)

[2017-01-11 09:56] Akulavenkatesh commented on #7363
Thanks @viveksinghtt :) I will try this

[2017-01-11 10:17] jeangb commented on #7679
@slipy12 Yes I use xcuitest, I forgot to mention that (I'm going to edit my issue).
Oh it seems problematic...

[2017-01-11 12:31] iceKirthi opened #7680 "Appium Not scrolling to the end of the list"
## The problem

In previous appium version, If I want to select an element that is present at the end of the list (which is not visible inside the screen and need to scroll down), appium automatically scrolled down and selected that particular element. Now it is not scrolling down and it is selecting some other element present inside the screen view. Do anyone have fix for this?

## Environment

*

[2017-01-11 14:04] imurchie commented on #7664
Can you try updating? I have fixed this.

[2017-01-11 14:27] pavanbachu0604 commented on #7680
Can you share the reproducible code ?

From: iceKirthi <notifications@github.com<mailto:notifications@github.com>>
Reply-To: appium/appium <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 11, 2017 at 7:32 AM
To: appium/appium <appium@noreply.github.com<mailto:appium@noreply.github.com>>
Cc: Subscribed <subscribed@noreply.github.com<mailto:subscribed@noreply.github.c

[2017-01-11 14:30] pavanbachu0604 commented on #7363
Anything for Java ? I am not able to scroll in Appium 1.6.3

From: viveksinghtt <notifications@github.com<mailto:notifications@github.com>>
Reply-To: appium/appium <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 11, 2017 at 4:31 AM
To: appium/appium <appium@noreply.github.com<mailto:appium@noreply.github.com>>
Cc: Subscribed <subscribed@noreply.github.com<mailto:su

[2017-01-11 14:35] baclark774 opened #7681 "Starting WebDriverAgent and Using webDriverAgentUrl capability"
## The problem

In an enterprise setup we want to build a .app package of the webdriver agent and distribute that package for all of our provisioned devices. Then launch the agent prior to test without each user having to setup code signing individually, and connect to it.

Currently I'm using ios-deploy to install and launch the app:
ios-deploy -b /path/to/the/local/WebDriverAgentRunner-Runner.ap

[2017-01-11 14:40] imurchie commented on #7681
Can you provide the logs so we can see what is going on?

[2017-01-11 14:41] mykola-mokhnach commented on #7681
Can you check url accessibility manually? it is really listening on port 8100 at the time when appium is started?

[2017-01-11 14:57] imurchie commented on #7273
That log line about proxying ports has been on _every_ real device test for months.

The issue is here:
[code]

Can you try adding the capability `useNewWDA` set to `true`.

[2017-01-11 14:57] mykola-mokhnach commented on #7679
This may depend on the actual application code, since it has full control over accessibility and can also change visibility attribute.

[2017-01-11 15:00] mykola-mokhnach commented on #7679
Check this for example http://stackoverflow.com/questions/25259822/showing-hiding-accessibility-elements-in-an-overflow-menu-when-opening-a-custo

[2017-01-11 15:27] baclark774 commented on #7681
Can confirm it's listening manually.

{
  "value" : "Unhandled endpoint: \/ -- http:\/\/192.168.1.23:8100\/ with parameters {\n    wildcards =     (\n        \"\"\n    );\n}",
  "sessionId" : "E81C0C00-44EF-4A98-A36C-73B965546D95",
  "status" : 1
}