[2015-06-18 17:37] gauravgandhi15 commented on #5272
I have one server for each device.

[2015-06-18 17:48] moizjv commented on #5272
@gauravgandhi15 that is strange, so tests when they are ran in isolation works fine?

[2015-06-18 17:51] gauravgandhi15 commented on #5272
Yes, they works fine. The issue i am having with only parallel test for 2 devices. Even it works fine on one device.

[2015-06-18 18:19] moizjv commented on #5266
@diana-zaharia yes looks like an issue in newer version of appium. Chromedriver binary is missing.

[2015-06-18 18:21] moizjv commented on #5266
@diana-zaharia work around is can you run `./reset.sh` ?

[2015-06-18 18:24] moizjv commented on #5269
duplicate. Tracking in #5266

[2015-06-18 18:24] #5269 closed

[2015-06-18 18:26] moizjv commented on #5272
@gauravgandhi15 so there are multiple appium servers on same machine connected to multiple devices? I am unable to understand setup

[2015-06-18 18:26] gauravgandhi15 commented on #5272
yes right

[2015-06-18 19:17] sebv commented on #5272
@gauravgandhi15, looks like your 2 appium server are competing for ADB, in particular killing the server..

I don't think we support this use case well in the current version (but maybe @jlipps knows a way), I think it is better to do this kind of thing within run 2 separate VMs.

We have plan to support this type of setup in the future (We are currently rewiting the appium server).

[2015-06-18 19:17] nikhil969 commented on #5269
I think the issues are different in issue 5266 its about Type error but in my case the appium server stops
with the log.

Got response with status 200: {"sessionId":"429edac00482a533b703cb97d1c45bdf","status":0,"value":{"acceptSslCerts":true,"applicationCacheEnabled":false,"browserConnectionEnabled":false,"browserName":"chrome","chrome":{},"cssSelect...

Try executing SafariTest : https://github.c

[2015-06-18 19:17] nikhil969 commented on #5269
Please reopen the issue

[2015-06-18 19:19] moizjv commented on #5269
@nikhil969 ```info: [debug] dataDir set to: /data
error: Unhandled error: TypeError: undefined is not a function
at [object Object].ChromeAndroid.createSession (/home/spartans/.linuxbrew/lib/node_modules/appium/lib/devices/android/chrome.js:154:33)
at /home/spartans/.linuxbrew/lib/node_modules/appium/node_modules/async/lib/async.js:607:21
at /home/spartans/.linuxbrew/lib/node_modules/appium/node_m

[2015-06-18 19:21] nikhil969 commented on #5269
just an FYI I have setup my machine by following the steps given at
https://github.com/appium/sample-code/issues/23 see the comment given by rstormsf

[2015-06-18 19:44] gauravgandhi15 commented on #5272
@sebv But why it is not crashing for other tests? Why is it crashing only for airplane. When it works on one device, why does appium disconnect the other device only for airplane mode test case? I am sure when we are running two servers, they both run ADB to look for the devices, which runs fine for other tests. This is little confusing me.

[2015-06-18 19:51] sebv commented on #5272
`runs fine for other tests.`
I think as long as you don't call killservers it runs fine. There are probably other calls which are problematic, but we don't know about them since there are no tests for this use case.

To avoid confusion: As far as my knowledge goes, your setup is not yet supported.

[2015-06-18 19:58] gauravgandhi15 commented on #5272
@sebv ok so can you put this test in your backlog for next appium release?

[2015-06-18 20:02] sebv commented on #5272
Yes we'll keep it in mind, thx.

[2015-06-18 21:08] moizjv commented on #5271
ping @imurchie @jlipps

[2015-06-18 22:43] vinceis1337 commented on #5271
More Logs from 8.1 unsuccessful upgrade:
[code]

[2015-06-18 22:48] vinceis1337 commented on #5271
Attempting to run the command on the  "Spawning instruments with command:" line manually resulted in this:

[code]

[2015-06-18 22:57] moizjv commented on #5270
@kolczak is there a way we can reproduce the issue? also can you paste appium logs for both successful and unsuccessful  cases?

[2015-06-19 01:14] moizjv commented on #5266
@diana-zaharia it was an upstream dependency issue. Thanks for raising it here. We have release 1.4.5, try to upgrade it should fix this issue.

[2015-06-19 01:19] moizjv commented on #5269
@nikhil969 @davidbaena can you upgrade to 1.4.5. We have fixed few issues related to this.

[2015-06-19 01:44] moizjv commented on #5271
@vinceis1337 this looks interesting. So how do you upgrade the app?

[2015-06-19 03:13] KazuCocoa opened #5274 ""error: Got some configuration version mismatches. Appium is at 1.4.5." happened"
Hi,

When I started Appium 1.4.5 installed via `npm` , then I encountered the following errors and couldn't start Appium server.

[code]

Is this just mistake of 1.4.5 release ?

[2015-06-19 06:36] zhangmeng712 opened #5275 "Can Appium support nativer browser for automation using wd.js"
Hi,
 I'm using appium for webapp testing,  in ios I set  appium  "node . --safari"  (appium version 1.4.5) to test my web page.
 I'm wondering is there any settings  can I set for appium to open native browser for web page testing in android?
Any solutions?

[2015-06-19 07:38] amedvedjev opened #5276 "Running a test 100 times: Failed to find elements."
have test in loop that opens one by one some application screen (iOS Simulator 8.1-8.3).
After X loop (about 20min running) Appium failed to find element and sees pageSource as:

<?xml version="1.0" encoding="UTF-8"?>

[code]

we start appium as: [appium, --log-level, error, --port, 4724, --session-override]

any help or workaround?

Appium logs (with debug level):

[36minfo[39m: [debug] Sending

[2015-06-19 08:25] diana-zaharia commented on #5266
@moizjv thanks for helping, unfortunately I'm still facing some issues:
- after upgrading to 1.4.5 I'm facing the issue tracked in #5274
- running reset.sh results in failure:
`* Determining platform
* Platform is linux
---- Resetting / Initializing Appium ----
RESETTING NPM
* Installing new or updated NPM modules (including devDeps)
npm WARN package.json appium@1.4.5 No license field.
npm WARN op

[2015-06-19 08:36] nikhil969 commented on #5274
I am also facing the same issue

[2015-06-19 08:46] PavelGorbanj commented on #5274
We also face the same problem

[2015-06-19 08:50] nikhil969 commented on #5274
When I checked out the latest code from github and started appium from bin

spartans@ubuntu:~/appium/bin$ ./appium.js
info: Welcome to Appium v1.4.5 (REV 9d1af07681e73c01d59eca608b9ca57c97e9b4dc)
info: Appium REST http interface listener started on 0.0.0.0:4723
info: Console LogLevel: debug
info: --> POST /wd/hub/session {"desiredCapabilities":{"platformVersion":"4.4","deviceName":"Unicorn4.4","pl

[2015-06-19 09:48] nikhil969 commented on #5266
Thanks @moizjv  got it working finally faced issues while updating it to 1.4.5. I got it updated to 1.4.5 randomly by goolge searching so please can u provide some clean steps to install 1.4.5 version

[2015-06-19 09:56] sandeepJois opened #5277 "Appium 1.4 intermittently fails to the launch the app during automation run"
Environment :
iOS Simulator  : 8.2
Xcode : 6.2
OSX : Yosmite

Issue :
Appium 1.4 intermittently fails to the launch the app during automation run

Please find the full appium logs under ,
https://gist.github.com/sandeepJois/6cd88baa421c7be8d9a9

Log snippet ,
2015-06-18 17:00:16:993 - info: <-- GET /wd/hub/session/63be165c-b3ee-44af-b1b6-f6b0c61b9f12/element/20/displayed 200 152.323 ms - 76 {"stat

[2015-06-19 10:09] vikramvi opened #5278 "error: Got some configuration version mismatches. Appium is at 1.4.5."
Vikrams-MacBook-Pro:~ vikram-anna$ appium
error: Got some configuration version mismatches. Appium is at 1.4.5.
error: ios configured at 1.4.5-beta
error: android configured at 1.4.5-beta
error: selendroid configured at 1.4.5-beta
error: firefoxos configured at 1.4.5-beta
error: Please re-run reset.sh or config

Questions:
1.  where is reset.sh located ?
2.  what is meaning of re-run config ?

tha

[2015-06-19 10:11] vikramvi commented on #5278
duplicate of https://github.com/appium/appium/issues/5274 thus closing.

[2015-06-19 10:11] #5278 closed

[2015-06-19 10:11] vikramvi commented on #5274
Questions:
1. where is reset.sh located ?
2. what is meaning of re-run config ?

[2015-06-19 10:21] kolczak commented on #5270
Hi, sure I can.
When I was preparing logs I found out that First way posted above works, however it chooses random element from the GridView. Could be the case that tiles are loaded dynamically from API, and appium tries to find desired element too soon?
I found also a method in `AndroidDriver` called `findElementByAndroidUIAutomator`. Could that work better than methods I used above?

I modified

[2015-06-19 12:32] amedvedjev commented on #5276
more info when appium goes into this state:
    - simple tap like "driver.tap(1, x, y, 200)" does not work without error in logs
    - driver.getScreenshotAs(OutputType.FILE) working correctly
    - manually tap on iOS Simulator with client not working. need to reboot simulator or kill/restart appium driver (e.g. next test will start successfully)

if we have issue with iOS instruments can we made

[2015-06-19 12:46] SportySeb commented on #5274
Facing the same problem today. Yesterday it worked without any issues.

I think it's similar to https://github.com/appium/appium/issues/2090 => someone did a mistake on the "nightly" commit and we now can only wait for the next commit.

[2015-06-19 13:08] davidbaena commented on #5269
I tried to execute the new version(1.4.5), but It fails at start time:

[code]

Then I tried to start appium:
[code]

[2015-06-19 13:17] davidbaena commented on #5269
The last behaviour is related to #5274

[2015-06-19 15:52] braghome opened #5280 "feature request: add support for css selectors on native context for mobile only site phone browser"
appium 1.4.3
xcode Version 6.3.2 (6D2105)

mobile only site phone browser
https://github.com/appium/appium/issues/4340 based on comment on Jan 21, 2015 all automation that runs on web view for mobile sites need to switch to native however can not look up elements by css selectors

lookup elements with css selectors on a temporary switch to native context
https://gist.github.com/braghome/f978fe7480

[2015-06-19 15:58] nikhil969 commented on #5269
I faced the same issue please uninstall appium and node and reinstall it using
npm install -g appium
It will work

[2015-06-19 16:00] nikhil969 commented on #5274
Don't clone the code and try to execute. I had the same issue delete the folder/ uninstall appium
Install it using "npm install -g appium"  open terminal and then type  "appium" the server will start

[2015-06-19 16:04] braghome opened #5281 "xpath not evaluating correctly"
mobile only site phone browser
#4340 based on comment on Jan 21, 2015 all automation that runs on web view for mobile sites need to switch to native however can not look up elements using valid xpath

https://gist.github.com/braghome/6d8633c552897c6d6170

verified in chrome emulator
![screen shot 2015-06-19 at 8 44 51 am](https://cloud.githubusercontent.com/assets/1514698/8257270/491acc30-1661-11e

[2015-06-19 16:20] sebv commented on #5269
Published beta solving the issue

[code]

Let me know if it works.

[2015-06-19 16:22] popei69 commented on #4178
Not sure if someone still get this issue.

For me it works fine with waitForAppScript and alertAccept (in JAVA):

Setting first my capabilities
`capabilities.setCapability("waitForAppScript", "$.delay(1000);");`

Calling alertAccept just after the app was launched and after the delay.
`driver.switchTo().alert().accept();`

[2015-06-19 16:26] kamaldeep1983 commented on #5149
Issue is that Safari launcher is getting open and its not navigating to google.com. I am working on real device and xcode is 8.3. Please find below logs :-

info: Welcome to Appium v1.3.3 (REV 34e21b01b87d4e3959e1c97c0a8d0b1a610bdc78)

info: Appium REST http interface listener started on 127.0.0.1:4723
info: [debug] Non-default server args: {"address":"127.0.0.1","callbackAddress":"127.0.0.1","cal

[2015-06-19 16:28] vinceis1337 commented on #5271
@moizjv
1. Instantiate appium with the app (old, or new, doesn't matter) with fullReset set to true. This wipes the simulator data for our app clean.
2. We keep a stable older release .app.zip build on a server. This is called with noReset set to true and with the app set to older release path.
3. Do stuff to generate user data. (For us: save coupons, save stores, log in, enable location, enable n

[2015-06-19 17:56] yizhixiaoxiaogou opened #5283 "hangs when launched from Appium 1.4.0 in iOS7.1.2"
Mac OSX 10.9.5
 Xcode 6.2
iphone 5s

App hangs when launched from Appium 1.4.0 in iOS7.1.2

Here is the last log

Creating iDevice object with udid

so I using the follwing command

 ideviceinstall -l command .it hangs up too .

replug the device to USB cable.  the command  works fine .

after that I restart appium . it works fine

How to ensure appium runs well without repluging the device to USB

[2015-06-19 18:11] moizjv commented on #5274
Yes we had some issues with past patch releases due to upstream dependencies. Now we have release 1.4.6 which should be stable. Please use that. Let us know if you still face issues. Thanks

[2015-06-19 18:20] moizjv commented on #5271
@vinceis1337 so you are ending old session and then starting a new session with existing appium server running. Can you give us logs starting from capabilities?

[2015-06-19 18:22] moizjv commented on #5266
@nikhil969 @diana-zaharia yes we had few issues with patch releases. Can you try now with upgrading to 1.4.6?

[2015-06-19 18:28] moizjv commented on #5275
hi @zhangmeng712 can you please use [forum](http://discuss.appium.io) for asking questions. This space is for raising issues. For using wd.js you need to pass in capabilities as part of your script as
`{"platformName":"Android", "platformVersion":"4.4", "browserName": "browser",
          "name" : "TestName",
          "deviceName":"Android"}`

[2015-06-19 18:28] #5275 closed

[2015-06-19 20:08] diana-zaharia commented on #5266
1.4.6 is working fine, I just upgraded and managed to run the tests. Thanks!

[2015-06-19 20:15] moizjv commented on #5270
@kolczak so the difference that i notice is
`{"strategy":"name","selector":"Accounts","context":"","multiple":false}]`

`{"strategy":"name","selector":"Accounts","context":"","multiple":true}]`

multiple is different. Are you using the same script for both the tests? Can you paste logs starting from when requests arrive? You can use gist and link your logs.

[2015-06-19 20:44] vinceis1337 commented on #5271
I'm not sure how much you need, here is the complete log from start to finish:

https://drive.google.com/file/d/0B2Hh40GPVHQvSkg0R2M1dEdabWs/view?usp=sharing

Here is the upgrade session start from capabilities:
[code]

[2015-06-19 20:49] moizjv commented on #5277
@sandeepJois that log looks ok to me as we then delete the session successfully. And then start another session. So what happens after that? Does it just hangs ? Is it always reproducible ?

[2015-06-19 20:54] moizjv commented on #5283
There seems to be some flakiness with ideviceinstall and xcode 6.2, may be upgrading to 6.3 will solve this issue

[2015-06-19 21:00] moizjv commented on #5276
I think some thing weird is happening with instruments. ping @jlipps @imurchie @Jonahss

[2015-06-19 21:07] moizjv commented on #5051
Closing due to inactivity

[2015-06-19 21:07] #5051 closed

[2015-06-19 21:47] KazuCocoa commented on #5274
Thanks for your re-publishing !

Appium 1.4.6 works well :grinning:

[code]

I close this issue.

[2015-06-19 21:47] #5274 closed

[2015-06-19 21:54] kolczak commented on #5270
Hi, I use 2 different scripts:
1. `by_name` performed on emulator and device
2. `by_xpath` performed on emulator and device

Here you have gists:

[successful_device_test_by_name](https://gist.github.com/8da2ac740da7d3724a9e)

[unsuccessful_emulator_test_by_name](https://gist.github.com/2a5812e30995c26951ab)

[successful_device_test_xpath](https://gist.github.com/3bba9bb347177a65f8e7)

[unsuccessf

[2015-06-19 22:14] moizjv commented on #5270
hmm yes i can see it is failing in emulator. We would need to be able to reproduce it. So when I was looking at the logs other difference is device seems to be at `Nexus_4_API_21_x86` and emulator at `Nexus_4_API_19` can you try upgrading to 21. May be there would be an issue with uiautomator that they fixed?

[2015-06-19 22:15] chris3jang opened #5284 "Problem with Appium Inspector"
I apologize in advanced if anything I post involves noob-worthy errors/fixes, I am very new to not only appium but coding in general.  If there is anything I am doing wrong in terms of how I am approaching the community for help, whether it be related to conventional practices, or online manners, I'd be so grateful to be educated on what I am doing wrong or how I can do it better.

I have Appium i

[2015-06-19 22:24] Jonahss commented on #5276
Can you shorten your test suite? this is a valid bug, but I don't think we are currently optimizing for this use case.

[2015-06-19 22:34] moizjv commented on #5284
looks like dot-app thing. We have [dot-app](https://github.com/appium/appium-dot-app) project which handles gui aspect of appium. Are you sure you followed all the instruction in that project? You can also ask at [forum](http://discuss.appium.io) to ask questions.

[2015-06-19 22:36] amedvedjev commented on #5276
it is already shorten. one loop about 50sec. it does not reproduce 100% after 10 loops. it is starting to reproduce after about 12-14loops and never reached more then 19 loops.

[2015-06-19 22:36] moizjv commented on #5266
NP :)

[2015-06-19 22:36] #5266 closed

[2015-06-19 22:59] chris3jang commented on #5284
@moizjv

Thank you for the quick reply!  I did indeed, copypaste this issue into the forum you linked me to, under issues.

Forgive me for my ignorance, I am not entirely sure what you mean by "looks like dot-app thing".  I just clicked on the link and can't seem to find a set of instructions aside from the 3 steps in the readme file (download the latest version, mount the disc image, drag into ap

[2015-06-19 23:06] chris3jang commented on #5284
@moizjv
if appium GUI refers to the appium application( with a launch button, buttons for ios and android settings with their respective icons, a magnifying glass button for inspector, and a stethoscope button for appiumdoctor, then i do indeed have this installed) versus accessing appium through say terminal (sorry if this sounds dumb, i'm not even sure if this is possible) then I do indeed have

[2015-06-19 23:10] imurchie commented on #5271
Can you try to run the command that Appium is using to launch the application, to see if it upgrades the app? That is the only place where it should be happening, and there is no logic that I can see that would make 7.1 play differently than 8.x.

The command from above is

[code]

In general it will be the command preceded by the text `Spawning instruments with command:`. Some of the files are au

[2015-06-19 23:19] moizjv commented on #5284
@chris3jang so I am confused now. What are you trying to achieve here?

[2015-06-19 23:29] chris3jang commented on #5284
@moizjv

sorry, I'll try and keep this simpler

i followed installation steps from the tutorial posted on appium.io, appium doctor says I have no problems with setups,  when I launch, the log I get suggests everything works fine.  then I click the inspector button, and get various errors, with specifics I posted above.  I really have no knowledge of how to approach the fixing errors the log gives

[2015-06-20 00:06] moizjv commented on #5284
@chris3jang ok for `sudo ‘which grunt’; authorize` can you install grunt?

[2015-06-20 00:07] moizjv commented on #4527
@randoum any update?

[2015-06-20 00:09] moizjv commented on #4717
@KarthikKakani ping

[2015-06-20 00:11] moizjv commented on #5139
@imurchie is this the issue you are working on?

[2015-06-20 00:12] moizjv commented on #5246
@ioanm ping!

[2015-06-20 00:12] moizjv commented on #5188
@zhangmeng712 did you manage to get it working?

[2015-06-20 00:15] chris3jang commented on #5284
@moizjv
to my understanding grunt is installed, when I run
grunt --version
I get    grunt-cli v0.1.13
however, according to the appium tutorial I mentioned I followed through, when running grunt --version I am also supposed to additionally get    grunt v0.4.2
I tried using google to figure out what it means if only grunt-cli version was given and not just grunt when running --version

with all tha

[2015-06-20 00:17] moizjv commented on #4565
@d9kgit new appium versions have this issue fixed. 1.4.6. Closing the issue, reopen if this is still an issue.

[2015-06-20 00:17] #4565 closed

[2015-06-20 00:29] chris3jang commented on #5284
@moizjv

update:

I managed to install grunt through brew (I swear I tried this a while back), but now when I run grunt --version, it gives me both grunt-cli v0.1.13 AND grunt v.0.4.5

still though, when I run sudo 'which grunt'; authorize, I get:

sudo: which grunt: command not found
-bash: authorize: command not found

[2015-06-20 00:29] moizjv commented on #5284
@chris3jang what happens if you try to launch and run app using gui?

[2015-06-20 00:35] chris3jang commented on #5284
@moizjv

I encountered all of these issues running Appium through GUI, I did not use terminal to run the application, only to follow installation steps

[2015-06-20 00:46] moizjv commented on #5162
Is this keyboard different?

[2015-06-20 00:56] moizjv commented on #5284
@chris3jang are you able to launch `StarMaker.app` without appium?

[2015-06-20 01:13] chris3jang commented on #5284
@moizjv  yes I am able to

[2015-06-20 02:56] lenciel commented on #5259
Thanks for your information. Should I close this issue or just leave it for you to close it after the documentation is updated?

[2015-06-20 05:20] moizjv commented on #5284
ping @bootstraponline

[2015-06-20 05:21] moizjv commented on #5259
@lenciel thanks for pointing out :) we will close it after fixing.

[2015-06-20 09:30] priyankshah217 opened #5285 ""presskeyCode" method is not available on java-client"
Hi All,

This could be enhancement or not major blocking task,
I observed a case during i need to press app_switch key(187) during automation. I did this using below command.
 driver.sendKeyEvent(187);

However, at appium server console, it printed warning message.

warn: [DEPRECATED] The keyevent function has been deprecated and will be removed.  Please use the pressKeyCode function instead.
info

[2015-06-20 10:02] worker-9 opened #5286 "Clicking on an element does nothing with the appium driver 1.4.0"
I switched from appium 1.2.2 (Cygnus) to 1.4.0 (Draco) yesterday. Clicking on an web element with the TouchAction or the selenium click function does nothing.

* [appium_testcase.py](https://www.dropbox.com/s/4b9kee8n6jv6n9k/appium_testcase.py?dl=0)
* [appium.log](https://www.dropbox.com/s/ayumic8v5vh12s4/appium.log?dl=0)
* [demonstration of the expected result on chrome](https://www.youtube.com/w

[2015-06-20 13:41] bootstraponline commented on #5284
I think this is a user error situation and not a bug in appium. discuss.appium.io is the proper place for help.

[2015-06-20 14:43] kolczak commented on #5270
It surprises me a lot, but it started working on emulator with sdk 21! Does it mean that I cannot test if my app works on devices with sdk < 21?

[2015-06-20 21:07] moizjv commented on #5284
@chris3jang this is not defect in appium. I will try to support you on forum. Closing issue here.

[2015-06-20 21:07] #5284 closed

[2015-06-20 21:09] moizjv commented on #5270
@kolczak seems like a defect in uiautomator. There may be workarounds which you can explore

[2015-06-20 21:13] moizjv commented on #5285
ping @Jonahss

[2015-06-21 05:53] randoum commented on #4527
Later

[2015-06-22 03:55] LokeshGangaiah opened #5287 "One App loads, the other does not WHY?"
Friends,

Friends,

In the below code:
"com.telstra.treatsdev" it access my devices and keeps trying to load,but all i can see is the App trys keep loading and a black screen comes and goes evey time and my script close

But if i use "com.tedxsydney.tedxsydney",which is another app in the device, it loads successfully

What my be the reason for not abel to load "com.telstra.treatsdev" app?

[2015-06-22 06:07] sandeepJois commented on #5277
@moizjv : Another session goes well . But with previous session , the test case failed as app wasn't launched in all 3 attempts  . These failures are intermittent in the automation run , so some of the test cases fails with them .

[2015-06-22 06:11] moizjv commented on #5277
@sandeepJois we need a way to reproduce it. You can wait for some time for clean up and then start your next session. We are working towards a better appium for reducing flakiness.

[2015-06-22 06:36] priyankshah217 commented on #5272
@sebv even i also facing the same issue. for one device it successfully switched to airplane mode, while in other device it failed. it seems adb disconnected in the middle.

[2015-06-22 06:37] moizjv commented on #5272
@priyankshah217 do you have logs for it?

[2015-06-22 07:33] SportySeb commented on #5274
if you installed with npm, when simply delete the folder ~/.npm/appium and execute "npm install -g appium" again.

[2015-06-22 07:46] priyankshah217 commented on #5272
Below is the sample code, I was trying to turn off wifi.
[code]
In one deive it successfully turned of WIFI while for second device it lost adb connections.

Please find attached logs on below link,
https://gist.github.com/priyankshah217/cf76d32fcd38ca62bf25

Thanks,
Priyank Shah

[2015-06-22 08:51] davidbaena commented on #5269
Works in Appium 1.4.6. So It's has been fixed.

[2015-06-22 10:11] vikramvi commented on #5274
verified fixed from my side as well.

Thanks for the quick fix.

[2015-06-22 10:27] ratkins commented on #5233
I'm interested in how the "back-end" of Appium could/should change with the introduction of Xcode UI testing in Xcode 7. My quick read is that UIAutomation is "deprecated"* in Xcode 7?

*(I say "deprecated" in scare-quotes because it very much does look like Xcode's UI testing is an evolution of UIAutomation–I couldn't find any documentation outside the headers, but the docs for the Xcode 6 UIAuto

[2015-06-22 12:43] Uvarajkrishna-CSAA commented on #4112
Facing a same issue regularly but in a rare occurence it identified a webview and proceeded further.
Appium version: 1.4.0
iOS Device: iPad , OS Version: 8.1

Log:
2015-06-22 16:30:08:474 - info: [debug] Clicked button, safari should be launching.
2015-06-22 16:30:08:474 - info: [debug] Waiting for 6000 ms before navigating to view.
2015-06-22 16:30:14:476 - info: [debug] Navigating to most recent

[2015-06-22 13:07] mayurdharmadhikari opened #5288 "Unable to start appium via programatically on ubuntu"
Hi Friends,

I am trying to start appium server via java code and used below code

          final String APPIUM_HOME = System.getenv("APPIUM_HOME");
          String NODE=APPIUM_HOME + "/Cellar/node/0.12.4/bin/node";
          String APPIUM_JS=APPIUM_HOME + "/lib/node_modules/appium/bin/appium.js";
          Process process = Runtime.getRuntime().exec(NODE+" "+APPIUM_JS+" --address \"127.0.0.1\""

[2015-06-22 13:39] md29 commented on #4969
I am having the same issue, anybody have solution for this?

[2015-06-22 13:40] mojjj opened #5289 "npm install appium on win8 fails with linux command "uname""
running

    npm install appium

or

    npm install -g appium@latest

fails.

npm -v  > 2.11.3
node -v > v0.10.38

appium on windows8.1, fails with calling "uname", a linux command (to my knowledge) not available at windows cmd

    'uname' is not recognized as an internal or external command,
    operable program or batch file.

what further information do you need? any assistance is appreciated

[2015-06-22 15:26] sjrjanardhana opened #5290 "sendKeys on slider is not working as expected"
I am trying to set the slider value to 0.2/0.5/0.9, but it always setting to "0%" i.e starting point of the slider

Please find the appium server logs below.

info: [debug] Socket data received (39 bytes)

info: [debug] Socket data being routed.
info: [debug] Got result from instruments: {"status":0,"value":{"ELEMENT":"36"}}
info: [debug] Responding to client with success: {"status":0,"value":{"EL

[2015-06-22 15:34] vinceis1337 commented on #5271
@imurchie I already did that in an earlier comment, do you want me to repeat that or possibly modify anything? Sorry, I don't know how to link to another comment...

![screen shot 2015-06-22 at 10 32 58 am](https://cloud.githubusercontent.com/assets/5994871/8285620/18d5b7f4-18ca-11e5-997c-46dbb9f0da21.png)

[2015-06-22 15:58] vinceis1337 commented on #5271
Side note:

xcrun simctl install booted %apppath%

successfully upgrades the app on iOS 8+.

[2015-06-22 17:23] chris3jang commented on #5284
@moizjv

Sorry I went blank for the weekend.  I made basically the same post here:
https://discuss.appium.io/t/problem-with-appium-inspector/4843

Let me know if this is in the wrong place.

[2015-06-22 17:27] nabeel-ibrahim opened #5291 "iOS: App gets minimized on startup"
If I have the app as the frontmost application before starting Appium, Appium will minimize the app right away and the session will continue. But if I start Appium without the app running or in the background (minimized), appium will start the app and it will be frontmost. I have the waitForAppScript capability set to true. Is there a way to make sure the app is not in a minimized state. I am runn

[2015-06-22 18:17] kamaldeep1983 commented on #5149
Could you please help me with this problem.

[2015-06-22 18:50] mabdurrahman opened #5292 "Appium Sometimes Can't Get WebView Contents in Android Hybrid Application"
I've a ready setup Appium Tests for a PhoneGap Hybrid Application, it was already made by a another developers and expected to be working before, but when I tried to run the same tests using a newly setup Appium Environment I faced some issues, the most problematic issue i'm currently facing is that the Appium some times can't get the contents inside the WebView, hence it can't locate the elements

[2015-06-22 21:36] vinceis1337 commented on #5271
Relevant script location:
line 2606 is right after:
[code]

Adding a debug output for ```var cmd = env.nodePath + " " + args.join(" ");``` early on is results in:
[code]

Adding a debug output for ```var output = res.stdout.replace(/^(.*\n)*----- OUTPUT -----\r?\n/g, '');``` results in:
[code]

[2015-06-22 21:38] vinceis1337 commented on #5271
Here is the successful ```Spawning instruments with command``` using iOS 7.1 simulator:
[code]

[2015-06-22 21:38] StoneTree1 commented on #5233
@ratkins if you haven't seen this open issue I think its the thread you want. Though the answer to your question is not fully there yet.

https://github.com/appium/appium/issues/5225

[2015-06-22 21:42] vinceis1337 commented on #5271
Running the ```Spawning instruments``` command also resulted in a JSON Parse error on 7.1, leading me to believe that is not the issue.

Output from manually running it on 7.1:
[code]

[2015-06-22 22:53] moizjv commented on #5286
@worker-9 Logs suggests that it performs click.
[code]

[2015-06-22 22:57] moizjv commented on #5271
ping @imurchie

[2015-06-22 23:21] moizjv commented on #5287
@LokeshGangaiah from docs ```Devices: iPhone Simulator, iPad Simulator, and real iPhones and iPads
Native app support: Yes, with debug version of .app (simulator), or correctly-signed .ipa (real devices). Underlying support is provided by Apple’s UIAutomation framework.``` [here](http://appium.io/slate/en/1.4/?java#appium-platform-support).  Can you please provide appium logs, may be in gist?

[2015-06-22 23:28] moizjv commented on #5288
@mayurdharmadhikari this does not look as an appium defect. What do you mean by `server is getting started.But it is not working through code.`  Closing the issue. Can you please ask question in the [forum](https://discuss.appium.io/)

[2015-06-22 23:28] #5288 closed

[2015-06-22 23:33] Jonahss commented on #5285
Oh thanks. I'll create an issue on the java-client.

[2015-06-22 23:40] moizjv commented on #5289
@mojjj what is the complete output? Also you can try using [appium-exe](https://bitbucket.org/appium/appium.app/downloads/)

[2015-06-22 23:48] Jonahss commented on #5149
@moizjv ping

[2015-06-22 23:52] moizjv commented on #5292
@mabdurrahman it looks like it is a hybrid and you are trying to search element from native context. Why are you not switching to to web view and perform actions?  Do I understand correctly that you are trying to access element from web context in native context with xpath? Ideally you should be switching to webview and then performing actions

[2015-06-23 00:00] moizjv commented on #5291
@nabeel-ibrahim it is not clear what do you mean. So when app is foremost and you start appium session app is minimized? Can you also provide logs?

[2015-06-23 00:05] Jonahss commented on #5276
Oh cool. Can you provide us with the exact code you use for that test? Then we could examine it while running and try to fix the memory leak.

[2015-06-23 00:14] moizjv commented on #5230
@ramdas80 so appium is always returning ` Available contexts: NATIVE_APP,WEBVIEW_com.xxx.yyy.mobile` even though you have one more or another webview?

[2015-06-23 00:22] moizjv commented on #4527
@randoum closing the issue for now. Reopen when you have more information.

[2015-06-23 00:22] #4527 closed

[2015-06-23 00:24] moizjv commented on #5267
@chris1248 does that help. Looks like a limitation we would need some url

[2015-06-23 02:12] LokeshGangaiah commented on #5287
BELOW IS THE APPIUM SERVER LOG: WHEN TRYING TO ACCESS COM.TELSTRA.TREATS APP

info: --> GET /wd/hub/status {}

info: [debug] Responding to client with success: {"status":0,"value":{"build":{"version":"1.4.1","revision":"ce6220829063679bcccf5724515c29569c4a16d9"}}}
info: <-- GET /wd/hub/status 200 0.595 ms - 104 {"status":0,"value":{"build":{"version":"1.4.1","revision":"ce6220829063679bcccf5724515

[2015-06-23 04:23] moizjv commented on #5287
[code]

this suggests that app is crashing. Are you able to launch app without appium, just by using uiautomation?

[2015-06-23 06:01] mojjj commented on #5289
http://pastebin.com/NSqk8zE2

[2015-06-23 06:05] moizjv commented on #5289
@mojjj yes looks like an issue, does [appium-exe](https://bitbucket.org/appium/appium.app/downloads/) work fine?

[2015-06-23 06:23] mojjj commented on #5289
the installer you pointed at, works. thank you for your time!

i would, however, feel more comfortable with the npm-installerd solution for easier management ;)

[2015-06-23 06:32] mojjj commented on #5289
@amitjaincoer191 @KenanY

[2015-06-23 07:21] sebv commented on #5289
It's here: https://github.com/appium/appium-support/blob/master/lib/system.js#L19
doesn't work on windows. cc @jlipps .

[2015-06-23 07:31] sebv commented on #5289
Workaround to detect windows 64.
[code]

[2015-06-23 07:46] LokeshGangaiah commented on #5287
Hi , You mean using the xcode->instruments tool? If yes..Can you let me know how to run that?

[2015-06-23 08:44] SportySeb opened #5293 "wd.quit creates a selenium.common.exceptions.WebDriverException: Message: {"sessionId":null, "status":6, "value":""}"
* each time my programm executes the wd.quit command, an exception gets raised
* using appium v1.4.6
* starting appium with: "appium --address 127.0.0.1 --port 4725"

Thank you for your help in advanced.

*My python programm look like this:*
-------------------
from appium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
import time
import os

success = True
desire

[2015-06-23 09:56] mabdurrahman commented on #5292
@moizjv Yes you understand correctly, but I can already get the elements using this method (Getting web elements using native context with xpath), and the project is really big Testing Project setup by a legacy developers and expected to be working fine on their machines, hence, it would take long time switching to the recommended method instead of debugging and resolving the problem I'm currently

[2015-06-23 10:28] KarthikKakani commented on #4717
Hi Seb,

I tried to perform operations on the application using instruments and the application is getting struck while tapping some of the elements.

Regards,
Karthik

[2015-06-23 10:37] ratkins commented on #5233
Brilliant, thanks @StoneTree1.

[2015-06-23 10:48] adrianmatean commented on #4451
Hi all,
I am struggling with this issue (backgrounding the app) for the past 5 days, on real devices.
Appium 1.4.0, Xcode 6.3.1

Here are my findings:
- it is clearly an instruments issue, since the command behaves the same if triggered from Appium or Instruments Automation
- it happens only on certain devices. For my iPhone 6 Plus with iOS 8.0.2 it works fine, but for iPhone 5C with iOS 8.2 it do

[2015-06-23 11:28] Nishanthshettar opened #5294 "App launches and goes bakground immediately (intermittently) during automation runs"
Hi,

Environment : iOS
iOS simulator : iPhone 6, 8.1
OSX :  Yosemite 10.10.3
Xcode :  6.3

Am using latest Appium 1.4 and I see app launches for a second and immediately goes to background, can someone please have a look, because of this test cases are failing.

Below are the logs,

5-06-23 10:56:48:156 - info: [IOS_SYSLOG_ROW ] Jun 23 16:26:48 Any2manys-Mac-mini.local AcidSim[3407]: Could not loa

[2015-06-23 14:04] kolczak commented on #5270
Can you pinpoint few workarounds, or some places where I can find them?

[2015-06-23 16:42] worker-9 commented on #5286
Even when I wait before clicking nothing happen ( I used the ipython embed and perform the click multiple time without any response from the app). The same code work under appium 1.2.2, chromedriver, firefoxdriver, safaridriver, iedriver, android genymotion. The click does nothing on appium > 1.3. I postponed updating appium because of this issue but now I have another bug with appium 1.2.2 so I w

[2015-06-23 16:50] #5262 closed

[2015-06-23 17:05] nabeel-ibrahim commented on #5291
these are the logs:
[36minfo[39m: Welcome to Appium v1.4.6 (REV 1efd33330243765bae4e6216b62df3c9ec3cede5)
[36minfo[39m: Appium REST http interface listener started on 127.0.0.1:4723
[36minfo[39m: Console LogLevel: info
[36minfo[39m: File LogLevel: info
[36minfo[39m: [37m-->[39m [37mPOST[39m [37m/wd/hub/session[39m [90m{"desiredCapabilities":{"app":"/Users/nibrahim/Documents/workspa

[2015-06-23 17:25] inertjade commented on #4502
I face this problem on my Ubuntu with Appium version 1.4.0. However, this problem doesn't show up on my Mac running Appium 1.4.0. This is what I see when it tries to reuse an old session of ChromeDriver.

[code]

Not sure why the Appium client on Ubuntu doesn't restart chromedriver.

[2015-06-23 18:43] moizjv commented on #5292
@mabdurrahman ideal way is to switch to the webview. You can try getting contexts and see what views are present and switch to webview and then use element identifiers to interact with the element.  You can try workarounds to make it work currently (by using same config where it works), but this does not seem to be an appium bug as this is not a recommended way to interact with elements inside web

[2015-06-23 18:52] moizjv commented on #5286
@worker-9 let me try, I thought it was a private url.

[2015-06-23 20:52] mabdurrahman commented on #5292
@moizjv Appium results should be consistent over the same conditions, and this is not the case currently, I already tried the solution you were talking about, and I can confirm that I can't find the elements from inside the WebView when switching to WebView context via the test suite itself OR Appium Inspector... I know that it might be a problem from UIAutomator itself as I expected, but Appium s

[2015-06-23 20:52] #5292 closed

[2015-06-23 21:03] moizjv commented on #5286
@worker-9 use `tap` it works.
![screen shot 2015-06-23 at 2 02 27 pm](https://cloud.githubusercontent.com/assets/1308607/8317188/97def2b8-19b0-11e5-8a3c-5e2790a766ab.png)
![screen shot 2015-06-23 at 2 02 40 pm](https://cloud.githubusercontent.com/assets/1308607/8317189/97e15e40-19b0-11e5-9b28-bf9c94f7b2eb.png)

[2015-06-23 21:12] moizjv commented on #5292
@mabdurrahman id you are not able to find contexts then it might be a potential defect. Once you find webview then you should be able to find elements.

[2015-06-23 21:16] moizjv commented on #5270
@bootstraponline ping

[2015-06-23 21:23] moizjv commented on #5285
Closing issue here as it is tracked in java-client.

[2015-06-23 21:23] #5285 closed

[2015-06-23 21:48] moizjv commented on #5293
[code]

[2015-06-23 22:07] moizjv commented on #5287
```Instruments Trace Error : Target failed to run: Permission to debug com.telstra.treatsdev was denied. The app must be signed with a development identity (e.g. iOS Developer).```

[2015-06-23 22:25] erikluna commented on #4950
I'm seeing this error in Draco too. Tests were running fine then all the sudden this started to happen:

info: [debug] We were in the middle of processing a command when instruments died; responding with a generic error
info: [debug] Cleaning up appium session
info: [debug] Condition unmet after 2118ms. Timing out.
info: [debug] Responding to client with error: {"status":13,"value":{"message":"Ins

[2015-06-23 22:29] Jonahss opened #5295 "runAppInBackground() actually restarts the app"
From @exstan

runAppInBackground() method actually restarts the app (after the specified timeout), because it brings the app to foreground using adb -S, which "force stop the target app before starting the activity".
Here is the log snippet:

info: [debug] executing cmd: /.../android-sdk_r24.0.2/platform-tools/adb -s emulator-5554 shell "input keyevent 3"
info: [debug] Getting device API level
inf

[2015-06-23 23:05] bootstraponline commented on #5270
I don't think this is a bug in appium. You should try on a real device. Emulators have problems. Some apps don't work well on them. It's easy to tell when this is the problem if it works on some emulator API levels and not others while the same tests works on a physical device.

[2015-06-24 04:26] LokeshGangaiah commented on #5287
Hi moizjv,

I cant get an app which is signed with a development identify , bc this app is in App store, which is already been delivered andApps such as FB is also not in development identity how could we launch the App..Ofcourse it should be able to launch. So this apps which are in Appstore will be under distrubution list/identity.
So how could this Apps be launched ?

[2015-06-24 04:29] moizjv commented on #5287
@LokeshGangaiah unfortunately we use instruments and this is a limitation by it.

[2015-06-24 06:39] LokeshGangaiah opened #5296 "BundelID for iOS"
I have list of App's installed on my iphone device, I need to know how will i get the bundelid for them.
1. Facebook app  --
        How will i get the bundelid for this?
       This is not listing in my xcode->devices list
        Why does it not list?
        The xcode->devices list only the apps which are installed using .ipa file or by installing
        from xcode is it?
2. There are other ap

[2015-06-24 07:47] SportySeb commented on #5293
It solved the problem. Thank you very much.

For all others having the same problem : insert the following line in your code:

desired_caps['newCommandTimeout'] = '999'

to get a timeout of 999s instead of the default 90s

[2015-06-24 07:47] #5293 closed

[2015-06-24 11:19] caohairong opened #5297 "[20150624.1643] ImportError: No module named 'appium'"
pip install Appium-Python-Client  之后  运行报错ImportError: No module named 'appium'

[2015-06-24 12:20] BernieLiu opened #5298 "touchAction use coordinate doesn't work"
what i want to do is swipe the screen from right to left.
using java-client 2.2.0&appium 1.4.0

first i use swipe method, but it says "Tried to execute non-existent mobile command 'swipe'."

then i try touchAction:

ta = new TouchAction(driver);
ta.press((int) (w*0.8), h/2).waitAction(1000).moveTo((int) (0.2*w), h/2).release().perform(); //w is the width and h is the height of screen.

the log:
in

[2015-06-24 12:30] aniket-21 commented on #5289
another workaround is if you have git installed, just add git's bin path in your %path% variable. git has utility uname under its bin...it would do the job for you till this issue is fixed

[2015-06-24 12:39] tajmulhussainr opened #5299 "Error in uiautomatorviewer while scrolling (Error obtaining UI hierarchy)"
Hi,

Sometimes uiautomatorviewer throws below mentioned error while obtaining screenshot in my application. Remedy is to restart the uiautomatorviewer.

Error obtaining UI hierarchy Reason:Error while obtaining UI hierarchy XML file.com.android.ddmlb.SynchException.Remote object doesn't exist.

How can I achieve this in appium, Is there any possibilities to restart uiautomatorviewer from code ?

[2015-06-24 13:49] osgafarov commented on #5116
What do you mean by page source? Should I print the views hierarchy tree in the Appium app?

[2015-06-24 14:03] prachi02 opened #5300 "provide a API for retrieving the information about which mode of orientation of a page is locked"
As a tester, I want verify if for a page an orientation mode is locked.

[2015-06-24 15:11] mabdurrahman commented on #5292
@moizjv I've closed the issue by fault when posting the last comment, but I think it would have been a right action :smile:, may be i've tried the WebView context in a wring way before, but now i've created a proof-of-concept 2 Tests Cases just to test the reliability of using Native App Context vs using WebView Context for our purpose, and it's now clear that using Native App Context is not relia

[2015-06-24 16:12] #5287 closed

[2015-06-24 16:17] moizjv commented on #5296
@LokeshGangaiah please ask questions in [forum](https://discuss.appium.io/), this space is for bugs in appium. You cannot test apps directly from itunes, as mentioned earlier from docs ```Devices: iPhone Simulator, iPad Simulator, and real iPhones and iPads
Native app support: Yes, with debug version of .app (simulator), or correctly-signed .ipa (real devices). Underlying support is provided by Ap

[2015-06-24 16:17] #5296 closed

[2015-06-24 16:18] moizjv commented on #5286
@worker-9 closing this issue. Please use `tap` instead of `click`. I was able to reproduce your issue and fix it using `tap` instead.

[2015-06-24 18:12] CrispQATest opened #5301 "Php appium client fails to scroll down"
[code]

This happens with  Android 5.1.1 with Chrome:
On the server side, i get:

info: <-- GET /wd/hub/session/79794274a6a4aaaf8d55e698188ab3a3/contexts 200 0.874 ms - 94 {"status":0,"value":["NATIVE_APP","WEBVIEW_1"],"sessionId":"79794274a6a4aaaf8d55e698188ab3a3"}
info: --> POST /wd/hub/session/79794274a6a4aaaf8d55e698188ab3a3/context {"name":"WEBVIEW_1"}
info: Available contexts: NATIVE_APP,WEB

[2015-06-24 18:15] moizjv commented on #5292
@mabdurrahman No we do not intend to go in that direction as of now. It is very logical to switch contexts.

[2015-06-24 18:22] moizjv commented on #5002
@khamasaki can you upgrade to latest 1.4.6 and check ?

[2015-06-24 18:31] worker-9 commented on #5286
@moizjv

I did a video to show you my issue: http://www.youtube.com/watch?v=M6YLrK8h-Gg

Here is the url of the site I used to test the tap function: http://tympanus.net/Tutorials/CircularProgressButton/

Basically even if I used the tap function it doesn't work on my side. What in your experience could cause such an issue? I don't see any kind of error in the appium log...

Thanks for your time a

[2015-06-24 19:01] moizjv commented on #5281
@braghome yes you would need to switch back to webview for interacting with elements in webview.

[2015-06-24 19:06] moizjv commented on #5300
@prachi02 what do you mean? is this for iOS or Android?

[2015-06-24 19:34] khamasaki commented on #5002
Sorry, this is still happening on 1.4.6.

[2015-06-24 19:54] erikluna commented on #4950
I tried to got back to 1.3.7 and I'm seeing this^ error there also.

[2015-06-24 20:12] moizjv commented on #5301
@CrispQATest You should switch back to perform that action. As it is handled by native context.

[2015-06-24 20:17] moizjv commented on #5299
@tajmulhussainr I don't think this is appium issue. Is this related to appium gui clients?

[2015-06-24 20:22] moizjv commented on #5298
try using `scroll`. [documentation](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md#bugs-and-workarounds)

[2015-06-24 20:26] moizjv commented on #5286
@worker-9 sorry i tried it on android. Let me try on iOS

[2015-06-24 20:30] CrispQATest commented on #5301
Hi Moizjv,

Thanks a lot for acknowledge.

I changed the to the Native_APP context as suggested. Now i receive a different error on the server side:

info: <-- POST /wd/hub/session/1a6f8b96002ec8439b02138dbd3b240a/context 200 1.350 ms - 72 {"status":0,"value":null,"sessionId":"1a6f8b96002ec8439b02138dbd3b240a"}
info: --> POST /wd/hub/session/1a6f8b96002ec8439b02138dbd3b240a/touch/perform {"actions

[2015-06-24 20:52] CrispQATest commented on #5301
I also tried doing scroll, for what i got:

nfo: JSONWP Proxy: Proxying [GET /wd/hub/session/4a3eaa4a94b37c7bf7780bd4b2fa3f99/element/0.7647744687274098-2/location] to [GET http://127.0.0.1:9515/wd/hub/session/4a3eaa4a94b37c7bf7780bd4b2fa3f99/element/0.7647744687274098-2/location] with body: {}
info: JSONWP Proxy: Got response with status 200: {"sessionId":"4a3eaa4a94b37c7bf7780bd4b2fa3f99","statu

[2015-06-24 21:31] derek1106 commented on #5100
Does the fix go to Appium 1.4.1?
In Appium 1.4.1, I still cannot find SafariLauncher.zip, so how could I install SafariLauncher App for browser test?

[2015-06-24 21:32] moizjv commented on #5100
TRY 1.4.6

[2015-06-24 21:42] moizjv commented on #5286
@worker-9 so i got it working `"nativeWebTap":"true"` set this cap

[2015-06-24 21:42] #5286 closed

[2015-06-24 21:43] moizjv commented on #5286
![screen shot 2015-06-24 at 2 43 10 pm](https://cloud.githubusercontent.com/assets/1308607/8342218/631bffba-1a7f-11e5-9220-f927c0075146.png)

[2015-06-24 21:44] derek1106 commented on #5100
I just installed Appium 1.4.6, but there is still no SafariLauncher.zip.

[2015-06-24 21:56] imurchie commented on #5297
Can you provide more information? What version of Python? Are you in a virtual environment? Is this during installation or when you try to run a Python script?

[2015-06-24 21:58] moizjv commented on #5002
@khamasaki can you delete delete node_modules and do npm install?

[2015-06-24 22:23] Jonahss commented on #5100
you have to run reset.sh --real-safari
​

On Wed, Jun 24, 2015 at 2:45 PM, derek1106 <notifications@github.com> wrote:

[2015-06-24 22:27] moizjv commented on #5222
@michalmikolajczyk can you check if it works on 1.4.6? So we can close this issue?

[2015-06-24 22:32] khamasaki commented on #5002
@moizjv Still getting the error after reinstalling. Logs look about the same.

[2015-06-24 22:48] derek1106 commented on #5100
But I use avm to install different Appium versions, and then there is no "reset.sh" in the Appium.
What should I do to resolve the issue?

[2015-06-24 23:03] derek1106 commented on #5100
Will you post the SafariLauncher.zip file in your official release in the future, just like Appium 1.3.x?

[2015-06-24 23:04] worker-9 commented on #5286
@moizjv

It work like a charm! Thanks you very much, I really appreciated your help!

[2015-06-24 23:15] AvanticaQATeamK commented on #4243
@jlipps @imurchie so it is fixed on Appium 1.3.5?

[2015-06-25 02:48] BernieLiu commented on #5298
the app crash when scroll.
first i use scroll with out specifying an element, doesn't work.

i use instrument to record the operation i want, it shows below.
target.frontMostApp().mainWindow().scrollViews()[2].webViews()[0].images()[0].scrollToVisible();

then i find the element to scroll, the scroll with element id，
"au.getElement('0').scrollLeft()"

the app also crash. here is log
{"status":17,"

[2015-06-25 05:59] Nishanthshettar commented on #5294
Can someone please look in to this ?

Thanks

[2015-06-25 07:29] kani19 opened #5302 "Non http url in chrome android on real device Support"
So the scenario is:

    Launch my app (abc.apk)
    Open chrome with a html
    Click on a link in above html (which is non http.. something like abc://settings?service......). This link opens my abc.apk

Now, it does not tap on this link. Or may be its tapping but not opening my app.
But the same code opens all http urls.

[2015-06-25 08:03] prachi02 commented on #5300
Its for both...Android and iOS

[2015-06-25 08:32] nhanh2301 opened #5303 "How to test Hybrid app build by Angular and OnsenUI"
Hello Everybody!

I need test hybrid app build by AngularJS and OnsendUI.

Test on chrome, safari browser and app in android, ios.

[2015-06-25 08:54] BernieLiu commented on #5298
i tried an other app(main UI is not webview) with the same swipe/touchAction code，it works.
so may be because of the app main UI is a webview so  the swipe/touchAction can't work.

can anybody tell me how to solve it ?

[2015-06-25 10:46] ravikumarachi opened #5304 "iOS: Could not use button_click after upgrade appium_lib from 5.0.1 to 7.0.0"
I was using Appium_lib 5.0.1 and able to use below method:
1: exists { button(buttonText)}
2: button('show alert').click

But after appium_lib upgrade to version 7.0.0 I could not use the above methods.

Related to App: Nothing has been changed. If I switch back to previous version 5.0.1 then scripts are working as expected.

Can you please have a look into this.

[2015-06-25 13:09] krishnamvb commented on #5084
This is the error with 1.4.0

EMM:~ kittu$ node /Applications/Appium.app/Contents/Resources/node_modules/appium/bin/appium.js --command-timeout "7200" --native-instruments-lib
dyld: lazy symbol binding failed: Symbol not found: _node_module_register
  Referenced from: /Applications/Appium.app/Contents/Resources/node_modules/appium/node_modules/socket.io/node_modules/engine.io/node_modules/ws/build

[2015-06-25 14:37] diana-zaharia commented on #5298
I am experiencing the same issue when using `mobile: scroll`, please see logs below
[code]
Appium 1.4.0, iOS 8.3 simulator.

[2015-06-25 15:33] nanthu01 commented on #4297
I had same issue with send keys. but it was working, when findElementByAndroidUIautomator method was used to select the element with UiSelector concept instead of findElemetById/Xpath/Text

        driver.findElementByAndroidUIAutomator("new UiSelector().resourceId(\"resource_id_of the_element\").instance(1)").sendKeys("input_data")

Note: I am using appium latest version of 1.4.0.0

[2015-06-25 16:25] moizjv commented on #4297
@nanthu01 can you paste appium logs? may in a gist?

[2015-06-25 16:58] moizjv commented on #5303
@nhanh2301 Please refer to [documentation](http://appium.io/slate/en/1.4/?java#automating-hybrid-apps). Please use [forum](http://discuss.appium.io) for questions. This space is for bugs in appium.

[2015-06-25 16:58] #5303 closed

[2015-06-25 17:07] moizjv commented on #5294
@Nishanthshettar logs suggests that there are errors while loading application.
[code]

Can you paste complete logs in a gist. Also can you recheck if application is crashing?

[2015-06-25 17:11] moizjv commented on #5301
@CrispQATest ```Display bounds: [0,0][720,1184]
info: [debug] [BOOTSTRAP] [debug] Display bounds: [0,0][720,1184]```
can you try in that range?

[2015-06-25 17:26] moizjv commented on #5304
@ravikumarachi did you upgrade appium server? By apium_lib do you mean ruby client. If you think there is an issue with ruby client please raise a defect in [ruby_lib](https://github.com/appium/ruby_lib).

[2015-06-25 17:52] moizjv commented on #4502
Can you try on 1.4.6?

[2015-06-25 18:04] derek1106 commented on #5100
When I executed the command "reset.sh --real-safari", I got the error as below.

* Building SafariLauncher for real devices
Running "buildSafariLauncherApp:iphoneos:/Users/shiwei/appium_source/appium-master/build/SafariLauncher/target.xcconfig" (buildSafariLauncherApp) task
Using sdk: iphoneos...
Cleaning build...
Building app...
Failed building app, maybe it doesn't exist?
Build settings from com

[2015-06-25 18:11] spatchamatla commented on #5100
@derek1106
These are steps i followed to run tests on Safari on real devices::
1)Clone master branch from appium and run with ./reset.sh --ios --real-safari .
2)installed ideviceinstaller using brew install ideviceinstaller and unlinked and installed ios_webkit_debug_proxy
3)build latest safarilLauncher on the device
I started appium with
node lib/server/main.js
and then ./bin/ios-webkit-debug-pro

[2015-06-25 18:15] spatchamatla commented on #5100
Code Sign errors are due to either no provisioning profile or the developer certificate cannot be found by xcode, refresh your account and make sure your device is added to the profile you are using

[2015-06-25 18:34] moizjv commented on #5255
@ashishdd is it still an issue?

[2015-06-25 18:39] moizjv commented on #5158
Closing this issue, as it does not seem to be an appium issue.

[2015-06-25 18:39] #5158 closed

[2015-06-25 18:58] moizjv commented on #5230
@ramdas80 any update?

[2015-06-25 19:17] moizjv commented on #5116
@osgafarov yes may be back button is not present in the screen?

[2015-06-25 19:20] moizjv commented on #4717
@KarthikKakani it seems to be an issue with your application then.

[2015-06-25 19:22] moizjv commented on #4717
try waiting little before and in between taps

[2015-06-25 19:22] moizjv commented on #4717
@sebv @KarthikKakani  I am closing it, as it seems to be an issue with your application.

[2015-06-25 19:22] #4717 closed

[2015-06-25 19:24] moizjv commented on #5139
Closing due to inactivity.

[2015-06-25 19:24] #5139 closed

[2015-06-25 19:41] michalmikolajczyk commented on #5222
hi @moizjv, I tested with the new version on npm, that is 1.4.6, it seems to work ok!

[2015-06-25 19:51] #5222 closed

[2015-06-25 19:53] moizjv commented on #5100
@Jonahss ping

[2015-06-25 20:04] moizjv commented on #5188
Closing due to inactivity. This has been fixed in 1.4.6

[2015-06-25 20:04] #5188 closed

[2015-06-25 20:06] moizjv commented on #5210
Closing due to inactivity. Please use https://discuss.appium.io/ for discussion.

[2015-06-25 20:06] #5210 closed

[2015-06-25 20:22] moizjv commented on #5290
@sjrjanardhana can you use `setValue` instead? Also try using `50%`

[2015-06-25 20:23] imurchie commented on #5271
Pretty much every run of the bootstrap code ends in a JSON parse error, usually at the end of the test. I think that is a red herring.

My main question with regard to manually running the instrument spawn command was to see if it opened the new (upgraded) app or not.

[2015-06-25 20:47] moizjv commented on #5298
@BernieLiu are you in native context?
@diana-zaharia try waiting little bit before executing scroll?

[2015-06-25 21:45] moizjv opened #5305 "Appium should always send back original sessionId not chromedriver session Id"
[code]

[2015-06-25 22:33] moizjv commented on #4950
@erikluna can you set `showIOSLog` cap to true so we can have more info

[2015-06-26 02:36] braghome commented on #5281
so what about #4340 based on comment on Jan 21, 2015

please clarify this we can have it both ways guys :-1:

[2015-06-26 02:38] moizjv commented on #5281
@sebv ping

[2015-06-26 02:50] braghome commented on #5281
so let rem the end goal: need to tap or click I don't care just make stuff work on iOS 8 and above

###### current Appium allergies

https://gist.github.com/braghome/f978fe7480b1d2b95395
https://gist.github.com/braghome/fd01a03111a6d02c1148
https://gist.github.com/braghome/caca5dadf38a565fadcf
[click on nav bar and nothing happens](https://gist.github.com/braghome/8a2aeb8689005aecd154)

[2015-06-26 03:41] ChenFromNB commented on #4950
@erikluna  The memory of the Instruments takes up is always increasing when Appium is running. Maybe the reason why instruments died is related to the memory it takes up.

[2015-06-26 09:11] diana-zaharia commented on #5298
@moizjv I tried waiting, doesn't seem to help. Is this related to iOS 8.3, the issue mentioned earlier by @BernieLiu ?

[2015-06-26 09:59] nanthu01 commented on #4297
@moizjv I have attahced appium logs in gist, please find it in below link

https://gist.github.com/04b5fce26fb332cc4400.git

[2015-06-26 10:01] nanthu01 commented on #4297
@moizjv please ignore the previous link, find the below link for your reference

https://gist.github.com/nanthu01/04b5fce26fb332cc4400

[2015-06-26 10:15] ravikumarachi commented on #5304
I dont think so it is problem with Ruby.
for android it is fine but for only ios.
applium_lib is changed to 7.0.0.

[2015-06-26 11:45] juanpicado opened #5306 "Unable to install appium (appium-chromedriver) 1.4.1-1.4.6 under Windows 7"
Aside of this ticket #5289 with an *easy workaround*, there are another one is blocking me to install the latest appium (1.4.6). and even if you are able to install the "marvelous" library **node-gyp** under Windows 7, (https://github.com/TooTallNate/node-gyp#installation)
it will fail in this point (see the stack trace below), the reason is a ticket with a dependency in the library **socket.io**

[2015-06-26 11:59] jmmerinero opened #5307 "Ruby code for hybrid apps uses non-defined methods"
https://github.com/appium/appium/blob/master/docs/en/advanced-concepts/hybrid.md & http://appium.io/slate/en/v1.0.0/?python#automating-hybrid-apps

The official documentation includes an example written in Ruby but it uses methods which are not defined for **Selenium::WebDriver** or **Selenium::WebDriver::Driver**.

It would be great if you could update the documentation with a working example.

[2015-06-26 15:28] Nishanthshettar commented on #5294
Thanks.

Sure, will provide you the complete logs in gist.

[2015-06-26 16:27] sebv commented on #5281
You cannot be in the native context and look for DIV, there are 2 contexts with different page sources, the element are not interchangeable. The best is to stay in the webview and use css selectors.

[2015-06-26 16:42] Simon-Kaz commented on #5233
For me, Appium works just fine with iOS 9! No clue about new xcode yet, will be testing that next week.

[2015-06-26 16:45] erikluna commented on #4950
@moizjv, set up showIOSLog = true in caps and still seeing the same error?

@ChenFromNB, what can I do to resolve that, if that's the issue?

Thanks for the help guys!

[2015-06-26 18:33] jlipps commented on #5307
@jmmerinero the examples are meant to be run using https://github.com/appium/ruby_lib. appium supports methods that aren't included in the webdriver gem

[2015-06-26 18:50] vinceis1337 commented on #5271
@imurchie No, confirmed that the instrument spawn command causes the old version to launch.

[2015-06-26 19:06] jlipps commented on #5300
there's already an api to get the current orientation...

[2015-06-26 21:43] prachi02 commented on #5300
@jlipps.. there is no method in appium which returns all orientations that app Activity can perform...
One available method return activity current orientation, other method performs orientation this method throws exceptions if activity is not allowed to perform that orientation ....

[2015-06-26 22:22] moizjv commented on #4950
@erikluna can you now paste the log so we would have more info. May be in form of gist

[2015-06-26 22:26] moizjv commented on #5300
@prachi02 yes so if it throws exception then that would be enough to verify if orientation is locked?

[2015-06-26 23:21] jlipps commented on #5300
it's not appium's job to know what orientations your app supports. that's your app's job. but you can use moiz's strategy to verify it using appium.

[2015-06-26 23:21] #5300 closed

[2015-06-26 23:55] yizhixiaoxiaogou commented on #5283
It runs very stable lately, thank you for reply.

[2015-06-26 23:55] #5283 closed

[2015-06-27 06:47] hannesstruss commented on #5305
Hi, I originally reported this to the Saucelabs support. If I can be of any help, just ping me here!

[2015-06-27 07:53] ashishdd commented on #5255
yes, it is still an issue.

[2015-06-27 08:56] BernieLiu commented on #5298
before the operation i use getContext, shows  "NATIVE_APP"
@moizjv do you mean that i should in WebView context?

[2015-06-27 09:30] ashishdd commented on #5255
I check with nexus 4(Android 4.4.2) and nexus 5(Android 5.0.1). It is working fine with nexus 7(Android 4.3)

[2015-06-29 01:37] moizjv commented on #5305
@hannesstruss thanks for raising this issue. I have raised a pull request for this bug.
https://github.com/appium/jsonwp-proxy/pull/2 will update when we fix it.

[2015-06-29 04:35] anmudgal commented on #5266
Appium 1.4.6 did not solve a long due problem of (iOS webkit debug proxy issue) "IOS Safari browser multiple tests running sequentially on same device". Uptil 1.4.3 this scenario used to work after restarting appium and iOS_debug_webkit_proxy after every test.. 1.4.6 can not find any web views for second test.
And on 1.4.3 Android chrome is not working. Can you please help me here.. I am ok with p

[2015-06-29 04:40] anmudgal opened #5309 "1.4.6 IOS safari browser multiple tests not running(Could not find web view.. there aren't any)"
Appium 1.4.6 did not solve a long due problem of (iOS webkit debug proxy issue) "IOS Safari browser multiple tests running sequentially on same device". Uptil 1.4.3 this scenario used to work after restarting appium and iOS_debug_webkit_proxy after every test.. 1.4.6 can not find any web views for second test even after restarting.
And on 1.4.3 Android chrome is not working. Can you please help me

[2015-06-29 05:36] moizjv commented on #5309
@anmudgal can you try using 1.4.6 for android chrome?

[2015-06-29 07:28] prachi02 commented on #5300
@Moizjv..Right now...I am catching the exception...

[2015-06-29 07:51] anmudgal commented on #5309
Yes Android tests are running in 1.4.6 even though I can see
"error: Trying to proxy a session command without session id"
in the Appium logs

Now I will recheck the iOS tests even though when I tried earlier( on Appium 1.4.6) iOS Safari sequential tests do not work but they work with Appium 1.4.3 (with restarting appium and iOS webkit proxy after every test).

I will post my findings here.

Thank

[2015-06-29 11:26] anmudgal commented on #5309
Yes this is consistent with Appium 1.4.6, after first iOS Safari web test, I call driver.quit() and shut down appium and iOS_webkit_debug_proxy.. For second test,I restart appium and iOS_webkit_debug_proxy it launches SafariLauncher, opens Safari and can not type url.
Appium logs say:
A new session could not be created. (Original error: Could not navigate to webview; there aren't any!)

IOS webkit

[2015-06-29 11:29] sjrjanardhana commented on #5290
I have tried setting value suing 0.6 & 60% but still jumps back to old position.

[2015-06-29 18:14] moizjv commented on #5271
@vinceis1337 looks like instruments issue, what do you think @imurchie ?

[2015-06-29 18:42] moizjv commented on #5298
@diana-zaharia @BernieLiu so i tried to reproduce. For me it happens when i try to scroll down a view which is already scrolled down, example: `driver.execute("mobile: scroll", [{direction: 'down'}]);` works for first time and then when second time `driver.execute("mobile: scroll", [{direction: 'down'}]);` since view is already scrolled down it throws this error. It is issue with instruments. For

[2015-06-29 18:44] moizjv commented on #5304
@ravikumarachi can you raise an issue in  [ruby_lib](https://github.com/appium/ruby_lib) ?

[2015-06-29 19:02] qaDream77 opened #5310 "Appium 1.4.6 iOS, not able to scroll in collectionview"
Swipe doesn't work and i read that scroll (start, end) was introduced. Nothing happens when i try to use scroll programmatically.

The appium func
    def scroll(self, start_locator, end_locator):
        el1 = self._element_find(start_locator, True, True)
        el2 = self._element_find(end_locator, True, True)
        driver = self._current_application()
        driver.scroll(el1, el2)

Doesn't

[2015-06-29 20:45] Jonahss commented on #5307
If there are specific issues with the Ruby client, could you post in the github repo for that project? thanks

[2015-06-29 20:45] #5307 closed

[2015-06-29 20:45] BenWaller commented on #5243
I've been able to reproduce this issue. Negative values won't work with the relative touchActions as in the case below where I move up 7, and right 52 for the last part of this circle I'm drawing. I'm using java-client:2.1.0 and appium 1.4.3

        int sides = 50;
        double step = 2*Math.PI/sides;
        int h = maxWidth / 2;
        int k = maxHeight / 3;
 touchAction.press(h, k);
for(dou

[2015-06-29 20:49] Jonahss commented on #5306
Looks like an issue with installing appium chromedriver.
A workaround would be to clone appium-chromedriver repo, and then install the chromedriver package manually on your machine.

This is a bug though, we should be able to fix it. @jlipps any thoughts?

[2015-06-29 20:49] moizjv commented on #5306
Yes it is a bug in chromedriver and we need to fix it.

[2015-06-29 21:33] vbhojaraja commented on #5309
I am also facing the same issue with running tests on real device

[2015-06-29 22:12] braghome commented on #5281
@sebv I will again referring to #4340 based on comment on Jan 21, 2015 for the original question

the thing is click does not work all the time [on our rendrJS mobilesite](http://m.trulia.com/) on webview so I was told need to tap in on iOS 8 and above

[2015-06-29 22:22] vrunoa opened #5311 "Browsable intent url not opening app"
I have a simple test on Android that clicks on an ```<a>``` element with an browsable intent url on an ```href``` and then waits for an application to launch.
The test finds the element, clicks on it but the app is never launched. I tried using both ```.click``` and ```.tap``` over the element but the app is never launched. This only happens when using appium, if I open the same test url site and

[2015-06-29 23:33] sebv commented on #5281
Sounds like a problem with your site, if you cannot click, can you click in pure javascript?

[2015-06-30 00:10] ericwengelking commented on #5225
@jlipps Are there plans for this new driver to support something simliar to MobileBy.IosUIAutomation(final String uiautomationText)?  Of course instead of passing in the javascript uiautomation string you would pass in the swift locator string.

[2015-06-30 00:26] braghome commented on #5281
the same test works on Appium 1.2.0, :grey_question:

[2015-06-30 00:48] moizjv commented on #5281
@braghome yeah we removed support to find xpath elements in webview from native context as it was hampering performance

[2015-06-30 00:49] moizjv commented on #5281
@jlipps can we add it back as an optional flag, and consider it as a feature request?

[2015-06-30 01:44] moizjv commented on #5306
@juanpicado I tried to reproduce that, but our windows had git installed which uses `cygwin` i guess hence i was not able to reproduce issue, as a work around can you install `cygwin`?

[2015-06-30 07:16] juanpicado commented on #5306
@moizjv  Using ```cygwin``` I'm able to install appium 1.4.6, but always throw plenty of issues, maybe related with a bad installation of the requirements of  ```node-gyp```, **it's valid workaround** but I ignore the side effects that could have using an successfull *installation with errors*.
[code]

[2015-06-30 08:19] Zoe1808 commented on #5094
any updates here?

[2015-06-30 11:27] mgehlen commented on #4416
by the way finally came around to actually use this and it works like a charm.

Thank you very much!

[2015-06-30 11:30] mgehlen commented on #4456
once we upgraded to iOS 8.2 our issue #4464 was gone although dev did not adjust our app. So maybe Apple improved something on their side? Hope this information is of any value to you.

[2015-06-30 12:53] sathish-2129 opened #5312 "Could not initialize ideviceinstaller; make sure it is installed and works on your system"
error: Could not initialize ideviceinstaller; make sure it is installed and works on your system

info: [debug] Error: Could not initialize ideviceinstaller; make sure it is installed and works on your system
    at [object Object].IOS.getIDeviceObj (/Applications/Appium.app/Contents/Resources/node_modules/appium/lib/devices/ios/ios.js:909:13)
    at [object Object].IOS.installToRealDevice (/Appli

[2015-06-30 13:50] Floodzie2 opened #5313 "puts causing trouble? Ruby/Cucumber/Appium"
We have recently installed a copy of our framework on another machine, and for some reason we get an error when using 'puts' instead of 'Kernel.puts' (we use Ruby)

This isn't a huge issue, but we occassionally use 'puts' to write to the cucumber results file.

Anyone else seen this?

Log:

2015-06-30 14:44:59 +0100 OUT: Error: undefined method `<<' for nil:NilClass
2015-06-30 14:44:59 +0100 OUT:

[2015-06-30 17:56] moizjv commented on #5313
@Floodzie2 this does not seem to be a appium issue. Please raise an issue in appropriate library. Also you can use http://discuss.appium.io for discussion. Thanks

[2015-06-30 17:56] #5313 closed

[2015-06-30 18:08] vinceis1337 commented on #5271
@moizjv Yeah, I was hoping it was an appium issue (and therefore easier fixed), but I'm losing hope. The evidence is pointing towards either a change in how instruments behaves or a bug in 8+ control.

[2015-06-30 18:19] Jonahss commented on #5312
For running ios apps on real devices, appium uses the ideviceinstaller application. You need to install this yourself (and add it to the path).

This can be installed via homebrew. or can be compiled from source on github.

We're working on having it automatically install, but it is non-trivial.

[2015-06-30 18:19] #5312 closed

[2015-06-30 18:24] Jonahss commented on #5311
Hm. I assume you're inside the WEB context when you're running the tap and click commands? What happens if you switch to the NATIVE context and use a TouchAction onto the coordinates of the <a> element?

Not sure why this isn't working for you....

[2015-06-30 18:27] vrunoa commented on #5311
I'm inside WEB context when I tap on the link. It never occur to me to switch to NATIVE and then touch on the link. I'll give it a try and let you know.

[2015-06-30 18:27] Jonahss commented on #5311
If you could provide us with an example app to reproduce this, we could experiment with it. Maybe the simplest possible app (or web page) with a single <a> element to launch an intent....

[2015-06-30 18:30] Jonahss commented on #5310
The appium inspector, and the python client are both open source right here :)
https://github.com/appium/appium-dot-app
https://github.com/appium/python-client

Scrolling is kind of in flux right now as we haven't decided on a single system which works well in both iOS and Android. Plus there are constant bugs related to this in Intruments itself.

The most reliable method of scrolling is to creat

[2015-06-30 18:44] Jonahss commented on #5309
@vbhojaraja Is your issue the same? Your first test runs fine on a real device, and then following tests fail?

[2015-06-30 18:45] Jonahss commented on #5309
@anmudgal I can see where the issue could arise. You are keeping the same app running, and multiple sessions try to connect to the same webview. You mentioned this being a long-standing issue. Can you link to an older ticket for this?

[2015-06-30 18:49] Jonahss commented on #5302
This looks like a duplicate of #5311
Would you agree?

[2015-06-30 18:49] #5302 closed

[2015-06-30 18:51] Jonahss commented on #5304
Yes, you should post the issue to ruby_lib, instead of the main appium server.

[2015-06-30 18:51] #5304 closed

[2015-06-30 18:54] Jonahss commented on #5301
@CrispQATest yeah, your TouchAction went outside the bounds of the screen.

[2015-06-30 18:55] Jonahss commented on #5299
Hm yeah. Using just appium, you should get the screenshot just fine.
Not sure about using uiautomatorviewer at the same time as appium.

[2015-06-30 18:58] Jonahss commented on #5298
@BernieLiu for your original issue:

Maybe you could use accessibility developer settings to have the device show where you are tapping/swiping. It's possible that the touch action is successful but for whatever reason, the device isn't swiping.
Try playing with the placement of your coordinates.

[2015-06-30 19:00] Jonahss commented on #5295
@exstan if you want to submit a pull request to fix this bit of code. Shouldn't be too bad :)

[2015-06-30 19:01] Jonahss commented on #5294
It's likely that your app is crashing in the simulator.

[2015-06-30 19:07] Jonahss commented on #5249
Yeah, the teardown step shouldn't be happening. If @chris1248 can post logs here (or a gist link plz) then we can see how that might be triggered.

So what are your options speed-wise? Let's see:

- Well you can change your test script so a single session is started, than run a bunch of tests and assertions in the browser.
- Course, the whole point of putting it in separate sessions is to make sur

[2015-06-30 19:15] vbhojaraja commented on #5309
@Jonahss : I am facing this issue every time i am executing the test case.

[2015-06-30 19:18] Jonahss commented on #5164
@sebv did you ever try this?
@spatchamatla  could you try this with appium v1.4.6? we've slightly corrected the code for connecting to webviews.

[2015-06-30 19:30] moshimoshibye commented on #5272
@moizjv  I also saw this when ran tests on saucelabs. It only happened when I change network status.

And it cause me timeout on saucelabs ; (

Here is the log:
62102015-06-29 09:11:09:545 - info: --> GET /wd/hub/session/c0dacf61-0ab4-4d6c-811a-52ba6efdf7e6/network_connection {}
62112015-06-29 09:11:09:546 - info: Getting network connection
62122015-06-29 09:11:09:546 - info: [debug] executing cmd

[2015-06-30 19:31] sebv commented on #5164
not  yet, on my list.

[2015-06-30 19:55] spatchamatla commented on #5164
where can i get the appium v1.4.6?

[2015-06-30 20:33] erikluna commented on #4950
@moizjv

Instruments socket server was closed
info: [debug] Stopping iOS log capture
info: [debug] Running ios sim reset flow
info: [debug] Killing the simulator process
info: [debug] Killing any other simulator daemons
info: [debug] Killall iOS Simulator
info: [debug] On a real device; cannot clean device state
info: [debug] We were in the middle of processing a command when instruments died; res

[2015-06-30 20:37] erikluna commented on #4950
I've tried getting at the element by ID and xpath and it seems to fail at the same point each time. Looks for the button for the account screen and all the 404 errors {"using":"id","value":"registrationButton"} is the beginning of the test.

The test runs through a flow and I want it to logout of the app and start from the beginning of the test again?  I'm stumped?

[2015-06-30 21:16] vrunoa commented on #5311
I play a little an manage to make it work by changing into ```NATIVE_APP``` contexts and perform a TouchAction. Much better solution that adding a ```onclick="window.open(intent://...)"```. Thanks for this advice @Jonahss.

I didn't look the element directly on ```NATIVE_APP``` contexts, 'cause in my case I don't know which is going to be. In my case this element could change from test to test. I

[2015-06-30 23:04] vicwomg opened #5316 "Appium can't recover a backgrounded selendroid app"
When using selendroid, the appium session doesn't recover from backgrounding (driver.runAppInBackground). The driver wont even process getPageSource(), even though the app appears on screen.

Appium logs indicate it's sending adb commands but selendroid might have it's own bindings for backgrounding and recovering the app that allow it to recover: http://selendroid.io/advanced.html#backgroundApp

[2015-06-30 23:15] jlipps opened #5317 "Discussion: strategies for fixing dependencies in Appium"
### The Problem

One of the downsides of breaking Appium apart into multiple independently-developed and -tested projects is dependency management becomes more complicated. NPM's package.json gives us various ways to specify dependencies. We can specify exact versions, or use symbols that denote version ranges. In most of the Appium packages, we use `^` for dependencies, which means "get me the la

[2015-06-30 23:26] chris1248 opened #5318 "Unhandled exception EPIPE"
So I was running some rspec tests again the IPad simulator using appium, when it crapped out on me with this cryptic message:

`error: uncaughtException: write EPIPE date=Tue Jun 30 2015 17:07:45 GMT-0600 (MDT), pid=2348, uid=1465707852, gid=1095186886, cwd=/Users/cjohnson/code/appium, execPath=/usr/local/Cellar/node/0.12.4/bin/node, version=v0.12.4, argv=[node, /Users/cjohnson/code/appium/lib/ser

[2015-06-30 23:28] sebv commented on #5317
You have also the `~` option for dependency, it will only upgrade patch versions.

[2015-06-30 23:30] imurchie commented on #5317
Npm 3 [looks](https://github.com/npm/npm/releases/tag/v3.0.0) also like it might help with the issues we're experiencing.

[2015-06-30 23:33] jlipps commented on #5317
@sebv ah I was confused, I thought `^` only upgraded patch as well

[2015-06-30 23:35] sebv commented on #5317
@jlipps https://github.com/npm/node-semver#caret-ranges-123-025-004

[2015-06-30 23:44] sebv commented on #5317
Also I think 3 and 4 are the same, view from the main appium package.

shrinkwrap is a good idea, just don't ever use it for dev dependencies. (So publish time is a good time). I don't think we need to  shrinkwrap dependency package, so I vote 3.

Fixing all the versions is a bad idea, if everybody was doing that, the Node.js ecosystem would be totally broken.

[2015-07-01 01:21] chris1248 opened #5319 "ERROR: could not reset simulator. Then test execution hangs."
Guys guys guys

I'm beginning to lose faith in appium. This library has failed on me twice in a row when I try to push the envelope. In my case I'm trying to run about a hundred test cases on the IOS simulator.

This time I got another fatal error:

`error: Could not reset simulator. Leaving as is. Error: Command failed: /bin/sh -c xcrun simctl erase 58AF4973-093F-411B-B89A-28E98B78792E
An error w

[2015-07-01 04:57] lbaxevanaki commented on #5180
Hi,

we are experiencing a similar problem.

We are using appium latest, Java and iOS 8.3 and iPhone 6 simulator. We cannot locate any element after switching a second time from NATIVE_APP to WEBVIEW_1 context.

Please see below the related appium log part:
............
info: [debug] Responding to client with success: {"status":0,"value":["NATIVE_APP","WEBVIEW_1"],"sessionId":"9ee4c243-999e-4332-9

[2015-07-01 06:19] Nishanthshettar commented on #5294
@moizjv , here is the gist link https://gist.github.com/Nishanthshettar/34f1ef1534aff937363e

[2015-07-01 06:29] MiquelMittertreiner opened #5320 "Can't create an instance of AppiumDriver/AndroidDriver"
Hi,

My problem occures when creating an instance of the AndroidDriver/AppiumDriver.
At my work, we have an application where we use Selenium to automate our webbased tests.
By that I mean the product we have, which are multiple asp.net websites, we use selenium to automate all the testing. We are now trying to implement Appium also, so we can automate the testing on mobile devices. Is it even pos

[2015-07-01 07:01] tajmulhussainr commented on #5299
First of all sorry for the delayed response.

Tried with appium gui as well. Its not able to get the screenshot and it didn't throw any exception like uiautomator.

[2015-07-01 07:41] thivyae opened #5321 "Will we be able to do isEnabled() on a relative layout element?"
Finding an element "relative layout" inside an element "wifilist"
Need to get if "relative layout" is enabled or not?
The element is actually "enabled=false" but still appium returns it as "true"

Below is my script webdriver nodejs script:
elementById(config.packageId +'wifiList').elementByClassName('android.widget.RelativeLayout').isEnabled();

[2015-07-01 08:00] shadeimi opened #5322 "Selenium HA Grid Session Dropdown"
When appium is used as a selenium node for an HA Selenium HUB cluster, switching from the active to the passive one, cause an appium freeze. 1.4.6 seems blocked on a session will never end, when 1.3.7 doesn't freeze. Moreover, i've found an unhandled exception ("undefined" string is printed on screen and appium version 1.4.6 die). These are the configurations i've used:
- node.json
  {
  "configur

[2015-07-01 08:13] juanpicado commented on #5239
I have the same feeling than @imurchie after the upgrade of the last Chrome I've been having the same issue, I think something is wrong with the communication adb <--> chromedriver.exe <--> browser, since I upgrade to adb 1.0.32 and the new chrome mobile all started to goes bad.
[code]
I downgraded to ``adb`` 1.0.31 and the problem persist sometimes ... in the first try everything works fine, but

[2015-07-01 09:36] AvisekhSamanta opened #5323 "I have my index.html inside www/view and not in the directory www thus the appium could not find the inex.html how to point my index.html to appium?"

[2015-07-01 10:04] naveenjammula commented on #5134
This issue is still re-producible. on appium 1.4.0

[2015-07-01 10:49] anmudgal commented on #5309
@Jonahss I am not keeping the same App running, the sequence of events is as follow:

1) I start Selenium grid hub, appium and iOS debug webkit proxy(http://localhost:27753/json shows the available web view)
2) I run the test on iPhone Safari browser with a single session(SafariLauncher launches Safari web view gets refreshed and http://localhost:27753/json shows the available web view and test ge

[2015-07-01 10:52] anmudgal commented on #5309
So for second test after launching Safari Browser iOS debug webkit proxy can not get webviews and keeps the json array empty.

[2015-07-01 17:09] piotrekkmt opened #5324 "Android APK fails to sign if filename contains brackets"
Appium fails to sign the apk file if the name contains a number in brackets Appversion_server1_1234(1234)

[2015-07-01 19:24] msakdeo commented on #5222
Hi, I am running into same issue where even though I am on webview it's only showing Native_App. I tried with 1.4.6 but still facing same issue. Am I missing something?

[2015-07-01 20:11] binodpanta opened #5325 "How to quickly verify if a host is appium-setup?"
How do we scriptify the check that a host has Appium setup done, without actually trying to run appium and encountering/checking for the dialog or other situations?

[2015-07-01 20:16] JagatheswaranSelvakumar commented on #5230
For me also getting same error .

In my Scenario also 2 web view
First web view working fine but second is not working

Getting  this below error

2015-07-01 15:04:31:625 - info: --> GET /wd/hub/status {}

2015-07-01 15:04:31:626 - error: Got bad session base with rest of url: /status

2015-07-01 15:04:36:812 - info: <-- GET /wd/hub/status - - ms - -

[2015-07-01 20:19] sdubov opened #5326 "Airplane mode is not stable on some devices"
I was testing set_network_connection() method to disable/enable airplane mode by
[code]
and have found that method works not stable on some devices. Appium re-start adb after changing a network state and then device can not be attached.

[code]

List of devices is below:
- LG LG-H811(Android 5.0.2)
- Sony D5316 (Android 4.4.2)
- Sony D6616 (Android 5.0)

[2015-07-01 20:44] rxiong commented on #5310
Hi, we are having same issue and this is the result of using TouchActions is that we cannot cast to hasTouchScreen.

java.lang.ClassCastException: io.appium.java_client.ios.IOSDriver cannot be cast to org.openqa.selenium.interactions.HasTouchScreen

Is there a MobileTouchActions version or what am I missing?

[2015-07-01 20:53] Jonahss commented on #5122
Duplicate of #5305

The issue is that appium was responding with the chromedriver session id, which it should keep private. The python client would pick up this new session id and try to run commands with it (rather than keeping the same session id as the test was started in). We are releasing version 1.4.7 specifically to fix this issue smile

Expect this to be released today or tomorrow.

If you

[2015-07-01 20:53] #5122 closed

[2015-07-01 21:18] rxiong commented on #4716
@amedvedjev is that with java client 2.2.0 or 3.0.0?
Currently we are using Selenium 2.46 grid and java client
Appium 1.4.6 and java client 3.0.0
TouchAction seems to have worked fine to scroll up on an image (UIScrollView), but completely fails to scroll back down.

[2015-07-01 21:23] Jonahss commented on #5310
Make sure you import io.appium.java_client.TouchAction and not the selenium one. Sorry about that.

[2015-07-01 21:28] Jonahss commented on #5309
@anmudgal the issue might have something to do with the selenium grid setup, is that possible? Does the same issue occur if you just run sequential safari tests with a single appium server?

[2015-07-01 21:29] Jonahss commented on #5309
@vbhojaraja it sounds like your issue is not the same as @anmudgal's can you create a separate issue please?

[2015-07-01 21:35] Jonahss commented on #5299
Instead of appium gui, could you use appium server from the command line, and then run a test script that just takes a screenshot? That would eliminate many variables.

[2015-07-01 21:36] Jonahss commented on #5294
@Nishanthshettar the file is too large for gist, and isn't included. Can you find some way of providing us with the logs?

[2015-07-01 21:38] Jonahss commented on #5294
Looks like this could be an appium issue afterall:
[code]
The full appium logs should help us see what went wrong.

[2015-07-01 22:07] Jonahss commented on #5311
cool thanks for using appium-repl!

Your project looks cool. It almost makes sense that clicking on the element inside the web context doesn't work. When i click on your sample link on my desktop computer in chrome, nothing happens. So if we connect to chrome debugger tools in the webview and click, it makes sense that nothing happens there.

Good find, I'm sure other people will run into this sor

[2015-07-01 22:08] #5311 closed

[2015-07-01 22:14] Jonahss commented on #4950
@erikluna I don't understand. I don't think your issue is related to the original post in this thread. Could you please create a new issue. In the new issue please include the full appium server logs, and can you also include code for a sample test case that you are trying to run? I think that would help us figure out why you cannot find the button you are looking for.

[2015-07-01 22:15] Jonahss commented on #5164
@spatchamatla `npm install appium` will get the latest version. Or you can clone the github repository and follow the "build from source" instructions.

[2015-07-01 22:23] erikluna commented on #4950
I think this might have been a change made to an ID scheme that we weren't aware of. Thanks for the quick help and sorry for the red herring.

[2015-07-01 22:48] Jonahss commented on #4950
Ah ok :)

[2015-07-01 22:49] Jonahss commented on #4950
@ptorgalmath-gpsw  or @ChenFromNB or @andreeamatei are any of you still having an issue? Have you switched to appium v1.4.6?

[2015-07-01 23:00] Jonahss commented on #5325
run `node bin/appium-doctor.js` it checks the setup of dependencies and stuff :)

[2015-07-01 23:01] Jonahss commented on #5324
Ooh thanks. That's definitely a bug :)

[2015-07-01 23:04] Jonahss commented on #5326
Oh yikes. So it's not stable on specific real devices. Hm. We don't have any of those devices in-house here so it's hard to test.
If you want it to reliably work on those devices, you can take a look at the source code and see if you can find a reliable way for it to work ;)

[2015-07-01 23:04] Jonahss commented on #5326
We can help of course, but it's up to you to help us figure out a reliable method for setting airplane mode.

[2015-07-01 23:08] Jonahss commented on #5322
We don't officially support selenium grid, and I don't know much about it. Can you be more specific in telling us how we can change appium to work for your use case?

[2015-07-01 23:10] Jonahss commented on #5321
When you run `driver.source(console.log)` is the element enabled in that xml dump?

[2015-07-01 23:12] Jonahss commented on #5320
Ah! You need to use the (java-client)[https://github.com/appium/java-client]
It has the classes that you need :)

[2015-07-01 23:12] #5320 closed

[2015-07-01 23:26] Jonahss commented on #5319
Ah. So what happened here is we tried to erase the simulator before it actually finished shutting down. Yup, an async bug. Even if it failed, we should have retried or something rather than hanging.

Yes actually, writing async javascript code is so difficult ^.^

This is why we're working on a major rewrite in version 1.5. Using promises and async-await will solve our "callback hell" where we som

[2015-07-01 23:27] Jonahss commented on #5319
Could you post the appium logs where it failed?

[2015-07-01 23:29] Jonahss commented on #5318
Can you post any of the appium logs for this? It's an OS-level error. Perhaps something dies somewhere and closed one end of a pipe.

[2015-07-01 23:30] Jonahss commented on #5316
Thanks for the error report. Good reproduction code. We will have to look at the way selendroid handles backgrounding.

[2015-07-01 23:53] Jonahss commented on #5323
I'm really not sure how to help you. Try going through this tutorial on appium: https://saucelabs.com/resources/articles/appium-bootcamp-chapter-1

[2015-07-01 23:53] #5323 closed

[2015-07-02 00:09] Jonahss commented on #4399
I ran the alert tests for appium v1.4.6 on  ios 7.1 simulators using xcode 6.3.2 on yosemite. they passed.
https://github.com/appium/appium/blob/master/test/functional/ios/uicatalog/alerts-specs.js

@amake any reason those tests would pass but you see a failure?

[2015-07-02 00:22] Jonahss commented on #5253
@Balajikl did @ramdas80's advice help?

[2015-07-02 00:29] Jonahss commented on #5252
ahahahhaha such a funny bug. Well not much we can do since it's an android bug :(

[2015-07-02 00:29] #5252 closed

[2015-07-02 00:31] binodpanta commented on #5325
Thanks, does this script just check that appium can be used, or that appium setup has actually been completed (as per the doc instructions) ? I was looking for the latter if possible

[2015-07-02 01:37] nhanh2301 commented on #5298
Me too... In Web View, i can't swipe with touchAction
This error:

Error: [performTouchAction([{"action":"press","options":{"x":1050,"y":700}},{"action":"wait","options":{"ms":500}},{"action":"moveTo","options":{"x":50,"y":700}},{"action":"release","options":{}}])] Error response status: 17, , JavaScriptError - An error occurred while executing user supplied JavaScript. Selenium error: An error oc

[2015-07-02 01:48] ChenFromNB commented on #4950
I have switched to appium v1.4.0 @Jonahss . @sebv  It is NSLog of iOS that causes the memory leak of instruments which is described at pull #4940 :)

[2015-07-02 04:10] polaris007 opened #5331 "send_keys sends wrong value"
Issue https://github.com/appium/appium/issues/4844 is marked as closed. But I still encounter the same issue. It happens consistently in my env:

Test device: Samsung Galaxy S4, Android 4.4.2
Appium java client: 2.2.0
Appium server: 1.4.0 and 1.4.6

I sent "https://bej301133.cn.oracle.com:9002/bmax/bmconfig_oam_pwd.json", but always got "https://bej301133.cn.oracle.com:W00a/bmax/bmconfig_oam_pwd."

[2015-07-02 05:48] sandeepJois commented on #5277
@moizjv : Wait didn't help .@Jonahss : Any thoughts on this ?
Thanks .

[2015-07-02 06:39] kviji opened #5332 "Connect refused error in Appium"
Hi All,

I have a Maven project which is a framework for my Appium tests.
I am trying continuos integration with Jenkins and have used the script which launches Appium in command line.
However, when I run it, I am getting connection refused / Browser start up failure.

AppiumDriver driver=null;
    DesiredCapabilities capabilities = new DesiredCapabilities();
    CommandLine command = new CommandL

[2015-07-02 08:31] rockyav opened #5333 "WebDriverException: Message: An unknown server-side error occurred while processing the command."
Got error when click button on iOS :

Here is appium logs:

info: [debug] Got result from instruments: {"status":0,"value":{"UIAApplication":{"@":{"name":"ItsOn","label":"ItsOn","value":null,"dom":null,"enabled":true,"valid":true,"visible":true,"hint":null,"path":"/0","x":0,"y":20,"width":320,"height":548},">":[{"UIAWindow":{"@":{"name":null,"label":null,"value":null,"dom":null,"enabled":true,"val

[2015-07-02 09:11] raafe opened #5334 "Can't find elements on iOS 8.3"
Hi,

There is a problem with finding elements on iOS 8.3.
if I use iOS 8.1.3 (iPhone 5), the following statement works fine:
"assert self._driver.find_element_by_name('Door test door was closed').is_displayed()"
I am able to find such an element.

But when I use another phone (iPhone 5S) with iOS 8.3, the problem with finding element occurs. It is visible in Appium inspector but the element could

[2015-07-02 10:47] shadeimi commented on #5322
yes, when an appium instance, used as a selenium node, switch from "Hub down or not responding" to "Appium successfully registered with the grid on <grid_host>:4444", must lose all active sessions. I hope i was more clear now

[2015-07-02 10:56] shadeimi opened #5335 "Selenium Grid hangs on /wd/hub/status"
I've noticed two different behaviour on appium 1.3.7 instead of appium 1.4.6; when using appium as a selenium node, i've launched a test using

capabilities = {"version":"5.0", "deviceName":"ANDROID","browserName":"chrome","platformName":"ANDROID","id":"5bf1e9de2372193b"}

and, during the android execution test, when the /wd/hub/status hangs up and this behaviour freeze the selenium hub for the 1.

[2015-07-02 13:28] mittt commented on #5230
I believe i'm hitting the same problem. I'll try to summary the scenario:

1. Load an activity. Do tests(Native context)
2. A WebView is create and shown. Do tests (Web Context)
3. Go back to the native context. Hide the WebView from 2. - should be garbage collected at some point.
4. A new WebView is created, shown and loaded.

At this point driver.getContextHandles() returns only two contexts, bu

[2015-07-02 14:28] Nishanthshettar commented on #5294
@Jonahss , thank for checking, here is the gist link https://gist.githubusercontent.com/Nishanthshettar/fe6863cb3cbc1e372b3d/raw/gistfile1.txt

[2015-07-02 15:15] qaDream77 commented on #5310
Thanks for the reply Jonahss, in iOS mobile scroll to seems to work well enough but in android i noticed that using both scroll and swipe is very inconsistent and even the touch actions don't mitigate that inconsistency by much. Is there anything in the appium library for android that is equivalent to the ios mobile:scroll to?

I imagine that the limitation you are facing is that android doesn't l

[2015-07-02 17:45] vbhojaraja opened #5336 "1.4.6 Appium Unable to find webview"
Latest version of appium throws an  error unable to find webview after launching the safarilauncher app eventhough   ios_webkit_debug_proxy  has been started.

[2015-07-02 17:51] Jonahss commented on #5317
I'm for option 3. Thanks @imurchie for pointing out npm v3. Looks like it specifically fixes some of our issues. I still think that npm-shrinkwrap is broken if people are using different versions of node though :(

I'm for keeping `^` versioning for *most* dependencies. My ideal suggestion is as follows:

Use strict `=` versioning for all appium modules. Use `^` versioning for most dependencies. W

[2015-07-02 18:04] Jonahss commented on #5325
The script actually looks for all the dependencies to make sure they are installed. And it checks your environment variables too. Try it out.

If you think it needs more, please open an issue on https://github.com/appium/appium-doctor

[2015-07-02 18:04] #5325 closed

[2015-07-02 18:06] Jonahss commented on #5298
@nhanh2301 could you please post the full appium server logs? They will probably contain more information as to what went wrong.

Your issue is different from the original error in this thread. In the original issue, no error is thrown. Could you open a new issue for your problem?

[2015-07-02 18:07] Jonahss commented on #4950
Sweet :)

[2015-07-02 18:07] #4950 closed

[2015-07-02 18:08] sebv commented on #5317
@Jonahss I suspect it is related to old npm versions, when you install older node, you get older npm version, but you may upgrade it without having to upgrade node.

[2015-07-02 18:13] Jonahss commented on #5277
@sandeepJois It looks like the server received a DELETE session command in the middle of your test run. This could happen if your test runner somehow hits an error? I'm not sure how to reproduce this error. If you created a super simple app and a super simple test script that reproduces this we could try to fix it.

As @moizjv said, appium v1.5 is being specifically architected to fix bugs like th

[2015-07-02 18:15] Jonahss commented on #5322
Hm. To have appium lose all active sessions, you have to send the DELETE session command, and then wait for appium to respond.

Is it possible that appium is sending back the DELETE response before it has finished killing the session, so that the next command errors? That's something we could fix if it is the case.

Could you provide the appium server logs (for the specific appium node) when your

[2015-07-02 20:22] vrunoa commented on #5311
Just posted on discuss.appium.io, [https://discuss.appium.io/t/clicking-on-an-intent-url-not-http-link-inside-a-webview-solved/5022](https://discuss.appium.io/t/clicking-on-an-intent-url-not-http-link-inside-a-webview-solved/5022)

[2015-07-02 21:25] Jonahss commented on #5294
According to the log, it looks like your app immediately crashed. The simulated app for a SIGINT signal as soon as the simulator tried to start....

[2015-07-02 21:27] Jonahss commented on #5294
So not really sure what we can do. If it's not reproducible it might be an error in Apples Instruments.

Here's something you can try. Can you put a 10 second delay in between all your test runs? This will eliminate the possibility that it is a race condition. If adding the 10 second delay fixes the problem then we can figure out how to improve appium to make sure not to start a new session until

[2015-07-02 21:29] Jonahss commented on #5310
Yup. You figured out the limitation exactly. We're still trying to decide on a really good way to do scrolling.

In android, you can use the findByAndroidUIAutomator and pass in something like "new UIScrollable(new UISelector().children()).scrollTo()" or something like that. My syntax is probably incorrect, but there are some UIScrollable commands that will work in appium this way.

Check out the

[2015-07-02 21:29] #5310 closed

[2015-07-02 21:31] Jonahss commented on #5125
If the above issue happens with instruments only, then the issue is not in appium but in instruments.

If you switch to appium v1.4.7 things should be better. We use ideviceinstaller now. install it via homebrew and see if that will install your app to the device.

[2015-07-02 21:31] #5125 closed

[2015-07-02 21:32] Jonahss commented on #5336
By "latest version" you mean 1.4.7?
Can you post the logs please? You're on a real device, right?

[2015-07-02 21:34] Jonahss commented on #5335
Aha ok. So the issue is related to how appium in v1.4.7 reports its status with the /status endpoint while running on chromedriver?

[2015-07-02 21:35] Jonahss commented on #5335
This sounds pretty major. We can start working on the fix as soon as I properly understand the expected behavior.
You're saying that after I run a chromedriver test, and then I end the session. `/status` should report that appium is ready for a new session?

[2015-07-02 23:01] moizjv commented on #5317
So i was dealing with shrinkwrap in 1.4.7. I like the idea.

It makes a lot of sense to add shrinkwrap when we release so we can lockdown dependencies. And in ideal world we will have shorter release cycles, implying our users using will be using updated versions with each new release.

But when we are hacking we want to install dependencies which are latest. Also with time we would become more aw

[2015-07-02 23:56] Jonahss commented on #5336
I'm running the safari tests fine on my real device. Can you post a specific test that would break for me?

Are you using xcode 6.3.2?

[2015-07-02 23:58] Jonahss commented on #5334
Hm. I'm not aware of what changed between those versions, but iOS is known for changing their underlying hierarchy between versions.
This is what to do: For each version, print out the results of `driver.source()` (or `getSource()` or whatever is used in the language you are using). You can then view those in an xml viewer and discover what's changing :)

report back here with your findings!

[2015-07-03 00:00] Jonahss commented on #5331
See if you can check to make sure the element exists before tapping on it. It's possible that it's disabled or not visible.

Try getting the location of the button, then creating a TouchAction to touch the screen with those coordinates.

[2015-07-03 00:02] Jonahss commented on #5332
You have to have appium running on the jenkins machine (or some other machine) and then run the tests while it is running.
Perhaps the port 4723 is not open on localhost (127.0.0.1) ?  After jenkins starts the server you should be able to visit [your jenkins ip address]:4723/wd/hub/status and get the status. Make sure you can connect to it.

[2015-07-03 00:04] Jonahss commented on #5331
oops, posted answer to the wrong ticket >.<

[2015-07-03 00:05] Jonahss commented on #5333
See if you can check to make sure the element exists before tapping on it. It's possible that it's disabled or not visible.

Try getting the location of the button, then creating a TouchAction to touch the screen with those coordinates.

[2015-07-03 00:08] Jonahss commented on #5331
As @jlipps mentioned, it seems to be a bug in uiautomator.
This is what you can do: send the text. Then send a command to check the contents of the text input. If the contents don't equal the value you sent, clear the textbox and send your command again.

If this is affecting a lot of users we could build this check into appium, but that would slow down all tests :(

[2015-07-03 02:09] polaris007 commented on #5331
@Jonahss and @jlipps ,
Checking and content and resending text doesn't work for me. I tried 20 times and got the wrong content every time. It happens consistently

[2015-07-03 04:04] Deepak1332 commented on #4831
I am also facing the same problem that android.widget.framelayout[1] is working but when i tried to click on a button under this frame android.widget.button[1] then i am getting message "unable to locate element"

[2015-07-03 04:08] anmudgal commented on #5309
@Jonahss No I don't think selenium grid has a role in it, It is either between interaction of appium and iOS_debug_webkit_proxy or the  iOS_debug_webkit_proxy alone.

If I keep same appium running(don't restart) then iOS_debug_webkit_proxy shows "child process exits with code 0" on second test. I will reconfirm this though.

[2015-07-03 06:54] moizjv commented on #5230
@JagatheswaranSelvakumar can you try 1.4.7 which we just released

[2015-07-03 09:09] shadeimi commented on #5335
yes, exactly

[2015-07-03 09:11] moizjv commented on #5335
@shadeimi did you try 1.4.7?

[2015-07-03 09:42] lukemasterman commented on #5334
I have this same issue, it appears to be with using the iPhone 5s in particular, whilst I initially thought it was an issue between OS versions, it would appear that some static text fields don't appear in the xml for the iPhone 5s. I initially noticed this when my tests were performing on an 8.1 iPhone 6 but getting a no element error on the iPhone 5s on 8.3, I attempted to do the same thing on a

[2015-07-03 12:24] mittt commented on #5230
Tested with 1.4.7 - bug is still there.

 I thought It happened after i have updated Appium and the Java client lib, but it so happens that I have also updated my phone .I have tested on Android 4.4.2 - no problem there. Android 5.1. - I hit the bug.

[2015-07-03 14:13] aluedeke opened #5337 "iOS findByXpath doesn't support ids"
Hey,

as far as i can see it is not possible to select elements in ios by xpath which contains an id (an key from a translation file).

Some time ago i wrote a small client side extension for the java client which replaced an xpath like that:

[code]

to

[code]

That worked in that particular project pretty well. Would like to get some feedback if a server side solution like that would be accepte

[2015-07-03 14:20] bootstraponline commented on #5337
I have a similar fix in the Ruby bindings. A resolve_id method is used to
do the conversion client side. I agree it's useful.
On Jul 3, 2015 10:13 AM, "Andreas Lüdeke" <notifications@github.com> wrote:

[2015-07-03 15:15] osgafarov commented on #5116
@moizjv
Here is the tree:
https://gist.github.com/osgafarov/9c8d1adf534aa1f39787

[2015-07-03 16:31] sergejjkim opened #5338 "Constant loading of TableView cells"
Hi,

I'm using Appium 1.4, Java bindings 3.0, iOS 8.2 iPhone emulator.
In my app I have a TableView that auto-uploads cells whenever the first cell or the last cell is visible. However when I run my appium test, each interaction of AppiumDriver with that TableView cells causes cell loadings. i.e. when I do driver.findElement() i can observe the app start to load new cells. Is there a way to avoid

[2015-07-03 16:51] filmaj commented on #3259
This feature would be so neat :>

[2015-07-03 17:16] Nishanthshettar commented on #5294
@Jonahss Thank you, will do those changes and will update you with logs.

[2015-07-03 20:04] NikitaMD opened #5339 "Appium not actually interact with password text field in Google login"
I'm facing issue with Google+ login. Inside app we have Google+ as one of option to login. Appium able to enter text in email field, click enter. Than I see in appium log 200 return for password field and Sign in button, while appium doesnt actually click on them.

Here is code:

this is ok:
            self.driver.find_element(By.XPATH,\
                '//android.widget.EditText[1]').\

[2015-07-04 07:57] moizjv commented on #5116
@osgafarov `<UIAButton name="Back" label="Back" value="" dom="" enabled="true" valid="true" visible="false" hint="" path="/0/0/0/2" x="8" y="31.5" width="21" height="21">
                </UIAButton>` visible is false may be that is the reason?

[2015-07-04 12:16] Akulavenkatesh opened #5340 "WebDriverException: Message: {"sessionId":null,"status":6,"value":""}"
test_add_listings (__main__.ContactsAndroidTests) ... ERROR
ERROR

======================================================================
ERROR: test_add_listings (__main__.ContactsAndroidTests)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "appium_poshapp.py", line 121, in test_add_listings
    originalprice = self.driver.find_ele

[2015-07-04 16:18] ayosuva opened #5341 "How to prevent from force stop in appium?"
i want to close android application or chrome browser manually. after 60 sec wait appium automatically closing my application.how to prevent from auto force stop ?
info: [debug] Didn't get a new command in 60 secs, shutting down...

info: Shutting down appium session
info: [debug] [BOOTSTRAP] [debug] Got data from client: {"cmd":"shutdown"}
info: [debug] [BOOTSTRAP] [debug] Got command of type SHU

[2015-07-05 03:12] bootstraponline commented on #3534
Unity published a [blog post](http://blogs.unity3d.com/2015/06/26/leveraging-unity-cloud-build-for-testing-large-projects/) on how they're testing large projects.

[2015-07-05 07:01] pokala opened #5342 "Not able to interact with safari browser in ios "i ran ios_webkit_debug_proxy" also it is disconnecting"
Can any one tell how to proceed further it is not showing webview it is showing only native view when we are on web

Getting following error in porxy

Invalid message _rpc_applicationUpdated: <dict>
	<key>WIRApplicationBundleIdentifierKey</key>
	<string>com.apple.WebKit.WebContent</string>
	<key>WIRHostApplicationIdentifierKey</key>
	<string>PID:413</string>
	<key>WIRApplicationNameKey</key>
	<str

[2015-07-05 20:49] vikasg52 commented on #4864
Hi Team,
Can Anyone of you help me with an example of setValue(); method. I tried this and this is throwing error:
MobileElement EmailPlaceHolder= (MobileElement)driver.findElement(By.xpath("//UIATextField[@value='Email']"));
	//EmailPlaceHolder.tap(1, 2);
	((MobileElement) EmailPlaceHolder).setValue("1600");

Error :
The method setValue(String) is undefined for the type MobileElement.

[2015-07-05 20:59] shadeimi commented on #5335
I'll try tomorrow :))

[2015-07-06 05:18] coolcy commented on #4243
maybe the question is with the setting of ios simulator,you can :IOS Simulator->Hardware->Keyboard->uncheck"Connect Hardware Keyboard",this work fine to me

[2015-07-06 06:44] sushkad opened #5343 "appium installation process"
npm ERR! tar.unpack untar error /home/sushant/.npm/appium/1.4.7/package.tgz
npm ERR! Linux 3.13.0-32-generic
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "appium"
npm ERR! node v0.10.25
npm ERR! npm  v2.12.1
npm ERR! path /usr/lib/node_modules
npm ERR! code EACCES
npm ERR! errno 3

npm ERR! Error: EACCES, mkdir '/usr/lib/node_modules'
npm ERR!  { [Error: EACCES, mkdir '/usr/lib/node_mo

[2015-07-06 07:40] skyknight007 opened #5344 "sendKeys(setValue) to UIATextField failed : Could not locate keyboard"
i am trying to set a string in the UIATextField ,but it not work.
appium: 1.3.7
iOS: 8.1.1
server logs below.
info: [debug] Socket data being routed.
info: [debug] Got result from instruments: {"status":0,"value":{"UIAApplication":{"@":{"name":"mayapp","label":"mayapp","value":null,"dom":null,"enabled":true,"valid":true,"visible":true,"hint":null,"path":"/0","x":0,"y":20,"width":375,"height":647},

[2015-07-06 08:45] raafe commented on #5334
I have checked it on iPhone 6 with 8.3 iOS and still the same problem occurs. Even after update iPhone 5s to 8.4 nothing has changed. I can not see some elements. I've checked the xml source and there is visible the problem with "q door was closed" static text:
- iPhone 5s, iOS 8.3:
[code]
- iPhone 5, iOS 8.1.3:
[code]
is any way to handle it?

[2015-07-06 09:08] csharsha opened #5345 "AppiumDriver not recognising the WebElements in WebView"
Hi,

I am using Appium with Java client 1.5.0 and trying to automate an Hybrid app. When I launch the app, I am getting a NATIVE pop up with ok button. I am able to handle it by Switching to NATIVE_APP using driver.context("NATIVE_APP"). Once I close the Native pop up, the webpage is getting loaded in the view and am trying to access it using,

Set<String> contextNames2 = driver.getContextHandles(

[2015-07-06 09:53] skyknight007 commented on #5344
resolved already !
input plugin conflict(iFly)

[2015-07-06 09:53] #5344 closed

[2015-07-06 10:14] osgafarov commented on #5116
@moizjv
So looks like calling:
``` [[UIBarButtonItem appearance] setBackButtonBackgroundImage:headerIconBack forState:UIControlStateNormal barMetrics:UIBarMetricsDefault];```

Changes the visibility of the back button.
If I comment this line out, then everything is fine.

[2015-07-06 12:50] agepox commented on #4835
@jlipps
Why this pull request was not accepted yet? this feature has huge value for grid tests...

[2015-07-06 13:14] csharsha opened #5346 "How to collect and generate report from performance logs for Hybrid app for webview in Android"
Hi,

How to collect and generate report from performance logs for Hybrid app for webview in Android and iOS. I have seen something like 'enablePerformanceLogs' capability feature for Android alone, how to implement the same in iOS apps. And also where will be the results collected? I need to generate the performance analysis report based on the data collected. As of now if I try to get the logs, I

[2015-07-06 14:59] vbhojaraja commented on #5336
i was trying this on appium version 1.4.6 though, today did install the latest version 1.4.7 but unable to find the Safarilauncher folder in the build. I did install appium through NPM. I will post the logs shortly,

I am using the xcode version 6.2

[2015-07-06 16:33] vbhojaraja commented on #5336
error: Failed to start an Appium session, err was: Error: ENOENT, stat '/usr/local/lib/node_modules/appium/build/SafariLauncher/SafariLauncher.zip'
info: [debug] Error: ENOENT, stat '/usr/local/lib/node_modules/appium/build/SafariLauncher/SafariLauncher.zip'
    at Error (native)

[2015-07-06 17:57] moizjv commented on #5305
@hannesstruss this issue is now fixed in 1.4.7 and is also available on sauce. Can you retry now? Thanks

[2015-07-06 17:57] #5305 closed

[2015-07-06 18:58] khallbec commented on #5334
I noticed this and thought it was my selenium version. maybe I just changed my iPhone version. If I have time next week I'll try it. but till then I'm busy.

[2015-07-06 19:04] Jonahss opened #5347 "Xcode 6.4? Investigate"
A user has reported that Instruments is crashing for them on Xcode 6.4

Has anyone else experienced this? I will install it and investigate today.

[2015-07-06 23:15] Jonahss commented on #5230
@mittt can you post the server logs please?

[2015-07-07 00:07] Jonahss commented on #5347
Hm. Tests are running fine for me...

[2015-07-07 00:09] Jonahss commented on #5346
Hmmmmm. I think the way to get that isn't currently a feature of appium, but I have heard of others implementing it. What you should do is use a different xcode trace template file. Appium has a server flag by which you can pass it the path to a specific trace template to use. I think instruments will then collect the performance data you are looking for and record it.

@bootstraponline do you kno

[2015-07-07 00:09] #5346 closed

[2015-07-07 00:19] Jonahss commented on #5345
I suggest updating to java client 3.1.0 just to eliminate possible issues. Also what version of appium are you using? v1.4.7 is latest.

It looks like appium gets your command to find the `div.logo-nfc` and doesn't respond. After 200 seconds,  the server times out and appium shuts down. We need to discover why it apparently never received a response from the webview.

Which version of Appium?

[2015-07-07 00:22] Jonahss commented on #5343
First of all, please install node version 0.12 or above. Appium no longer supports version 0.10.

Secondly: you are trying to install appium globally for your user, but `/usr/lib/node_modules` does not have the correct permissions set. As stated in the log, you could install using `sudo`. Instead, I suggest install node using [nvm](https://github.com/creationix/nvm) which will install node in a pl

[2015-07-07 00:22] #5343 closed

[2015-07-07 00:26] Jonahss commented on #5342
What version of appium are you using?
These errors have mostly gone away with the latest versions of appium and ios and xcode.
And yeah, running `<appium_dir>/bin/ios-webkit-debug-proxy-launcher.js -c <device_udid>:27753` is the best way of running ios_webkit_debug_proxy.

[2015-07-07 00:28] Jonahss commented on #5341
If you check out the documentation for the [desired capabilities](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/caps.md) that appium accepts, there is one called `newCommandTimeout`. The default is 60 (60 seconds). You can set it super high or set it to 0 to never time out :)

[2015-07-07 00:28] #5341 closed

[2015-07-07 00:29] Jonahss commented on #5340
That's interesting. Are you using the java client? The latest version?
What version of appium are you using?
Can you post the appium server logs for the test run that errors?

[2015-07-07 00:38] Jonahss commented on #5339
Hmm. Is this on a real device or an emulator? What version of android?
It could be that they have some sort of protection on @password fields. We've had trouble in the past getting the value of a password text field.

[2015-07-07 00:39] bootstraponline commented on #5346
Appium doesn't support this on ios and has limited support on android (no native app support). Instruments offers performance profiling and apple has documented it on their official website. Android is easier since uiautomator has some performance monitoring APIs and adb makes collecting hardware stats such as processor and memory usage easy. appium doesn't currently support that though.

[2015-07-07 00:48] Jonahss commented on #5338
Ooh wow. Thanks for the detailed question.

Until now, we've never been aware that such a behavior happens. It sounds like this might be built right into how apple Instruments and UIAutomation functions.

The way to test this would be to write a small test script and run it through Instruments within Xcode. If the refreshing happens there (using the uiautomation api), then there's nothing we can d

[2015-07-07 00:50] Jonahss commented on #5337
Hm. So your proposal is that the id matching would happen inside appium or the app? That could be very useful.

What does @jlipps think?

[2015-07-07 00:52] jlipps commented on #5337
Appium has access to these strings through a Localization.plist or something?

[2015-07-07 00:52] Jonahss commented on #5336
You need to run the `reset.sh` script with the `--real-safari` flag.
Can you clone this repo and build from source?

[2015-07-07 00:52] Jonahss commented on #5336
Can you upgrade to xcode 6.4?

[2015-07-07 00:53] Jonahss commented on #5335
If 1.4.7 doesn't work, we should make fixing this bug a priority and publish a v1.4.8

[2015-07-07 00:55] Jonahss commented on #5309
@anmudgal how are you running ios_webkit_debug_proxy? Are you using the helper script found in `./bin/ios-webkit-debug-proxy-launcher.js`?

[2015-07-07 01:10] Jonahss commented on #4963
@ynotdraw If it fails on your emulator manually, than it's an issue with how android emulators render your page. The only fix is to change your page so it works on the emulators.

Or you can test on real devices. Sauce Labs has a Real Device cloud. You can contact their sales team and ask to be put on a Proof of Concept account and try to see if the page loads on a real device.

[2015-07-07 01:10] #4963 closed

[2015-07-07 01:18] Jonahss commented on #5337
Yeah.

[2015-07-07 01:23] Jonahss commented on #5334
@raafe Wait so what's the difference in those two xml snippets? Is there a weird whitespace character in the string which creates a newline in one version of iOS and not the other? Is there some tricky unicode whitespace in the string?

[2015-07-07 01:24] Jonahss commented on #5334
That would explain why it can't be found. We match elements based on the string, and maybe one string has unicode whitespace and the other doesn't.

[2015-07-07 01:27] Jonahss commented on #4835
Oh! the pull request was just never submitted. I can see @hyeung-trulia forked and made a commit, but didn't generate a pull request through github. Could you create a pull request?

[2015-07-07 01:31] Jonahss commented on #4831
What if you find the element you want to click with a single `findElement` command, and then call the `click` function. does that work?

[2015-07-07 01:33] Jonahss commented on #5331
Whoah!
Is it wrong in the exact same way each time? Or are the letters mixed up in different ways.

[2015-07-07 02:00] polaris007 commented on #5331
Hi Jonahss,
It is always wrong in the exact same way. I sent "https://bej301133.cn.oracle.com:9002/bmax/bmconfig_oam_pwd.json", but always got "https://bej301133.cn.oracle.com:W00a/bmax/bmconfig_oam_pwd." on device. "9002" is always changed to "W00a" and "json" is lost

[2015-07-07 02:02] bootstraponline commented on #5337
and strings.xml for android

[2015-07-07 03:10] anmudgal commented on #5309
@Jonahss Yes.

[2015-07-07 03:13] csharsha commented on #5345
@jonahss I am trying with Appium version 1.4.0 and chrome driver 2.14. I have also tried with Java client 3.0 and generic AndroidDriver but the problem still exists.

[2015-07-07 04:30] Akulavenkatesh commented on #5340
Thanks for the quick reply. I'm using Appium-Python client
Appium v1.4.7

info: Welcome to Appium v1.4.7 (REV 3b1a3b3ddffa1b74ce39015a7a6d46a55028e32c)
info: Appium REST http interface listener started on 0.0.0.0:4723
info: Console LogLevel: debug
info: Client User-Agent string: Python-urllib/2.7
info: [debug] Didn't get app but did get Android package, will attempt to launch it on the device
info

[2015-07-07 04:50] csharsha commented on #5346
@bootstraponline @Jonahss: How to collect the data in adb in appium test. Can you elaborate this?

[2015-07-07 04:55] csharsha commented on #5346
@bootstraponline How to do it android, can you please elaborate?

[2015-07-07 06:12] aluedeke commented on #5337
For android i don't see the need yet. In android if i use the Selendroid or UIAutomator (>4.3) backend i can reference the id directly as attributes in the xml. for iOS this isn't possible.

[2015-07-07 07:16] sushkad commented on #5343
i   Installed npm  -v       2.11.2
                  node -v       0.12.6
                  appium -v   1.4.7

 so how to i test Hybrid Cordova app using appium in Ubuntu ?
and  how appium show the Error like Performance testing related?

[2015-07-07 07:58] penguinho commented on #5347
Might have to do with the OS he is using, maybe he is on El Capitan or Mavericks or something unusual

[2015-07-07 08:49] shadeimi commented on #5322
yes, i'll post the logs here ASAP

[2015-07-07 08:50] shadeimi commented on #5335
Ok i'm trying it right now

[2015-07-07 08:51] ankitbhatnagar4u commented on #4101
Similar error ... Using IPad 2 with IOS 7.1.1 And Appium 1.3.1. Trying to install my app but it fails since fruitstrap is being crashed. The desired capabilities and logs are shared below .Please help to resolve:
 File appDir = new File(classpathRoot.getAbsolutePath());
        File app = new File(appDir, Config.appName);
        DesiredCapabilities capabilities = new DesiredCapabilities();

[2015-07-07 09:24] srikanthsadhu commented on #5039
FYI there is a patch fix available with libimobile but not in any release , google for this patch fix and apply to existing libusbmuxd, I can consistently run Appium without any issue related to idevice now.

[2015-07-07 12:12] rahuljawale commented on #5347
I see the crashes with Xcode 6.4 with assetsd process (or daemon). I will get back with logs.

[2015-07-07 12:58] bootstraponline commented on #5337
There are a few use cases on Android. appium supports uiautomator < API 18 (4.3) so that's one. Another is scrolling to text. You can't reference the id since the element isn't on screen yet, so you have to resolve the id first then scroll to that text.

[2015-07-07 13:00] bootstraponline commented on #5346
search google for the adb commands. ex: `adb shell dumpsys cpuinfo`

[2015-07-07 13:03] jvillacorta commented on #5230
I am running into the same issue with 1.4.7. We are testing an application that launches a webview (Static Ad) I interact with it, close the webview and then open a new one. Everything works correctly the first time but any subsequent attempt seems to not be able to find any element in the webview or send a script command.

Code:

success = False
contexts = [webview for webview in self.contexts if

[2015-07-07 16:20] NikitaMD commented on #5339
@Jonahss This is real Nexus 6 with 5.1

[2015-07-07 17:55] nabeel-ibrahim commented on #5291
@moizjv Basically what happens is
I start Appium and if the app was frontmost before starting appium, Appium will close the current app, launch the app and minimize it right away.
But if the app was not running before starting appium, the app will be frontmost

[2015-07-07 18:47] moizjv commented on #5230
@mittt sample app would be awesome and we can fix and have a test too in appium so we dont his this issue.

[2015-07-07 21:05] NikitaMD commented on #5339
Seems like this issue not exist with Android 5.1

[2015-07-07 22:46] chris1248 opened #5348 "uncaught exception: ECONNRESET"
I was attempting to run over a hundred rspec tests on the IOS simulator (again), and this time appium failed with a new exception I have never seen before:

    error: uncaughtException: read ECONNRESET date=Tue Jul 07 2015 16:36:21 GMT-0600 (MDT), pid=4161, uid=1465707852, gid=1095186886, cwd=/Users/cjohnson/code/appium, execPath=/usr/local/Cellar/node/0.12.4/bin/node, version=v0.12.4, argv=[node

[2015-07-08 04:50] narulacool commented on #4131
Even I face the issue.

Some text boxes are visible on IOS7.0/Appium1.2.0 but the same are invisible on IOS7.1/Appium1.2.0 & IOS 8.0/Appium1.2.0.

Surprisingly if I use Appium0.18 all of these elements are visible wether it be IOS7.0 or 7.1 or 8.0.

Kindly fix this as this results in tests getting failed unexpectedly when run on different IOS.

[2015-07-08 06:26] lengyao88 opened #5349 "install appium error"
Last login: Tue Jul  7 23:11:49 on ttys001
zrydeMacBook-Pro:~ zry$ npm install appium

gcc -o udidetect -framework CoreFoundation -framework MobileDevice -F/System/Library/PrivateFrameworks udidetect.c

  CXX(target) Release/obj.target/validation/src/validation.o
  SOLINK_MODULE(target) Release/validation.node
npm WARN engine xmlbuilder@2.2.1: wanted: {"node":"0.8.x || 0.10.x"} (current: {"node":"

[2015-07-08 06:45] amedvedjev commented on #5276
here is below some code (not all but only test itself. other code is quite large. based on PageFactory and TesnNG.

public class test_leaks extends BaseTest {

    private InitialScreenPage initialScreenPage;
    private MainScreenPage mainScreenPage;
    private HotelsListPage hotelsListPage;
    private NearMePage nearMePage;
    private CategoryGridViewPage categoryGridViewPage;
    private Sub

[2015-07-08 08:04] kpanwar opened #5350 "Cannot interact with second app via Appium (multi app scenario)"
Hello,

I have the following setup where I have 2 appium servers running on my OS X and I create 2 drivers (one for each app). I start app B first and then I start app A and this results in app B getting backgrounded.
Code to set up the app is

	public void setup() throws MalformedURLException
    {
	DesiredCapabilities cap = this.initializeApplication("appB.app");
        this.authenticatorDriver

[2015-07-08 08:07] shadeimi commented on #5335
✔ ~/Software
10:04 $ curl http://localhost:4739/wd/hub/status
{"status":0,"value":{"build":{"version":"1.4.7","revision":"3b1a3b3ddffa1b74ce39015a7a6d46a55028e32c"}}}✔ ~/Software
10:05 $
--- Running the test on another shell ---
✔ ~/Software
10:05 $ curl http://localhost:4739/wd/hub/status

It doesn't work. This is the complete appium log (v1.4.7, linux)
2015-07-08 08:03:30:537 - info: Welcome to

[2015-07-08 08:11] shadeimi commented on #5322
2015-07-08 08:07:00:554 - info: <-- GET /wd/hub/status - - ms - -
2015-07-08 08:07:01:190 - info: --> GET /wd/hub/status {}
2015-07-08 08:07:01:190 - info: [debug] Responding to client with success: {"status":0,"value":{"build":{"version":"1.4.7","revision":"3b1a3b3ddffa1b74ce39015a7a6d46a55028e32c"}}}
2015-07-08 08:07:01:191 - info: <-- GET /wd/hub/status 200 1.593 ms - 104 {"status":0,"value":{"

[2015-07-08 10:26] rahuljawale commented on #5349
+1. Seeing same issue on Mac OS X 10.10.3 .

[2015-07-08 10:44] sharat1000 opened #5351 "error: Failed to start an Appium session, err was: Error: Instruments crashed on startup"
Getting this error : not able to resolve any help would be great, i am new to appium, i tried searching blogs but couldn't find a soution, my app is not getting launched by Appium

Steps followed:
1. Build my app code using Xcode by selecting my phone as target
2. My App got Installed and got launched on phone by Xcode after the build was successful
3. Went to settings of my iPhone and under Devel

[2015-07-08 10:56] srikanthsadhu opened #5352 "CRITICAL - please fix ,its there since appium lib5.0.1"
/.rvm/gems/ruby-2.1.2/gems/appium_lib-7.0.0/lib/appium_lib/device/device.rb:5:in `<module:Device>': uninitialized constant Appium::Device::Forwardable (NameError)

I go away with this by updating my local file to have the import, it would be nice if you could check in the fix in git.

[2015-07-08 11:27] skhaita commented on #5002
@moizjv I am also able to reproduce the issue when running on hybrid app using Appium v1.4.6

[2015-07-08 11:37] Pushpank opened #5353 "Appium showing error for taking screenshot"
[debug] Responding to client with success: {"status":0,"value":{"platform":"MAC","browserName":"","platformVersion":"4.4.4","webStorageEnabled":false,"takesScreenshot":true,"javascriptEnabled":true,"databaseEnabled":false,"networkConnectionEnabled":true,"locationContextEnabled":false,"warnings":{},"desired":{"app":"/Users/RajShekhar_DiroLabs/Desktop/Appium/dirAlpha-debug.apk","newCommandTimeout":"

[2015-07-08 11:39] Pushpank commented on #5353
I am using below code for taking screen shot but its showing error every time , do't know what to do pls help me
			public static void takeScreenshot(AndroidDriver driver, String sTestCaseName) throws Exception{
				try{

					File scrFile = ((TakesScreenshot)driver).getScreenshotAs(OutputType.FILE);
					FileUtils.copyFile(scrFile, new File(Constant.Path_ScreenShot + sTestCaseName +".jpg"),true);

[2015-07-08 14:35] mgehlen commented on #5233
I am neither able to start the inspector nor run tests with iOS 9 on simulator. It seems my Device Information is always shortened to "iPhone (9.0 Simulator)" regardless of the actual Device Name I use.

I am using Appium 1.4.0.

Here is my log output:

[code]

[2015-07-08 15:10] sergejjkim commented on #5338
hi Jonahss,

so i tried to do the similar test with apple ui automation. And it seems to be that loading happens there too.

[2015-07-08 16:07] abatgit opened #5354 "Not able to locate element using XPath"
Hi,

We are working on iOS automation. But currently we are stuck with locating element and performing any action on that.

Element = driver.findElementByXPath("//UIAApplication[1]/UIAWindow[5]/UIAActionSheet[1]/UIACollectionView[1]/UIACollectionCell[1]");

We are trying to locate element using above xpath but it comes with following error:

info: [debug] Waiting up to 0ms for condition
info: [deb

[2015-07-08 19:06] Jonahss commented on #5338
Yeah, in that case it seems there's nothing we can do :(

You can log a bug with apple.

[2015-07-08 19:06] #5338 closed

[2015-07-08 20:03] Jonahss commented on #5322
hmmmmm. Interesting. The log makes it look like it responds to a "status" request, but I don't see that request coming in. Maybe it's interrupting the startup flow with a request to `/status`?

[2015-07-08 20:09] Jonahss commented on #5335
Hm ok. Those logs are very useful. But where is the problem? What goes wrong? One thing I see that could be problematic is:
[code]

[2015-07-08 20:12] Jonahss commented on #5276
Hm ok. So running the test 100 times, eventually it fails like you mention.
Thanks, this should be enough to reproduce it. We should write a test that just runs a simple test like 1000 times.

[2015-07-08 20:13] artkoshelev commented on #2558
any chances to see this feature soon?

[2015-07-08 20:14] Jonahss commented on #4131
That's interesting that it works fine on Appium v0.18  that could help us find the source of the issue perhaps.

Would you be able to update to the latest version (appium 1.4.7) and the latest version of Xcode (6.4)?

[2015-07-08 20:15] Jonahss commented on #5339
Yay!
Not sure there's really anything we can do then. Seems like an Android UIAutomator issue.

[2015-07-08 20:15] #5339 closed

[2015-07-08 20:19] Jonahss commented on #5347
Can you post some of the logs from the crashes? Are these a special sort of test? Are you using Yosemite?

[2015-07-08 20:19] Jonahss commented on #5039
@srikanthsadhu awesome! Could you post a link to the patch?

[2015-07-08 20:19] #5039 closed

[2015-07-08 20:21] Jonahss commented on #5343
Could you ask question in the forum? discuss.appium.io
Also take a look at our documentation on appium.io

[2015-07-08 20:38] amedvedjev commented on #5276
i never was able to run more then 19 times. but failing can start from 10-12 loop. 10 loops run 100% successfully.

[2015-07-08 21:11] Jonahss commented on #5340
It looks like UIAutomator died during your test. The app might have died or maybe the emulator had an issue.

At that point, Appium closed down the Android session. When your test client continued to send commands (it didn't know UIAutomator died), Appium responded with a 404, because the session was dead.

Looks like the python client handled that badly.

So I guess that's the story here. Does it

[2015-07-08 21:11] #5340 closed

[2015-07-08 21:12] Jonahss commented on #5345
Can you updater to appium v1.4.7? We fixed some issues with chromedriver in there.

[2015-07-08 21:12] Jonahss commented on #5276
Ok. That will help us fix it. The goal should be 100 or 1000 :)

[2015-07-08 21:17] Jonahss commented on #5309
What about when you leave the debug_proxy running in between tests. That is how our tests usually run. Hmmmm, ok I will try running tests like you. I will run a safari test, then restart appium and the debug proxy and run a second test.

[2015-07-08 21:30] vbhojaraja commented on #5336
There is an error when i try to run ./reset.sh  --real-safari --verbose

"fatal: Not a git repository (or any of the parent directories): .git"

above message is displayed.

[2015-07-08 22:33] Jonahss commented on #5309
Running on:
 iOS real device 8.3
Xcode 6.4
Appium 1.4.7

I started appium and debug_proxy. I ran a simple safari test three times. Then i restarted appium and the debug_proxy. ran test again and it passed.

I tried a bunch of combinations: leaving debug_proxy running and restarting appium. leaving appium running and restarting debug_proxy. Restarting both.

Test passed.

Maybe your doing the resta

[2015-07-08 22:34] Jonahss commented on #5336
did you clone this repository?

[2015-07-08 22:34] Jonahss commented on #5331
Ooh!
Ok I will try to reproduce. Didn't realize your issue was so predictable. there should be a way to fix this I hope.

[2015-07-08 23:13] Jonahss commented on #5331
Ok, I used the android [ApiDemos](https://github.com/appium/android-apidemos) app and used this command (javascript client, wd.js):

`element.sendKeys("https://bej301133.cn.oracle.com:9002/bmax/bmconfig_oam_pwd.json", console.log)`

It correctly typed the string exactly and didn't have any errors.

What language/locale setting is your device on? I did this on a Galaxy S4 with Android 4.4.2
Appium

[2015-07-08 23:48] nish-i opened #5355 "Interact with push notification toast when app is in background or device is locked"
Hello,

I am trying to automate a scenario which involves interacting with a push notification in iOS devices- specifically the toast message which is displayed when the app is closed/in background or on the lock screen.

After a bit of experimentation I found that both the lock and background call are blocking calls, so I cannot interact with the toast message. Also I am not able to do the same w

[2015-07-09 08:16] polaris007 commented on #5331
Hi Jonah,
Appreciate for your efforts on this issue.
Language on my device is English and the element is android.widget.EditText.
However, I found this issue has something to do with the input method. My previous default input method is a 3rd-party input method. After I switched to the built-in input method and updated some settings (e.g. disable AutoCapitalisation setting), the text can be input

[2015-07-09 08:49] amedvedjev commented on #5276
more news with latest code.
Appium: 1.3.7, java-client: 3.1, iOS Simulator: 8.4

was able to reach 62 loop!. total time test execution now reaching up to 51min.

[2015-07-09 09:07] shadeimi commented on #5335
the problem is about the hub ping, the hub try to check the availability of the node via GET on /wd/hub/status, and when the test is running i've no response

[2015-07-09 09:10] shadeimi commented on #5322
there's no session, because there's a new hub. When switching to the new hub, the session present on the node must be deleted, because the hub can go down in any phase of the test lifecycle.

[2015-07-09 09:15] firemoon opened #5356 "Android Webview sendkeys not working when input width not an integer"
Hello,

I found a problem when i execute sendkeys in the webview context on Android device.
The input attribute width in my form is not an integer (but a float). When i set the width to 300px and the sendkeys works fine. (Version 1.4.0 (Draco))

![capture d ecran 2015-07-09 a 10 51 25](https://cloud.githubusercontent.com/assets/3878314/8591492/f2b87680-2628-11e5-89e3-1ac0a1a96996.png)

capabilitie

[2015-07-09 11:22] WKPlus opened #5357 "Should appium reset command timeout after a request is done instead of before handling it?"
When I run a test case with appium, I got an error:

 The appium server log as bellow:

2015-07-09 18:35:19:464 - info: <-- POST /wd/hub/session/898cc273-2634-7a16-6fa0-044c8f99c43f/context 200 183.287 ms - 76 {"status":0,"value":null,"sessionId":"898cc273-2634-7a16-6fa0-044c8f99c43f"}
2015-07-09 18:35:19:465 - info: --> POST /wd/hub/session/898cc273-2634-7a16-6fa0-044c8f99c43f/element {"using":"x

[2015-07-09 11:33] ayosuva opened #5358 "how to check whether appium session is already in progress or not?"
how to check whether appium session is already in progress or not (Java)? if it is in progress how to reuse the same session once again?

[2015-07-09 13:27] mayureshshirodkar opened #5359 "Unable to detect Web elements on moving to Airplane mode.(Hybrid App)"
Appium Log:

info: [debug] Available contexts: NATIVE_APP,WEBVIEW_com.eab.se
info: [debug] Responding to client with success: {"status":0,"value":null,"sessionId":"a3e3b4cb-3f94-450c-a575-e8bfaf0b7968"}
info: <-- POST /wd/hub/session/a3e3b4cb-3f94-450c-a575-e8bfaf0b7968/context 200 197.330 ms - 76 {"status":0,"value":null,"sessionId":"a3e3b4cb-3f94-450c-a575-e8bfaf0b7968"}

info: --> POST /wd/hub/

[2015-07-09 13:30] narulacool commented on #4131
I ran on Xcode v6.3.2 with Appium v1.4 & to my surprise I was able to see these elements as visible on IOS 8.3 but they remained invisible for IOS 7.1/8.0

[2015-07-09 14:04] chingc commented on #5233
I experience the same problem as @mgehlen with the exact same error message.  It seems the device name gets truncated at the first space.  I'm on Appium 1.3.7 and Xcode 7 beta 2.

[2015-07-09 14:22] amedvedjev commented on #5276
after making tests more stubborn was able to complete 100 loops!
  Execution time: 5278sec = 88min
just nice stable appium work!

[2015-07-09 14:50] vbhojaraja commented on #5336
i downloaded the zip file and extracted it on my system.

[2015-07-09 15:50] mgehlen commented on #5233
updated to appium 1.4.7, still the same issue. Now trying Xcode 7 beta 3.

[2015-07-09 15:59] srikanthsadhu commented on #5039
@Jonahss  I can send you privately, send me an email from your email address please.

[2015-07-09 17:36] #5357 closed

[2015-07-09 17:39] WKPlus commented on #5357
I misunderstood the mean of the command timeout setting. It used to set the max time a request/command can use, not the max interval time between commands.

[2015-07-09 18:23] vbhojaraja commented on #5336
Hi Jonah,
Below are the list of steps i performed today.
1.) Opened the Safarilauncher.xcode project from /node_modules/Safarilauncher folder and installed the app on my device.
2.) Generated Safarilauncher.zip from /Users/Testing/Library/Developer/Xcode/DerivedData/SafariLauncher-dftbmktkgdjnjmbtnsgcbbifmohx/Build/Products/Debug-iphoneos/SafariLauncher.app
using the command zip -r SafariLauncher.

[2015-07-09 19:05] Jonahss commented on #5355
We haven't found any way to test or automate push notification on iOS. Apple hasn't provided any way to interact with them :(

Perhaps in the future, with Apple devoting more to testing with XCUITest, they will add it. But for now, nothing we can do.

Only possible workaround is to take screenshots of the device and then use image-recognition to see the notification. You can *probably* use touch a

[2015-07-09 19:05] #5355 closed

[2015-07-09 19:25] naumanafzaal opened #5360 "Getting Click On View Inside WindowManager Android"
I have a view added inside WindowManager and I want to get click on that view. Is there any way I can find that view?

I have used appium inspector to perform precise tap on that view and it works perfectly fine. But when I use same coordinates using AndroidDriver tap function it is not getting click.
This is what I am doing on AndroidDriver wd.tap(1, 969, 371, 500);  but it is not working.

Pleas

[2015-07-09 20:51] punit-bisht commented on #4390
I am also having same issue . version I am using is 1.4.7 .

[2015-07-09 21:32] Jonahss commented on #5336
And this is with appium version 1.4.7?

[2015-07-09 21:51] Jonahss commented on #5039
@srikanthsadhu thanks. You can email me at jonahss@saucelabs.com

[2015-07-09 21:52] Jonahss commented on #5276
Ooh awesome!

What did you do to make your tests more stubborn and stable?

[2015-07-09 21:53] Jonahss commented on #4131
Ooh hmmmm. Maybe this way a bug in Instruments then, and Apple has now fixed it :)

[2015-07-09 21:55] Jonahss commented on #5322
As I said, I don't know how selenium grid works, and we try to keep it abstracted away. So from my perspective, in order to delete a session from appium, you have to send a DELETE session command.

I want to fix this, but don't understand selenium grid. What is the expected behavior for the appium server? That I can fix, if given a spec.

[2015-07-09 21:57] Jonahss commented on #5335
Aha ok. I'll run a bunch of appium tests now, and hit the appium server with `/status` requests while the test is running.

Does the hub have a timeout on when it expects a response? Appium right now is probably queuing the responses, so if you call `/status` right after starting a new session, it might take 2 minutes to respond.

We should fix that. The `/status` endpoint should respond immediate

[2015-07-09 22:13] Jonahss commented on #5335
Good news! Finally reproduced the issue. Yeah I see how it hangs.
Looking into formalized repro and a fix

[2015-07-09 22:18] ericwengelking commented on #5233
@mgehlen @chingc I see the same issue on Xcode 7 beta 3

[2015-07-09 22:24] Jonahss commented on #5335
`/status` endpoint doesn't work at all during a chromedriver session.
`/status` calls are never responded to, until session ends.
`/status` calls made during chromedriver session startup cause other chromedriver commands to hang (and there's a different error).

[2015-07-09 22:25] Jonahss commented on #5335
im going to assign this to a 1.4.8 patch release

[2015-07-09 22:51] Jonahss commented on #5230
I think this is related to #5335

[2015-07-09 22:51] Jonahss commented on #5234
I think this is related to #5335

[2015-07-09 23:09] jpkrause opened #5361 "Android startActivity call not respecting dontStopAppOnReset capability"
When I set the `dontStopAppOnReset` capability to true, the `startActivity` call does not respect the capability and still adds the `-S` flag.

Log (shortened and obfuscated to remove unnecessary data), notice the `-S` flag on `adb shell am`:
2015-07-09 16:02:09:825 - info: Welcome to Appium v1.4.7 (REV 3b1a3b3ddffa1b74ce39015a7a6d46a55028e32c)
2015-07-09 16:02:09:826 - info: Appium REST http inte

[2015-07-10 01:16] Jonahss commented on #5361
That's a bug. Thanks.

[2015-07-10 01:17] Jonahss commented on #5360
Can you post the logs?
Have you tried the "NativeWebTap" desired capability?

[2015-07-10 01:35] Jonahss commented on #5359
Looks like a bug.
I'd also like to point out that changing to airplane mode while using Chrome (not hybrid app) also causes us to lose the chromedriver session.

Here's a workaround for you though. After toggling airplane mode, switch back to NATIVE_CONTEXT and then to WEBVIEW. This will restart chomredriver for you. This worked for me on appium v1.4.7

[2015-07-10 03:31] #5335 closed

[2015-07-10 04:06] Akulavenkatesh commented on #5340
It happens every time, I run the script.
App should be scrolled down to access some fields in my app. So I used "d (scrollable = True) .scroll.vert.toEnd()". The scroll event happens then the app crash occurs.
But if I remove the scroll command from my script and try to scroll manually when needed, the app doesn't crash :) and appium continues with execution successfully.

Can you help me out with

[2015-07-10 04:25] narulacool commented on #4131
But then it should have also worked for IOS 7.1/8.0..!!

[2015-07-10 06:43] amedvedjev commented on #5276
well after about 60 loops app became not very reliable on tap. so i just added in many places like:

searchPage = mainScreenPage.tapSearchButton();
if(!searchPage.isSearchPageLoadedFast()) mainScreenPage.tapSearchButton(); //for sure
assertTrue(searchPage.isSearchPageLoadedFast());

[2015-07-10 06:56] naumanafzaal commented on #5360
Thanks Jonahss.
I will paste logs shortly. Will "NativeWebTap" work on native android app? I didnt find this field in API reference?

[2015-07-10 07:35] aluedeke commented on #4131
@Tarun Actually not. There are known bugs (e.g. different ui hierarchys for
the same app on different ios versions (7 vs 8). So the buggy piece is on
the phone and not on the pc.

[2015-07-10 08:29] abatgit commented on #5354
Got it fixed :)

Thanks,

[2015-07-10 08:29] #5354 closed

[2015-07-10 09:21] naumanafzaal commented on #5360
This is the command generated from appium inspector

wd.executeScript("mobile: tap", new HashMap<String, Double>() {{ put("tapCount", 1.0); put("touchCount", 1.0); put("duration", 0.5); put("x", 993.0); put("y", 360.0); }});

Here is my code, it runs successfully before wd.tap(1, 993, 360, 1); command

wd.findElement(By.xpath("//android.widget.LinearLayout[1]/android.widget.FrameLayout[1]/android.

[2015-07-10 09:35] mayureshshirodkar commented on #5359
Hi Jonahss,
Thanks for the reply. I tried out your suggestion.But it didn't work.
ChromeDriver session was started but after that it couldn't find the required element.

Appium version used: 1.4.7
Java Client: 2.2.0
Attaching Appium logs:

info: <-- POST /wd/hub/session/46d1e4b4-facd-4f66-946b-d126cb711562/context 200 138.157 ms - 76 {"status":0,"value":null,"sessionId":"46d1e4b4-facd-4f66-946b-d1

[2015-07-10 09:54] jeromelaurens commented on #5164
Hi,
got the same issue here with config :
- Appium 1.4.6
- protractor 2.1.0
- ios Simulator 8.4

when going from one spec file to another, the safari browser of the simulator is stuck on "about:blank".
in the Appium logs : we have a loop on au.alertIsPresent()
No clue of what to do to solve this.
Did any of you solve this ?
thanks

[2015-07-10 12:31] adrianmatean commented on #4451
Hi all,

I have found a workaround provided by calabash. It works for me.
The original issue can be found at https://github.com/calabash/calabash-ios/commit/6935245605d1fd44c223155972703e89247857ec

Apparently retrying the uia command does the trick.

I replaced the original

with

[2015-07-10 12:52] mittt commented on #5230
https://drive.google.com/file/d/0B1LbMaNqM7sDNDF5aGdxa01SaGc/view?usp=sharing

second-webview-test - is a Eclipse project. This is the appium test.
TwoWebViewsTest - Android Studio project. This is the tested app.
appium.log - Appium server's output
test log.txt - Test result.

---------------------------------------------------------------------------------------------
If you don't want to redo t

[2015-07-10 13:20] Simon-Kaz commented on #5233
Try providing UDID in your config as well.

 or use NPM/console version of appium.

[2015-07-10 14:08] vbhojaraja commented on #5336
yes it is version 1.4.7

[2015-07-10 20:25] Jonahss commented on #5358
Ok so.
Yes you can check to see if there already exists a session on the server. if you send a request to `/wd/hub/sessions` it will respond with a list of sessions running on the server, along with their desired capabilities.

You can then take the session ID from that list, and set that session ID on your client. Now your client is connected to that session and you can continue sending commands.

[2015-07-10 20:25] #5358 closed

[2015-07-10 22:10] Jonahss commented on #5335
ok. that's merged. so now it's up to me to publish 1.4.8

I plan on doing so this Monday.

[2015-07-10 22:50] qaDream77 opened #5363 "Appium + Jenkins Integration."
I have a windows 7 machine running jenkins to schedule python appium mobile test scripts.

The batch script is simple, starts appium as a background process.

Start /B appium
sleep 60
pybot test.robot

If i start appium locally then i just do pybot test.robot and have no issues but i need to start and stop the server with the job. Yet i get an error

Original error: 'java -version' failed. Error:

[2015-07-10 22:51] Jonahss opened #5364 "deprecate newCommandTimeout in favor of idleTimeout"
Sauce labs and selenium both use `idleTimeout` instead of `newCommandTimeout`. if you use `newCommandTimeout` on sauce, sauce still has it's own default `idleTimeout` of 90 sec.

To decrease confusion and increase consistency, let's add `idleTimeout` and slowly deprecate `newCommandTimeout`.

[2015-07-11 00:25] moizjv commented on #5230
@Jonahss want to look at the test?

[2015-07-11 03:34] ayosuva commented on #5358
How can i submit a pull request to add it?
On 11-Jul-2015 1:55 am, "Jonah" <notifications@github.com> wrote:

[2015-07-11 10:03] juanpicado commented on #5349
-1 I can build appium without issues, 10.9.5 and 10.10, maybe a temporary issue in the hosting of chromedriver (https://github.com/appium/appium-chromedriver/blob/master/lib/install.js#L15)
![screen shot 2015-07-11 at 11 58 20](https://cloud.githubusercontent.com/assets/558752/8633360/2b9f41d0-27c4-11e5-80c1-efc6469f131f.png)

[2015-07-11 10:27] Pushpank commented on #4707
how to find .app file from xcode for appium,

[2015-07-11 12:03] rahuljawale commented on #5349
What version of iOS SDK are you using? I am on iOS 8.4

[2015-07-11 16:50] juanpicado commented on #5349
I think if you are trying to install appium, you don't need any sdk to do that. Just node.js. Anyway, I tried in Maverick (default xcode) and Yosemite (without xcode).

The issue is ```RequestError: Error: connect ETIMEDOUT``` as far I understood.

[2015-07-13 06:08] anmudgal commented on #5309
I am using ios 7.1, Xcode 5.1, Appium 1.4.6

Here is the combination I am going to try later on:
ios 7.1, Xcode 6.1, Appium 1.4.7
ios 7.1, Xcode 5.1, Appium 1.4.7
ios 8.3, Xcode 6.1, Appium 1.4.7

I will post my findings here.. Also as mentioned earlier if I keep appium and debug proxy running.. debug proxy exits with message child process exits 0,

About your tests are you running selenium tests

[2015-07-13 06:09] anmudgal commented on #5309
@Jonahss
I am using ios 7.1, Xcode 5.1, Appium 1.4.6

Here is the combination I am going to try later on:
 ios 7.1, Xcode 6.1, Appium 1.4.7
 ios 7.1, Xcode 5.1, Appium 1.4.7
 ios 8.3, Xcode 6.1, Appium 1.4.7

I will post my findings here.. Also as mentioned earlier if I keep appium and debug proxy running.. debug proxy exits with message child process exits 0,

About your tests are you running sel

[2015-07-13 06:23] raafe commented on #5334
There is added additional 'enter', so it seems to be issue with architecture of iOS 8.3 and higher. I have found workaround by adding '\n' into search string.

Thanks for help

[2015-07-13 06:23] #5334 closed

[2015-07-13 07:54] hughstephens opened #5367 "Test for unicode keyboard to be 'working'?"
Hi all

We've had occasional (luckily rare) issues with the unicode keyboard packaged with appium => 1.2.0.

Sometimes the keyboard seems to just crap out in a session – it's not something highly reproducible from what I can tell (running the exact same test doesn't give the same result) but it results in the sendKeys characters being typed/visible (e.g. &SAPY-).

This is rather problematic for us

[2015-07-13 09:57] Simon-Kaz commented on #5363
This isn't a problem with appium but with your jenkins machine.

Original error: 'java -version' failed. Error: spawn ENOENT)","origValue":"'java -version' failed. Error: spawn ENOENT

[2015-07-13 11:08] kanchan04katare opened #5368 "Tests are failing when appiumVersion capability is set"
Hi,
For appium version 1.3.7 and 1.4.0, when I am passing the appium version, my tests are failing.

[code]

I am getting following error,
[code]

[2015-07-13 11:52] shadeimi commented on #5335
great news! i'll try ASAP

[2015-07-13 12:10] shadeimi commented on #5322
Consider this scenario: two hub (active/passive) and one node (appium server in node mode). consider the node correctly registered to the active element of the selenium hub cluster. when the hub receive a test request, it start a new session, passing the capabilities to the node. Now, during the session, if the active hub goes down, it's own session is lost, but the appium one is still alive. Appi

[2015-07-13 14:13] qaDream77 commented on #5363
1st test
C:\Program Files (x86)\Jenkins\jobs\_ Android Smart Campus test\workspace>appium-doctor
[36mRunning Android Checks[39m
[32mâœ” [39m[37mANDROID_HOME is set to "C:\Users\Goran\AppData\Local\Android\sdk"[39m
[32mâœ” [39m[37mJAVA_HOME is set to "C:\Program Files\Java\jdk1.8.0_45."[39m
[32mâœ” [39m[37mADB exists at C:\Users\Goran\AppData\Local\Android\sdk\platform-tools\adb.exe[3

[2015-07-13 14:34] qaDream77 commented on #5363
Fixed, Jenkins doesn't like variables when specifying Path, can't use %SYSTEMROOT% as part of the environment variable setup even thought the batch console will return the proper result :(

[2015-07-13 14:34] #5363 closed

[2015-07-13 15:50] imurchie opened #5369 "No route for Se element `rect`"
Selenium has an `element/rect` path for getting the size and position of an element (see the [spec draft](https://w3c.github.io/webdriver/webdriver-spec.html#get-element-rect)). Appium does not implement it at all. We need to either implement it fully, or at least respond that we don't implement it, since it is exposed by the standard clients.

[code]

Reported originally as appium/python-client#9

[2015-07-13 16:58] willosser commented on #4311
Tested against 1.4.6, and this code has either not been fixed correctly/sufficiently, or it is broken again.

[2015-07-13 17:59] willosser opened #5370 "scroll_to method on Android not available"
I'm seeing this error while testing:

     NoMethodError:
       undefined method `scroll_to' for #<Selenium::WebDriver::Driver:0x007fa32d201700>

Tested against 1.4.6 and 1.4.7.  I'll post the appium-android log from 1.4.6 via gist.  I'll track the versions backwards to see when this showed up.  Due to https://github.com/appium/appium/issues/4311, we have not been using scroll_to directly, but as

[2015-07-13 18:01] willosser commented on #5370
https://gist.github.com/willosser/253f3b48602c9ea2e6c5

[2015-07-13 18:09] ShruthiSudhanva commented on #5162
Hi,

We are facing the same issue automating testing on our app using appium. The logs for the keyEvents 84 and 66 are similar to the outputs listed in the above comments. Here is what we have listed for
`>adb shell ime list`
com.google.android.googlequicksearchbox/com.google.android.voicesearch.ime.VoiceInputMethodService:
  mId=com.google.android.googlequicksearchbox/com.google.android.voicesear

[2015-07-13 18:17] willosser opened #5371 "Android scroll_to is not working for descriptions (again?)"
https://github.com/appium/appium/issues/4989 purports to fix https://github.com/appium/appium/issues/4311, but doesn't appear to have done the job.

Testing against Appium v. 1.4.6, when I didn't run into https://github.com/appium/appium/issues/5370, that scroll_to could not find an object by description.  I had not tested this before (scroll_to was entirely busted), so I can't confirm the previou

[2015-07-13 19:16] willosser commented on #5370
Sorry, this was user error.

[2015-07-13 19:16] #5370 closed

[2015-07-13 19:56] willosser commented on #5371
Closing -- user error

[2015-07-13 19:56] #5371 closed

[2015-07-13 20:18] qaDream77 opened #5372 "Appium 1.4.6 iOS+Android, No application is open / session could not be created."
After the application has been installed and launched, is there a function to test to see if the application is open/running/frozen?

A test result of session could not be created or no application is open is not useful when those imply infrastructure issues and not actual issues with the test script.

Thank you!

[2015-07-13 21:09] Jonahss commented on #5322
Hm Ok I think I understand the issue. If your hub drops down, now you've lost the reference to the appium session and can't start another.

Here's what you should implement, on the Grid side of things:
  Hit the `/wd/hub/sessions` endpoint when your new hub comes up (or when hub connects). This will return a list of sessions running on the appium server (along with their desired capabilities). You

[2015-07-13 21:10] Jonahss commented on #5334
Yeah that's a nasty hidden bug. Thanks for finding it!
Maybe post to discuss.appium.io in case other people have the same issue?

[2015-07-13 21:12] Jonahss commented on #5309
I'm running the tests using wd.js not java, but that shouldn't make a difference.

Yes I'm calling driver.quit after the tests.

If you upgrade to Xcode6.1 you should really really use 6.4, or 6.3.2 minimum. 6.3.2 fixed a couple bugs with Instruments.

[2015-07-13 21:19] vbhojaraja commented on #5336
I even tried using the standalone ios_webkit_debug_proxy but no luck
Any suggestions?

[2015-07-13 21:26] Jonahss commented on #4707
@Pushpank If you are in Xcode, you can click on the "target" from the file organizer. In the "properties" pane it will give a path to the compiled .app file.

[2015-07-13 21:32] Jonahss commented on #5336
Um. I think what you should do is:
1. clone the appium github repository
2. run `./reset.sh --ios`
3. run `./reset.sh --ios --real-safari`
4. start appium server and ios_webkit_debug_proxy
5. run your test with desired capability `browserName: safari` and no `app` capability.

[2015-07-13 21:37] Jonahss commented on #5358
@ayosuva check out the github repo for the java client: github.com/appium/java-client

If you explore that library, it imports the selenium java-client and extends it with appium methods. Find the list of commands, (search for similar commands, you will see how they are organized) and add the necessary call to `/wd/hub/sessions`.

You will need to create a java class to handle the information retu

[2015-07-13 21:38] Jonahss commented on #5164
@jeromelaurens could you update to version 1.4.7?

[2015-07-13 21:40] vbhojaraja commented on #5336
ok let me give it a try.... how do you want the ios_webkit_debug_proxy to be started?

[2015-07-13 21:42] Jonahss commented on #5359
Hm thats odd, because I was able to get it to work with our test app.

It says "no such element". What do you get when you call the `.source()` function to get the source of the webview. Is your element there?

[2015-07-13 21:43] Jonahss commented on #5336
using the helper script provided: `./bin/ios-webkit-debug-proxy-launcher.js -c [your_device_UDID]:27753 -d`

[2015-07-13 21:47] Jonahss commented on #5360
In the log I see this
`[{"action":"press","options":{"x":1040,"y":330}}`
Those are not the same coordinates that your script has. Are you sure the right thing is happening?

[2015-07-13 21:48] #4131 closed

[2015-07-13 21:50] Jonahss commented on #5276
Hmm. I see. So after 60 runs, memory leaks in Android and the App itself might start to manifest, and reliability goes downhill :(

[2015-07-13 21:53] Jonahss commented on #5340
Ohh really. That's interesting.
So scroll is a big topic right now. We haven't come up with a good method of handling scroll that works well on both ios and android. This is a feature we are going to have to look more into.

Other approaches that exist right now are you can create UIScrollable objects by using the `findByAndroidUIAutomator` function. You can pass in something like "new UIScrollabl

[2015-07-14 00:56] Jonahss commented on #5230
@mittt Thanks for providing such a great app and test case for us to reproduce with. I'm able to see the issue.
Still need to figure out the root cause, I noticed that if you start from webview 1, and then count up, the tests passes. There's something strange going on the first time the webview is created/removed/connected to.

I'll keep playing with it.

[2015-07-14 05:11] rahuljawale commented on #5349
It ended up being proxy issue. Our mac minis are behind corporate proxy.

The issue was that that npm was using http_proxy environment variable and for some reason it was trying to split the value by : (colon). So the reason why I was seeing error Invalid Protocol (when the proxy was set) and ELIFECYCLE (when the proxy was not set).

Incorrect value for http_proxy was `servername.domain.com:80 `
w

[2015-07-14 07:53] shadeimi commented on #5322
Ok, it could work. I've to match the session IDs from the selenium HUB logfile, but it could work. Please don't close the issue, i want to post here the code for the session management in an HA environment, it seems i'm the only one who use appium in this way :)

[2015-07-14 08:49] sas0807 opened #5373 "Request to add a method to check the UI object exist or not exist"

[2015-07-14 11:38] anmudgal commented on #5309
I can't, as Xcode 6.3.2/6.4 need OSX 10.10 and my workplace allows upto OSX 10.9, that support will come later on.

[2015-07-14 12:11] diana-zaharia opened #5374 "appium stuck while performing sendKeys on PickerWheel [iOS - real device]"
appium 1.4.7, running mobile web tests on iOS real device (iPhone 6)
xcode 6.4

I am experiencing this strange issue where selecting a value from PickerWheel works fine on iOS simulator, but on real device it gets stuck while actually spinning the wheel
- for e.g. - a pickerwheel with options A, B, C, D - D is the selected option and I perform sendKeys("A"), it spins the wheel to "C" but gets stuc

[2015-07-14 13:08] naumanafzaal commented on #5360
Yes I changed them myself. Log were taken when x, y was 1040,330.  This is not the issue.

Using appium inspector it is working perfectly with both values.

[2015-07-14 14:52] MuratKus commented on #4585
I checked with my developer and it seems that we have no NSLogger/NSlog in any active line.

[2015-07-14 18:16] Jonahss commented on #5372
Hm. the best way to test if the application is running and the test is working is to call the `source()` command of your driver. It should return the hierarchy of elements currently on the device's UI. If the app crashed or the device froze, this command would fail.

Usually if the app crashes or the phone freezes, appium detects that something disconnected or went wrong and it ends the session.

[2015-07-14 18:16] #5372 closed

[2015-07-14 18:45] nabeel-ibrahim opened #5375 "Appium inspector not working for MNCalendarView"
I have a MNCalendarView that I am trying to inspect using the appium inspector. the inspector takes some time to load the page but after the loading is complete, i cannot inspect any of the elements. This only happens when I try to inspect a MNCalendarView. I am using appium 1.4.1 on Mac OS X

[2015-07-14 18:49] qaDream77 commented on #5372
That helps a lot, thank you! I am currently writing a watch dog which goes through the log file for exactly that /wd/hub/status.

[2015-07-14 19:04] meenakshi2710 opened #5376 "Facebook login from webView on iOS"
Has anyone faced an issue with Facebook login flow where there is context switching from the app to Facebook WEBVIEW and sendkeys() does not type the text into the username/password fields. als, the tap is not functional.

here's my code:

FB_EMAIL_XPATH = "//_[contains(@value, 'Email or Phone')]"
FB_PASSWORD_XPATH = "//_[contains(@value, 'Password')]"
FB_LOGIN_BUTTON_XPATH = "//*[contains(@name,

[2015-07-14 22:44] Jonahss commented on #5376
Hm. Have you tried enabling the `nativeWebTap` capability?

[2015-07-14 22:45] Jonahss commented on #5375
Could you please post this issue on the github repository for the inspector? This is the main appium command-line server repository.

Thank you :)

[2015-07-14 22:45] #5375 closed

[2015-07-14 22:47] Jonahss commented on #5374
That's very interesting!

Hm, I will try to reproduce this on a real device using our UICatalog app. What version of ios?

[2015-07-14 22:50] Jonahss commented on #5373
Hi,

To check if an element exists, you should just try to "find" it, using whatever method you use to find the element.

Are you asking for a method to check whether an element that you found earlier *still* exists? That's a method that *might* be possible, depending on the platform (android or ios).
For now, that's pretty complicated, but trying to "find" the element again is a good way to do th

[2015-07-14 22:51] jlipps commented on #5317
OK, I'm cool with option 3 as well (talked with Jonah IRL).

[2015-07-14 22:52] Jonahss commented on #5368
Are you running tests locally or on a cloud provider?
The error you posted says that the Swipe command is not available. That's probably because you're changing the version.

I highly recommend using the latest version: 1.4.7

[2015-07-14 22:52] #5368 closed

[2015-07-14 22:55] Jonahss commented on #5367
Hm, there should be a way to check, we can try to add it if it will help you to track down a way to reproduce it.

I'm assuming you're using just Android?

@imurchie do you have any suggestions for how to detect wether the keyboard was set up properly?

There might be an adb command for this.

[2015-07-14 22:59] Jonahss commented on #5360
Hm. So in the logs, the tap seems to work fine. Do you have a way of checking to make sure if it got tapped in the right place? You can enable some debugging options that will show a little circle wherever the app gets tapped.

[2015-07-14 23:04] Jonahss commented on #5356
I will try to reproduce this in a test, and then we can work on fixing it :)

[2015-07-14 23:05] imurchie commented on #5367
There _is_ an `adb` command for it. There is also an Appium command. In Python you can do `driver.active_ime_engine`. If the Unicode keyboard is active it should return the string `io.appium.android.ime/.UnicodeIME`.

[2015-07-14 23:08] Jonahss commented on #5353
Could you post the complete logs please? Are you running locally, or using a cloud provider such as sauce labs? Something in your test could not connect to the android device.

[2015-07-14 23:09] Jonahss commented on #5352
Would you be willing/able to submit a pull request to the appium_lib repository?
https://github.com/appium/ruby_lib

[2015-07-14 23:10] Jonahss commented on #5352
Closing since this is unrelated to appium server itself, but thank you for bringing it to our attention.

[2015-07-14 23:10] #5352 closed

[2015-07-14 23:14] Jonahss commented on #5351
Hm, looks like instruments it crashing. This *might* be related to your operating system being 10.9 rather than 10.10 ??

Not much we can do if instruments is crashing. You can try to eliminate some possiblities by running an Automation test straight from xcode. Run your app in Xcode using the Automation trace template and see if it will work.

[2015-07-14 23:19] Jonahss commented on #5350
You're in unexplored territory here. Pretty sure what you are asking for is not possible, since Apple instruments only runs on the foreground app, and only one app at a time. But if you experiment, who knows what undocumented things you can do.

But from what I know, what you're asking for has never been done before, and I'm not sure if Instruments was build to run on more than one process at a ti

[2015-07-14 23:19] #5350 closed

[2015-07-14 23:20] Jonahss commented on #5349
Ah. Nice catch.

[2015-07-14 23:20] #5349 closed

[2015-07-14 23:23] Jonahss commented on #5348
I don't suppose there's a reliable way to reproduce it? Has something to do with the reset command seems like. Do you call a lot of successful reset commands before this?

[2015-07-14 23:31] meenakshi2710 commented on #5376
yes, it is set to true.

[2015-07-14 23:35] Jonahss commented on #5376
Ah, well uh.... did you try setting it to false? ;)

It's possible that facebook has specifically implemented code to prevent automated logging in :(

[2015-07-14 23:36] #5317 closed

[2015-07-15 00:08] Jonahss commented on #5372
Cool

[2015-07-15 01:00] sdubov opened #5377 "Android scroll_to text is not working"
Tested scroll_to() method on Appium 1.4.7 on LG device and found that it can not find an element by string.

Please see Appium server logs:
[code]

Device: LG LG-H950, Android 5.0.1

[2015-07-15 04:54] Pushpank commented on #5353
Hello ,

I am running it locally on android device .

Last login: Wed Jul 15 10:16:26 on ttys000
/Users/srikanta_Dirolabs/Documents/workspace/DiroApp_Android/startappium.command ; exit;
srikantas-Mac-mini:~ RajShekhar_DiroLabs$ /Users/srikanta_Dirolabs/Documents/workspace/DiroApp_Android/startappium.command ; exit;
info: Welcome to Appium v1.4.1 (REV ce6220829063679bcccf5724515c29569c4a16d9)
info:

[2015-07-15 05:15] sas0807 commented on #5373
Hi,
Yes. When the script do a lot of operation,I want to know the operation whether success or failure as  a checkpoint;

Thank you!

[2015-07-15 05:50] Taitalus opened #5378 "Pythonic way to start appium server"
Hi, is there a pythonic way to start, kill and restart appium sever on different port in a machine??

[2015-07-15 06:35] naumanafzaal commented on #5360
Yeah that would be quite helpful can you please let me know how to enable debugging?

[2015-07-15 08:28] ruthwe commented on #5028
how do i get web element path?
because getattribute(xpath)
or item.xpath
doesn’t work!!!
what do i do?
On May 28, 2015, at 7:09 PM, Payman Delshad <notifications@github.com<mailto:notifications@github.com>> wrote:

location is a property of WebElement (not WebDriver), so had it been defined anywhere, it should have been in https://github.com/appium/python-client/blob/master/appium/webdriver/webele

[2015-07-15 10:52] coolboy1981 commented on #4393
Hi All,
I am getting the below log from Appium server console, while trying to instantiate an iOS driver. Could you please help me to resolve this issue?

Launched with command:
appium -U 641a8db1fe62ac9ae76955c77e00d5e200d8fdc6 --command-timeout 9000

************************************************************************
info: [debug] Attempting to run app on real device with UDID 641a8db1fe62a

[2015-07-15 12:01] diana-zaharia commented on #5374
iOS 8.4

[2015-07-15 12:35] coolboy1981 commented on #4393
Hi All,
The issue has been fixed. It was an issue with the developer provisioning profile and the certificate.

Thanks a lot
Anil

[2015-07-15 12:41] sameermaral commented on #4662
Is this issue resolved? I am also getting same result in appium logs.

[2015-07-15 14:19] motasus commented on #4662
Same with Appium 1.4.0 (Windows build), JavaClient 3.1.0 on real Android device v4.4.

Swipe operation is visually performed but server returns "The swipe did not complete successfully".

[2015-07-15 14:22] Sofrus commented on #4032
@LiudasTumasonis
I would like to know there is the iOS capabilities section? I start appium server from appium.app in macos. In which file i must add waitForAppScript: true?
Thank you an advance.

[2015-07-15 14:32] nicolasavenza opened #5379 "AndroidDriver.currentActivity null pointer exception"
I'm getting some test failures due to a nullpointer exception inside the AndroidDriver when I call currentActivity(). This does not happen every time, most of the times the call works properly. I'm using the currentActivity call to verify whether the app crashed or is still running.

    java.lang.NullPointerException
	at io.appium.java_client.android.AndroidDriver.currentActivity(AndroidDriver.ja

[2015-07-15 15:39] jeromelaurens commented on #5164
@Jonahss : I updated to 1.4.7 and re-run : same problem

[2015-07-15 16:42] TFry opened #5380 "send_keys bug on HP & Samsung Tablets"
I am 100% sure this bug does not occur on Nexus 7 (V 4.4 and 5.0).

Using a HP Slate Pro 8 and a Samsung Galaxy Tab 7 there seems to be an issue with the send_keys command.
My app has a "back a page" button in the top left corner. On a certain page I am sending in an IP address into a text window, once all the keys have been pressed the keyboard hides. However it unexpectedly taps the top left cor

[2015-07-15 17:48] spdayu opened #5381 "adm-zip ~0.4.7 throw new RangeError('index out of range') when zip some apk in appium"
ENV:
appium 1.4.1 + NodeJs v0.12.7 + Linux ud43d7ec95f9d5208a422 3.13.0-57-generic #95~precise1-Ubuntu SMP Mon Jun 22 09:43:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Promblem:
When I running test on on our latest APK file with debug keystore, appium throw "error: Unhandled error: RangeError: index out of range " and test run was blocked. After looking into the stack information, I found this exce

[2015-07-15 17:50] meenakshi2710 commented on #5376
that didn't work either

[2015-07-15 19:43] nicolasavenza commented on #5379
This issue happens with Appium 1.4.7 on OSX 10.10.4

[2015-07-15 21:36] qaDream77 opened #5382 "Appium Capabilities to run tests of currently open application."
So there are capabilities for installing a new application, for launching an already installed application.

I am looking into splitting my infrastructure testing from my actual testing. Meaning, I have a python test script to install or launch the application and check if the application has crashed or is running.

i have a second python script (separate) which i would like to do all of the testi

[2015-07-15 22:37] Jonahss commented on #5289
This is fixed! Appium version 1.4.8 just released.

[2015-07-15 22:37] #5289 closed

[2015-07-16 05:40] mayureshshirodkar commented on #5359
So i tried getting the page source using driver.getPageSource()
Steps:
1.Move to offline mode
2.Switch to Native context
3.Switch to Webview context
4.Wait for some time
5. Get Page Source
6.Try to detect required element

Got this response:
<html><head></head><body></body></html>

Also as a result the required element wasn't found.

Appium Log:
info: [debug] Getting a list of available webviews
i

[2015-07-16 07:28] mojjj commented on #5289
thank you! works with npm!

[2015-07-16 07:50] mojjj commented on #5306
[Error: Command failed: C:\Windows\system32\cmd.exe /s /c "uname -m"

is fixed by https://github.com/appium/appium-support/pull/13

[2015-07-16 08:33] Fanch- commented on #5382
Did you try "Capability noReset" to true?

[2015-07-16 08:51] Zoe1808 opened #5384 "How to perform a tap action in webview(iOS real device)"
driver.findElement(By.className("do-purchase")).click();

this will execute a 'click' atom, but it seems not working. I also tried 'nativeWebTap' capabilities, it seems not working in real devices.

I tried 'tap' with JavascriptExecutor and it's working.

The question is how to perform a 'tap' atom instead of 'click' atom on a webelement?

[2015-07-16 09:20] wswebcreation opened #5385 "Taking multiple screenshots in Hybrid app results in shutting down the app"
We are automating a hybrid app with Protractor (+ Cucumber) and Appium and facing some problems with creating screenshots.

For example we take a iOS simulator.
* When we run a suite and a scenario fails, a screenshots needs to be made. In the log we see the command for taking the screenshot and it takes at least 10 seconds to respond.
* When the second scenario fails, a screenshot is made. In the

[2015-07-16 09:44] juanpicado commented on #5306
After test the ```v1.4.8``` everything is ok in my side . I'm closing this issue.

[2015-07-16 09:44] #5306 closed

[2015-07-16 09:48] kropek commented on #5233
Hi guys, I have the same problem - I'm using console version of appium and still problem exist.

[2015-07-16 10:22] shasaksingh opened #5386 "My Original error: AND Current: is showing same activity still showing A new session could not be created."
A new session could not be created. (Original error: com.abc.iitglc/.ui.activity.MainActivity) never started. Current: com.abc.iitglc/.ui.activity.MainActivity) (WARNING: The server did not provide any stacktrace information)
capabilities.setCapability("appWaitPackage", "com.abc.iitglc");
capabilities.setCapability("appWaitActivity", ".ui.activity.MainActivity)");

Please help!!

[2015-07-16 11:39] naveenjammula opened #5387 "--log-timestamps is not giving correct time in the logs"
I am using appium with python client to write automation for an application iOS (target devices are iPhone 5c and 6).

Issue: I am using "--log-timestamp" while starting the appium server. I can see logs now have date time concatenated in the beginning of each line. My issue is the date in datetime part of log is correct but i can see time is different.

I can see a time difference of about  5hr 3

[2015-07-16 12:00] bhawnaa opened #5388 "App is crashing and throwing this error."
error: Unhandled error: Error: write EPIPE
    at exports._errnoException (util.js:746:11)
    at WriteWrap.afterWrite (net.js:775:14) context: [GET /wd/hub/session/3b421f06-dcdc-4c3e-b7f6-4ed294292d76/orientation {}]

[2015-07-16 12:27] IZaiarnyi opened #5389 "Unable to request focus on element"
info: Appium v1.4.1 App launches on android TV, communicates with user through remote control

My element is:
type: android.widget.FrameLayout
enabled: true
checkable: false
checked: false
focusable: true
clickable: false
long-clickable: false
password: false
scrollable: false
selected: false
resource-id: com.android.tv:id/circlesView

I requested focus in such way:
driver.findElement(MobileBy.And

[2015-07-16 12:44] phystem opened #5390 "IOSDriver JavascriptExecutor throws "An error occurred while executing user supplied JavaScript" when return statements are used"
When I try to return values from JavaScriptExecutor it is throwing

       JavascriptExecutor js = (JavascriptExecutor) wd;
       System.out.println(js.executeScript("return true"));

[code]

Full code

[code]

[2015-07-16 13:03] tianjienan opened #5391 "Android webview chromedriver unable to discover open pages"
Native app has webview, use driver.context("WEBVIEW") switch to webview
Got response with status 200: {"sessionId":"92a4928417efa6a3614055f5cf8c94e7","status":13,"value":{"message":"unknown error: unable to discover open pages\n  (Driver info: chromedriver=2.15.322448 (52179c1b310fec1797c81ea9a2032683...

[2015-07-16 14:20] senevit4 opened #5392 "Unable to run tests on Appium higher than 1.3.7"
Using Appium higher than 1.3.7 with iPod touch 8.0.2 i always get the following problem:
info: <-- POST /wd/hub/session/799f4d9a-4b04-4aa6-b888-efbac9b54854/appium/device/app_installed 500 1.342 ms - 101
TypeError: Cannot read property 'isInstalled' of undefined
    at [object Object].IOS.isAppInstalled (/usr/local/lib/node_modules/appium/lib/devices/ios/ios.js:1487:20)
    at exports.isAppInstall

[2015-07-16 14:23] qaDream77 commented on #5382
Sorry for the delayed reply, i just got in. To answer your question, that is exactly what i am trying to do. I noticed that both on iOS and Android that the test scripts fails around 10% of the time but those tests aren't actual failures on part of the script. In the emulators case, it crashes when it tries to launch the application. So i am looking to have script 1

Open application, check it's i

[2015-07-16 14:58] qaDream77 commented on #5382
In the second script, i have to use the bundle ID or it won't recognize that an application is open, however, adding no reset doesn't let me use the currently open instance of it. Instead it closes the current and relaunches the application.

[2015-07-16 15:43] qaDream77 commented on #5384
Short answer is your don't, the element is in a webview and not the native view. For some reason, tap does work when you use the full xpath but other than that, it won't find the element by name, id or any other identifiers.

The way we did it is to change context to webview, and use .click() by calling the id. Remember that the id of the element may be different from it's webview id which you won

[2015-07-16 15:46] qaDream77 commented on #5377
ScrollTo doesn't work in android, iOS only as far as i know. Could never get it working in Android myself.

[2015-07-16 16:27] Simon-Kaz opened #5393 "Add a sendKeyStrategy Setting for Android"
Right now, there are 2 options for sending keys:
- set capability sendKeyStrategy and be forced to use the same strategy across all tests
- don't set strategy and rely on one by one/grouped strategy ( https://github.com/appium/appium-uiauto/blob/master/uiauto/lib/element-patch/helper-patch.js#L24 )

I'd like to suggest an enhancement for the sendKeys method - being able to pass a parameter that wo

[2015-07-16 16:34] vinceis1337 opened #5394 "runAppInBackground() sometimes asynchronous, sometimes synchronous"
Sometimes I am writing code that needs to background the app, execute some lines of code, and return to the device.

However, I am encountering a bug where I call the runAppInBackground method and it locks execution until the time runs out.

This is inconsistent - sometimes I can call it and it will continue running the app in the background while code executes. However, then I will have it lock d

[2015-07-16 16:35] vinceis1337 commented on #5394
Logs from Appium:
[code]

[2015-07-16 16:47] Jonahss commented on #5393
:+1:
If we don't want to violate the JSON Wire Protocol by adding an optional parameter, we could also add it as a Setting (like android hierarchy compression), which can be changed mid-test.

@jlipps what do you think?

[2015-07-16 16:50] vinceis1337 commented on #5390
Why do you need to return true at the end?

[2015-07-16 16:52] vinceis1337 commented on #5389
Can you give an example of the code?

Have you tried something like:
[code]

[2015-07-16 16:57] vinceis1337 commented on #5378
Depends on what OS. Do you mean like executing a command to start a server?

If you can get python to open an terminal you could execute a command to start an appium server.

More info: https://discuss.appium.io/t/starting-appium-server-programmatically-on-mac/1615

[2015-07-16 17:05] vinceis1337 commented on #5298
Just wanted to add on I am actually coding TouchActions myself and they do NOT work on Simulator (Simulated iPhone 6 iOS 8.1 or 8.3 was the phone I used). They seem to do nothing at all. Whether I use driver.swipe or code the TouchAction manually. Both work on an Actual iPhone 6 iOS 8.1.2.

[2015-07-16 17:36] phystem commented on #5390
That's an example .Whatever i'm returning it's throwing that exception.I mean whenever there is a return statement it is not executing

[2015-07-16 18:05] imurchie commented on #5378
Please query the discussion list.

[2015-07-16 18:05] #5378 closed

[2015-07-16 18:47] vinceis1337 commented on #5390
I guess my question is you usually have a function or method that you need a return value for. Is there more code that you can provide? I would expect something like:
[code]

[2015-07-16 19:12] vinceis1337 commented on #5394
Okay, just read the [documentation](http://appium.github.io/java-client/io/appium/java_client/AppiumDriver.html#runAppInBackground(int)) again, and it says that this method is synchronous... if that is the case, how come it also works asynchronously too?

Is it possible to also implement this method asynchronously? It would be much more useful.

[2015-07-16 20:08] imurchie commented on #5356
Can you provide the Appium server log for a run of the test?

And to be clear, in the HTML for the page loaded in the webview, you have an input tag like

[code]

[2015-07-16 20:09] imurchie commented on #5356
Also, what happens when you use `automationName='Appium'` instead of `Selendroid`?

[2015-07-16 21:07] Simon-Kaz commented on #5393
FYI, with help from @bootstraponline, i managed to switch the strategy in the middle of the test with:

driver.executeScript("env.sendKeyStrategy = 'setValue'");

and

driver.executeScript("env.sendKeyStrategy = 'onebyone'");

It would definitely be better to do this via helper methods.

[2015-07-16 22:47] rxiong commented on #5222
I am running into same issue. Using Xcode 6.4 and Appium 1.4.8 with Appium Java client 3.0.
The Appium GUI shows there is a WEBVIEW context, but when I debug the automation test at the same page, there is only NATIVE_APP returned from driver.getContextHandles().

Did this break again? I had my appium 1.4.8 installed via avm manager (Appium Version Manager).

[2015-07-16 23:19] imurchie commented on #5392
I presume you are using `autoLaunch = false` in your desired capabilities?

This bug was introduced when Fruitstrap was removed. I will look into how to fix it in a sensical way.

[2015-07-17 00:33] frankGracias commented on #5184
I see this issue with version 1.3.5 and above ... Can you please let me know if there is an alternate solution ?

[2015-07-17 07:39] senevit4 commented on #5392
I am starting appium 1.4.8 with the following parameters (application is native):
appium --address "127.0.0.1" --port "4725" --command-timeout "7200" --session-override --nodeconfig "/Volumes/Data/Grid/selenium/appium/appiumNode.json" --platform-version "8.0.2" --platform-name "iOS" --app "/Volumes/Data/unify-localrepo/mobileclient/ios/Build/Products/Debug-iphoneos/ansible.app" --udid "f315e023d63

[2015-07-17 08:35] Fanch- commented on #5382
Yes it is, it just keeps data between relaunching. To do what you want to do smoothly, you have to use the same driver instance between tests.

I guess you can do it with the equivalent of a singleton, in @before you call this singleton which sets capabilities and create driver (if it crashes use your code until it works) -and won't do it again if it is set-.

In other @test cases, if you have alr

[2015-07-17 08:40] Akulavenkatesh commented on #5340
Thanks for the help Jonahss :+1:

[2015-07-17 09:43] nikolmarku1 opened #5396 "Error getting device property persist.sys.language: -> more than one device and emulator"
Hi,

Appium v1.4.1

I have 2 real devices attached :
1. IPad 1 Mini - OS 8.3
2. Nexus 10 Android version 5.1.1

I have registered both devices on Selenium grid

I tried to run the test and got the error below, see logs
This error is not shown if I remove the connection cable from Ipad

Thanks for your help
# Logs

autotestmac:~ qa$ /Users/qa/automation/selenium/appium/2_start-appium-android-tablet

[2015-07-17 10:14] IZaiarnyi commented on #5389
Yes sure, I use this
```driver.findElement(MobileBy.AndroidUIAutomator("new UiScrollable(new UiSelector().scrollable(true).instance(0)).scrollIntoView(new UiSelector().resourceId(\"com.android.tv:id/circlesView\"))");```

You can check this  on "Google Play Movies & TV " apps for  android TV for example on Nexus Player.
I'm not able to set focus on Left bar.

![20150717_122528](https://cloud.githu

[2015-07-17 11:15] Simon-Kaz commented on #5393
As a temporary solution, i have created the following:

[code]

[2015-07-17 12:22] Taitalus opened #5397 "Running Adb shell query"
Hi, is there anyway so that I can run adb shell command in appium server?

like this.. to know the state if a telephone rings then we can know it by running adb shell command

[code]

[code]

I don't know how to catch the notification by webdriver when an incoming call comes.. any solutions?

[2015-07-17 13:28] BenWaller commented on #5243
@imurchie Is there anything else I can provide to help with this issue?

[2015-07-17 13:29] firemoon commented on #5356
Hello,

this is the log from Appium server :

info: [debug] Proxying command to localhost:8080
info: [debug] Making http request with opts: {"url":"http://localhost:8080/wd/hub/session/15c02f7a-2284-77b0-3b88-4d413655a7f9/element","method":"POST","json":{"using":"id","value":"username"}}
info: [debug] Proxied response received with status 200: {"sessionId":"15c02f7a-2284-77b0-3b88-4d413655a7f9","s

[2015-07-17 13:45] lomis2002 commented on #5397
To wait for incoming call on Android, following code should work in your test

    public boolean isCallOngoing() {
        try {
            if (driver.currentActivity().equals("com.android.incallui.InCallActivity")) {
                return true;
            }
        } catch (Exception e) {
            return false;
        }
        return false;
    }

[2015-07-17 14:01] archu-test commented on #5128
Hi,
I got the issue resolved by reentering Android sdk path in Appium Settings.
Thank you all for the support.

[2015-07-17 15:57] vinceis1337 commented on #5389
I mean, please provide all the code from starting from finding the element to clicking it.

Possible methods:
[code]
[code]

Currently you're only providing the code for finding the element, and not how you are storing the element reference or how you are clicking on it.

[2015-07-17 17:00] IZaiarnyi commented on #5389
Sure
[code]
it doesn't work.
I sent you xml from another build but the issue persist. Now locator is
[code]
xml is
[code]

[2015-07-17 17:47] qaDream77 commented on #5382
When you say, singleton do you mean a single instance of the driver?

When we establish the driver, we send an http json request to the server with the url and desired capabilities. I've been going through the Selenium WebDriver api and i can't find any function related to retrieving a current list of drivers, only to start a new remote session :(

[2015-07-17 20:33] chrigrahcisco opened #5398 "Android: This element does not have the 'contentDescription' attribute"
Appium.app 1.4.0
Python client 0.14
Nexus 9 tablet Android 5.0.2

I have an element that physically exists, and according to the Appium Inspector and page XML has content-desc text present. However, calls to get this text fail with the error.

[code]

Other attributes appear to work fine such as `location` and `is_enabled`.

I have tried `get_attribute("contentDescription")`  and `get_attribute("n

[2015-07-17 21:00] jasonkissinger commented on #4864
We would also appreciate something to improve performance on setting text fields.  We're currently seeing it taking several seconds to set text in a single field, and multiply that across many field entries in a test and across 100s of tests, it is really slowing down our test runs.  If we could get that below a second then that would help us a lot.

As a simple example to show this timing locally

[2015-07-18 03:34] Taitalus commented on #5397
@lomis2002 thanks I will try this out. Though I figure it out by adb shell. I will try it out with appium next.

[2015-07-18 11:58] Simon-Kaz commented on #5298
^ thats a known issue @vinceis1337 and it's apple's instruments/simulator and not appium.

[2015-07-19 16:16] bootstraponline opened #5400 "Use --no-window-animation flag when running Instrumentation (ex: selendroid)"
Google's Espresso project has documented how to disable window animations to improve stability. There's a separate appium issue [tracking that work](https://github.com/appium/appium/issues/3868).

Today I discovered that the `adb shell am instrument` accepts a `--no-window-animation` flag. This should be used by default where supported. I expect older devices to not support the flag.

[2015-07-19 18:58] bootstraponline opened #5401 "Start uiautomator session without launching anything"
It'd be nice to simply launch a uiautomator session and not have to initialize the driver with an app. This would be useful for automating against the default state of particular devices.

[2015-07-19 19:24] bootstraponline opened #5402 "Execute Espresso test suite via Spoon"
[spoon](https://github.com/square/spoon) enables executing instrumentation tests (given the app apk and the test apk) and generating reports (html, junit xml, etc.). Spoon is currently written to require installing the apks which is slow since appium already installs them as part of [session initialization](https://github.com/appium/appium/issues/5401). It wouldn't be too difficult to [update spoo

[2015-07-20 10:37] Triqqo opened #5403 "com.apple.instruments.server.services.wireless errors after one session"
I'm basically having two related issues with Appium and the com.apple.instruments.server.services.wireless service.

The first one being that whenever I run a single test in Safari on an iPhone 5S with iOS 7.1, the following error is thrown infinitely, or until Appium kills instruments:

[code]

The error causes significant slowdown in test execution, or sometimes causes a session to not close pro

[2015-07-20 11:40] mgehlen commented on #5233
with Appium 1.4.7 I was also using the console version and not the Appium.app, but was still facing the problem.

However we found a workaround:
1. Open XCode-Beta
2. Open Device Window
3. Rename your standard testing Simulator, e.g. from "iPhone 6" to simply "iPhone"

Now Appium finds this simulator with iOS 9 and XCode-Beta and starts running.
As workarounds go it is not perfect, but for us it w

[2015-07-20 12:05] esoests commented on #5381
Any reason why this happen? I have the same issue on my test environment.

[2015-07-20 13:40] ktronic80 opened #5404 "[IOS] Errors when interacting with elements in WebView"
Appium 1.4.8/1.3.7
Appium Java Client 3.1.0
iOS 8.4 Simulator
Mac OS 10.10.4

Hi,

I'm trying to automate an App which has content in a webview. All works fine switching to webview context, finding the elements by id or css selector until I try to interact with an html element. The content in the webview is a form with some input fields a button. When I try to enter some text in an input field I g

[2015-07-20 17:01] #5392 closed

[2015-07-20 17:34] imurchie commented on #5356
For Appium mode to work, the webview [needs to be in "debug" mode](https://github.com/appium/appium/blob/master/docs/en/advanced-concepts/hybrid.md#automating-hybrid-android-apps). This is a Android UI Automator necessity, unfortunately.

[2015-07-20 18:03] KyleChihCheng opened #5406 "Need more stack trace on Appium server node.js exception: A new session could not be created. (Original error: Could not push strings.json)"
This is a cross posting from discuss.appium.io just in case it doesn't get answered :-)

When I try to allocate a WebDriver from Selenium Hub, sometimes it will not return a driver due to this log message: A new session could not be created. (Original error: Could not push strings.json) This happens occasionally.

Appium Version: 1.4.1 (node.js version)
Appium client: io.appium:java-client:1.6.1
S

[2015-07-20 18:04] imurchie commented on #5356
I hope you are able to provide more information that will help reproduce this. I can't get it to happen locally.

I can't think of a reason this should be happening. Can you do anything else with the element in the case where you can't type? Get the size? Location? I'm just wondering if it is found and interactable at all.

Things that might be relevant: real device or emulator? Details of the dev

[2015-07-20 18:15] ChiWhiteSox56 commented on #4716
Appium 1.4.0 - swipe/scrollTo still does not work in the simulator. I've scanned many threads about this issue, tried many solutions, and none work. Between not being able to scroll in the simulator and no support for iOS 8.4, Appium seems not to be a viable solution for my company anymore. This means a lot of extra work for me, and delays in test automation for my company.

It's too bad, because

[2015-07-20 20:50] rxiong commented on #4716
@ChiWhiteSox56, we've built a workaround that is not perfect, but so far is working enough for us. Use flick as a possible temporary solution. We're able to flick as swipe and scroll on the screen, as well as elements.

The trick I found that work for us also is that we can't actually flick on a UIAScrollView, but we can on UIACollectionView.

[2015-07-20 21:29] ChiWhiteSox56 commented on #4716
@rxiong  - That's something I haven't tried. I'll give it a shot. Thanks.