[2015-04-07 22:52] jlipps commented on #4868
@bootstraponline it's an earlier draft of the W3C spec. I guess if you look at latest they've updated the spec. matching the new spec is already an appium ticket. I think @imurchie knows the most about this and is probably best suited to evaluate whether this issue is a bug or not

[2015-04-07 23:31] djwgit commented on #4856
looks like this is similar issue I saw on iOS, for dragging on screen.  #4868
@Fanch-   check your server log,  is it translated into two touch actions ?

[2015-04-07 23:34] hardik-d commented on #4862
available contexts were:

NATIVE_APP
WEBVIEW_1
WEBVIEW_2

[2015-04-08 00:08] jlipps commented on #4862
did you try WEBVIEW_2?

[2015-04-08 00:14] hardik-d commented on #4862
no i haven't let me try and get back to you

[2015-04-08 00:31] hardik-d commented on #4862
Bummer now i do not see webview_2. issue is when the app launches it redirects to safari and back to the app so i need a mechanism for the tests to wait before the app is back in focus.

2 of the following happens:

* tests start running in safari
* tests start running on the app while not in focus and once the redirect from safari happens it goes to landing screen and tests break since the test m

[2015-04-08 00:39] hardik-d commented on #4862
i tried sending the app to background as soon as launched but it sends safari to background rather than my native app.

[2015-04-08 00:49] bootstraponline commented on #4862
If you want to wait for the second webview, this should work:

[code]

A dynamic wait is going to be better than a static sleep.

[2015-04-08 00:56] djwgit commented on #4868
@bootstraponline, @jlipps   thanks for your help...
tried this below, it is translated into target.dragFromToForDuration,  but still does not scroll the UIACollectionView or UIATableView(has cells in it).  while works for MapView.
Appium::TouchAction.new.press(x:150,y:150).wait(2000).move_to(x:150,y:500).release.perform
or
swipe start_x: 75, start_y: 200, end_x: 75, end_y: 300, duration: 600

info

[2015-04-08 01:10] bootstraponline commented on #4868
I know with swipe we figured out the server is treating out the args as offsets instead of absolute coordinates. Maybe that will help?

https://github.com/appium/ruby_lib/issues/293

You could also try manually invoking dragApp via execute_script until you find values that work and then try to reverse engineer what the appium server expects for input to get that result.

[2015-04-08 01:13] hardik-d commented on #4862
i will work around i guess by catching the exception. thanks

[2015-04-08 01:14] djwgit commented on #4868
@bootstraponline thanks, I figured out that is an offset,   the same command works for a mapview, but not for UIACollectionView and UIATableView.
not sure how could use dragApp in execute_script, could you give an example...
thanks...

[2015-04-08 01:14] jlipps commented on #4868
the reason UICollectionView and TableView aren't working is that gesture recognition is broken in those views. Only limited gesture support is available for them in the form of the "mobile: scroll" script.

[2015-04-08 01:34] djwgit commented on #4868
@jlipps thanks for clarifying that.  is there an issue I can keep track of it...

tried this, on a screen with UIATableView, it does not scroll up either...
execute_script 'mobile: scroll', :direction => 'up'
thanks...

info: --> POST /wd/hub/session/c2f1dfe0-e4eb-4206-a2ea-493c7206bdd1/execute {"script":"mobile: scroll","args":[{"direction":"up"}]}
info: [debug] Pushing command to appium work que

[2015-04-08 02:36] bootstraponline commented on #4868
https://github.com/appium/appium/issues/4664#issuecomment-77681742

[2015-04-08 02:47] djwgit commented on #4868
thanks @bootstraponline, hope the simulator will be fixed soon... :-(

[2015-04-08 02:57] bootstraponline commented on #4868
unfortunately I would not count on apple to fix their buggy software anytime soon. we can hope for the best though.

[2015-04-08 04:27] ayosuva opened #4873 "How to execute one machine appium script to another machine(Remote machine)?"
I have 2 desktop machines in which Appium script is saved in machine 1 and Appium got installed in machine 2 and android devices also connected in machine 2. now i want to take the script from the machine 1 and execute it in the devices connected in the machine 2. how to achieve this. please suggest me.

[2015-04-08 06:10] ASYB commented on #4865
Can I expect any fix in next release??

[2015-04-08 06:13] rahulk06 commented on #4832
Yes, when we download the app from browser and upload it in a nexus repo with a HTTP URL, then appium is able to download the apk.

[2015-04-08 06:42] Koteshwar commented on #4298
Hi Guys,

[2015-04-08 07:19] spkr22 commented on #4551
I got the same issue and it was resolved on installing .net framework .

[2015-04-08 07:20] ayosuva commented on #4873
package com.appiumproj.test;
import io.appium.java_client.AppiumDriver;
import io.appium.java_client.android.AndroidDriver;
import io.appium.java_client.remote.MobileCapabilityType;
import java.net.MalformedURLException;
import java.net.URL;
import org.openqa.selenium.By;
import org.openqa.selenium.WebElement;
import org.openqa.selenium.remote.DesiredCapabilities;
import org.openqa.selenium.suppor

[2015-04-08 08:06] wangcityboy opened #4874 "How to use ideviceinstaller to instead fruitstrap"
Currently appium 1.3.7 when it starts, it will default  check  the app is installed  at real device, But i don't  know How to use ideviceinstaller to instead fruitstrap
![qq20150408-3](https://cloud.githubusercontent.com/assets/5433502/7041116/2423c656-de09-11e4-80d6-bdc3112426e6.png)

[2015-04-08 08:11] wangcityboy commented on #4874
PPdeMacBook:~ yunfeiyang$ brew install ideviceinstaller
Warning: ideviceinstaller-1.1.0_1 already installed
PPdeMacBook:~ yunfeiyang$

[2015-04-08 09:05] Fanch- commented on #4856
I am not sure it is related.

Concerning longPress :

[code]

So nothing special here, it's doing the Ui automator drag&drop.

With this code :

[code]

So touchDown, touchMove, touchUp.
Could it be possible to do a sort of touchMove with duration?

Also the release() seems to launch the touchUp Action on a random location, though it seems logic to perform the action on the previous touchMove loca

[2015-04-08 09:18] paymand opened #4875 "./reset.sh --dev broken on mac"
Error:
``
Running "buildApp:UICatalog:iphonesimulator:8.2" (buildApp) task
Using sdk: iphonesimulator...
Cleaning build...
Failed cleaning app, maybe it doesn't exist?
Build settings from command line:
    SDKROOT = iphonesimulator8.2

xcodebuild: error: The directory /Users/opera/src/appium/sample-code/apps/UICatalog does not contain an Xcode project.
``

Looking at UICatalog.zip, it looks like t

[2015-04-08 11:46] djwgit commented on #4868
btw, hope this issue/limitation is documented somewhere in the doc, then easier for users ...

[2015-04-08 12:04] Rakeshvallabhaneni opened #4876 "java -version' failed. Error: spawn ENOENT while running the scripts"
Hi,

 Using appium + java , while running the scripts an java -version' failed. Error: spawn ENOENT  occured .

Please find below appium Log:

1.3.4 and 1.3.7 versions used still facing the issue able to identify java version from cmd prompt , Please provide the solution .

Thanks ,
Rakesh kumar

[2015-04-08 12:09] chandrakanth1984 commented on #4864
I agree with @bootstraponline because sendkeys for android first try to clear the text in the textbox before sending the text to element. If there is hint in the text box sendkeys will take more time when compared to textbox without hint.

@jlipps
Thanks for added this as feature. Can we expect this feature in next version of appium?

Thanks,
Chandrakanth

[2015-04-08 12:18] chandrakanth1984 commented on #4585
Hi,

We requested developers to give us new app version by disabling the logging means debug option but this did not worked for me still app is hanging and showing the same error as mentioned previously.

For work around we created different data with small accounts and screens are loading good. I do not have any resolution for this because when I try to load app in simulator through xcode all the

[2015-04-08 13:21] eladleb commented on #4585
@Jonahss I'm sorry but I really can't tell - I don't have any real ui automation experience with instruments..

[2015-04-08 13:28] maxnava commented on #4585
@chandrakanth1984 - as a quick check can you verify if you have any active line in the application code with "NSLogger"/"NSLog" or any other logger present...

[2015-04-08 13:37] Simon-Kaz commented on #4874
Current appium  (1.3.7) still uses fruitstrap. Try installing the app from command line using ideviceinstaller, and provide bundleID and UDID in the appium app (instead of .app) so that the app is loaded instead of installed.

[2015-04-08 14:08] eliasnogueira commented on #4228
Bug persist in XCode Version 6.2 (6C131e)

[2015-04-08 14:35] jlipps commented on #4865
It's not assigned to 1.4 yet but I've run into this too, so we might want to consider it. @Jonahss was this one of the problems you were running into as well yesterday?

[2015-04-08 14:37] jlipps commented on #4832
does the https url have a self-signed cert?

[2015-04-08 14:40] jlipps commented on #4873
instead of using 127.0.0.1 as the remote url, use the actual address of the remote machine. 127.0.0.1 is localhost.

[2015-04-08 14:40] #4873 closed

[2015-04-08 14:40] jlipps commented on #4873
(also, when you start the appium server on the remote machine, use `-a 0.0.0.0` to get it to listen on all interfaces)

[2015-04-08 14:44] jlipps commented on #4875
@paymand does it do the same thing with a `./reset.sh --dev --hardcore`? @Jonahss was running into issues with this yesterday as well

[2015-04-08 15:04] paymand commented on #4875
mmm, ``--hardcore`` did the trick. Now it's even working without it. Let's call this a fix.

[2015-04-08 15:37] ayosuva commented on #4873
how to use -a 0.0.0.0 ? where i need to run -a 0.0.0.0? and

[2015-04-08 15:39] jlipps commented on #4864
@chandrakanth1984 not necessarily, no. we'll move it into a feature milestone once we've decided it will be in the next release.

[2015-04-08 15:42] #4868 closed

[2015-04-08 15:43] jlipps commented on #4868
@djwgit it was in the docs [here](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md#bugs-and-workarounds) but I just updated it to reflect the current version situation

[2015-04-08 15:47] jlipps commented on #4228
This is the actual cause of the issue. Your app crashed on startup, so Appium got into a confused state.

[2015-04-08 15:48] jlipps commented on #4873
when you launch the appium server

[2015-04-08 15:53] ayosuva commented on #4873
from command prompt? buit i am using appium windows tool

[2015-04-08 15:54] jlipps commented on #4873
I don't know how to do it from the windows GUI. You could ask the windows GUI project

[2015-04-08 15:56] ayosuva commented on #4873
ok can you suggest some link/video about appium remote execution?

[2015-04-08 16:07] jlipps commented on #4873
You could follow [the docs](http://appium.io/slate/en/master/?javascript#running-appium-on-windows)

[2015-04-08 16:43] eliasnogueira commented on #4228
It's exactly behavior in my script. If you close the app of course the commands will return an error.
In my case the script is a push/notification test, and it appears just with app closed. When I closed the app and the next command depends on driver instance I get this error.

Just to log: my solution for that was close the app and open it again via driver.launchApp(), and between that a command

[2015-04-08 17:43] Jonahss commented on #4865
Not this one exactly. My errors are way worse right now. I'm building a version of 1.3.7 to test and compare to my refactor branch.

[2015-04-08 20:34] Jonahss commented on #4875
I can't get `/reset.sh --dev` to complete without `--hardcore`. Is that deserving of a second issue?

[2015-04-08 21:06] respectTheCode opened #4878 "getLocation sometimes returning strange results"
I have a UIView that is located at 10, 10 but I often get failing test results like this

[code]

[2015-04-08 22:37] Jonahss commented on #4298
@Koteshwar I think your App Manifest might not be set up for automation?

[2015-04-09 00:09] SBoudrias commented on #4727
Closing as the fix been merged.

[2015-04-09 00:09] #4727 closed

[2015-04-09 05:47] naveenjammula opened #4879 "Got WebDriverException: Message: {"sessionId":null,"status":6,"value":""} while restarting the server"
Hi,

I was running a tests on iphone 5c and my Appium  version is 1.3.6, While running a test i got WebDriverException: Message: {"sessionId":null,"status":6,"value":""} .

Below is the logs:

Traceback (most recent call last):
    self.driver.restart_server()
  File "/Users/avatartest/Documents/Pycharm/IOS_08_04/iOS_latest_06_04_2015/core/testdriver.py", line 72, in restart_server
    desired_cap

[2015-04-09 08:58] paymand commented on #4875
Not really, I'll reopen this issue.

[2015-04-09 13:19] polaris007 commented on #4844
I also encountered this issue. And it happens frequently in my environment.
Test device: Coolpad 8730L, Android 4.3
Appium java-client: 2.2.0
Appium server: 1.3.7.2

I invoked sendKeys("admin@abc1.com") but often got "admin@abc.1com" on mobile. Here are logs of Appium server:
--------------------------------------------------------------------------------------------------

[2015-04-09 14:52] jlipps commented on #4878
If you run the corresponding location commands directly in UIAutomation, does it show 10,  10, or the other values?

[2015-04-09 15:05] naveenjammula commented on #3927
I am using the appium version 1.3.7 and appium python client 0.14

[2015-04-09 15:14] naveenjammula commented on #4879
the issue is observed in appium ver 1.3.7 and appium python client 0.14

[2015-04-09 15:18] jlipps commented on #4879
what's the appium log?

[2015-04-09 15:56] Fanch- commented on #4734
Linked to #4851

[2015-04-09 17:28] TrimNut opened #4880 ""Error: Permission to start activity denied" is displayed for few devices"
I have been using a Nexus 5 device and appium is working perfectly fine with it. However, I changed the device to One Plus, the "Error: Permission to start activity denied" error is thrown. This shows that there is no fault with the app permissions.

Are there any device level settings that need to be done for appium to run? Am I missing something here?

[2015-04-09 19:35] Jonahss opened #4881 "Create real-device ios test suite and get it to pass"
Real-device support in our test script isn't really working. Apps need to get resigned for installation and a lot of tests need to be skipped (like settings app).

Once a suite is assembled, we have to get them to pass. Things certainly aren't all passing.

While we're at this, let's create a list of "what can't be done on ios Real Devices"

Any input from @sebv would be appreciated, since I know

[2015-04-09 20:07] amedvedjev commented on #4880
in settings disable "Protect against harmful apps"

[2015-04-09 20:08] amedvedjev commented on #4878
+1. i just round it to (int) if needed tap on it.

[2015-04-09 20:23] nolanlawson commented on #3112
Any update on this? Still wondering if I can use Appium to test a WebView.

[2015-04-09 20:30] Jonahss commented on #3112
Are you switching Contexts to the webview context? Like described in the answer on this post:
https://discuss.appium.io/t/what-does-the-autowebview-desired-capability-really-do/69

[2015-04-09 20:46] nolanlawson commented on #3112
@Jonahss OK, I just re-tested, and this is working as of Appium 1.3.7. I can actually type text into a WebView's `textarea` field!

Here is [a live test](https://github.com/nolanlawson/appium-android-demo/blob/2754bfb6212bc9cd5b514aeffe85999afa7111b8/appium/test/test-webview.js#L5-L34) to demonstrate that everything is hunky-dory. To run it, just do:

[code]

Thanks!

[2015-04-09 21:27] wilcollins commented on #4429
I am experiencing this in 1.3.7 -- when is this fix set for release now?

[2015-04-09 22:04] pmneve opened #4882 "Unable to see appium stderr in console/command window with 1.3.7"
With 1.2.0 I could see the stderr debug messages in the command window or Rubymine console depending on where script was launched.  How can I get all appium server output echoed to the console with 1.3.7?

[2015-04-09 22:11] smolenskij commented on #4508
Thanks Mason, that solved my own issues perfectly.

[2015-04-09 22:37] pmneve opened #4883 "Appium 1.3.7 not launching android emulator when appium started with separate method in Ruby"
This works:

    def run
    end_processes('adb.exe', 'node.exe', 'emulator-arm.exe', 'emulator-x86.exe')

    # start_appium
    debug_to_log("#{Dir.pwd.chomp}")
    log_file = File.join(Dir.pwd.chomp, 'log', "#{@myName}_appium_#{@start_timestamp.strftime("%Y%m%d%H%M%S")}.log")
    command  = "appium --log-timestamp --log #{log_file}"
    debug_to_log(command)
    appium = IO.popen(command)
    d

[2015-04-10 03:06] Jonahss opened #4884 "webview-auto-spec fails on ios7.1 with xcode 6.1"
it never finds the webview.

BUT

If you visit a website while the test is running, it grabs the first page loaded and then passes the test.

[2015-04-10 03:40] #4508 closed

[2015-04-10 08:08] ASYB commented on #4691
Even I am getting the error after some test cases running (Almost after 95% of test cases running).

[2015-04-10 09:11] iParasJain commented on #4591
yes, i already tried with Appium 1.3.7.

[2015-04-10 09:14] amaanmemon commented on #4591
@iParasJain Its Working!! with appium 1.3.7

[2015-04-10 09:15] iParasJain commented on #4591
ok, i will try once again.

[2015-04-10 10:23] vikramvi commented on #4565
Issue still exists with latest appium version 1.3.7.

Kindly prioritize

[2015-04-10 10:59] TrimNut commented on #4880
My One Plus' android version is 5.0.2. There doesn't seem to be any such option. Do you mean enabling "Allow installation of apps from unknown sources?"

[2015-04-10 12:16] amedvedjev opened #4885 "MoveTo behaviour differs for iOS and Android"
appium 1.3.6, java-client: 2.1.0
touchAction.press(100,100).moveTo(10,10).release()

with iOSDriver means release at: 110,110
with AndroidDriver means release at: 10,10

Why?

server logs with android:
info: --> POST /wd/hub/session/16983312-f309-49bb-9d6a-37a5d8a07b32/touch/perform {"actions":[{"action":"press","options":{"y":100,"x":100}},{"action":"moveTo","options":{"y":10,"x":10}},{"action":"

[2015-04-10 13:02] cosminduracsv commented on #4850
Any ideas on this?

[2015-04-10 13:07] amedvedjev opened #4886 "Android: MultiTouch action does not take affect on device"
appium 1.3.6, java-client 2.1.0, real phone Android 4.4.2

ZoomOut action with GoogleMap view:
ta1.press(center.getX(), center.getY() - 250).moveTo(0, 100).release();
ta2.press(center.getX(), center.getY() + 250).moveTo(0, -100).waitAction(2000).release();
ma.add(ta1).add(ta2).perform();

I see with enabled Development Menu option on phone that tap happening correctly and no any errors in server l

[2015-04-10 13:41] TcT2k opened #4887 "ideviceinstaller dylib loading errors"
In 1.3.7 the bundled ideviceinstaller (and supporting libraries) have various fixed dylib paths to a /home/benoit folder. (They work when changed with installer_name_tool)

[2015-04-10 14:09] ivasylchenko opened #4888 "First command test action is not performed on real iOS device"
**Environment:**
Mac 10.10.2
Xcode 6.2
Appium 1.3.7
iPhone 6 iOS 8.2 (real device)

**Problem:**
After launching test first action (navigate to URL) is not performed.
Safari launched but after receiving navigate command nothing happened for 60 sec and than timeout reached.
On java console I got org.openqa.selenium.remote.SessionNotFoundException
Session Id is same as in Appium log.
Week ago test w

[2015-04-10 14:38] naveenjammula opened #4889 "Not able to perform swipe by co-ordinates (with or without duration) on iphone 6 via inspector or via python scripts"
Xcode version: 6.2
iOS: 8.0.2 and 8.1.2

Description: Not able to perform swipe by co-ordinates (with or without duration) on iphone 6 via inspector or via python scripts.
Able to perform same action via scripts on iphone 5 and android. I have tried changing co-ordinates for iphone 6 also, but still not working.

Appium server logs (for swipe via co-ordinates via inspector)

info: --> POST /wd/hub

[2015-04-10 15:21] SquareTheBase opened #4890 "Pull File finds incorrect sim directory with XCode6.2"
It looks like Appium 1.3.7 will find the incorrect iOS sim directory when using an iPhone only?  I use the python-client to pull a file from the sim dir.  It raises a WebDriver exception when using an iPhone simulator, but not an iPad sim.

Here is the directory it locates on iPhone:

[code]

[2015-04-10 15:47] jlipps commented on #4885
that's a good question. i thought it was an offset in both cases. any ideas @imurchie?

[2015-04-10 16:44] jwallis commented on #4828
This is a catch-all bucket for ios 8.3?  Do we typically have a bucket like this for Xcode versions as well or does this overlap enough to contain those bugs as well?

[2015-04-10 16:45] 0x1mason commented on #4691
Can you open a new issue and include your appium logs?

[2015-04-10 16:56] hectorv commented on #4549
Have you been able to reproduce this? It's still happening with Selendroid 0.13.0 (through Appium 1.3.7). It works fine with Appium 1.3.3.

[2015-04-10 17:04] jlipps commented on #4828
this is essentially the task of making sure that appium's existing testsuite passes on ios 8.3 (i.e., basic support). at that point we'll probably close this and track 8.3 issues independently. if you have an issue, go ahead and create a github issue to track it.

[2015-04-10 17:31] jwallis commented on #4828
Sounds good.  No issue thus far.

[2015-04-10 17:32] jlipps commented on #4887
looks relevant to what you're working on @Jonahss

[2015-04-10 19:23] Jonahss commented on #4887
ooh nice.
I think we're going to switch away from the bundled ideviceinstaller, and/or bundle in a newer version. see #4867

[2015-04-10 19:25] Jonahss commented on #4890
Hm. it should be the same for both iPhone and iPad. What iOS SDK are the sims running on? (8.2, 7.1, etc)

[2015-04-10 19:34] GindiKhangura commented on #4810
@jlipps Is there somebody who can help with this issue? I have not received a response for some time now.

[2015-04-10 20:07] imurchie commented on #4828
If you do have an issue, linking to this one (e.g., "related to #4828") won't hurt and might help.

[2015-04-10 20:41] hungl opened #4891 "Logcat capture failed: spawn ENOENT"
We are running our tests on an Android device and we are getting the error with the log that is below. There are no spaces in our path so that isn't the issue.

Here is the Appium Log:

[36minfo[39m: Welcome to Appium v1.3.7 (REV 72fbfaa116d3d9f6a862600ee99cf02f6d0e2182)
[36minfo[39m: Appium REST http interface listener started on 127.0.0.1:4723
[36minfo[39m: [debug] Non-default server args:

[2015-04-10 20:59] derek1106 commented on #4756
I can use Appium 1.1.0 to run test on the same device, but Appium 1.3.4 cannot.
In fact, when running test with Appium 1.1.0 and 1.3.4, from the log, we can see that both of them get the error "target application is not frontmost".
But reaction behavior is different.
Appium 1.1.0 doesn't do anything and continue to run test.
Appium 1.3.4 kills the instruments and fail the test run.

Why we made th

[2015-04-10 21:02] qazimusab commented on #4891
Hung and I work together on this. We also wanted to ask what user does appium run as?

[2015-04-10 21:04] 0x1mason commented on #4756
Do you see this behavior with 1.3.7?
On Apr 10, 2015 4:59 PM, "derek1106" <notifications@github.com> wrote:

[2015-04-10 21:26] xliuxu06 opened #4893 "Can anyone give clear instructions for run multiple android apps in the same session?"
Hi There,

The document states under Android Support:  Support for automating multiple apps in one session: Yes.
Can anyone please give out clear instructions for how to do it?

I have app A and app B, I would like to run the following flow:
1) Install app A and B
2) Launch app A
3) Login app A
4) Set app A to background
5) Launch app B
6) Do something to app B
7) Set up B to background
8) Open ap

[2015-04-10 21:50] derek1106 commented on #4756
Appium 1.3.7 is bad, it will give this kind of error as below.
Could not get the iOS SDK version because the Xcode version could not be determined

Check it from here, https://discuss.appium.io/t/appium-1-3-7-release/3547/14.

[2015-04-10 21:53] xliuxu06 commented on #4893
I actually got it to work by using no-reset. Thanks!

[2015-04-10 21:53] #4893 closed

[2015-04-10 23:08] derek1106 commented on #4756
Can you guys answer my question directly?

When running test with Appium 1.1.0 and 1.3.4, from the log, we can see that both of them get the error "target application is not frontmost".
But reaction behavior is different.
Appium 1.1.0 doesn't do anything and continue to run test.
Appium 1.3.4 kills the instruments and fail the test run.

Why we made the change in Appium 1.3.4? Oh, it's started fro

[2015-04-10 23:32] shubhansha21 commented on #4441
hi gualber98, were you able to solve this issue?

[2015-04-10 23:56] SBoudrias commented on #4784
Hey, any update on this? This seems like a fairly major issue.

[2015-04-11 02:08] 0x1mason commented on #4756
Can you tell me more? Does it always give you that error?  What does
`xcode-select --print-path` return?

The "target application..." message could be related to a known issue with
Xcode 5. http://stackoverflow.com/a/20702535  The message also occurs when
a popup forces your application into the background.

Please provide logs and provide information that might help me reproduce
the issues you me

[2015-04-11 02:11] 0x1mason commented on #4882
Can you give me an example of information you expect to see but don't see? What logging level are you using?

[2015-04-11 07:19] LimeDang commented on #4638
@0x1mason even I do not use (delete all) NSLog in the test application, the issue still happens.

[2015-04-11 14:03] JamieEdge opened #4895 "'deviceName' required when 'udid' is already set"
When starting the server and setting the `udid` flag, Appium fails to start a session because `deviceName` isn't set.

[2015-04-12 01:20] r56ty commented on #4828
Is this confirmed that iOS 8.3 /xcode 6.3 is supported with Appium. I am not able to launch tests after upgrading - neither on the Simulator nor on the device after upgrading (before the latest upgrades both were working well). On simulator i get- instruments crashed on startup and on device i get FRuitstrap crash. However, i am able to install the app on the simulator from Xcode - its just the Ap

[2015-04-12 04:58] vascon8 opened #4896 "1.3.7 android can't launch inspector"
2015-04-12 12:54:05.273 Appium[3542:101630] *** -[NSRegularExpression enumerateMatchesInString:options:range:usingBlock:]: nil argument
2015-04-12 12:54:05.274 Appium3542:101630] (
	0   CoreFoundation                      0x00007fff9039a66c __exceptionPreprocess + 172
	1   libobjc.A.dylib                     0x00007fff9159d76e objc_exception_throw + 43
	2   CoreFoundation                      0x00

[2015-04-12 09:32] vinodakumarsr commented on #4665
Hi i have a question pls help
how to write code in python for this below scenario
i want to copy 1000 files and i dont know how much time it takes, so i want to say webdriver to wait until my copy process gets completed please help me

[2015-04-12 09:34] vinodakumarsr opened #4897 "How can we say webdriver to wait untill our copy process gets completed"
Hi i have a question pls help
how to write code in python for this below scenario
i want to copy 1000 files and i dont know how much time it takes, so i want to say webdriver to wait until my copy process gets completed.
 please help me

[2015-04-12 12:46] naveenjammula commented on #4618
when this issue is going to fix

[2015-04-12 13:37] 0x1mason commented on #4665
Please direct implementation questions to https://discuss.appium.io.
On Apr 12, 2015 5:32 AM, "vinodakumarsr" <notifications@github.com> wrote:

[2015-04-12 14:00] 0x1mason commented on #4618
I'm not certain. Not in the upcoming release. If this is an important issue
for you, I encourage you to submit a patch. If you need help with it, we're
happy to assist.
On Apr 12, 2015 8:46 AM, "naveenjammula" <notifications@github.com> wrote:

[2015-04-12 14:40] imurchie commented on #4883
This doesn't sound like an Appium problem, but a Ruby one. You might ask on the [Appium Discuss](https://discuss.appium.io/) list if someone has any idea. Or else on Ruby forums.

[2015-04-12 14:40] #4883 closed

[2015-04-12 14:41] imurchie commented on #4565
@xsmaster Can you provide a [gist](https://gist.github.com/) of the server logs?

[2015-04-12 14:52] xsmaster commented on #4565
You bet. I'm traveling today. So I will be able to provide the logs in 2 -3
hours.

J
On Apr 12, 2015 10:42 AM, "Isaac A. Murchie" <notifications@github.com>
wrote:

[2015-04-12 18:24] QuantumDeveloper opened #4898 "Touch actions not working with 1.3.7 on C#"
Hi,
I know that javascript touch actions is deprecated. So, I used Touch class to simulate swipe, but as a result I receive "an unexpected server-side error" exception.
How can I make touch simulation on device with new Appium version using C#?

Used binaries version 1.2.0.5, Appium - 1.3.7

[2015-04-12 19:07] imurchie commented on #4885
It should be an offset in both cases. The code is there, and used for multi gestures, but not for normal ones. Strange.

[2015-04-13 05:31] pawanonline85 commented on #3977
Hi Jonahss,

Any update on this issue (Trying to start logcat capture but it's already started). Is it fixed in Appium 1.3.7?

Thanks,
Pawan

[2015-04-13 05:31] ASYB opened #4900 "Could not find any webviews yet, refreshing/retrying issues coming in safari"
Hi

first test case is running properly but when it comes to next test case the below error is displaying continuously

ght":548},">":[{"UIAWindow":{"@":{"name":null,"label":null,"value":null,"dom":null,"enabled":true,"vali
info: [debug] Waiting for 4000 ms before navigating to view.
info: [debug] Navigating to most recently opened webview
info: [debug] [REMOTE] Getting WebKitRemoteDebugger pageAr

[2015-04-13 07:53] priyankshah217 opened #4901 "Build error while running reset.sh --android --selendroid command with recent code branch"
Hi All,
I was unable to run ./reset.sh with current code base. Please find below exceptions.

XXXXX@YYYY:~/Java_Projects/Appium/appium$ git fetch
XXXXX@YYYY:~/Java_Projects/Appium/appium$ git rebase
Current branch master is up to date.
XXXXX@YYYY:~/Java_Projects/Appium/appium$ ./reset.sh --android --selendroid --verbose
---- Resetting / Initializing Appium ----
RESETTING NPM
* Installing new or up

[2015-04-13 08:47] priyankshah217 commented on #4901
Issue resolved.

[2015-04-13 08:47] #4901 closed

[2015-04-13 09:06] MiquelMittertreiner commented on #4789
@0x1mason Thanks for all your info, I've updated appium and tried some other bunch of stuff, and I've got some progress. But the issue not is that it says the page has been loaded, but my iPad is stuck on apple.com. As you can see below it says https://www.google.com has been loaded.

info: [debug] [REMOTE] Navigating to new URL: https://www.google.com

info: [debug] [REMOTE] Remote debugger data

[2015-04-13 09:09] rahulk06 commented on #4832
Looks like it doesn't have a self-signed cert. Refer to the below screenshot :

![image](https://cloud.githubusercontent.com/assets/9517306/7112776/cdfe5ca6-e1ea-11e4-8dba-d5a7274d8ee0.png)

[2015-04-13 09:11] rahulk06 commented on #4832
Looks like it doesn't have a self-signed cert. Refer to the below screenshot :

![image](https://cloud.githubusercontent.com/assets/9517306/7112811/0c8c2e94-e1eb-11e4-8c4d-8561e6391286.png)

[2015-04-13 09:13] rahulk06 commented on #4832
Looks like it doesn't have a self-signed cert. Refer to the below screenshot :

![image](https://cloud.githubusercontent.com/assets/9517306/7112832/5c5212e0-e1eb-11e4-8f1b-825fec725556.png)

[2015-04-13 10:01] xiajikaluli commented on #4848
@amaanmemon
Is it right that add the javascript code to js File in Appium server？
Whick File I should edit？
How could I run the  method in testcase？

[2015-04-13 10:03] xiajikaluli commented on #4816
@jlipps
Appium Log：

info: [debug] Getting device API level
info: [debug] executing cmd: D:\adk\platform-tools\adb.exe -s 9306badf shell "getprop ro.build.version.sdk"
info: [debug] Device is at API Level 19
info: [debug] executing cmd: D:\adk\platform-tools\adb.exe -s 9306badf shell "am start -S -a android.intent.action.MAIN -c android.intent.category.LAUNCHER -f 0x10200000 -n io.appium.unlock/.U

[2015-04-13 10:17] DmitryKa commented on #4695
Guys, help me please! I want to implement next behavior: tap&hold some element and move to another element, which apeears after holding of first element. How should I get it?
I tried

    Appium::TouchAction.new.press(element: my_elem).perform
    Appium::TouchAction.new.move_to(element: text(...)).perform

but between this actions pressing is disappeared. Also I tried

    Appium::TouchAction.new

[2015-04-13 11:20] developerqa commented on #4849
Appium v1.3.6

Have same issue with using swipe()

	public void swipe() {
		Dimension size = ((IOSDriver)driverClient.getDriver()).manage().window().getSize();
		System.out.println(size);
		//((IOSDriver)driverClient.getDriver()).switchTo().window("webView");
	    int startX = (int)(size.width * 0.10);
	    int endX = (int)(size.width * 0.80);
	    int startY = size.height/2;
		((IOSDriver)driverC

[2015-04-13 12:12] paymand commented on #4816
It's known limitation of Selendroid. See https://github.com/selendroid/selendroid/issues/546#issuecomment-54981684

[2015-04-13 12:35] paymand commented on #4848
You can use [appium-adb](https://github.com/appium/appium-adb).

[code]

[2015-04-13 12:40] MUI-Fazy opened #4902 "Appium Crashes - Not able to run Safari Tests in iOS 8.X Simulator with Appium 1.3.7."
Hi,

Today I have updated the Appium from 1.3.4 to 1.3.7 and noted that Appium Crashes for Safari Browser Test Runs.

Following is the log:

error: Could not find button to click to get into webview. Proceeding on the assumption we have a working one.

error: uncaughtException: Object [object Object] has no method 'navToView' date=Mon Apr 13 2015 07:48:33 GMT-0400 (EDT), pid=47016, uid=502, gid=20

[2015-04-13 12:41] MUI-Fazy commented on #4902
This is happening when the flag '--no-reset' is set, seems ok with that flag removed

[2015-04-13 14:01] xsmaster commented on #4565
@imurchie,

Sorry it took me so long. See gist with all the logs. I pulled out everything I could.

To keep it easy to read through I added headers. "#########" for the staring and ending of the log files.

https://gist.github.com/xsmaster/2e34c69a16b815a2ca95

Let me know what else you need.

J

[2015-04-13 14:29] SquareTheBase commented on #4890
Both are iOS8.2. Here is the code snippet that I'm using on both iPad and iPhone:

[code]

[2015-04-13 14:33] imurchie commented on #4891
Appium does not change the user, so whatever user is used to run the program, Appium runs as.

The easiest thing to do is to set your `ANDROID_HOME` environment variable to `/Users/administrator/Library/Android/sdk`.

[2015-04-13 14:38] qazimusab commented on #4891
it is set to that. in both the slave configuration and the actual machine

[2015-04-13 14:40] imurchie commented on #4897
Not sure I understand. Where is the copying going on? Just don't send commands and WebDriver will wait.

This question is better suited to the [Appium Discuss](https://discuss.appium.io/) forum.

[2015-04-13 14:40] #4897 closed

[2015-04-13 14:46] amedvedjev commented on #4828
we do not have problem with latest xcode 6.3, server 1.3.6, java-client 2.1.0 to start client with iOS 8.3.

[2015-04-13 14:52] imurchie commented on #4695
Don't use `perform` for each. They should be chained.

[code]

[2015-04-13 14:56] imurchie commented on #4565
I don't see anything in there indicating a call to `clear`.

On Mon, Apr 13, 2015 at 10:01 AM, James DeHart <notifications@github.com>
wrote:

[2015-04-13 14:57] imurchie commented on #4891
Well, for whatever reason, Appium cannot find it.

[code]

What happens when you run `echo $ANDROID_HOME`?

[2015-04-13 15:40] xsmaster commented on #4565
https://gist.github.com/xsmaster/d528dffed98a973b07d7

I screwed up and provide the wrong logs in my last post. here is the goods.

[2015-04-13 16:19] DmitryKa commented on #4695
@imurchie I tried this too, but error is raised. As I understood, checking of element existance (second element, ```text(...)```) executes immediately, but it appears on the screen only after pressing first element, so, I get ```Selenium::WebDriver::Error::NoSuchElementError: No element found```

[2015-04-13 18:30] pmneve commented on #4882
Eric,

With 1.2.0 was seeing debug messages logging adb device queries, chromedriver startup, finding of emulator, waiting on boot animation etc.

With 1.3.7 I see none of those.

Running at default logging level of 'debug'

Same whether running in windows command window or in Rubymine.

pat

From: Eric Millin [mailto:notifications@github.com]
Sent: Friday, April 10, 2015 7:12 PM
To: appium/appium

[2015-04-13 18:36] pmneve commented on #4883
this _only_ happens with Appium server in the mix.    I have _never_ seen this in 6+ years with ruby.    It may well be something happening between appium_lib and selenium_webdriver.

I will ask in other fora

pat

From: Isaac A. Murchie [mailto:notifications@github.com]
Sent: Sunday, April 12, 2015 7:41 AM
To: appium/appium
Cc: Neve, Patrick
Subject: Re: [appium] Appium 1.3.7 not launching androi

[2015-04-13 18:42] imurchie commented on #4695
If the element isn't there when you begin, I'm not sure there is a way. You could drag to the location that it will be, I guess.

[2015-04-13 18:52] qazimusab commented on #4891
it prints out /Users/administrator/Library/Android/sdk

[2015-04-13 19:22] imurchie commented on #4891
Can you try running the appium command preceded by `ANDROID_HOME=/Users/administrator/Library/Android/sdk`? This is very strange.

[2015-04-13 20:08] jlipps commented on #4891
yeah, is the variable exported? is appium using the same shell? (if you're using the GUI, it always uses bash even if you use a different terminal shell)

[2015-04-13 20:38] whopiecat opened #4904 "Server command '--suppress-adb-kill-server' displays appium.js: error: Unrecognized arguments:"
Hello:

The Server command '--suppress-adb-kill-server' displays appium.js: error: Unrecognized arguments: --suppress-adb-kill-server.

I have tried:  --suppress-adb-kill-server
I have tried:  --suppress-adb-kill-server true
Both return: appium.js: error: Unrecognized arguments:

The server does not start so no log.

The expected syntax can be found here : https://github.com/appium/appium/blob/d8c

[2015-04-13 20:41] jlipps commented on #4904
what is the full command you're running to start appium? what version of appium are you using?

[2015-04-13 20:55] whopiecat commented on #4904
Hello:
"appium --version" returns 1.3.7 as my versiohn of Appium.
my command line on a MAC is :

/Applications/Appium.app/Contents/Resources/node_modules/appium/bin/appium.js --address <tcpip> --bootstrap-port 4723 --no-reset --local-timezone --nodeconfig <pathToFile>nodeconfigSM-T210R.json -p 4723 -U <device tcpip>

The line above starts the Appium server and registers the device with the existin

[2015-04-13 21:05] imurchie commented on #4904
`suppress-adb-kill-server` is not available in 1.3.7. It is in master and should be in the next release (I assume. @0x1mason the [commit](https://github.com/jpkrause/appium/commit/d8cbf6b31b3af0bc1a617d283b52a46c7a9d6b24) for this functionality seems to be from a long time ago, but it didn't make it into the release).

[2015-04-13 21:06] jlipps commented on #4904
also, `appium` and `/Applications/Appium.app/Contents/Resources/node_modules/appium/bin/appium.js` are potentially different versions of appium.

[2015-04-13 21:14] whopiecat commented on #4904
Thanks for the update.
When is the next release expected?

Without the "--suppress-adb-kill-server", call the ability to run Android test in parallel on a Selenium Grid is not possible.
Each separate start of a test on a node will fire the "kill-server" call and drop all devices IP connections.

Thanks

[2015-04-13 21:15] Jonahss commented on #3977
Doesn't look like it yet sorry. This issue still needs to get scheduled into a milestone.

[2015-04-13 21:33] jlipps commented on #4832
i'm not sure this is an issue with appium yet, but I did uncover a bug that meant errors were getting silently ignored in this case. i just merged some code that should communicate any errors more clearly. if you're running from master you can give it a try

[2015-04-13 21:33] jlipps commented on #4904
I also just added a change that ensures that flag is getting stored internally as a boolean rather than an array (which was a bug)

[2015-04-13 21:36] applepluot commented on #3977
Is there a workaround for this issue?

[2015-04-13 23:22] jlipps opened #4906 "ios mobile web asyncExecuteScript has a bug in state handling"
see #4872

[2015-04-14 00:40] ASYB commented on #4746
Any updates on this??

[2015-04-14 02:19] qazimusab commented on #4891
So basically we are building our UI tests project via jenkins and jenkins is running a shell script to start appium before the build starts. If i disable this and just start appium from the GUI and then run the project it works. But for some reason from the context of that shell script it doesn;t work. The environment variable is exported in the .bash_profile and even in the shell script. Neither

[2015-04-14 07:17] DmitryKa commented on #4695
It's hard, because element has not static position, it can appears in different places.

Is it impossible to check element existance not in the beginning of a chain, but only before appropriate action?

[2015-04-14 08:51] praveenreddynarala opened #4908 "Switching contexts using Java-client 2.2.0"
Hi All,

Kindly help me out. I was struck up with switching contexts. I couldn't able to switch to WEBVIEW in Java. Getting following error while calling the statement driver.context("WEBVIEW").

Here I'm creating object for AppiumDriver as follows...

AppiumDriver driver = new AndroidDriver();

'error: Chromedriver create session did not work. Status was 200 and body was {"sessionId":"ca1f46ecff7

[2015-04-14 08:59] xiajikaluli commented on #4816
@paymand
Thank you

[2015-04-14 09:40] xiajikaluli commented on #4848
@paymand
I develop with java ，which jar I should dependent？

[2015-04-14 10:23] DmitryKa commented on #4695
I tried next way. Press element, waiting for neccessary elements appear and get their coordinates. Then I tried press again and move_to coordinates:

    Appium::TouchAction.new.press(element: ...).wait(3000).move_to(x: 253, y: 824).perform

But I got strange behavior: pressing, then releasing, then pressing in new coordinates. Is it bug in Appium working?

[2015-04-14 10:30] paymand commented on #4848
@xiajikaluli: No idea, not sure if this is exposed to Java client bindings. @Jonahss might know.

[2015-04-14 11:03] ranabanerjee commented on #4588
Even I am facing the same issue with the latest Appium version (1.3.7) with Mac OS X (Ver 10.8.5) and Android Api 17. Any updates would be much appreciated.

[2015-04-14 11:38] ASYB opened #4909 "driver.quit is not working (only for Android)"
Hi

quitDriver is not working in latest Appium v1.3.7 (REV 98d81a614ceb159bc2ac4abe20c094996d664a5a)

for AndroidDriver and the same is working properly for IOSDriver
returning value from Appium when I use AndroidDriver for quit is 404
info: <-- DELETE /wd/hub/session/c90af599df27d4d0d3e8d2efbb841ca1 404 1.902 ms - 40

Please find the full log below

34363bcbbc8a:appium z001hgg$ node lib/server/ma

[2015-04-14 12:10] ASYB commented on #4909
recheck with Appium v1.3.7-beta (REV 01739cc8aa68ab2654d8ca040fe50541b692f69d)
Working fine..

[2015-04-14 13:02] Fanch- commented on #4695
I have a similar problem, #4856 , so does that mean it's not possible to perform a drag&drop when the target element isn't present at the beginning?

[2015-04-14 13:55] jlipps commented on #4810
on iOS, interacting with the springboard is not supported. The backgroundApp functionality has been provided by Apple to background your app for a specific duration, then to bring your app back. They don't support automating other apps or the springboard during an automation session. Sorry!

[2015-04-14 13:55] #4810 closed

[2015-04-14 14:17] yahman72 opened #4910 "Testing Android Accessibility Services"
I'm trying to find a way to test Accessibility Services on Android (4.4) but I don't get it working.

As a proof-of-concept I'm trying to test a simple accessiblity service that logs notifications.

I have been able to narrow down the issue to the UiAutomator. Everything works fine as long as I'm **not** using the UiAutomator, but as soon as the UiAutomator is involved the Accessibility Services a

[2015-04-14 14:26] jlipps commented on #4784
hey @SBoudrias i'm looking into this but can't get my initial conditions set up: i'm having trouble getting safari to block any popups at all, even when i have that pref set. do you have a good example of something that gets blocked, that i can test?

[2015-04-14 14:27] yahman72 commented on #4824
A quick update on this:
Adding toastrecorder part of the bootstrap might be tricky, see #4910

I was running the first tests without appium (i.e. just started actions by adb commands) but as soon as I started using appium for the tests the toast recording stopped. I suspect that this is an issue with the UiAutomator, see #4910 for more details.

[2015-04-14 14:34] jlipps commented on #4895
i think we still require deviceName even in that case.

[2015-04-14 14:35] jlipps commented on #4895
(e.g., for an iphone, deviceName should be something like "iPhone 5s")

[2015-04-14 14:35] jlipps commented on #4896
inspector issues should be raised at the appium-dot-app repo

[2015-04-14 14:35] #4896 closed

[2015-04-14 14:36] jlipps commented on #4898
have you read the appium gestures doc?

[2015-04-14 14:38] jlipps commented on #4746
@sebv didn't you have code that bypassed apple.com and instead loaded our own site?

[2015-04-14 14:42] QuantumDeveloper commented on #4898
@jlipps no, could you give me a link for it?

[2015-04-14 14:43] jlipps commented on #4746
ah, it was relativized to 8.1 only. fixing that

[2015-04-14 14:45] jlipps commented on #4746
ok this should be fixed by 52480e3

[2015-04-14 14:45] #4746 closed

[2015-04-14 14:59] jlipps commented on #4848
you should just use java's ability to execute system processes and build up your adb commands that way. there might even be another java library that interfaces with adb.

[2015-04-14 14:59] #4848 closed

[2015-04-14 15:10] SBoudrias commented on #4784
The easiest way to reproduce is to inject a script in the page. This is because Safari won't block any pop-up that are opened via a click, but will block any popup opening without a user direct interaction.

[code]

You can also always go check into `settings > safari > popup blocker` to see if the configuration have been applied or not. Currently this setting is always on.

[2015-04-14 15:24] jlipps commented on #4909
i see where this regression occurred. working on a fix.

[2015-04-14 15:25] NickAb opened #4911 "Is there a way to assign name for web context in app under test?"
At the moment you can switch to web context using names like `WEBVIEW_1` that are assigned by Appium. Is there a way to specify name for web context based on automation id of element or something?

Manually assigning names for web contexts will allow:
- Make code of tests for hybrid apps with multiple web views more readable and easier to maintain.
- Allow for stable testing of hybrid apps that cr

[2015-04-14 17:21] edgy360 commented on #4895
I thought so too, but I just set it as ‘Jamie’ and it still started the device. When it communicates with Instruments, I don’t think that it looks at the deviceName and instead uses the UDID.

[2015-04-14 21:33] moizjv commented on #4875
@paymand Thanks for pointing out fixed it. Closing issue.

[2015-04-14 21:33] #4875 closed

[2015-04-14 22:00] #2473 closed

[2015-04-14 22:01] #2746 closed

[2015-04-14 22:01] #2849 closed

[2015-04-14 22:01] #2868 closed

[2015-04-14 22:02] pmneve commented on #4882
Here is example from log file.  Expect to see all of these lines in console, but see none of them.

2015-04-14 21:53:30:601 - info: Welcome to Appium v1.3.7 (REV 72fbfaa116d3d9f6a862600ee99cf02f6d0e2182)
2015-04-14 21:53:30:602 - info: Appium REST http interface listener started on 0.0.0.0:4723
2015-04-14 21:53:30:603 - info: [debug] Non-default server args: {"log":"C:/projects/wria2/wf2/src/wf2-a

[2015-04-14 22:04] jlipps commented on #4909
you can check out the pull request with this fix

[2015-04-14 22:38] #2906 closed

[2015-04-14 22:40] Jonahss commented on #3026
We do this now, don't we?

[2015-04-14 22:40] #3026 closed

[2015-04-14 22:40] Jonahss commented on #3071
Closing due to inactivity

[2015-04-14 22:41] Jonahss commented on #3112
Awesome!

[2015-04-14 22:41] #3112 closed

[2015-04-14 22:41] Jonahss commented on #3126
No logs? Closed due to inactivity.
(old version of appium anyways)

[2015-04-14 22:41] #3126 closed

[2015-04-14 22:42] derek1106 commented on #4756
OK, let me say the issue again.

Device: IOS 6 and 7 devices
Xcode: version 5.1.1
Running test with Appium 1.1.0, it's Pass.
Running test with Appium 1.2.1 and 1.3.4, get the error "target application is not frontmost".
Note: There is no any popup dialog.

In fact, when running test with Appium 1.1.0 and 1.3.4, from the log, we can see that both of them get the error "target application is not fro

[2015-04-14 22:43] Jonahss commented on #3165
Closed due to inactivity. Reopen if still an issue.

[2015-04-14 22:43] #3165 closed

[2015-04-14 22:44] #3221 closed

[2015-04-14 22:46] Jonahss commented on #3286
If I'm not mistaken, the takeway from the thread above is that we should add a configuration setting that allows for installing apps, but not uninstalling them post-test.

[2015-04-14 22:48] Jonahss commented on #3384
@0x1mason what's the actionable item in this issue? We want to close Eclipse? Or issue some warning?

[2015-04-14 22:48] #3406 closed

[2015-04-14 22:50] Jonahss commented on #3421
Hm. so I know this is silly but, how about on the latest version now?

[2015-04-14 22:52] Jonahss commented on #3487
Closed due to inactivity.
Is this still an issue?

[2015-04-14 22:52] #3487 closed

[2015-04-14 22:53] Jonahss commented on #3499
Is anyone still getting this error?

[2015-04-14 22:53] Jonahss commented on #3532
Closed due to inactivity.

[2015-04-14 22:53] #3532 closed

[2015-04-14 23:38] bootstraponline commented on #3026
yep

[2015-04-14 23:40] bootstraponline commented on #3314
It's only a [few lines of code](https://github.com/appium/droiddriver_examples/blob/eedcb261ddcabab5111cdc7c0f420428a0918f82/espresso_sample/espresso/BasicSample/app/build.gradle#L40) to get jacoco reports from a gradle project. The technique described in the ant doc should still work.

[2015-04-14 23:49] 0x1mason commented on #3384
You can close this.
On Apr 14, 2015 6:48 PM, "Jonah" <notifications@github.com> wrote:

[2015-04-14 23:51] redshirtrob opened #4915 "`app_installed` endpoint is returning false for an installed app"
I'm using the Python module to interact with the Appium web service.  I'm not 100% sure if this is a Python issue or an Appium issue, but my investigations indicate Appium.  I will try to reproduce with another library.

When I perform a simple `is_app_installed` on a real device request using the Python API, I get `false`.  I've tried explicitly setting `udid` (in device capabilities) to my devic

[2015-04-15 00:14] redshirtrob commented on #4915
Hmmm, ok.  So, more investigation indicates that this is a problem down in `node-idevice`.  It's passing a boolean value as the second parameter in the callback (as can be seen below).  But the callback is expecting an array of file descriptors or something.  There's even a TODO message in the `controller.js` code to this effect.

So, I guess it seems like Appium is out of sync with node-idevice?

[2015-04-15 01:19] xiajikaluli commented on #4848
@jlipps
Thank you for your advice.I resolved this Issue with TelnetClient.

[2015-04-15 01:56] 7ynk3r opened #4916 "isDisplayed returning false"
For some reason appium is returning a wrong visible state for all the cells in my collection view but the correct one for its child views.

This is a piece of xml returned by the inspector using `Copy XML`.

[code]

You'll see exactly that. The parent view is not visible but its child is visible.

This makes no sense to me.

Ideas?

Thanks!

[2015-04-15 01:58] hectorv commented on #4549
Just noticed the following:

-- with unicodeKeyboard : True (cannot send keyevent and test fails)
-- with unicodeKeyboard : False (sends keyevent and test passes)

which looks similar to this past issue:
https://github.com/appium/appium/issues/3631

[2015-04-15 02:24] #3384 closed

[2015-04-15 02:40] 7ynk3r opened #4917 "Appium not working all the views (using ComponentKit)"
I'm using ComponentKit to render my collection view.

Using `po [[UIWindow keyWindow] recursiveDescription]` I can see the following hierarchy

      <UICollectionViewCell: 0x7fb9cad93170; frame = (0 28; 375 123.5); hidden = YES; layer = <CALayer: 0x7fb9ca8226a0>>
         | <UIView: 0x7fb9cad937a0; frame = (0 0; 375 123.5); gestureRecognizers = <NSArray: 0x7fb9cad93b10>; layer = <CALayer: 0x7fb9c

[2015-04-15 08:25] penguinho opened #4919 "Autodetect UDID is so easy now"
run this command with an iOS Device connected
`system_profiler SPUSBDataType`

This will save users the step of entering their UDID. We can keep the flag for machines with multiple connected devices. I wrote the code at one point to use an external binary to do this when people supply `autodetect` as the UDID so that will need to be removed as well

The output will look like this: (The Serial numb

[2015-04-15 08:40] paymand commented on #4875
:+1:

[2015-04-15 10:21] LimeDang opened #4920 "Add argument to save output log to a log file for ios-webkit-debug-proxy-launcher.js"
When using java to redirect output of ProcessBuilder to a file (logFile), and when ios-webkit-debug-proxy get error and ios-webkit-debug-proxy-launcher.js launches a new one, .... the logFile could not get the new logs from ios-webkit-debug-proxy-launcher.js any more, because it launches a new process.
So I suggest to add argument to save output log to a log file for ios-webkit-debug-proxy-launche

[2015-04-15 12:31] amedvedjev commented on #4309
there is a solution for genymotion programmatically set needed GPS location.
genymotion console has following commands:
 - gps setstatus enabled
 - gps setlatitude XX.xxxxx
 - gps setlongitude XX.xxxx

i successfully managed to do same java code.

in test code it is look like:
 - start genymotion emulator with needed device name
 - after app start open genymotion console and execute needed command

[2015-04-15 12:44] Ankit9568 opened #4922 "Swipe functionality is not working correctly"
Hello Members,

I am unable to swipe with latest appium server 1.3.7.2

Code

driver = new AndroidDriver()
HashMap<String, Object> swipeObject = new HashMap<String, Object>();
		swipeObject.put("startX", 600);
		swipeObject.put("startY", 1212);
		swipeObject.put("endX", 600);
		swipeObject.put("endY", 912);
		swipeObject.put("duration", 5);
JavascriptExecutor javaScriptDriver = ((JavascriptExecuto

[2015-04-15 14:11] ajit4848 commented on #4922
Check this out.....Its working fine for me.

             System.out.println("Swiping Now...");
	    JavascriptExecutor js = (JavascriptExecutor)webDrvrM1 ;
	    HashMap<String, Double> swipeObject = new HashMap<String, Double>();
	    swipeObject.put("startX", 382.0);
	    swipeObject.put("startY", 150.0);
	    swipeObject.put("endX", 382.0);
	    swipeObject.put("endY", 950.0);
	    swipeObject.

[2015-04-15 14:28] ynotdraw opened #4923 "AndroidDriver Webview App shows blank page"
I've been using Sauce Labs to run tests against their Android Nexus device.  My test uses the AndroidDriver Webview App to launch a webpage and my automated test runs.  In my automated test, most of the pages are displayed and the test works; however, when it redirects to a URL after clicking a button, the screen just displays blank.  This happens for many tests which redirect to this URL.  I'm no

[2015-04-15 14:45] amitjaincoer191 opened #4924 "Not able to launch chrome browser in real android device Error : > info: [debug] [CHROMEDRIVER STDERR] [0.020][SEVERE]: Could not bind socket to 127.0.0.1:9515 > info: [debug] [CHROMEDRIVER] Port not available. Exiting..."
I am not able to launch chrome browser in real android device
Cap's I am passing are

DesiredCapabilities cap = new DesiredCapabilities();
cap.setCapability(MobileCapabilityType.BROWSER_NAME,MobileBrowserType.CHROME);
 cap.setCapability(MobileCapabilityType.PLATFORM_VERSION,"4.4.4");
cap.setCapability(MobileCapabilityType.PLATFORM_NAME,"Android");
cap.setCapability(MobileCapabilityType.DEVICE_NAME

[2015-04-15 14:45] amitjaincoer191 commented on #4924
Appium logs

[2015-04-15 14:47] amitjaincoer191 commented on #4924
Appium version 1.3.4.1
jave client 2.2
chrome driver version in real device chrine 41.0.2272.96

[2015-04-15 14:50] amitjaincoer191 commented on #4924
Solutions tried
1. updated chrome driver in real device
2. verified cap's passed are correct
3. change port in appium android setting to 9725, also tried with port 4725 it is not working

"Jonahss" please help me in this ...........   :**(

[2015-04-15 14:54] amitjaincoer191 commented on #4924
C:\>C:\Users\amit.ja\Desktop\android\AppiumForWindows-1.3.4.1\Appium\node_modules\appium\build\chromedriver\windows
\chromedriver.exe
Starting ChromeDriver (v2.10.267521) on port 9515
Only local connections are allowed.
[0.010][SEVERE]: Could not bind socket to 127.0.0.1:9515
Port not available. Exiting...

How can I update this chromedriver kindly suggest

[2015-04-15 15:13] nabeel-ibrahim opened #4925 "Android cannot get text from webview"
I have a hybrid app that has a news article which is inside a webview. I do successfully change the driver context to webview and I am able to inspect the elements from my chrome browser through chrome://inspect. I can get elements by className, id, tagName but I cant get elements by Name. when I do a driver.findElementByName(name); it throws a noSuchElementException. If i find the element by any

[2015-04-15 15:24] qazimusab commented on #4891
Never mind. Looks like there was a problem with my script. I fixed it. I removed 'export ANDROID_HOME=mypath' and 'export PATH=mypath' from my script and it worked

[2015-04-15 15:25] qazimusab commented on #4891
but the error message led me to think something else was the problem

[2015-04-15 15:31] imurchie commented on #4915
Your PR looks good to me. If you have the latest ideviceinstaller you will also need to have the latest node-idevice installed or else it will always say the app is not installed.

[2015-04-15 15:50] redshirtrob commented on #4915
Yep, I'm synced between ideviceinstaller and node-idevice.  Thanks for the review.

[2015-04-15 17:11] #4891 closed

[2015-04-15 17:12] jlipps commented on #4925
The response is coming directly from Chromedriver, so I'm not sure if there's anything Appium can do about this. Have you tried printing the page source immediately before the find command? It might highlight whether the page state is as you expect. If the element's text is being dynamically populated by javascript, for example, there could be a race condition in the test code.

[2015-04-15 17:13] moizjv commented on #4743
@invertednz  "`" yes it is available after a long press and hence sendKeys would not work. You should be using setValue instead. One way of doing it is by setting [sendKey](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/caps.md) strategy in caps to setValue. Other way is to use "setImmediateValue".

[2015-04-15 17:14] jlipps commented on #4924
Sounds like you have an issue running chromedriver on your system, independently of Appium. I'd recommend getting in touch with the chromedriver project to troubleshoot why it's not working. Do you have permission to bind to port 9515? Maybe you need to be in administrator mode.

[2015-04-15 17:16] jlipps commented on #4923
The AndroidDriver app is not associated with the Appium project, and (AFAIK) is not supported anymore anyway. I'd recommend getting in touch with Sauce Labs support about this. I do know that Sauce supports web testing via Appium on newer versions of Android, so that could be an option for you.

[2015-04-15 17:16] #4923 closed

[2015-04-15 17:51] lzbob commented on #4825
I have meet the same issue, which version of Appium will have this fix?

[2015-04-15 18:01] Jonahss commented on #4825
It's not assigned to a specific version, but I am currently slated to work on all bugs and issues related to iOS Real Devices, so this should get done sooner than most our issues.
Won't be in version 1.4.0 though, the scope for that release is already set.

[2015-04-15 18:22] nabeel-ibrahim commented on #4925
I am able to view all the elements including the text in the page source. The text is not generated dynamically, there might not be any race conditions.

[2015-04-15 18:34] jlipps commented on #4549
@imurchie can you think of any reason the unicode keyboard would interact with the keyevents? is there a special check we need here?

[2015-04-15 18:46] amarnathrayudu commented on #4198
Hi @0x1mason,
Is iwdp fix available in latest release ?
Hi @sujittarun,
If you have not resolved it, please look at it https://discuss.appium.io/t/safari-on-ios-ios-webkit-debug-crashing-when-safarilauncher-launches-safari/1208/16 . We have already dicussed about it.

Thanks,
Amarnath Rayudu

[2015-04-15 19:07] #4909 closed

[2015-04-15 19:50] jlipps commented on #4910
this just makes me think that the solution needs to be tightly integrated within our uiautomator code, so that it can share access to the uiautomator objects

[2015-04-15 19:51] jlipps commented on #4898
here you go: https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md

[2015-04-15 19:52] jlipps commented on #4784
got it; yeah i was attaching to a click with a timeout, i thought that would bypass the click detection but apparently not

[2015-04-15 19:58] hectorv opened #4926 "issue when upgrading Android Support Libraries"
Our Android devs upgraded the support libraries and now certain things stopped working, like the ability to find/interact with the menu (ExpandedMenuView). This happens while using Selendroid in both Appium v1.3.3 and v1.3.7.

I then noticed that this one-liner in our `build.gradle` fixes automation (it just downgrades the v7 appcompt library):
[code]

Thanks!

[2015-04-15 21:10] KimMatt opened #4927 "uncaughtException: Cannot read property 'sockets' of null date"
Just running the server

error: uncaughtException: Cannot read property 'sockets' of null date=Wed Apr 15 2015 16:56:04 GMT-0400 (EDT), pid=806, uid=677516420, gid=90124439, cwd=/Applications/Appium.app/Contents/Resources/node_modules/appium, execPath=/Applications/Appium.app/Contents/Resources/node/bin/node, version=v0.12.1, argv=[/Applications/Appium.app/Contents/Resources/node/bin/node, /Applic

[2015-04-15 21:12] #4927 closed

[2015-04-15 21:13] KimMatt commented on #4927
Changing the API version fixed it.

[2015-04-15 21:21] jlipps commented on #4784
think i've got it @SBoudrias, you can check out #4928 if you want, and let me know if it fixes things for you

[2015-04-15 21:29] jlipps commented on #4895
that's true, we do ignore it, but we still require it to enforce good cap practices for when it eventually does matter.

[2015-04-15 23:38] #4725 closed

[2015-04-15 23:46] moizjv commented on #4725
@sjrjanardhana thanks for reporting issue. Now you should not be seeing this error. Currently JSON wire protocol supports only LANDSCAPE or PORTRAIT, but we will soon propose to have detailed orientation for iOS.

[2015-04-16 00:30] luonglne commented on #4606
Jonahss or Appium Dev - anything on this one?  Thanks!

[2015-04-16 01:03] 0x1mason commented on #4725
@moiz We're not constrained from offering more than what's contained in the standard. I don't see any reason not to go ahead and add this feature. @jlipps thoughts?

[2015-04-16 01:05] KimMatt opened #4930 "Android Unlock.apk crashing simulator, Api-Level 21"
I launch with prelaunch app as an argument.
If I manually unlock the screen and launch again it works fine.

info: [debug] Screen is locked, trying to unlock
info: [debug] Getting device API level

info: [debug] executing cmd: /Users/mkim/Library/Android/sdk/platform-tools/adb -s emulator-5554 shell "getprop ro.build.version.sdk"

info: [debug] Device is at API Level 21

info: [debug] executing cm

[2015-04-16 01:27] SBoudrias opened #4931 "Appium doesn't close Safari window"
When sending the DELETE command on a window, the command doesn't get carried out and the window stay open.

I had this bug with iPhone 6 on iOS 8.1

Here's the appium relevant log.

[code]

[2015-04-16 01:50] SBoudrias opened #4932 "Appium safari doesn't always return the active window location"
For my use case, I'm opening a new window using:

[code]

My issue at this point is that after the window animation complete, getting the window url (`driver.current_url`) doesn't return the new window, but the old one. - Note that this is actually a flake, sometime (~1/5) it returns the right result.

We have some code to handle the async action and the animation delay, so I'm pretty sure that's

[2015-04-16 02:34] invertednz commented on #4743
Is there another way of using setvalue without changing the sendkeystrategy?  Would be good to only use setvalue where it must be used.

[2015-04-16 02:40] bootstraponline commented on #4743
[SetImmediateValue](https://github.com/appium/appium-dotnet-driver/blob/f9ae7a7c55dbc65ba7a2e2801a595fc7c927bcb5/appium-dotnet-driver/Appium/AppiumWebElement.cs#L79)

[2015-04-16 02:40] #4743 closed

[2015-04-16 02:45] bootstraponline commented on #3314
closing since this is a dupe of #2448

[2015-04-16 02:45] #3314 closed

[2015-04-16 02:49] bootstraponline commented on #2448
Enabling code coverage can be done in a single line of code with the new Android Studio + gradle:

`buildTypes { debug { testCoverageEnabled true } }`

There's [an example in the droiddriver samples repo]((https://github.com/appium/droiddriver_examples/blob/eedcb261ddcabab5111cdc7c0f420428a0918f82/espresso_sample/espresso/BasicSample/app/build.gradle#L40)). The code I added to the appium server fo

[2015-04-16 03:17] bootstraponline commented on #4369
I think droiddriver may make this possible since it has logic to dump invisible elements to xml.

[2015-04-16 03:24] bootstraponline commented on #3683
https://github.com/appium/appium/issues/4858 should solve the underlying issue. I don't think UiObject support would be worth the effort at this point.

[2015-04-16 03:24] #3683 closed

[2015-04-16 04:46] Ankit9568 commented on #4922
Hi ajit4848,

Thanks for reply,

I mention same code in my post but code is working fine on Appium server version 1.2.4 but my concern is  that code is not not working on appium server 1.3.7.2 shows following exception

Tried to execute non-existent mobile command 'swipe'. Most mobile commands have been ported to official client library methods. Please check your Appium library for more informatio

[2015-04-16 06:20] apolatynski opened #4933 "Kill instruments stuck on a wait condition"
I'm running UI tests on iOS 8.1 simulator and using appium java client + cucumber. When I run all tests, it  executes the first scenario and closes the simulator as expected. While restarting simulator for the second test case, appium just prints the following 2 messages repeatedly:

[code]

I'm using OS X 10.10.3 and simulator from Xcode 6.2 (same problem was when using Xcode 6.3). Appium version

[2015-04-16 08:58] edgy360 commented on #4895
I can understand that, but is deviceName ever going to be required when sending a UDID? The UDID is just a more precise identifier surely?

For example, this would be like having to provide the bundle identifier along with an app path in my opinion.

[2015-04-16 12:22] ivasylchenko opened #4934 "Communication to host lost with real iOS 8.3 device and Unable to find app dir (Safari) on Simulator iOS 8.3 after upgrading to Xcode 6.3"
**Environment:**
Mac 10.10.3
Xcode 6.3
Appium 1.3.7 (source)
ios_webkit_debug_proxy (source)
iPhone 6 iOS 8.3 (real device) and iPhone 6 iOS 8.3 Simulator
Application: Safari

**Problem:**
After upgrading Xcode to 6.3 appium loosing connection after installing SafariLauncher and launching Safari.
On java console I got
[code]
Looks like problem caused by ios_webkit_debug_proxy disconnecting. See ht

[2015-04-16 13:11] naveenjammula commented on #4889
can you please provide the update on this ??

[2015-04-16 13:40] amedvedjev commented on #4723
17 March and real device LG G4 ..... interesting more the nmonth before official launch

[2015-04-16 13:50] pbernery opened #4935 "Appium should not be translated in French, or must be fixed"
Hello,

I just noticed that the http://appium.io web site has been translated in French. While the intention is good, the translation is poor (I believe it has been made with an automatic translation tool) and makes people feel that Appium is a poor/bad product. The sentences "Introduisant Appium." and "Manquez-vous l'automatisation..." make no sense in French.

The Web site should either not be t

[2015-04-16 13:54] vikramvi opened #4936 "Android emulator screen shot is blank and inspector not showing anything as well"
Hi,

I am using android emulator  with below details

Target: Android 4.3.1 (API level 18)
Skin: 720x1280
SD Card: 100M

Use HOST GPU is checked.

Appium server latest version 1.3.7

screenshot method captures blank but works fine with real device

same case with Inspector , it is not showing any thing as well

Please look into this issue and fix

Thanks & Regards,
Vikram

[2015-04-16 14:55] lamp12 commented on #4508
i have tried above commands as well.
Still no success. There is no proxy set in my Mac.
Please help in installing the appium.

[2015-04-16 14:58] Fanch- commented on #4856
Just saw it is a duplicate of #2914.

[2015-04-16 15:55] ShiranDadon commented on #4449
Hi, @bootstraponline  this is really urgent for us.
Any idea when will this be handled?

[2015-04-16 15:58] jlipps commented on #4725
@0x1mason what I'm going to do is make a concrete proposal to the jsonwp-spec group, this is the kind of thing we've already talked about in that discussion group and everyone has agreed it should be part of the new mobile jsonwp in some way. I'm therefore hesitant to just do our own thing since we'd likely have to undo it later.

[2015-04-16 15:59] agileseph opened #4937 "Hardcoded Android SDK Level API during './reset.sh --android --verbose'"
Steps:
0) preconditions: you don't have installed Android SDK Level API 19 (you have installed another version)
1) checkout appium from git
2) try './reset.sh --android --verbose'

Expected:
1) Appropriate error message

Actual:
1) please, see console log below

Extra Info:
1) Console Log:
"...
RESETTING ANDROID
Configuring Android bootstrap
Running "configAndroidBootstrap" task
Error: Target id i

[2015-04-16 16:56] jlipps commented on #4935
I agree with you there. I'm not sure who introduced the french translation, but it's likely we didn't realize it was a machine translation.

[2015-04-16 18:22] Jonahss commented on #4449
Can you clarify what we need to do for this ticket again? On iOS inside webviews, you need to do `setText` instead of `appendText`?

[2015-04-16 18:30] agileseph opened #4938 "How to use x-platform concept correctly in case of Mobile Web and Native Android operations automation?"
For example:
1) I need automate some actions on MobileWeb platform using ChromeDriver. Some basic actions on the web page in Chrome browser.
2) Then I need take picture via Android camera (or do some staff using Android OS or native Android app actions) and upload it into web-site.
3) Then continue work on web page with ChromeDriver.

Questions:
1) What is the best practice with Appium to do it?
2

[2015-04-16 18:37] Jonahss commented on #4606
@bootstraponline do you think this would be related to elements switching their 'visibility' attribute?

[2015-04-16 19:16] ShiranDadon commented on #4449
iOS behavior is less a concern for me. I mean, I am fine with having clearText as a separate action. Just change sendKeys on android to not clear the text for me

[2015-04-16 19:27] jlipps commented on #4449
the uiautomator `.setText()` method clears the text whether we want it to or not. maybe there's another way to input text using adb? isn't there already a ticket about this @bootstraponline ?

[2015-04-16 20:01] luonglne commented on #4606
Yes, from the development codes on Xcode,
[disclaimer setHidden:YES];

where disclaimer is a label.

[2015-04-16 20:28] robert-langenfeld opened #4939 "Unable to perform tap() on android device"
Hello,

I'm trying to perform a tap on an android application. The application's login screen is a entirely a webview (context is WEBVIEW_0). Part of our requirements is that we must be able to perform click actions at any set of coordinates we desire. I'm using the following code:

driver.tap(1, x, y, 1);

However when I run that code on the device I get an unsupported command exception thrown an

[2015-04-16 21:02] bootstraponline commented on #4449
adb shell input text

yes, https://github.com/appium/appium/issues/4864#issuecomment-90738035

[2015-04-16 21:04] bootstraponline commented on #4449
what we need to do is implement setImmediateValue on Android using adb shell input text. the bindings already support this method.

[2015-04-16 21:04] bootstraponline commented on #4449
[setValueImmediate](https://github.com/appium/appium/blob/84e84584042d0242704c8a98e92b87a7ac74ceda/lib/server/routing.js#L140) is what it's called on the node.js server

[2015-04-16 21:08] bootstraponline commented on #4824
This will probably be worked around by using droiddriver in instrumentation mode. I don't think we'll get uiautomator to stop clobbering the accessibility services.

[2015-04-16 21:11] bootstraponline commented on #4449
Also as of [API 21](https://developer.android.com/reference/android/app/UiAutomation.html#executeShellCommand(java.lang.String)) uiautomation (the API behind droiddriver/uiautomator) is able to execute adb shell commands for us on the device itself. I think it'd be worth using this execution method when possible for better reliability (adb is flaky).

[2015-04-16 21:14] bootstraponline commented on #4606
By default appium on iOS will return all elements regardless of visibility. Sometimes there are ghost elements (the same element duplicated multiple times in the xml however only one is visible). If that's the case then client side filtering on visiblity will help. If it doesn't appear at all in the xml dump then it's unrelated to visibility entirely.

My assessment is this is probably yet another

[2015-04-16 21:49] #4784 closed

[2015-04-16 21:50] luonglne commented on #4606
Why would we able to see these dynamic elements in the Appium Inspector?  For example, that label was hidden until I click the tablecell to expand the tablecell, then that label is visible.  When I click "Refresh" on the Appium Inspector after the label is visible, it is available and shown in the Inspector.

Based on this, would you help look into the logic of "Refresh" functionality of the Appiu

[2015-04-16 22:00] jlipps commented on #4449
Absolutely

[2015-04-16 22:01] jlipps commented on #4449
closing this as a duplicate, then will create a new issue for the adb topic

[2015-04-16 22:01] #4449 closed

[2015-04-16 22:01] jlipps commented on #4864
(merged #4449 into this)

[2015-04-16 22:02] jlipps opened #4943 "newer UiAutomation versions allow execution of adb shell methods"
Which suggests that on these platforms we should allow uiautomator itself to do it. It should be faster and less flakey then running `adb shell` via `exec` from appium.

[2015-04-16 22:02] jlipps commented on #4943
(originally discussed in #4449)

[2015-04-16 22:08] jlipps commented on #4828
@imurchie has reported all the tests pass on ios 8.3 with recent updates. closing this basic tracking issue for now.

[2015-04-16 22:08] #4828 closed

[2015-04-16 22:09] #4331 closed

[2015-04-16 22:10] bootstraponline commented on #4943
Updated the title. UiAutomation != uiautomator

This is relevant because if we use a different backend (ex: droiddriver), we can still benefit from this feature. That wouldn't be the case if it was in uiautomator.

[2015-04-16 22:13] jlipps commented on #4723
One comment on this: it looks like the reboot only happens in prepareEmulator when the 'language' or 'locale' caps are set. Otherwise, no reboot happens. @willosser are you perhaps using these caps?

If so, I don't see any way to avoid rebooting the device with the new settings (even if the reboot has other unintended consequences on a real device). At least not short of erroring on startup if we

[2015-04-16 22:13] bootstraponline commented on #4864
I think this should be exposed by implementing [setValueImmediate](https://github.com/appium/appium/blob/84e84584042d0242704c8a98e92b87a7ac74ceda/lib/server/routing.js#L140) for android (as mentioned in #4449).

[2015-04-16 22:17] bootstraponline commented on #4943
I think this is a dupe of #2977?

[2015-04-16 22:18] jlipps commented on #4943
i think this issue is specifically about adding code to appium which, based on api level, sends adb commands to the android automation backend vs calling out to shell from the appium js code

[2015-04-16 22:18] jlipps commented on #4864
:+1: for setValueImmediate

[2015-04-16 22:21] jlipps commented on #4936
This is a known issue with that API level. Unfortunately UiAutomator broke screenshots :-(

[2015-04-16 22:21] #4936 closed

[2015-04-16 22:24] jlipps commented on #4895
Maybe there would be two Android device providers that use different algorithms for generating device ids, and they could both be connected to the same machine. Then only the type of device would differentiate them. Or maybe two brands of emulators that both use the "emulator-*" namespace

[2015-04-16 22:24] bootstraponline commented on #4606
I'd recommend testing this out via an interactive console (ex: [arc](https://github.com/appium/ruby_console)). You can request a new xml dump via the source command.

For dynamic elements, you should be able to take an action and then wait for the element to appear. With an explicit wait, it'll keep polling the server until the element is found or the command times out. I haven't encountered a sit

[2015-04-16 22:25] jlipps commented on #4933
Please provide the full logs (no need for many repetitions of the text you pointed out though)

[2015-04-16 22:27] bootstraponline commented on #4943
:+1:

[2015-04-16 22:30] bootstraponline commented on #4936
the [upstream issue is fixed](https://code.google.com/p/android/issues/detail?id=60359) as of API 22.

[2015-04-16 23:24] willosser commented on #4723
Well, we've set the language cap, but I don't see that we really need it just yet.  I can disable that for now and see if that fixes it.  The behavior sounds odd, though.

[2015-04-16 23:48] SBoudrias commented on #4931
Did a bit of research, and it seems to be a iOS 8.1 issue and got fixed in newer release https://devforums.apple.com/message/1044445

[2015-04-16 23:48] #4931 closed

[2015-04-17 00:25] SBoudrias opened #4944 "GET window_handle always returning an empty array"
Testing on iOS 8.2 and 8.3, the appium driver (latest master) is unable to return those window handles. You can see in the log down here that the driver doesn't return any window handles even if there's multiple windows.

[code]

[2015-04-17 01:44] dqthebt commented on #4609
You can type command: aapt list -a <path of .apk file> > <path of out put file(.txt file)>
Then, you open output file by notepad and search "android manifest" and read informations of apk file.
ex:  appt list -a "D:\ApkFiles\racing.apk" > "D:\output.txt"
Then you open file output.txt and search "android manifest" and read.

[2015-04-17 03:38] apolatynski commented on #4933
http://pastebin.com/iZXfENYN

[2015-04-17 07:16] yahman72 commented on #4720
I can't reproduce this anymore = I'll close this

[2015-04-17 07:16] #4720 closed

[2015-04-17 08:35] ShiranDadon commented on #4864
Can't wait! Beers on me if you ever get to TLV!:)

[2015-04-17 11:25] qazimusab commented on #4614
Any update on this thread?

[2015-04-17 13:59] qazimusab commented on #4178
Anyone know if 6.3 released a fix for this?

[2015-04-17 14:49] Bohdan1304 opened #4946 "Inspector doesn`t work for iOS simulator."
Hi,

Im using appium 1.3.6 (cause 1.3.7 cant operate with xCode 6.1 yet).  And Im trying to launch inspector, but I got  error:
*error: Failed to start an Appium session, err was: Error: ENOENT, no such file or directory '/Applications/Appium.app/Contents/Resources/node_modules/appium/com.myapp.app/Info.plist'*
I've found same issue in discussions for 1.3.1, It had been solved (as I remember) but

[2015-04-17 14:53] Bohdan1304 commented on #4946
additional info: [debug] Dynamic bootstrap code: // This file is automatically generated. Do not manually modify!
*info: [debug] Dynamic bootstrap path: /Users/user/Library/Application Support/appium/bootstrap/bootstrap-516354d056bc7b25.js
info: [debug] Reusing dynamic bootstrap: /Users/userLibrary/Application Support/appium/bootstrap/bootstrap-516354d056bc7b25.js
info: [debug] Getting device stri

[2015-04-17 15:45] mttrs opened #4947 "Note that appium runs with bash, not with zsh"
The appium doesn't work if the PATHs such as ANDROID_HOME are set in **zsh**. It'd be great if you add the notation to use **bash** in the doc.
  http://appium.io/slate/en/master/?java#android-setup

[2015-04-17 16:53] MUI-Pop opened #4949 "Appium Hangs Up and throws 'UnreachableBrowserException' after a long Safari Test Run"
Whenever I schedule a long Mobile Safari Test run the Test runs fine for the first 5-6 hours, later it throws 'UnreachableBrowserException' exception. But once Appium server is restarted , Test again goes well.

Looking at appium log:
1. Appium hangs up while 'Setting XCODE Folder'.

[2015-04-17 17:21] ptorgalmath-gpsw opened #4950 "Instruments died while responding to command on v1.3.7 with iOS(8.3) real device"
Testing an iOS app with 8.3 on the device, when trying to download a video file Instruments died.

Run Time logs:
 Instruments died while responding to command, please check appium logs (Selenium::WebDriver::Error::UnknownError)

Appium Logs v1.3.7:
info: [debug] Waiting up to 400ms for condition
info: [debug] Pushing command to appium work queue: "au.getElementByName('On My Pro')"
info: [debug] S

[2015-04-17 17:46] luonglne commented on #4606
Is there a way to request an xml dump from Appium java-client?

I tried an explicit wait but it times out and and the element was still not available.

One of the sequence that I had tried and it worked on one of the pages.  Here is the sequence:
1. Swipe a tablecell to display the dynamic button on page 1.
2. Click on the dynamic button using (x,y) coordinates to navigate to page 2.
3. Click back

[2015-04-17 18:22] #4915 closed

[2015-04-17 18:32] #4800 closed

[2015-04-17 18:36] jlipps commented on #4485
@sjrjanardhana can you confirm the workaround mentioned in #4940 resolves this?

[2015-04-17 18:37] moizjv commented on #4723
@willosser did it solve the issue?

[2015-04-17 18:39] 0x1mason commented on #4539
@sm6995 I'm having difficulty reproducing this v1.3.7.  Are you using the Appium.app GUI or the command line interface?  I'd also like to discover if the following change makes any difference for you:

In `<appium root>/node_modules/appium-uiauto/uiauto/vendors/mechanic.js`, change lines 420-423 to
[code]
Thanks

[2015-04-17 18:43] jlipps commented on #4723
@willosser the reason for this behavior is that a reboot is the way we have discovered to make language changes take effect reliably

[2015-04-17 18:51] jlipps commented on #4949
Can you please provide more of the logging around the part where it errors?

[2015-04-17 18:52] jlipps commented on #4949
is this one 5-6 hour session, or many sessions that all together take 5-6 hours?

[2015-04-17 19:32] sm6995 commented on #4539
We have not upgraded to 1.3.7 yet.  We are still on 1.3.4.

[2015-04-17 19:57] srk9ravi commented on #4606
i understood the steps that you have provided. thank you for that.

i will do it like this and update you about the result.

[2015-04-17 21:26] seshav opened #4951 "Appium Chrome Browser Android Tablet Virtual Box"
I am using Virtual Box with Android version 4.4 installed. I can adb connect to that virtual Android tablet successfully. I am trying to automate web based application testing on Android tablet. When I try to open Chrome it opens briefly and crashes. I tried to instal chrome but still same effect. I ca t use Firefox either.
Is there any work around or this issues was addressed in a different manne

[2015-04-17 21:31] imurchie commented on #4951
Can you provide the Appium server logs? Preferably in a gist?

Also, try removing `app` `appPackage`, and `appActivity` capabilities, and using `Browser` for `browserName`.

[2015-04-17 21:45] seshav commented on #4951
Thank you imurchie for quick response. I tried your suggestion. I still get exception. Exception details are at Gist:   seshav / gist:b3c2e75403a2ec644dbb. The code I tried is below:

desired_caps = {}
def setup():
    # Setup for test
    desired_caps['platformName'] = 'Android'
    desired_caps['platformVersion'] = '4.4'
    desired_caps['deviceName'] = '10.5.1.184:5555'
    desired_caps['browse

[2015-04-17 21:52] pmneve opened #4952 "Appium 1.3.7 disappearing unexpectedly without any error indication"
Crash is consistent (always crashes) but the exact place in the test script.
In ruby using appium_lib and watir-webdriver and selenium ruby bindings.
Testing against android emulator (both ARM and x86 with HAXM) on Windows 7

The emulator launches, Webdriver launches the browser.
The script calls for navigation to three consecutive pages.
Crash can occur before or after any of them.

There is noth

[2015-04-17 22:24] hyeung-trulia commented on #4835
@Jonahss and @jlipps  is this being worked on already? if not, i can submit a pull request on this.

[2015-04-17 22:49] jlipps commented on #4835
No one is currently working on this, I'd be happy to take a look at a PR!

[2015-04-17 23:44] seshav commented on #4951
I referred the code at for browser testing. https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/mobile-web.md

[2015-04-17 23:57] bootstraponline commented on #4952
Does the issue reproduce with a physical Android device?

[2015-04-17 23:59] bootstraponline commented on #4952
Also, what happens if you manually launch the emulator first instead of relying on appium to start it?

[2015-04-18 00:40] pmneve commented on #4952
Have not yet tried physical device.  Have one but trying it will have to wait until monday.

Starting emulator first and waiting for it to be ready doesn't help... same error.
Again, the failure is consistent but not always at the same request.

Any way to get more logging information out of appium or node that might help?

[2015-04-18 00:57] bootstraponline commented on #4952
Could you try node v0.12.2 to see if that helps?

You should be able to get more logging from the Ruby bindings with:

[code]

For node.js, it looks like you're already getting all the logs.

[2015-04-18 00:58] moizjv commented on #4698
@willosser  so i looked into this the reason for this is we add UIWatchers to watch for if application crashes or not responsive to fail tests. When i commented this code i got CPU usage down from 54% to 12%. Here is the [watcher](https://github.com/appium/appium-android-bootstrap/blob/master/src/com/android/uiautomator/common/UiWatchers.java) code . We can think of adding capability of disabling

[2015-04-18 04:12] nabeel-ibrahim commented on #4925
I was able to get the text by executing javascript using the innerHTML method.

[2015-04-18 04:13] nabeel-ibrahim commented on #4925
I'll close this issue

[2015-04-18 04:13] #4925 closed

[2015-04-18 06:41] MUI-Fazy commented on #4949
Its many sessions that take 5-6 hours, there are 500+ Tests, each test calls webdriver 'quit()' and its a new session for each test.

Following is the log, I have pasted only the portion from where Appium fails to respond to the client

2015-03-26 20:18:58:119 - [36minfo[39m: [debug] Responding to client with success: {"status":0,"value":null,"sessionId":"70695d24-2209-471e-9213-181f534f66e1"}
2

[2015-04-18 06:52] MUI-Fazy commented on #4902
I have pulled master, it is fine now. Seems @jlipps fixed in the commit 6264aae00b548532b4d1eae6d3d2e1080d1535bf

[2015-04-18 06:52] #4902 closed

[2015-04-18 16:12] willosser commented on #4723
Yes, @moizjv, that solved our problem.  I don't know how it's going to play out when we start testing in other languages, though.

[2015-04-18 23:12] eggman87 commented on #4614
This was user error. We were unzipping the .app package on our CI machine using command line and it was using a flat file structure. This caused obvious issues where the .app was not structured properly. This issue can be closed. Fixing the unzipping of the .app fixes the issue.

[2015-04-19 05:28] Sanjo opened #4955 "Allow to restart app without resetting the app data"
This is a feature request / suggestion to add a `restart app` command.

**Use case:**
I want to test that a user, who already has logged in before, sees a specific page when he reopens the app later.

I'm aware of the `noReset` capability. But I want to have this set to `false` because each test scenario should start with a clean state. I do this with the `reset` command.

I already have read the

[2015-04-19 05:37] Sanjo opened #4956 "reset command does not reset app data in iOS when noReset is set to true"
The reset command does not reset app data in iOS when noReset is set to true.
In Android the app data is reset. So it is an inconsistent behavior. I've tested this with the iOS Emulator (iPhone 6, 8.2) and Android 4.4.4 on a real device.

**Use case why this is relevant:**

I want to set noReset to `true`
so that I can restart the app with `closeApp -> launchApp` without losing the app data
and us

[2015-04-19 21:00] JaniJegoroff opened #4958 "selendroid-server compilation error when building Appium from source"
**Environment**
[code]

**Steps to reproduce**
[code]

**Console trace**
[code]

[2015-04-20 01:41] moizjv commented on #4958
See [troubleshooting](https://github.com/appium/appium/blob/master/docs/en/appium-setup/troubleshooting.md) `export MAVEN_OPTS="-Xms1024m -Xmx2048m -Xss2048k"` . Closing issue re-open if that does not solve the issue.

[2015-04-20 01:41] #4958 closed

[2015-04-20 01:43] moizjv commented on #4723
@willosser thanks closing issue for now.

[2015-04-20 01:43] #4723 closed

[2015-04-20 06:13] lamp12 opened #4959 "Unable to install using npm command on MAC OS 10.10.2 (14C1514)"
npm ERR! Darwin 14.3.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "appium"
npm ERR! node v0.12.0
npm ERR! npm  v2.7.1
npm ERR! code ETIMEDOUT
npm ERR! errno ETIMEDOUT
npm ERR! syscall connect

npm ERR! network connect ETIMEDOUT
npm ERR! network This is most likely not a problem with npm itself
npm ERR! network and is related to network connectivity.
npm ERR! network In most cases you

[2015-04-20 06:17] lamp12 commented on #4959
I have already raised a similar ticket 14C1514) (#4751).
I have followed the below steps:
npm install nice-date .. this works as expected.

Tried using the below commands:
git config --global url."https://github.com/".insteadOf git@github.com:
git config --global url."https://".insteadOf git://

still no success.

I have also uninstall and reinstalled the node and no success at all.

[2015-04-20 06:57] sjrjanardhana commented on #3421
It looks like some issue within the instruments itself. i have simulated the same scenarios with instruments tool and response same. Application is getting killed by the system process and instruments is getting exited with error code 0

[2015-04-20 06:58] sjrjanardhana commented on #4485
this issue is duplicate of #3421

[2015-04-20 06:58] #4485 closed

[2015-04-20 07:07] igalep opened #4960 "Clicking on webelement on hybrid app doesn't work"
Hi,

Although the problem is in webdriver , but it's being used with Appium , so ... :)

This is the code, the webelement is being found , and being clicked:
********************
//click on Button
public void clickOn(String buttonName){
    try {
        WebElement element = driver.findElement(By.id("login_button")); //should be switched to name instead of text
        element.click();
    } catch

[2015-04-20 10:01] wensj commented on #4809
I have the same problem:
error: Could not get the iOS SDK version because the Xcode version could not be determined.
error: Could not get the iOS SDK version because the Xcode version could not be determined.

info: [debug] Cleaning up appium session
info: [debug] Error: Could not get the iOS SDK version because the Xcode version could not be determined.
    at /Applications/Appium.app/Contents/Re

[2015-04-20 10:01] malafeev01 commented on #4042
@Jonahss this issue is still reproduced. Appium ver. 1.3.1, Xcode 6.2.
Interesting to note: when this issue is reproduced, all installed simulators disappear. I mean, after error happens, I go to the XCode -> Devices and usually I see here lots of simulators, but after it happened there are no simulators at all. If I want to start Appium again I'll get "Instruments socket client never checked in;

[2015-04-20 10:04] wensj commented on #4809
Is this bug been fixed?When can I get a new version of appium to solve this problem?

[2015-04-20 10:12] wensj opened #4961 "[appium 1.3.7]Could not get the iOS SDK version because the Xcode version could not be determined."
When I use appium 1.3.4 everything is ok,but when I use appium 1.3.7,I get this error:

error: Could not get the iOS SDK version because the Xcode version could not be determined.
error: Could not get the iOS SDK version because the Xcode version could not be determined.

info: [debug] Cleaning up appium session
info: [debug] Error: Could not get the iOS SDK version because the Xcode version could

[2015-04-20 10:13] wensj commented on #4961
Please let me know is this a bug of appium 1.3.7?What should I do ?

[2015-04-20 10:21] Ankit9568 commented on #4922
Hello Members,

Finally ,I have found  an solution to swipe with Appium 1.3.7.2 , when I am using in-build Swipe and pass an argument "duration" above from 0 it click on given coordinates
But i wonder when I passes argument  "duration" 0 it swipe Successfully, Its work as blocker whose user who trying to swiping in slower motion also request to kindly treat as bug

[2015-04-20 11:36] shivakrishnach31 opened #4962 "Unable to launch the App [The app must be signed with a development identity (e.g. iOS Developer).]"
I wrote code to install App from the URL and launch. It is installed but happening launch and close multiple times. App is generated using Jenkins with distribution account and I have my own developer account with all the required profiles.

code:
public class NewTest {
	WebDriver driver =null;
       @Test
        public void f() throws MalformedURLException, InterruptedException {
	        Desir

[2015-04-20 12:48] AnthonyJHolmes commented on #4959
Have you tried using sudo before your commands? have a look in your npm-debug.log file too it will give you more insight

[2015-04-20 13:09] denisha commented on #4588
Hi, im also having the same problem: Appium Version 1.3.7 on Mac OSX (10.9.5)
Please can someone look into this as I am unable to record any tests. T
Thanks

[2015-04-20 13:52] ynotdraw opened #4963 "Appium Android emulators showing blank page"
I've been using Sauce Labs to run tests against their Android devices. I have moved away from the AndroidDriver Webview App and started using Appium.  I use the emulator to launch a webpage and run automated UI tests against the Android device's browser. In my automated test, most of the pages are displayed and the tests pass; however, when it redirects to a URL after clicking a button, the screen

[2015-04-20 15:21] jlipps commented on #4958
@moizjv do you think we should just use these opts when building selendroid from within reset.sh?

[2015-04-20 15:23] JaniJegoroff commented on #4958
Thanks, setting MAVEN_OPTS fixed the issue.

[2015-04-20 15:57] TeamworkAnthony opened #4965 "Broken link on appium page/github"
http://appium.io/slate/en/tutorial/ios.html?ruby#page-object-pattern when i click on the ruby-ios it tells me a 404, i think i need this for the rake file

[2015-04-20 16:25] moizjv commented on #4958
@jlipps `export` will only work with bash shells, with xterm we would need `set`. Yes we can add in documentation to set `MAVEN_OPTS` environment variable before running `reset.sh` .

[2015-04-20 17:55] bgrimes78 commented on #4754
If I attempt to run appium from the Jenkins executable shell as mentioned above, i get the following error

Appium will not work if used or installed with sudo. Please rerun/install as a non-root user. If you had to install Appium using `sudo npm install -g appium`, the solution is to reinstall Node using a method (Homebrew, for example) that doesn't require sudo to install global npm packages.
Bu

[2015-04-20 18:16] moizjv commented on #4698
@willosser what do you think?

[2015-04-20 18:23] laxmiskava opened #4966 "App crashes on iPhone6 with OS 8.1.3 on real device"
I am doing automation on iPhone6 with OS8.1.3 and app launches and crashes. It retries 3times and crashes, and this is blocking automation
I am sure my provisioning certificate are all fine, since when I manually install app on iPhone6 it works.

Can anyone help me in fixing this issue, I tried looking in issues and tried different ways, but nothing helped.

[2015-04-20 18:28] jlipps commented on #4311
@bootstraponline what exactly is the failure case that we shouldn't be seeing? are we not getting an element back that we expect? or is it not scrolling to something that we expect? @moizjv is trying to repro and fix

[2015-04-20 18:38] laxmiskava commented on #4622
Here is snippet:
 $driver.find_element(:xpath, '//UIAApplication[1]/UIAWindow[1]/UIATableView[1]/UIATableCell[6]/UIASecureTextField[1]/UIASecureTextField[1]').send_keys 'qwertyu'
 If I directly send this with xpath it doesnt send_keys, and throws error "target.frontMostApp().elements()[0].elements()[1].elements()[6].elements()[0] - scrollToVisible cannot be used because this element has no scrolla

[2015-04-20 18:51] lamp12 commented on #4959
Same error with sudo command as well.
Below is the snapshot of npm-debud.log

21/04/15 12:06:31.746 am sudo[420]: sachinraina : TTY=ttys000 ; PWD=/Users/sachinraina ; USER=root ; COMMAND=/usr/local/bin/npm install -g appium

21/04/15 12:07:09.052 am locationd[251]: NETWORK: requery, 0, 0, 0, 0, 1, items, fQueryRetries, 0, fLastRetryTimestamp, 451247708.4
21/04/15 12:09:09.342 am locationd[251]: NE

[2015-04-20 18:52] pmneve commented on #4952
Thanks, will be trying with device shortly.   Will try node 0.12.2 after that.

[2015-04-20 19:00] laxmiskava commented on #4961
I am also getting the same issue when I use, appium 1.3.7.

[2015-04-20 20:02] kirillzh commented on #4960
It is not Webdriver or Appium issue.
Click on element by coordinates using [Actions class](https://seleniumhq.github.io/selenium/docs/api/java/org/openqa/selenium/interactions/Actions.html)

[2015-04-20 20:05] kirillzh commented on #4956
On iOS you cannot just reset app data. Reinstall app only. If you want to restart app, you need to set capabilities noReset to true and fullReset to false. Then you can restart app by simply creating new driver. To reset app you can uninstall it using ideviceinstaller and create driver again.

[2015-04-20 20:31] pmneve commented on #4952
Having trouble running appium with android device.  Can you point me to instructions?

[2015-04-20 20:48] willosser commented on #4698
Based on my past experience writing test automation code for Android, I think this watcher code is expensive in terms of execution time.  I've written code that runs an adb command in another thread and monitors the output:
  adb -s <device_id> shell am monitor
Any output indicates some app crashed.  In our testing, we found it might not be the app under test, so we had to parse the output to veri

[2015-04-20 21:09] pmneve commented on #4952
Figured out how to install usb driver... (my ignorance of devices is reduced)

still using node v0.10.26
chromedriver 2.15
node.exe still disappears, but at very first post to chromedriver:

2015-04-20 21:05:00:287 - info: Welcome to Appium v1.3.7 (REV 72fbfaa116d3d9f6a862600ee99cf02f6d0e2182)
2015-04-20 21:05:00:288 - info: Appium REST http interface listener started on 0.0.0.0:4723
2015-04-20 21

[2015-04-20 21:16] pmneve commented on #4952
swapped in chromedriver 2.14:  same thing
swapped in chromedriver 2.9: same thing
trying node 0.12.2...

[2015-04-20 21:26] pmneve commented on #4952
swapped in node.exe v0.12.2
still using chromedriver 2.9

2015-04-20 21:22:46:856 - info: [debug] Spawning chromedriver with: C:\Program Files (x86)\Appium\node_modules\appium\build\chromedriver\windows\chromedriver.exe
2015-04-20 21:22:47:213 - info: [debug] [CHROMEDRIVER] Starting ChromeDriver (v2.9.248315) on port 9515
2015-04-20 21:22:47:214 - info: [debug] Making http request with opts: {"url

[2015-04-20 21:29] Jonahss commented on #4963
Are you able to replicate this on emulators run locally, rather than on Sauce Labs?
Are you using the latest version of appium?
Is the url you are linking to HTTPS?
What version of Android?

Also posting the Appium server logs, or a link to the Sauce Labs job page can help :)

[2015-04-20 21:32] pmneve commented on #4952
with node v0.12.2 and chromedriver 2.15: same thing

caps:
newCommandTimeout: 600
androidDeviceReadyTimeout: 420
avdLaunchTimeout: 240000
avdReadyTimeout: 240000
deviceName: My_device
platformName: Android
app: Browser
appPackage: com.android.browser
udid: 015d490606281a13

[2015-04-20 22:49] SBoudrias commented on #4944
Any news on this?

This looks like a fairly major bug to me.

[2015-04-20 22:57] bootstraponline commented on #4698
I agree with providing a cap to disable the watcher code.

[2015-04-20 22:59] sriramsantosh opened #4968 "Proxy settings doesn't work on Appium"
We have Mobile Execution Platform grid similar to Saucelabs grid where we can remotely get connected to devices via Appium. I have sample piece of code that runs fine on my local box. However if I run it a separated VM, I need a proxy to enable the outbound traffic. I enabled proxy in the desired capabilities and still not able to connect to a remote device.

			String PROXY = "myproxy.com";
			or

[2015-04-20 23:03] bootstraponline commented on #4311
In summary it's the same as https://github.com/appium/appium/issues/4859 except ignore non-matching selectors when using multiple UiSelectors. The intent of the code is to match on textContains or descriptionContains. The current implementation gives up immediately if textContains doesn't match even though we've supplied an additional selector that does match. This use to work however it changed a

[2015-04-20 23:19] jlipps commented on #4809
@wensj you can run from source or wait for appium 1.4

[2015-04-20 23:19] #4809 closed

[2015-04-20 23:20] jlipps commented on #4638
@LimeDang does this reproduce when you are running the appium server on its own from the command line?

[2015-04-20 23:44] pmneve commented on #4952
No joy.
With emulator get connection refused when node closes unexpectedly
With device get Did not get session redirect from Chromedriver.
Tried Appium::Logger.level = Logger::INFO and got no more logging than before.

[2015-04-20 23:58] pmneve commented on #4952
Did try selendroid as device is Nexus 7 with android 4.2.1.   same thing.  In fact still get the message:

2015-04-20 23:53:56:932 - info: Set mode: Proxying straight through to Chromedriver
2015-04-20 23:53:56:932 - info: [debug] Looks like we want chrome on android

even though I've set capability 'automationName' to 'Selendroid'  and passed cl arg '--automation-name Selendroid'.

I'm missing so

[2015-04-21 00:25] SBoudrias commented on #4944
Investigating a bit here, I can see these lines are called (https://github.com/appium/appium/blob/master/lib/devices/ios/remote-debugger.js#L146-L151) and they always return an empty page array (on the simulator we can there's one page opened already).

This goes on for 4 retry, then it returns a success status with empty window. IMO that's the first error, this should be a failure. If we don't re

[2015-04-21 00:34] jlipps commented on #4698
:+1: to adding a flag to disable watchers. not sure whether it should be a cap or server flag

[2015-04-21 00:36] jlipps commented on #4944
Thanks for the investigation @SBoudrias. adding this to our bug tracker.

[2015-04-21 00:38] bootstraponline commented on #4698
The problem with flags is they are difficult to control dynamically. Maybe I want one test to have this feature off for perf measurements, and then the next test I'd like it on to make sure the crash dialogs don't mess with the results.

[2015-04-21 00:40] jlipps commented on #4968
Appium doesn't support proxies; it ignores those capabilities

[2015-04-21 00:40] #4968 closed

[2015-04-21 00:51] mehulc opened #4969 "ios-webkit-debug-proxy gets disconnected randomly"
I'm using appium 1.3.7 with a real device (iPad Retina) and running the selenium tests against it.
I have been using the ios-webkit-debug-proxy-launcher.js with my device to be able to interact with webviews and switch contexts occasionally and every thing works fine for a while (30 minutes or so)
But every now and then, the idwp gets disconnected with the following error message:
ss.remove_fd(6)

[2015-04-21 01:32] jlipps commented on #4958
I think node lets us set env vars when we call exec or spawn, in a cross platform way

[2015-04-21 02:42] wensj commented on #4961
Is this a bug of appium 1.3.7,anybody could confirm this ?

[2015-04-21 04:02] shivakrishnach31 commented on #4962
@sebv / @jlipps , Could you please look into this. I am stuck with this issue.

[2015-04-21 04:53] sebv commented on #4512
Hi,

Sorry for the delay,

Could you print the page source and provide the log, could be a visibility issue, but there is not enough information here? (Ideally it would be good to have reproducible cases so we can debug.)

[2015-04-21 04:55] sebv commented on #4535
Was it solved? You'll also need to run this script:

https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-04-21 04:58] sebv commented on #4538
Did you app died? There is not enough information here to see what is happening. Any way we can reproduce?

[2015-04-21 05:26] sebv commented on #4681
Work fine for me, I used a Nexus S emulator X86 api 19. which device/emulator did you use?

[2015-04-21 05:33] sebv commented on #4694
Moving to feature, people should not need to rely on workaround to do that.

[2015-04-21 05:36] sebv commented on #4699
What device are you using exactly?  It sounds like the app or android is just slower. This kind of issue would be better reported on the discussion forum.

[2015-04-21 05:40] sebv commented on #4706
Could you provide the server log, and print a page source before you run the find?

Really it's better to use accessibility ids, and not rely on indexed Xpath if you want the tests to be portable.

[2015-04-21 05:40] zhong88 commented on #4699
Thank you for your reply and I would create an issue on discussion forum
soon.

we are using samsung s5 as testing machine. I did a simple test bench and
noticed that even using UIAutomator instead of Appium, the running time is
still slow. however, our app does run quite smoothly on Android 4.4, so I'm
guessing there may be some incompatibility between our app and Lollipop.

On Mon, Apr 20, 2015

[2015-04-21 05:44] sebv commented on #4709
Click is asynchronous, you need to wait/spin for the results after. Here it looks like you are killing the session immediately after.

[2015-04-21 05:49] sebv commented on #4718
First step would be to try to install the app directly from xCode, to resolve possible blocking point there.

There is a long thread here: https://discuss.appium.io/t/log-capture-did-not-start-in-a-reasonable-amount-of-time/1204

You may find other threads if you look for "Log capture did not start in a reasonable amount of time".

[2015-04-21 05:53] sebv commented on #4728
nice!

[2015-04-21 05:53] #4728 closed

[2015-04-21 06:04] sebv commented on #4733
@Jonahss could you look into this, I don't really know this part myself.

[2015-04-21 06:07] sebv commented on #4736
You probably need to switch windows handle, not sure you can do it directly within the inspector, but you can try to do it from a driver.

[2015-04-21 06:09] sebv commented on #4744
What programming language are you using? There is not enough information for use to answer, please complete.

[2015-04-21 06:13] shivakrishnach31 commented on #4962
Working fine when App installed through Xcode. But I need solution for the App installed from the Jenkins build URL. Pls help me.

[2015-04-21 06:21] sebv commented on #4761
Did you manage to solve this? Not sure why `brew install --HEAD ideviceinstaller` would not work, maybe some permission issues, some old versions...

[2015-04-21 06:24] sebv commented on #4789
There is a script to restart ios webkit proxy automatically. (Thought it would be good to fix the proxy itself)

https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

If there are more errors needed to be caught they can be added here:
https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-04-21 06:26] sebv commented on #4803
As of now, you need to use 2 appium servers (easiest it to use 2 VMs.)

[2015-04-21 06:29] sebv commented on #4815
Anyway  we can reproduce this using an opensource app? Maybe you need to select the keyboard before sending the key event.

[2015-04-21 06:32] sebv commented on #4842
Looks like the `find_element_by_xpath` returned nothing. Best way to debug it is to print a source of the page before you do the find.

[2015-04-21 06:32] #4816 closed

[2015-04-21 06:33] sebv commented on #4850
Did you wait for effect after the click, this is asynchronous?

[2015-04-21 06:34] #4856 closed

[2015-04-21 06:34] sebv commented on #4856
duplicate.

[2015-04-21 06:38] #4862 closed

[2015-04-21 06:41] sebv commented on #4888
Did you start this?

https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-04-21 06:43] sebv commented on #4895
I kind of agree it should not be needed.

[2015-04-21 06:43] cosminduracsv commented on #4850
Yes, and it seems like it focus the element but the drop down is not opened at all.

[2015-04-21 06:50] sebv commented on #4908
Try to upgrade Chromedriver. Easiest is to try to connect to your app using Chromedriver only (There is a built in webdriver) and make sure it works before you try from within Appium.

[2015-04-21 06:58] sebv commented on #4947
Oups sorry this gave you some trouble, shells setup may involve some trickery at times.

The doc doesn't specifically mention `bash` except in gotchas. Really people should be able to set their shell the way they want, there are already plenty of post online explaining how to set bash/zsh...

[2015-04-21 06:58] #4947 closed

[2015-04-21 07:00] sebv commented on #4962
You can sign the archive from command line.

See here: http://stackoverflow.com/questions/2664885/xcode-build-and-archive-from-command-line

[2015-04-21 07:00] jswathi92 commented on #4744
im using java, eclipse ide

[2015-04-21 07:00] moizjv commented on #4947
Yes @sebv is right mostly setting environment variables depending on the shell should solve most of the issues.

[2015-04-21 07:02] sebv commented on #4962
or here https://github.com/edgy360/appium-release-automation/blob/master/release-app.sh

[2015-04-21 07:03] sebv commented on #4969
There is a script here:
https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-04-21 07:10] #4338 closed

[2015-04-21 07:11] sebv commented on #4382
Closing, no activity, reopen if needed.

[2015-04-21 07:11] #4382 closed

[2015-04-21 07:11] sebv commented on #4424
Closing, no activity, reopen if needed.

[2015-04-21 07:11] sebv commented on #4448
Closing, no activity, reopen if needed.

[2015-04-21 07:11] #4448 closed

[2015-04-21 07:12] #4424 closed

[2015-04-21 07:14] sebv commented on #4498
@sjrjanardhana please open an issue in the discussion forum if needed, we try to keep this for bugs.

[2015-04-21 07:14] #4498 closed

[2015-04-21 07:17] #4529 closed

[2015-04-21 07:18] sebv commented on #4523
Closing, reopen if needed.

[2015-04-21 07:18] #4523 closed

[2015-04-21 07:21] shivakrishnach31 commented on #4962
@sebv , for doing this I should have a downloaded .app or .ipa. Here this is not the case. My build manager will generate a build every week in Jenkins and I have to automatically install the build into my device using Appium script and execute the test cases. So, the procedure you sent me is not a good idea to do every week.

is .ipa with distribution account will work with appium or do I need .a

[2015-04-21 07:31] sebv commented on #4962
Yeah my understanding is that you cannot do it without dev build.

[2015-04-21 07:34] sebv commented on #4962
This is a Instruments issue by the way, If you can automate your build with instrument, you should be able to do it with Appium.

[2015-04-21 07:37] amake opened #4971 "SpringBoard check on launch is problematic"
A recent PR (#4855) introduced a check on iOS app launch to see if the app actually launched or if we're still on SpringBoard. Unfortunately this check fails in a way that makes Appium unusable for my app, and probably others as well.

The issue is that my app requests permission to send notifications and access photos immediately on first launch. This means that a successful initial launch on a c

[2015-04-21 07:49] sebv commented on #4562
I've just tried avd api 18/api 19 against master, I cannot repro, work fine for me.

[2015-04-21 07:51] sebv commented on #4562
By the way I didn't set  appPackage/appActivity, see log here:

https://gist.github.com/sebv/16e3157a256436055074

[2015-04-21 07:52] sebv commented on #4599
Is it fixed?

[2015-04-21 07:54] #4420 closed

[2015-04-21 07:55] sebv commented on #4420
reopen if needed.

[2015-04-21 07:55] sebv commented on #4462
Closing, reopen if needed.

[2015-04-21 07:55] #4462 closed

[2015-04-21 07:59] sebv commented on #4850
Sorry, not really sure without seing the app, but for a dropdown, you may try to read/set value instead.

[2015-04-21 08:02] #4699 closed

[2015-04-21 08:02] sebv commented on #4699
reopen if needed.

[2015-04-21 08:07] sebv commented on #4669
try with `send_keys`.

[2015-04-21 08:08] sebv commented on #4622
We also need the server log.

[2015-04-21 08:09] #4614 closed

[2015-04-21 08:25] sebv commented on #4744
See javadoc here https://github.com/appium/java-client/blob/dbb443a30fbc5ea9ccbb9f0060b8ff8bfd0c6bd2/src/main/java/io/appium/java_client/InteractsWithFiles.java

[2015-04-21 08:44] wensj commented on #4961
I have see this is a bug of appium,In another issue.

[2015-04-21 08:49] sebv commented on #4754
This way is good with jenkins:

[code]

[2015-04-21 09:22] shivakrishnach31 commented on #4962
@sebv , When I try to automate using instrument, it is not accepting .ipa build. So, I think to automate app using instrument we need .app build. am I correct?
So, you are saying that, we can't automate build which in release mode? To overcome this we need dev/debug build? is it?

[2015-04-21 09:25] sebv commented on #4962
It must be explained somewhere in the xCode/iOS doc.

[2015-04-21 09:29] sebv commented on #4393
You need to use this script to start the proxy:
https://github.com/appium/appium/blob/master/bin/ios-webkit-debug-proxy-launcher.js

[2015-04-21 09:35] thaiching opened #4972 "Error: Instruments never checked, running tests against IOS real device using APPIUM"
Hi,
   I am trying to execute cucumber ruby tests on iOS real device using Appium and I'm seeing the following error in the Appium logs.

FYI, the SafariLauncher app is launched and the Safari browser navigates to apple.com website but after that it does nothing instead of navigating to the base URL

I am using

Mac OS X 10.9.5
Appium latest source
IOS 7.1.1
Xcode 6.2

Here is the console logs:

i

[2015-04-21 11:01] tborys opened #4974 "Page not fully loaded causes SessionNotFoundException and long timeout"
Hi Guys,

I run the test using ios simulator on mobile safari. One of the test cases is launching the website which is not fully loading. This seems to cause strange behaviour in appium, please see the logs below.
Appium version is 1.3.4 but this could be reproduced with the latest one 1.3.7.

Page has an issue with loading javascript that's why it's never fully loaded. I would expect appium to ha

[2015-04-21 12:44] sahajamit opened #4975 ""Failed to hide keyboard." error coming on real device with iOS 8.2 and Appium 1.3.7"
I am facing this issue on a real iPad Mini device with XCode 6.2 and Appium 1.3.7 when I am executing this command

driver.hideKeyboard()

For me I am setting a value to an editbox and while setting it, it opens the keyboard and this keyboard comes over the Signin button so I am unable to click this signin button as it is hidden behind the keyboard. So this is a kind of blocker for me.

Here is th

[2015-04-21 13:38] robert-langenfeld commented on #4939
@jlipps Do you have any thoughts on this? We are using selendroid in this scenario. Is there any way to perform an action like tap, swipe, or drag using selendroid and the X,Y coordinate? We've also tried using XPath to locate the element whose X,Y, matches are criteria, but that is painfully slow (since Selenium and Appium both run in serial). That method can take upwards of 5-6 minutes to perfor

[2015-04-21 14:24] derek1106 commented on #4756
Ping...
Could you please answer my question? I appreciate it.

[2015-04-21 15:39] willosser commented on #4698
I have no need of controlling the performance dynamically.  I don't tend to mix performance tests with system tests.  On the other hand, I tried a run of our performance test with the monitoring code disabled and did not have the same stellar results as @moizjv.  My cpu usage dropped from 63% when idle to 36-44%.

[2015-04-21 16:25] ghost opened #4977 "Appium inspector doesn't highlight element for app running on emulator + API 22"
Hi,
I've setup Nexus 7 emulator with API level 22.
This is showing in inspector but it's not highlighting elements as it does on actual device.

can you please have a look in to this issue

Thanks,
Vikram

[2015-04-21 17:03] jlipps commented on #4698
I'm fine making it a cap then.

[2015-04-21 17:04] jlipps commented on #4939
@robert-langenfeld I don't think Selendroid supports that gesture API. You probably need to look at the Selendroid docs for how to do what you want to do within their framework.

[2015-04-21 17:09] moizjv commented on #4698
@willosser so commenting watcher code does bring down CPU, I can see if i can find other trouble spots. @jlipps Yes will make a cap to ignore watcher code !

[2015-04-21 17:47] jlipps commented on #4962
I'm not sure you need a debug build for a real device, but it definitely needs the right provisioning profile. Maybe it also needs to be a debug build for instruments to automate it. @Jonahss can you confirm?

[2015-04-21 17:53] Jonahss commented on #4733
We've been trying to come up with a better system for scrolling. I guess we can support the other UiScrollable functions and just return nothing (or throw an ElementNotFound Exception) if an element isn't returned?
Looping in @jlipps

[2015-04-21 17:56] sebv commented on #4962
Appium doc seem to imply that you just need a "correctly-signed .ipa"
[code]

[2015-04-21 18:01] sebv commented on #4977
Reproed, also found an issue with the api 22 setting:

https://github.com/appium/appium-dot-app/issues/482

@penguinho you think it's a client or server issue?

[2015-04-21 18:07] Jonahss commented on #3421
Ah. Well if it's due to an instruments error, there's not much we can do right now :(
A potential workaround would be to use the UIAutomation locator strategy to find elements using javascript UIAutomation commands, and traverse the tree yourself.

[2015-04-21 18:07] #3421 closed

[2015-04-21 18:07] #3499 closed

[2015-04-21 18:08] Jonahss commented on #3573
Closed due to inactivity

[2015-04-21 18:09] Jonahss commented on #3965
Closed due to inactivity (and being outdated)

[2015-04-21 18:09] #3965 closed

[2015-04-21 18:10] #4009 closed

[2015-04-21 18:13] Jonahss commented on #4034
I think your app manifest file needs this set?: `hasInternetPermissionFromManifest failed`

[2015-04-21 18:15] Jonahss commented on #4042
We changed the way we refresh simulators around that version of Appium, can you update to the latest version and try it there?

[2015-04-21 18:15] Jonahss commented on #4070
Closed due to inactivity. Reopen if more information provided.

[2015-04-21 18:15] #4070 closed

[2015-04-21 18:34] Jonahss opened #4978 "Don't truncate instruments log when it crashes"
When instruments crashes we don't capture the full log output? We should see if we can fix that.

[2015-04-21 18:34] Jonahss commented on #4175
Check out discuss.appium.io, a useful place to ask questions :)

[2015-04-21 18:34] #4175 closed

[2015-04-21 18:42] willosser commented on #4698
Why don't we implement the watcher code in adb instead?  The cpu load is minimal and this would allow us to continue to monitor ANRs

[2015-04-21 19:13] jlipps commented on #4698
that's fine with me. I don't understand this whole feature well enough to make any counterargument.

[2015-04-21 19:26] filmaj opened #4979 "Get better access to chromedriver logs"
I have an issue with appium where, in certain cases, on certain emulators and/or actual devices, I get a cryptic error message from Chromedriver. For example:

[code]

I'm not sure if chromedriver logs have more information on what exactly the issue is, but I think it would be a useful feature to be able to get the underlying chromedriver logs in certain situations.

Any ideas if/how this is possi

[2015-04-21 19:28] jlipps commented on #4979
should be easy to add log events to appium-chromedriver and consume them in appium based on a server flag or something

[2015-04-21 19:30] jlipps commented on #4733
why not just throw ElementNotFound (seems the right thing to do server-side) and then the client can always catch and do nothing with the error

[2015-04-21 19:31] jlipps commented on #4733
what i usually do in this case is use the gestures and the simply check the state of the app to determine whether i need to scroll more or stop

[2015-04-21 19:34] Jonahss commented on #4962
I was able to run Instruments with a Release build of the TestApp, signed by me of course.
So debug build might not be necessary.

[2015-04-21 19:35] rubixthegreat opened #4981 "Verify and fix send_text on android"
Appium Version: 1.3.5
Android Version: 4.4.2

I'm using automation to click on an element via X,Y coordinates. In this scenario I do not have the id of the object I want to type text in, just the X, Y coordinates that are inside of it. After performing the tap action on it, I attempt to send text like this:

Actions builder = new Actions(driver);
builder.sendKeys('test').perform();

The above code

[2015-04-21 19:36] moizjv commented on #4698
@willosser Yes that would be ideal, but here with the present watcher we dismiss the notification using watcher and ui automator, I am not sure how that would work using adb. We can get @bootstraponline opinion on that. For now I have added disableAndroidWathers cap that would help bring down cpu usage but with a tradeoff

[2015-04-21 19:38] Jonahss commented on #4962
Still need to check a full app-store archived ipa file.

[2015-04-21 20:26] imurchie commented on #4981
Yes, the `keys` function is broken. Not sure if it is broken in iOS or Android.

`lib/server/controller.js` takes the `value` received and passes it along. In iOS this is fine. In Android the method expects an element and a text value, and so we get the above error.

Controller: https://github.com/appium/appium/blob/master/lib/server/controller.js#L762
Android: https://github.com/appium/appium/blo

[2015-04-21 20:30] robert-langenfeld commented on #4981
Glad to know I wasn't going crazy. Is there a work-around that I can do for this in the meantime?

[2015-04-21 21:07] Jonahss opened #4982 "Bootstrap.js ios test script should handle errors better"
Right now if you run bootstrap but it doesn't connect to commandProxy.js it just throws an error in the test script (JSON parse exception). We should catch this and be more informative.

[2015-04-21 21:09] Jonahss opened #4983 "Bootstrap.js on iOS should handle EOF from commandProxy"
When appium ends a session, it closes the commandProxy to Instruments, sending an EOF. This causes the test script to throw an error.
It ends all the same, but this is messy.

Do this along with #4982 since they're closely related.

[2015-04-21 21:14] bootstraponline commented on #4698
because that's impossible? There are two approaches to dealing with these types of crash dialogs. The first is to modify the android image so they don't exist (Google talked about this at GTAC). This isn't feasible for smaller entities so that's not a great option for appium. The second approach is using an automation framework, in this case uiautomator, to poll and handle the specific crash dialo

[2015-04-21 21:44] bootstraponline commented on #4311
[code]

[2015-04-21 21:44] #4311 closed

[2015-04-21 21:57] GindiKhangura commented on #4981
@imurchie My progress is also being blocked by this issue. Is there a work-around available?
If not, can the fix for this bug please be included in the next release?

[2015-04-21 22:26] willosser commented on #4698
"adb shell am monitor" will report the ANR.  What I haven't proven conclusively to myself yet is whether or not the ANR reported this way will also result in a screen dialog that needs to be dismissed.  Thanks for the answer.

[2015-04-21 22:33] imurchie commented on #4981
The Android side is wrong: `keys` [ought](https://code.google.com/p/selenium/wiki/JsonWireProtocol#/session/:sessionId/keys) to send the text to the currently focused element. We only support sending text to a particular element.

We need to figure out some logic to get the currently focused element (a cursory glance didn't yield anything promising out-of-the-box) and then reuse the [setText](http

[2015-04-21 22:43] bootstraponline commented on #4698
@willosser If you look at [the Java code](https://github.com/appium/appium/blob/9d89eea9d42d53c2d70533e8ec6bdb52e952f587/lib/devices/android/bootstrap/src/com/android/uiautomator/common/UiWatchers.java) I stand by my assessment that adb is not able to do the automatic detection and dismissal. Even if `am` is able to monitor the dialogs, I don't see a way to interact with them reliably via adb. If

[2015-04-21 23:01] willosser commented on #4698
sorry @bootstraponline, my response was incomplete.  adb can detect an ANR, but not detect anything on the screen.  My idea was to detect the ANR through adb.  Once detected, search for the on-screen dialogs using uiautomator and dismiss them.  This would reduce the cpu usage while waiting for an ANR, but still detect the dialogs and dismiss them.

[2015-04-21 23:08] mehulc commented on #4969
@sebv - Please correct me if I am wrong. This is the same script that I got when I cloned appium and I am using this very script and facing the issue.

[2015-04-21 23:19] bootstraponline commented on #4698
I looked through the [am](https://android.googlesource.com/platform/frameworks/base/+/742a67127366c376fdf188ff99ba30b27d3bf90c/cmds/am/src/com/android/commands/am/Am.java) source code and it isn't designed for this use case. The monitor will stop upon detection and then wait for a continue/kill command. The impact would be making appium even slower than it already is today.

The am implementation

[2015-04-21 23:44] jlipps commented on #4397
@chrigrahcisco I'm also curious if this reproduces when you're not using Appium.app. Can you report whether @0x1mason's workaround works for you?

[2015-04-21 23:57] sebv commented on #4969
Yes it is the same, sorry thought you were using iwdp directly. In this case it looks like the connection was closed from the browser, need to check what happen in this case.

I think the next step would be to write unit tests for this script simulating this condition.

[2015-04-22 00:05] sebv commented on #4983
We should try to replace the error callback chain by a promise reject, and/or make use of promise.any, that'll simplify the code a lot.

[2015-04-22 00:28] bootstraponline commented on #4698
I ported the bits of `am` that make sense for this use case. The work is [available on this branch](https://github.com/bootstraponline/appium/commit/795b5f2ae3c1b346d5bd2a8e1c89eb131efc337f). I haven't yet integrated it with appium (MyActivityController has to be instantiated instead of the regular uiwatcher class) or tested. I think it'll work and I found out that it'll prevent the dialog from ev

[2015-04-22 00:50] SBoudrias commented on #4932
This might be related to #4944

[2015-04-22 02:57] slk9 commented on #4535
Yes.It works fine for me with signed SafariLauncher, ios-webkit-debug-proxy and latest appium 1.3.7.

[2015-04-22 03:54] #4535 closed

[2015-04-22 04:32] chandan1989 commented on #4460
Hi
android version : 4.4.2
Device: samsung note3
When I run single test case all test cases are passing. but when I run test case in suit or whole class it is failing from 2nd one onwards because of the following ERROR. Here is the ERROR log.

Can any one have any idea about this problem.
org.openqa.selenium.SessionNotCreatedException: A new session could not be created. (Original error: com.micro

[2015-04-22 05:47] rushmila opened #4985 "Inspector does not work for Android emulator."
Hi,

I am using Appium - Version 1.3.7 (Ophiuchus) on a Mac (Version - 10.10.2). I am using android emulator. When I launch the inspector, it starts perfectly but I couldn't able to perform the element inspection using the inspector. I am adding the screenshot of my Appium settings.

Can anyone suggest anything?

![android_settings_appium](https://cloud.githubusercontent.com/assets/2417354/7267962

[2015-04-22 09:52] vietnq254 commented on #4586
Try catch block in the client side is needed.

[2015-04-22 09:52] #4586 closed

[2015-04-22 12:01] Okanim opened #4986 "Error testing hybrid app (Cordova/Phonegap) with selendroid"
Hi,

I have an app builded with Cordova latest version (4.3.0) and I get an error on appium server :

[code]

To do the test, I'm using Selendroid driver and I'm switching to the webview at the begining of my test.

In the logcat I found this :
[code]

This bug was solved in Selendroid 0.15.0. Does Appium use this version ?  (See the folowing links : ["Can not run Hybrid app with Cordova version"]

[2015-04-22 13:20] chrigrahcisco commented on #4397
Unfortunately I do not know what NSLog is or how to go about attempting those workarounds in my Appium.app Python environment. My current process is to enabled debug logging when troubleshooting a specific problem during test development, otherwise I set logging to error:warn which severely limits the logging.

[2015-04-22 13:22] Rakeshvallabhaneni opened #4987 "Unable to run parallel execution in appium (Appium 1.3.6 + Python )"
@omoskovko

Steps i followed :
I. Sucessfully Lanched selenium grid .
2. Started appium in one terminal.
appium --nodeconfig /Users/ctl-user/Documents/AppiumGrid\appium_node1.json -U 4d00cd7f4fca41cf -p 4744

Started appium in second terminal .
appium --nodeconfig /Users/ctl-user/Documents/AppiumGrid\appium_node2.json -U TA643039FJ -p 4731

Now run the below test in python .

import unittest
from

[2015-04-22 13:39] ynotdraw commented on #4963
Hi there. Yes, I am able to replicate locally. I am using version 1.3.7 of appium and 4.4 Android. The URL is HTTPS. Hopefully some of this information helps!

Here is the link to the Sauce Labs job: https://saucelabs.com/tests/590a2e04ad414efcaef5bc39f4ffd49c

[2015-04-22 14:10] chandan1989 opened #4988 "permission to start activity denied even after changing activity name"
org.openqa.selenium.SessionNotCreatedException: A new session could not be created. (Original error: Permission to start activity denied.) (WARNING: The server did not provide any stacktrace information)

Even though I change the permission of apk file. Once I will run the test case it will change the permission to (-rwx--x--x to -rw-r--r--)

[2015-04-22 14:49] prathimak opened #4989 ""scroll to" method is not working"
Hi ,

When i try to use "scroll to" method received below error
Could not parse UiSelector argument: problem using reflection to call this method (Selenium::WebDriver::Error::UnknownCommandError)
    in `button_displayed_with_scroll'

 def button_displayed_with_scroll buttonText
    if exists { button(buttonText) } == false
      scroll_to buttonText
    end
    exists { button(buttonText) }
  end

[2015-04-22 15:24] imurchie commented on #4988
Can you provide the Appium server logs? I don't think this is a local permissions issue, but the activity being used to start does not have permission to start on the device.

[2015-04-22 15:29] imurchie commented on #4986
Release 1.3.7 uses Selendroid 0.13. The latest from source uses 0.15, so you could try that. Otherwise it will be in the next release.

[2015-04-22 15:29] #4986 closed

[2015-04-22 15:50] moizjv commented on #4989
duplicate of #4311. Should be fixed with 1.4 release.

[2015-04-22 15:50] #4989 closed

[2015-04-22 16:25] srinivasfes commented on #4581
try use

wait = new WebDriverWait(driver, 10).pollingEvery(2, TimeUnit.SECONDS)
				.ignoring(NoSuchElementException.class);

---
WebElement wldoClickMoreIcon = driver.findElement(By.xpath("//*[@content-desc='More options'and @index='2']"));
		wait.until(ExpectedConditions.visibilityOf(wldoClickMoreIcon));
		wldoClickMoreIcon.click();

[2015-04-22 21:28] #4792 closed

[2015-04-22 22:59] moizjv commented on #4220
@kingangelTOT can you please add code that you are using to sendKeys and also full appium log

[2015-04-22 23:01] moizjv commented on #4233
Closing as there is no response. Reopen if still an issue.

[2015-04-22 23:01] #4233 closed

[2015-04-22 23:07] moizjv commented on #4205
Can you please paste appium logs?

[2015-04-22 23:11] moizjv commented on #3714
Closing issue. @priyankshah217  please test and reopen if this is still an issue.

[2015-04-22 23:11] #3714 closed

[2015-04-22 23:13] imurchie commented on #4549
I don't see any reason for it to interact. In Selendroid mode the keycode press uses `adb`.

When I run (with master, and the latest from npm) a test using Selendroid with `unicodeKeyboard` on the keycode call leaves this log:

[code]

[2015-04-22 23:35] moizjv commented on #3881
Closing issue. @danail-branekov  reopen if this is still an issue!

[2015-04-22 23:35] #3881 closed

[2015-04-22 23:44] moizjv commented on #4209
@naveenjammula  @meegha  are you still facing this issue?

[2015-04-22 23:48] moizjv commented on #4034
Closing this issue. @Sendlink reopen if this is still an issue.

[2015-04-22 23:48] #4034 closed

[2015-04-22 23:52] vasudarch commented on #4209
This issue still exists

[2015-04-22 23:58] moizjv commented on #4202
@khyatid can you use the work around suggested by @imurchie . Opened issue in .app repo

[2015-04-22 23:58] #4202 closed

[2015-04-23 00:06] moizjv commented on #4209
@vasudarch does it happen after a long test run or it does not work at all?

[2015-04-23 00:11] moizjv commented on #4232
@abhiju20 looks like [appium-dot-exe](https://github.com/appium/appium-dot-exe/issues) issue. Raised [issue](https://github.com/appium/appium-dot-exe/issues/145) in that repo

[2015-04-23 00:11] #4232 closed

[2015-04-23 00:11] vasudarch commented on #4209
@moizjv , the issue happen while running the script using appium GUI or command line for long duration(more than 1 hour).

[2015-04-23 00:16] moizjv commented on #4350
@willosser any updates?

[2015-04-23 00:24] moizjv commented on #4389
@sakthithasan is this still and issue? Can you try with latest appium version and try running as admin?

[2015-04-23 00:27] moizjv commented on #4209
@vasudarch i see let me try to reproduce it.

[2015-04-23 00:41] moizjv commented on #4240
Can you see if `elementByAccessibilityId` works?

[2015-04-23 00:58] moizjv commented on #4222
@sebv any ideas?

[2015-04-23 01:01] moizjv commented on #4343
Do you steps to reproduce the issue? also can you ask this question in [forum](https://discuss.appium.io/)

[2015-04-23 01:03] moizjv commented on #4353
@esoests did it work?

[2015-04-23 01:17] moizjv commented on #4336
Currently android does not support javascript execution. You can ask in [forum](https://discuss.appium.io/) for other ways of finding element.

[2015-04-23 01:17] #4336 closed

[2015-04-23 01:19] moizjv commented on #4313
@vikasana787 closing the issue, try @Jonahss suggestion. Also try to launch app with out appium to see if there is issue with the app. Closing issue reopen if this is still an issue.

[2015-04-23 01:19] #4313 closed

[2015-04-23 01:21] moizjv commented on #4296
@abyssalknight @xsmaster can you retry it with latest appium version. Looks like it has been fixed.

[2015-04-23 01:32] moizjv commented on #4298
@hungl are you able to launch application using [adb start](http://developer.android.com/tools/help/adb.html#am), if know then there might be problem with manifest file.

[2015-04-23 01:45] willosser commented on #4350
For time sensitive reasons, we have gone with another solution.  We have had to implement an adb module for our solution and it was just easier to implement "am force-stop <activity>" than writing yet another module to interact with Android.

I'd still like to see this implemented, as I expect others will want this as well, but my need is no longer pressing.

[2015-04-23 08:09] mttrs commented on #4947
Let me add more details. The problem is when I run the GUI. CLI works well. The GUI terminal looks work with bash. So, is there any way to change a shell setting for GUI?

- Launch from GUI
[code]

Appium doctor says OK even there is no PATH setting in .bash_profile.

[code]

[code]

[code]

[code]

[2015-04-23 08:42] sebv commented on #4947
Just move the config to a separate file (e.g. .appium-env) and source it from both.

The appium doctor in the gui should probably be run within bash, this looks like a bug (cc @penguinho).

[2015-04-23 08:43] MUI-Fazy commented on #4949
Do you need any further logs ? or this is ok ?

[2015-04-23 09:19] mttrs commented on #4947
Just move the config to a separate file (e.g. .appium-env) and source it from both.

[2015-04-23 09:32] sebv commented on #4222
From iOS 8 the system logs will for sure be in the Appium log if the option is enable.

For iOS7 and below the way we locate system logs is no really good (https://github.com/appium/appium/blob/master/lib/devices/ios/ios-log.js#L90), so they might be missing. Specially the first time you start the emulator, it is missing.

[2015-04-23 09:39] sebv commented on #4947
This needs to be adressed directly in this repo: https://github.com/appium/appium-dot-app, please open an issue and link to this.

That should not be a problem for apps to require bash to be configured, but the real issue here is that the doctor should fails within the gui. Btw there is a field in the gui to manually set ANDROID_HOME
https://www.dropbox.com/s/vmadrd7cl5mamfn/Screenshot%202015-04-2

[2015-04-23 10:19] NgocPhuoc opened #4992 "unable to launch URL in safari in Simulator intermittently (Most of the times)"
Hi All,
With Appium 1.3.7 I am unable to launch url in safari in simulator, when I ran my test using the capabilities mentioned below
capabilities.setCapability(MobileCapabilityType.PLATFORM_NAME, "iOS");
capabilities.setCapability(MobileCapabilityType.PLATFORM_VERSION, "8.2");
capabilities.setCapability(MobileCapabilityType.BROWSER_NAME,"Safari");
capabilities.setCapability(MobileCapabilityType.D

[2015-04-23 11:18] poorvikamahesh opened #4993 "Safari on iOS 8.3 iPad simulator reloads the initial page continuously"
Hello,

I am trying to test a web application on iOS 8.3 Safari.
Appium version - 1.3.7.
Mac 10.10.2

But as soon as safari is launched, apple.com is continuously reloaded. As a result of which I am unable to launch my site.

Please find the set of Appium log lines which repeats the reload -

error: [REMOTE] Could not connect to a valid app after 4 tries.

info: [debug] [REMOTE] function () { [nat

[2015-04-23 12:03] poorvikamahesh commented on #4993
Please note I tried with iPad Air, 8.2 as well - Same Issue
The first time I launched via appium, it worked just fine but from the second try onwards the above issue is observed

Please help!!

[2015-04-23 12:26] jhuska commented on #4630
I am getting the same exception. My dependencies are as follows:
* appium current master
* java-client:2.2.0

Please, let me know if any of my logs would be helpful.

[2015-04-23 12:32] jhuska commented on #4759
As I commented here:
https://github.com/appium/appium/issues/4630#issuecomment-95568616

I am getting the same exception. IMHO these two issues are the same.

[2015-04-23 14:12] sjrjanardhana commented on #4773
hi sorry for the delay in responce....

here is the appium log.

info: --> POST /wd/hub/session/659f4f15-c8ee-4408-bf6f-ba1aaeb98505/element {"using":"name","value":"Storage Wars"}

warn: [DEPRECATED] The name locator strategy has been deprecated and will be removed.  Please use the accessibility id locator strategy instead.

info: [debug] Waiting up to 0ms for condition
info: [debug] Pushing comm

[2015-04-23 14:18] sjrjanardhana commented on #4773
i am trying to scoll to on of the collection cell element

[2015-04-23 14:40] Okanim commented on #4986
I tried to build latest version of Selendroid with the source of Appium (reset.sh). But I still have an error (here is "ECONRESET", but same error in logcat). After this I try to check on selendroid and cordova, I think Selendroid doesn't support the latest version of android framework of cordova (when I add the platform it was 4.0.0), I will report the issue to Selendroid.

[2015-04-23 15:32] khallbec commented on #4716
FYI we are now having to look into other tools to automate our app. we can't scroll or swipe, the darn popup at the beginning that Appium handled back in 1.3.1 (or something like that) but then stopped. same with scroll. I have no idea how this can be an apple bug when Appium WORKED then stopped.
I will have to re-write all our tests and deal with a lot of hassle. but really stuff has to stop brea

[2015-04-23 16:28] nikhil969 opened #4995 "Appium code coverage issue"
Class.forName("com.vladium.emma.rt.RT")
                .getMethod("dumpCoverageData", File.class, boolean.class, boolean.class)
                .invoke(null, new File("/mnt/sdcard/coverage.ec"), false, false);

The above code throws InvokeTargetException when executed. The steps I have followed is from https://github.com/appium/appium/blob/0.18.x/docs/en/android_coverage.md but I cannot get throu

[2015-04-23 17:34] xsmaster commented on #4296
Whats the build version?
On Apr 22, 2015 8:22 PM, "Moiz Virani" <notifications@github.com> wrote:

[2015-04-23 18:06] moizjv commented on #4716
@khallbec is it same iOS version and did you try `mobile: scroll` with execute script method. We are happy to help. If you can give more info to reproduce issue we can try and see if we can fix in 1.5

[2015-04-23 18:11] moizjv commented on #4350
@willosser Its not clear to me, so you are suggesting if we close the app and continue testing with appium?

[2015-04-23 18:16] moizjv commented on #3493
@jlipps can you at this one? I am not very sure of context here ?

[2015-04-23 18:21] #3573 closed

[2015-04-23 18:23] moizjv commented on #3610
@Hassan-Radi can you confirm the fix?

[2015-04-23 18:26] #3884 closed

[2015-04-23 18:28] moizjv commented on #4064
@jackwhitney can you retry it latest version ? And also mention steps to reproduce the issue and logs so we can look into it

[2015-04-23 18:33] moizjv commented on #4112
@Rakeshvallabhaneni @scnymc can you try steps mentioned in [documentation](https://github.com/appium/appium/blob/master/docs/en/advanced-concepts/ios-webkit-debug-proxy.md) here to see if it fixes the issue?

[2015-04-23 18:37] willosser commented on #4350
While I'm testing an app, I have to test how our app works on Android.  I need to be able to close the app, restart it, upgrade it, uninstall and reinstall.

[2015-04-23 18:40] moizjv commented on #4350
@jlipps what do you think?

[2015-04-23 18:41] moizjv commented on #4097
duplicate of #4828

[2015-04-23 18:41] #4097 closed

[2015-04-23 18:46] moizjv commented on #4151
@sanjaykumar5115 can you retry with latest version?

[2015-04-23 18:52] moizjv commented on #4198
@sujittarun [documentation](https://github.com/appium/appium/blob/master/docs/en/advanced-concepts/ios-webkit-debug-proxy.md) for ios-debug-proxy.

[2015-04-23 18:58] imurchie commented on #4126
Any update on this?

[2015-04-23 18:59] moizjv commented on #4126
Closing due to inactivity

[2015-04-23 18:59] #4126 closed

[2015-04-23 19:00] moizjv commented on #4406
Closing due to inactivity.

[2015-04-23 19:00] #4406 closed

[2015-04-23 19:04] moizjv commented on #4410
@pamepros can you please send appium log. But looks like its returning hint text

[2015-04-23 19:05] moizjv commented on #4435
Closing due to inactivity

[2015-04-23 19:05] #4435 closed

[2015-04-23 19:10] moizjv commented on #4460
@QuyPhamDinh  @chandan1989  can paste appium server logs?

[2015-04-23 19:16] moizjv commented on #4441
@gualber98 @shubhansha21 can you look at this [discussion](https://discuss.appium.io/t/connecting-appium-server-to-selenium-grid-for-android/804/89) this might your issues. Also can you raise these issues in discussion forum.

[2015-04-23 19:16] #4441 closed

[2015-04-23 19:17] moizjv commented on #4470
@brbrr any update?

[2015-04-23 19:18] moizjv commented on #4473
#4474  duplicate issue

[2015-04-23 19:18] #4473 closed

[2015-04-23 19:21] moizjv commented on #4474
@srk9ravi can you see if `mobile: scroll` works? [documentation](https://github.com/moizjv/appium/blob/scroll-doc/docs/en/writing-running-appium/touch-actions.md)

[2015-04-23 19:22] moizjv commented on #4478
Closing due to inactivity

[2015-04-23 19:22] #4478 closed

[2015-04-23 19:55] Hassan-Radi commented on #3610
hey @moizjv
I checked it on a physical device and on an emulator and it is working. :smile:
Thanks

[2015-04-23 20:32] khallbec commented on #4716
There are reports all over for both issues. yes, I tried with the same OS. Yes I tried with the execute script. Per another "issue" it works on UITable but not on other views. I am too busy trying to figure out how to use some hack to get automation running agin to go search for the issue. these 2 are not minor problems. so many people have reported them and the issues get closed for various reaso

[2015-04-23 20:43] #4885 closed

[2015-04-23 20:45] jlipps opened #4996 "deprecate ios 7.0 and below"
the time has come to deprecate this! let's add a deprecation notice if anyone is using ios 6.1 or below. in a couple versions, we'll remove code support for it.

[2015-04-23 20:54] moizjv commented on #4484
@eggman87 thanks for reporting. Ideally we should be timing out after we have responded back to request. I will put this in as bug in 1.5 milestone.

[2015-04-23 21:13] moizjv commented on #4394
@prashantgangurde  is this still an issue?

[2015-04-23 21:15] moizjv commented on #4437
Can you send appium logs. Also steps to reproduce. And can you ask questions in [forun](discuss.appium.io) if you think its not a bug

[2015-04-23 21:18] moizjv commented on #4461
@achung01  can you try using `mobile: scroll` [documentation](https://github.com/moizjv/appium/blob/scroll-doc/docs/en/writing-running-appium/touch-actions.md)

[2015-04-23 21:27] moizjv commented on #4995
you need to have a rooted device or emulator. Also did you pass correct capabilities? Also if you mention steps to reproduce and appium logs it would help us with debugging issue

[2015-04-23 21:41] moizjv commented on #4328
@lyzero appium heavily relies on adb, I am not sure if there is work around that.

[2015-04-23 21:44] moizjv commented on #4270
@filipesperandio  can you ask questions in [forum](https://discuss.appium.io/) . Does not seem an issue to me.

[2015-04-23 21:44] #4270 closed

[2015-04-23 21:50] moizjv commented on #4267
@iceicerickert can you try `IME_ACTION_SEARCH` value 3. I am not sure if this is appium bug. Can you provide more information as logs so we can fix issue if any.

[2015-04-23 21:54] moizjv commented on #4403
@fwaraich78 can you paste appium logs? And also if possible steps to reproduce?

[2015-04-23 21:59] moizjv commented on #4570
@rahulk06 what do you mean by multiple requests?

[2015-04-23 22:03] moizjv commented on #4580
@igalep so how are you iterating through a list other wise. Do you mean `weList`, how are you iterating through weList?

[2015-04-23 22:03] #4546 closed

[2015-04-23 22:05] brianmrock opened #4997 "APK jarsigner command is incorrect, missing -keypass parameter value"
When trying to sign my apk using a debug.keystore the command is failing.  Here's the log

[code]

![screen shot 2015-04-23 at 5 02 48 pm](https://cloud.githubusercontent.com/assets/11443152/7308529/e5de177e-e9da-11e4-9834-e4c164b37dcc.png)

It appears that Appium 1.3.7 is failing to pass in -keypass parameter.

[code]

when I run the same command with the -keypass, it works fine.

[code]

I can s

[2015-04-23 22:08] moizjv commented on #4997
we appreciate contributions :)

[2015-04-23 22:15] moizjv commented on #4621
Looks like an discussion and not a bug @vietnq254 thank you for your contribution :+1:  . @vijay0850 can you use [forum](discuss.appium.io) for questions. thanks

[2015-04-23 22:15] #4621 closed

[2015-04-23 22:27] moizjv commented on #4755
@bodiam i hope it worked for you on windows. I am closing this issue. If you think its still an defect raise it in [appium-dot-exe](https://github.com/appium/appium-dot-exe/issues) project. Thanks

[2015-04-23 22:27] #4755 closed

[2015-04-23 22:37] moizjv commented on #4328
@lyzero why do you want to restart adb, if its a valid usecase we can think about a feature request?

[2015-04-23 22:41] jlipps commented on #4549
@imurchie your PR has been merged, should this issue be closed or updated?

[2015-04-23 22:56] imurchie commented on #4549
I would say it should remain open. I think @hectorv is doing something wrong, and it would be good to clear it up.

[2015-04-23 23:56] filipesperandio commented on #4270
will do

[2015-04-24 01:13] imurchie commented on #4267
This seems to be an issue with the emulator. Doing it manually (i.e., `adb shell input keyevent 84`) doesn't work either.

[2015-04-24 06:59] brbrr commented on #4470
@moizjv yes, problem is actually voided. I have pattern lock screen, so it's caused that issues. when I switch it to swipe lock - everything smooth now.

So I closing this one

[2015-04-24 07:15] biabraham opened #4999 "Appium click on links not working when the link is to be opened in a new window"
Hello,

I am trying to test a web application on iOS 8.3 Safari.
Appium version - 1.3.7.
Mac 10.10.3

When i click on a link which is to be opened in a new window, click does not work. However if the page is to be opened in the same window, click works fine and the new page is loaded in the same window.

I am able to reproduce this issue in multiple responsive web pages. All the links in question

[2015-04-24 07:16] biabraham commented on #4999
I am not using real devies for my testing. I used simulator.
I am able to replicate the same behaviour in android simulators also

[2015-04-24 08:02] chandan1989 commented on #4988
Hi I am trying to automate lync 2013 app but I am getting this error

Package Name : com.microsoft.office.lync15

Activity name : com.microsoft.office.lync.ui.splash.EntryPoint

If I run with above information than it is giving this error.

 FAILED CONFIGURATION: @BeforeMethod testClassSetup

org.openqa.selenium.SessionNotCreatedException: A new session could not be created. (Original error: com.m

[2015-04-24 10:38] jwagun commented on #4668
@wrightt Appreciate for your contribution!

[2015-04-24 11:30] Okanim commented on #4986
Found solution, And I post it on Selendroid.
I write also here, if some person have the problem :+1:

First follow this   :
1) Clone the Cordova from github: https://github.com/apache/cordova-android
2) Build the library with Ant
3) Add jar to maven local repo, see this for details: http://maven.apache.org/guides/mini/guide-3rd-party-jars-local.html
4) Modify the selendroid-standalone pom.xml to c

[2015-04-24 12:49] mttrs commented on #4947
Thanks for letting me know the correct repository. I issued a ticket. https://github.com/appium/appium-dot-app/issues/484

[2015-04-24 15:24] imurchie commented on #4988
If you could leave the Appium server log that would be most useful.

As it stands, it looks like the wrong activity is starting: `com.microsoft.office.lync15/com.microsoft.office.lync.ui.login.SigninActivity`. What happens if you use that package/activity?

You can also try using the `appWaitPackage` and `appWaitActivity` desired capabilities.

[2015-04-24 16:53] SConrad-Whoop opened #5000 "autoAcceptAlerts/autoDismissAlerts broken"
I've got autoAcceptAlerts and autoDismissAlerts set to true in my environment variables but the notifications popup that appears at app start does not get accepted or dismissed.

I've tried each by themselves as well as both at the same time, neither appears to be working.

Unsure where to go from here. Happy to provide more information, just let me know what you need.

[2015-04-24 16:56] raldred commented on #4756
I'm getting the same issue but I've appium 1.3.7 and current latest master.
Log: https://gist.github.com/raldred/84c8999bfd1269f0fc90

I'm using Xcode 5.1.1 using the Ruby appium_lib to talk to an iPhone 4 running 6.1.3.

		desired_caps = {
			caps: {
				platformName: 'iOS',
				udid: device[:id],
				browserName: 'Safari',
				app: 'safari',
				deviceName: device[:model],
				device: device[:ty

[2015-04-24 17:40] SConrad-Whoop commented on #4178
@chrigrahcisco Could you please post the full workaround snippet you are using? Some of us that are newer to Appium are a little lost. Maybe it's just me. I understand you're using the sleep, but I've yet to find code that actually allows the popup to be dismissed.

[2015-04-24 18:32] hectorv commented on #4549
@imurchie @jlipps thanks for looking into this!
I hacked this minimal script that you can use to reproduce this issue consistently (you just need to modify the global variables accordingly):
https://gist.github.com/hectorv/6d9e7b614b1b8f2beb73

[2015-04-24 18:39] Jonahss commented on #4643
Oh boy. @hugomcconnell has it completely right. If we go with our normal way of accepting alerts, it would be through Instruments, but Instruments is automating SafariLauncher, not Safari.

It gets even worse. This week I discovered that Apple may have finally fixed a bug in Instruments. As far as I can tell, any phone on iOS 8.0 or above now suspends Instruments completely when the app under test

[2015-04-24 18:44] Jonahss commented on #4643
One possible workaround for normal users encountering alerts would be to do this:
[code]
on every page load, but it probably wouldn't stop alerts which are triggered as soon as a page loads.
Plus you wouldn't get useful data from alerts one expects to see......

[2015-04-24 19:15] Jonahss commented on #4983
Then we'd have to include a whole promise library in the bootatrap.js payload to the phone.

[2015-04-24 19:19] chrigrahcisco commented on #4178
Unfortunately this isn't something you do in Appium. It's something you'll need to do directly in the app source code using Xcode prior to building the app for testing. I cannot share my app source code, though the notification section doesn't seem particularly special or proprietary, but rules are rules. :)

Go talk to your development team and ask them how to find the Notification code. You may

[2015-04-25 06:36] amedvedjev commented on #4539
similar setup: Mac 10.10.X, appium 1.3.4, xCode 6.3, Simulator 8.1 but java client.
many image recognitions tests (Sikuli integrated) with native iOS client (CI with Bamboo) - issue is really rear for us maybe 1 from 100 tries to get screenshot. But due to workaround to re-try up to 5 times in case fail - never was cause test to fail due to failed to get screenshot from simulator.

more info maybe

[2015-04-25 10:13] sebv commented on #4983
Didn't realise you were talking about uiauto, the javascript there is synchronous, so no need to use promise. Should open an issue in appium-uiauto and link to it.

[2015-04-25 10:15] sebv commented on #4983
Looks like we need to add a try/catch here: https://github.com/appium/appium-uiauto/blob/master/uiauto/lib/commands.js#L210

[2015-04-25 12:11] bayandin opened #5002 "1.4.0-beta ChromeDriver session doesn't delete on quit"
When I try to quit chromedriver Appium doesn't delete the session.

Example of code (I use ruby_lib: 6.0.0):
[code]

Logs:
[code]

[2015-04-26 22:12] hugomcconnell commented on #4643
my colleague @michaelgallacher, who posted earlier in the conversation, performed some mighty outside the box thinking. He took the safari launcher app and put a web view in it, passing our url to it, and dealing with the alert accordingly. We didn't need to go near Safari. That helped us get around this.

[2015-04-27 01:24] moizjv commented on #5002
@bayandin you are not allowing appium to completely close the session, what i can see from your log is immediately after you quit you are trying to open a new session which is why appium is complaining

after quit your  logs should have

[code]

try waiting until appium successfully shutdown.

[2015-04-27 05:59] bayandin commented on #5002
@moizjv I think it's not a cause. There are two reasons why I think so: 1. the same code works fine with appium 1.3.7 but don't with 1.4.0-beta. 2: as you can see in log that I provided I've got 404 for DELETE request for session.
[code]

[2015-04-27 06:47] moizjv commented on #5002
@bayandin can you try and see what happens. I curious because i am unable to reproduce this issue.

[code]
Thanks

[2015-04-27 07:01] bayandin commented on #5002
@moizjv the same problem: Got 404 for DELETE and browser still active on device:

[code]

[2015-04-27 07:13] bayandin commented on #5002
And only after the timeout, the session was killed.

[code]

[2015-04-27 07:16] moizjv commented on #5002
hmm interesting i tried it and it worked fine. I will try to reproduce it. Can you run `./reset.sh --hard --dev` once so it clears and rebuilds cleanly if you are running from source.

[2015-04-27 07:35] bayandin commented on #5002
I've tried both from source and from npm (`npm install appium@beta`) but got the same negative result.
With resetted version from source — the same.

[2015-04-27 11:45] priyankshah217 opened #5004 "Press and Release (Long press) did not work in Appium 1.4.0 release while the same working fine for 1.3.7"
Hi All,

I am trying to automate long press gesture using appium. I ran my script on same device with same java client version 2.2.0 but with different appium version (1.3.7 and 1.4.0). The issue which i had observed that, automation became unresponsive while simulating long press gesture in 1.4.0. It did not perform any action at all. But the same script worked fine when I executed it on appium 1

[2015-04-27 11:57] igalep commented on #4985
Some problem for me as well

[2015-04-27 12:07] amedvedjev commented on #5004
+ 1. same issue met. BUT the problem starting from TAP already.

tested with real Android phone (API 19).

driver.tap(1, element, 200) - cause just PressDown action
element.click() - working correctly.

[2015-04-27 12:08] igalep commented on #4960
@kirillzh , I've tried that already :
            WebElement element = driver.findElement(By.id("cvm_btn_login_button")); //should be switched to name instead of text
            Actions a = new Actions(driver);
            a.click(element);

but nothing really happened.

[2015-04-27 12:27] karunakaranvrv opened #5005 "Appium - Getting error: Could not set the device type in Info.plist"
@jlipps @moizjv
When I launch Appium inspector with ios package details, I am unable to launch ios app using appium and getting the below error as follows:-

Used tools version are listed below:-

    Appium version:- 1.3.7
    Xcode version:- 6.1.1
    Mac os: 10.10.2

Error log:-

    Launching Appium with command: '/Applications/Appium.app/Contents/Resources/node/bin/node' lib/server/main.js --

[2015-04-27 12:47] gilsha opened #5006 "Unlock device"
Hi
I work with Eclipse in Windows.
I manage to invoke Android Emulator device (AVD).
Appium manage to unlock it but then fails with error that it didn't.

If we can't solve this, is there an option to define in the device definition in Android AVD Manager to invoke it unlocked?

Thanks

[2015-04-27 12:49] gilsha opened #5007 "Sinc on AVD"
Hi

I manage to sync on the opening of Android Virtual Device (I invoke it from Java code), by searching windows processes. But the fact that the process is running doesn't mean the device is ready. How do I sync till its fully loaded?

Thanks,

Gil

[2015-04-27 12:54] amedvedjev commented on #5007
you should manage in java code to start Android Emulator programmatically and just add some sleep time (easiest) or write activity in java to pull devices list and find if needed device exists in list (harder)

[2015-04-27 12:56] amedvedjev commented on #5006
why not in Android emulator in Settings set Lock screen to None and just in case screenTimeout to e.g. 5min.

[2015-04-27 12:57] gilsha commented on #5007
Thanks Alex. That is exactly what I'm doing, but I don't wish to use sleep time.
I tried:
capabilities.setCapability("deviceReadyTimeout", 120);
capabilities.setCapability("androidDeviceReadyTimeout", 120);

but it didn't work, maybe because of my second issue - screen unlock...

[2015-04-27 13:00] gilsha commented on #5006
You mean in the device menu?

[2015-04-27 13:09] amedvedjev commented on #5006
run emulator manually. then manually open settings menu and change Lock screen settings. once you did it one time with any later same emulator start it will start with changed settings.

[2015-04-27 13:14] gilsha commented on #5006
Thanks a lot!, did it, working.

[2015-04-27 13:25] amedvedjev commented on #5005
same problem. working nice with 1.3.6 BUT starting from 1.3.7 same error when try to open drive.

there is only "version.plist" file in Xcode

[2015-04-27 13:45] amedvedjev commented on #4809
does not work with 1.4.0-beta

[2015-04-27 16:02] moizjv commented on #5006
@amedvedjev  thanks!

[2015-04-27 16:02] #5006 closed

[2015-04-27 16:05] moizjv commented on #5007
@gilsha : Can you please use [forum](https://discuss.appium.io/) for questions. Here issues are for potential bugs. Feel free to raise an issue if you feel its a bug in appium. Thanks

[2015-04-27 16:05] #5007 closed

[2015-04-27 16:11] moizjv commented on #4320
@gourav999 Can you try using latest appium. Make sure that you have quit all earlier sessions.

[2015-04-27 16:21] moizjv commented on #4965
@TeamworkAnthony thanks for raising issue. We will fix it.

[2015-04-27 16:28] moizjv commented on #4952
@pmneve so node.exe just crashes? are you running it as administrator?

[2015-04-27 16:39] moizjv commented on #4965
Raised [issue](https://github.com/appium/appium.io/issues/71) in appium.io repo

[2015-04-27 16:39] #4965 closed

[2015-04-27 16:41] moizjv commented on #5005
@amedvedjev @karunakaranvrv can you try with `1.4.0 beta`?

[2015-04-27 16:50] CharlieCorv opened #5008 "Appium mobile apps test"
I started recently testing mobile Apps using Appium. I am trying to understand difference in testingApps of type Native, WebApps, Hybrid. I did Google search for examples for these. I get details on what they are but not examples. Please give some examples for each category for me to test better. How do we identify which is which? Thanks in advance.

[2015-04-27 17:54] khallbec commented on #4178
Its a bummer that its an apple bug. how do other automation tools get around it? or it would make most automation not unable. most companies are unwilling to add in special code for testers. I just sit and babysit my tests which make them far from automated. How does anyone run their stuff on sauce labs?

[2015-04-27 18:08] khallbec commented on #4716
@amedvedjev  can you post your work around?
Ive messed with it a little and couldn't figure it out. Im sure I'm just missing something tiny.
@Appium, can you maybe mimic the work around so we can have this working soon?

thanks!

[2015-04-27 18:35] jlipps commented on #5002
the issue is the session id is getting rewritten by your client because of chromedriver's response. i thought i fixed this.

[2015-04-27 18:36] jlipps commented on #5002
@bayandin can you go into node_modules/appium-chromedriver/node_modules/appium-jsonwp-proxy and tell me what the version is in package.json?

[2015-04-27 18:37] jlipps commented on #4643
yes, you can always use any pure webview app and automate it as a hybrid app if you don't care about safari itself. appium has WebViewApp that it used to use for this reason

[2015-04-27 18:41] moizjv commented on #5008
@CharlieCorv can you use [forum](https://discuss.appium.io/) for asking questions? [Here](https://github.com/appium/sample-code/tree/master/sample-code/apps) are few apps that you can look into . Thanks

[2015-04-27 18:41] #5008 closed

[2015-04-27 18:41] bayandin commented on #5002
Hi @jlipps
appium-jsonwp-proxy: `"version": "1.1.1"`

[2015-04-27 18:42] manasatr commented on #4968
can we add this support ??

[2015-04-27 18:44] #3610 closed

[2015-04-27 18:50] moizjv commented on #4284
@ngocthanh can you past complete appium log?

[2015-04-27 18:51] #4335 closed

[2015-04-27 18:55] moizjv commented on #4492
@ShreyasPatil looks like a .app issue. Raising it there https://github.com/appium/appium-dot-app/issues/485

[2015-04-27 18:55] #4492 closed

[2015-04-27 18:56] amedvedjev commented on #4716
try with two fingers:
ta1.press(x1, y1).waitAction(200).moveTo(RelativeByX, RelativeByY).release();
ta2.press(x1, y1).waitAction(200).moveTo(RelativeByX, RelativeByY).release();
ma.add(ta1).add(ta2).perform();

[2015-04-27 19:10] hugomcconnell commented on #4643
Wasn't aware of that Jonathan, thats great to know... thanks

[2015-04-27 19:13] moizjv commented on #4516
@p00j4 thanks ! @clmathuriya please ask questions on [forum] (https://discuss.appium.io). Please try to set appActivity if appium is unable to launch activity. appium tries to get main launchable activity info if it is not provided and tries to launch it.

[2015-04-27 19:13] #4516 closed

[2015-04-27 19:16] moizjv commented on #4642
Closing due to inactivity

[2015-04-27 19:16] #4642 closed

[2015-04-27 19:34] michaelgallacher commented on #4643
Yes, good to know!  It looks like the iwebview support was removed in 1.2.2 though.  Is it still available?

Date: Mon, 27 Apr 2015 12:11:13 -0700
From: notifications@github.com
To: appium@noreply.github.com
CC: michaelgallacher@hotmail.com
Subject: Re: [appium] Appium can't handle properly iOS native system popups on real device (#4643)

Wasn't aware of that Jonathan, thats great to know... thank

[2015-04-27 19:56] gilsha commented on #5007
Sure

[2015-04-27 20:40] jlipps commented on #4716
@khallbec agreed they are significant problems and it's mind-boggling that Apple has let them sit for years. Most have found a way to work around them one way or another. Totally understand if it doesn't work for you.

Meanwhile is @amedvedjev's workaround is generally useful we can look at adding it into Appium.

[2015-04-27 21:00] moizjv commented on #4745
@ashokkumarg does not look as an appium issue. Can you use [Forum](http://discuss.appium.io) for such discussions? @tarunsujit Thanks!

[2015-04-27 21:00] #4745 closed

[2015-04-27 21:07] moizjv commented on #4765
@amitjaincoer191 can you retry with [appium 1.3.7](https://bitbucket.org/appium/appium.app/downloads/).  also are you running as admin?

[2015-04-27 21:09] moizjv commented on #4821
@lawrencebautista can you paste appium logs?

[2015-04-27 21:14] moizjv commented on #4876
@Rakeshvallabhaneni is your `JAVA_HOME` set correctly?

[2015-04-27 21:29] moizjv commented on #4959
@lamp12 are you able to install other packages through `npm`. I think there is some problem with [proxy](https://github.com/nodeschool/discussions/issues/1003).

[2015-04-28 02:50] moizjv commented on #4562
Closing due to inactivity

[2015-04-28 02:50] #4562 closed

[2015-04-28 03:04] moizjv commented on #4360
Looks like we can look into this issue along with #4195

[2015-04-28 03:08] moizjv commented on #4259
@priyankshah217 what does `getContextHandles` do in these situations?

[2015-04-28 03:15] moizjv commented on #4463
@RasoolShaik appium logs look fine to me. Is this still an issue?

[2015-04-28 03:18] moizjv commented on #4477
Closing due to inactivity

[2015-04-28 03:18] #4477 closed

[2015-04-28 03:20] moizjv commented on #4450
interesting we can look into this.

[2015-04-28 03:23] moizjv commented on #4510
@Ankit9568 thanks for reporting issue. We can look into it. Do you have appium logs?

[2015-04-28 03:25] moizjv commented on #4483
Closing due to inactivity

[2015-04-28 03:25] #4483 closed

[2015-04-28 03:31] moizjv commented on #5004
@priyankshah217 thanks for reporting issue. can you give sample code for which it is breaking

[2015-04-28 03:44] moizjv commented on #4481
Closing due to inactivity

[2015-04-28 03:44] #4481 closed

[2015-04-28 03:46] moizjv commented on #4502
Looks like an issue

[2015-04-28 03:48] moizjv commented on #4602
Does not look like an issue any more

[2015-04-28 03:48] #4602 closed

[2015-04-28 03:51] glorylo commented on #4502
@orestesd I never solved this issue :(

[2015-04-28 04:13] amake commented on #4971
Followup: Specifying the `autoAcceptAlerts` capability does allow the SpringBoard check to work as expected, but there are legitimate use cases where this capability cannot be used.

[2015-04-28 05:26] lamp12 commented on #4959
Hi Moiz,

I was able to install npm install nice-date.

There is no proxy set as i am trying to install at home.

Regards
Sachin Raina

On Tue, Apr 28, 2015 at 2:59 AM, Moiz Virani <notifications@github.com>
wrote:

[2015-04-28 05:28] moizjv commented on #4959
@lamp12 `npm install -g appium` is this what you are trying?

[2015-04-28 05:31] lamp12 commented on #4959
yes...I have tried  both npm install -g appium and sudo npm install -g
appium.

On Tue, Apr 28, 2015 at 10:58 AM, Moiz Virani <notifications@github.com>
wrote:

[2015-04-28 05:32] moizjv commented on #4959
@lamp12 can you try installing `npm install -g http-server` i think there is some problem with you npm

[2015-04-28 05:33] lamp12 commented on #4959
Sure  i will try that and keep you posted.

On Tue, Apr 28, 2015 at 11:02 AM, Moiz Virani <notifications@github.com>
wrote:

[2015-04-28 05:53] brbrr commented on #4483
sorry. actually problem was caused because of using incorrect starting activity

[2015-04-28 07:13] vascon8 opened #5011 "android can't get classname"
rest.get('/wd/hub/session/:sessionId?/element/:elementId?/name', controller.getName);
this method can't return the correct classname,it's always return null

[2015-04-28 07:16] vascon8 commented on #5011
i have tried 1.3.1 and 1.3.5

[2015-04-28 07:16] ngocthanh commented on #4284
@moizjv  I found issue, some device from japanese  not enable for UIAutomator test. I will try with UIautomator test case and it fail. MonkeyRunner is OK.

[2015-04-28 07:44] orestesd commented on #4502
Will it fix the problem?

https://github.com/appium/appium/releases/tag/v1.3.7

[2015-04-28 07:45] Ankit9568 commented on #4510
Hello Moiz Virani for reply,
Kindly find appium logs

942015-04-28 07:32:49:584 - info: [debug] Proxied response received with status 200: {"sessionId":"4fe93843c4c5d8837d6ace7821075185","status":0,"value":null}

952015-04-28 07:32:49:585 - info: <-- POST /wd/hub/session/4fe93843c4c5d8837d6ace7821075185/element/0.9941945194732398-1/value 200 3487.291 ms - 72

962015-04-28 07:32:50:292 - info: -->

[2015-04-28 07:59] vascon8 opened #5012 "getPageSource android bounds is nil"
for node1.3.5 ,when i test android app, use this to get page source, but the bounds is nil.
rest.get('/wd/hub/session/:sessionId?/source', controller.getPageSource);

[2015-04-28 08:27] esoests commented on #4353
Tried to kill the first app, and it doesn't work.

[2015-04-28 08:38] yaphatak opened #5013 "Chromerdriver functionality for non-proxy routes is broken, as we are not overriding chrome session id with appium session id"
https://github.com/appium/appium/blob/master/lib/devices/android/chrome.js#L104-L105

is not returning any chrome session id anymore so in turn this is not executing
https://github.com/appium/appium/blob/master/lib/appium.js#L274-L278

So any avoidProxy routes wont get executed as session ids wont match here and it will return 404
https://github.com/appium/appium/blob/master/lib/server/controller.

[2015-04-28 08:45] amedvedjev commented on #5005
tried with 1.4.0-beta. same problem.

[36minfo[39m: [debug] Responding to client with error: {"status":33,"value":{"message":"A new session could not be created. (Original error: Could not get Xcode version. /Applications/Xcode.app/Contents/Info.plist/ does not exist on disk.)","origValue":"Could not get Xcode version. /Applications/Xcode.app/Contents/Info.plist/ does not exist on disk."},"sessio

[2015-04-28 09:04] kani19 opened #5014 "Automating 2 apps with 2 sessions is not working in Appium 1.3.7"
Hi,

My scenario is -
1. Launch my app
2. Launch safari
3. Open some links and perform some task on those links
4. Go back to first app and perform some task

I am using 2 drivers. The problem is in 2nd step. As soon as Appium tries to launch Safari, it says "iOS Simulator can not install the application. It tries 3 times.

It was working with Appium version 1.3.4

Code -->

[code]

Logs -->

info

[2015-04-28 09:05] priyankshah217 commented on #5004
@moizjv , Below is the sample code which were breaking.

private By captureButtonLocator = MobileBy
			.AndroidUIAutomator("new UiSelector().resourceId(\"com.test.app.android:id/btnCapture\")");

TouchAction action = new TouchAction(driver);
action.press(driver.findElement(captureButtonLocator)).waitAction(5000)			.release().perform();

[2015-04-28 09:13] kani19 commented on #5014
Logs -- >

info: --> POST /wd/hub/session {"desiredCapabilities":{"newCommandTimeout":"7200","autoAcceptAlerts":"true","platformVersion":"7.1","deviceName":"iPhone Simulator","platformName":"iOS","browserName":"Safari","Appium":null,"noReset":"true"}}

info: Client User-Agent string: Apache-HttpClient/4.3.4 (java 1.5)
warn: Converting cap autoAcceptAlerts from string to boolean. This might cause u

[2015-04-28 09:29] mpetrak commented on #4597
@aluedeke: I'm performing this issue now. What is your resolution for these days? Do you still using your patched version of chromedriver?

[2015-04-28 12:36] aluedeke commented on #4597
@mpetrak i did only a poc for a customer and didn't had time to investigate this further. i would bet the the issue is still there. Chromium code is still not updated.

Here is my patch:

[code]

[2015-04-28 12:56] mpetrak commented on #4597
@aluedeke Thank you for informations

[2015-04-28 14:39] LiudasTumasonis commented on #4178
Every single time the app launches I try to accept the Notifications alert and it works only once in a while... And I just ran out of ideas on how to take care of this. Tried delays, multiple accept commands etc. Anyone has any updates on this?

[2015-04-28 14:44] chrigrahcisco commented on #4178
I've done my best to describe the successful workaround for this issue of inserting a sleep in the source code just before the notification code gets called. If you cannot figure out how to insert the sleep into the source code yourself please ask your dev team to help you.

[2015-04-28 15:27] lamp12 commented on #4959
I tried sudo npm install -g http-server and below is the result:

/usr/local/bin/hs -> /usr/local/lib/node_modules/http-server/bin/http-server

/usr/local/bin/http-server ->
/usr/local/lib/node_modules/http-server/bin/http-server

http-server@0.8.0 /usr/local/lib/node_modules/http-server

├── opener@1.4.1

├── corser@2.0.0

├── colors@1.0.3

├── http-proxy@1.11.1 (eventemitter3@1.0.1, requires-por

[2015-04-28 15:53] jlipps commented on #5005
@Jonahss could this be related to appium-xcode refactor?

[2015-04-28 15:53] moizjv commented on #4959
Can you again tru `npm install -g appium`?

[2015-04-28 15:56] SConrad-Whoop commented on #4178
@chrigrahcisco Ah, I misunderstood, thanks for clarifying.

[2015-04-28 16:04] jlipps commented on #4996
changing this to deprecate 7.0 and below; usage of 7.0 is as low as 6.1; 7.1 is where things are at for 7.x. also deprecating support for xcodes < 6.3 (to stay current).

notice that we are just deprecating things, not removing support for them. that will happen in a future version

[2015-04-28 16:37] moizjv commented on #4510
@Ankit9568 thanks for reporting the issue. Can you email to our support team help@saucelabs.com with details, so we can track it on sauce. I am closing this issue as it is not appium issue. Thanks

[2015-04-28 16:37] #4510 closed

[2015-04-28 16:47] moizjv commented on #4971
@amake we can look into this. Adding capability looks reasonable to me. I will add this to bugs list.

[2015-04-28 17:30] lamp12 commented on #4959
Below is the error, if i use npm install -g appium :

npm WARN locking Error: EACCES, open '/Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock'
Below is the error if i use

npm WARN locking     at Error (native)
npm WARN locking  /Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock failed { [Error: EACCES, open '/Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock']
npm WARN

[2015-04-28 17:32] lamp12 commented on #4959
with npm install -g appium command, i get the below error:
npm WARN locking Error: EACCES, open '/Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock'
npm WARN locking     at Error (native)
npm WARN locking  /Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock failed { [Error: EACCES, open '/Users/sachinraina/.npm/_locks/appium-71f07e568bc8eb69.lock']
npm WARN locking   errno: -13,
n

[2015-04-28 17:45] #4996 closed

[2015-04-28 17:54] jlipps commented on #5005
@amedvedjev @karunakaranvrv have you guys ever actually opened the Xcode app? Does it work?

[2015-04-28 17:56] jlipps commented on #5013
this should be handled in the appium-jsonwp-proxy package. what version of appium-chromedriver is included with your appium? can you check in node_modules/appium-chromedriver/package.json? then also check the version of node_modules/appium-chromedriver/node_modules/appium-jsonwp-proxy/package.json.

[2015-04-28 17:57] jlipps commented on #5011
not sure if this method is even supported outside of a web context. what would it even mean for a native element?

[2015-04-28 17:59] jlipps commented on #4971
@amake that is why we have the `waitForAppScript` capability, so people can define their own logic for determining that the app has loaded

[2015-04-28 17:59] jlipps commented on #4971
would that work for your case?

[2015-04-28 18:00] yaphatak commented on #5013
1.0.1 for chromedriver and 1.1.1 for appium-jsonwp-proxy
chromesriver.start should return session id ,right?

[2015-04-28 18:16] Jonahss commented on #5005
The error changed between versions, so it's related to my changes, but I think the error is more informative now. `/Applications/Xcode.app/Contents/Info.plist/` should exist, no? There's a way to set a custom xcode location if it's somewhere else I think.

[2015-04-28 18:26] amedvedjev commented on #5005
of cause working. npm install -g appium@1.3.6 - and everything working.

[2015-04-28 18:26] amedvedjev commented on #5005
and i manually checked that this info.list exists in xcode.app.

[2015-04-28 18:32] amedvedjev commented on #5005
are you sure that "/Applications/Xcode.app/Contents/Info.plist/" - is correct?

i believe it should be like - "/Applications/Xcode.app/Contents/Info.plist" - without last "/".

[2015-04-28 18:36] moizjv commented on #4959
@lamp12 looks like you have installed a version of node as root. So there is permissions issue. Unfortunately appium does not work with sudo access. You would need to install node and npm with out sudo. Look at [stack overflow](http://stackoverflow.com/questions/16151018/npm-throws-error-without-sudo) third answer

[code]

Also https://github.com/appium/appium/issues/4053

I am closing this issue

[2015-04-28 18:36] #4959 closed

[2015-04-28 19:03] Anishohri opened #5015 "click happens in Appium logs but nothing happens on the device."
Appium 1.3.7
Selenium Webdriver 2.45.0
device Nexus 7.0
Chrome driver 2.15, 2.14, 2.13, 2,12

Hi

Please guide me through this, I am using above configuration for android browser but my scripts are not clicking on objects. I tried to use Tap using the Context but get "Not yet implemented" error.

It was working till last week when i executed but it stopped working now, Nothing changed though in mu

[2015-04-28 20:43] jlipps commented on #5005
I think so too, the slash is odd. why is it getting added? What version of appium-xcode is in node_modules, @amedvedjev ?

[2015-04-28 21:12] #5005 closed

[2015-04-28 21:49] jlipps commented on #5013
those are correct. will look into fixing this

[2015-04-28 22:26] RasoolShaik commented on #4463
Thanks for u r response.It was working good for ios.But for android, keypad
web elements are not coming.Could u please help on
this.                                                      It will be great
help.

Thanking you,
Rasool shaik
On 28 Apr 2015 8:45 am, "Moiz Virani" <notifications@github.com> wrote:

[2015-04-28 23:41] jlipps commented on #5013
@yaphatak thanks for the thorough investigation, I see what you're saying about sessionId. I'll add it to appium-chromedriver so we can get it in chrome.js

[2015-04-29 01:41] bootstraponline opened #5018 "appium is crashing on startup. again"
The logs are [in this gist](https://gist.github.com/bootstraponline/bfaee92a8796d54123c2). I'm running the latest appium master rev and I double checked that the submodules are up to date.

`error: Could not determine Xcode version:Could not get Xcode version. /Applications/Xcode.app/Contents/Info.plist/ does not exist on disk.`

I'm using Xcode 6.3.1 on OS X 10.10.3. I can't make a new release of

[2015-04-29 03:04] jlipps commented on #5013
@yaphatak can you pull https://github.com/appium/appium/pull/5019 and run `npm install` and give this a shot to see if it resolves your issue?

[2015-04-29 04:23] Ankit9568 commented on #4510
Hello moizjv,
thanks for suggestion, I have already reported issue on sauce lab support
Issue ID- #18453

Thanks

[2015-04-29 06:26] bayandin commented on #5002
@jlipps PR #5019 fixes this issue too (have checked it locally).

[2015-04-29 06:34] shivakrishnach31 opened #5020 "Unable to identify switch button"
Hi @jlipps ,
Appium inspector unable to identify the enable/disable switch button. I have one cell that have a text and a switch button. But appium inspector able to identify only text not switch button.

Please see attached sceenshot
![screen shot 2015-04-29 at 11 53 45 am](https://cloud.githubusercontent.com/assets/8439309/7385658/5e350aee-ee67-11e4-8c9a-9c09f3b01a02.png)

[2015-04-29 16:22] pmneve commented on #4952
@moizjv yes, it just disappears. yes running as admin.

I suspect it is something with Ruby 2.0 pipes under Windows 7, but am not sure.

Have workaround.   By using 'IO.popen("start /k appium...")'  instead of just 'appium...',  the node process is stable.

I'll close this for now but will keep researching...

Thanks!!

[2015-04-29 16:22] #4952 closed

[2015-04-29 16:53] jlipps commented on #5002
yes, it's the same issue. thanks for checking @bayandin!

[2015-04-29 17:12] #5013 closed

[2015-04-29 17:12] #5002 closed

[2015-04-29 17:15] bayandin commented on #5013
Thanks!

[2015-04-29 18:11] debugger89 opened #5021 "Appium inspector crashes when swipe action fired in android"
<b>Problem : </b>
When using the appium inspector for an Android application and when the swipe action is fired to the device inspector is crashing without even giving a error log.
(Issue exists when running on the real android device. Not tested with android emulator.)

<b>Stpes to re-create: </b>
<ol>
<li>Launch the inspector for android application through Appium.</li>
<li>Click on "Swipe" acti

[2015-04-29 18:41] imurchie commented on #5018
Does [this](https://github.com/appium/appium-xcode/commit/376ccc029589921cb25ec24874bc5cc0530702c4) fix the problem?

[2015-04-29 20:07] jlipps commented on #3974
the documentation has been updated appropriately, so I'm closing this issue. @bhaskar-appium the correct way to achieve what you want is to use `mobile: scroll` and then check that the element in question is within the bounds of the viewport.

[2015-04-29 20:07] #3974 closed

[2015-04-29 20:08] jlipps commented on #4376
the appropriate usage has been documented here: https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md#bugs-and-workarounds

[2015-04-29 20:08] #4376 closed

[2015-04-29 20:12] jlipps commented on #4397
@chrigrahcisco I'd like to try and actually reproduce this. do you have any hints of the kind of test I could write that would reproduce this? does this reproduce with any of Appium's test apps? (found [here](https://github.com/appium/sample-code)) does the test have to be a certain length?

[2015-04-29 20:13] jlipps commented on #4698
i'm going to close this issue with @moizjv's capability workaround; I think we should create a new issue to track the strategy @bootstraponline is working on

[2015-04-29 20:13] #4698 closed

[2015-04-29 20:17] yaphatak commented on #4397
@chrigrahcisco : can you comment this line https://github.com/appium/appium/blob/master/lib/devices/ios/webkit-remote-debugger.js#L50 and restart appium node and run test?

[2015-04-29 20:20] yaphatak commented on #4397
@jlipps we were able to improve performance by replacing console.log with logger.debug or even removing this line https://github.com/appium/appium/blob/master/lib/devices/ios/webkit-remote-debugger.js#L50. I am working with our org to set up fork repo and I will send few pull requests (which fixed few issue for us)

[2015-04-29 20:26] yaphatak commented on #5013
@jlipps : sorry i ddint see this earlier. I will give a try today

[2015-04-29 21:55] bootstraponline commented on #5018
no? I cloned from master and master is broken. Is `appium-xcode` suppose to be a submodule?

[2015-04-29 22:43] imurchie commented on #5018
No, just an npm module.

[2015-04-29 22:46] bootstraponline commented on #5018
I see `"appium-xcode": "=2.0.2"` in `package.json` on my local disk. It looks like this is what I'm already using.

[2015-04-29 22:47] bootstraponline commented on #5018
`node_modules/appium-xcode/lib/xcode.js ` also shows that it contains the fix you linked to.

[2015-04-29 23:21] imurchie commented on #5018
Ok. I'll leave this in the queue. I can't make it happen with the same configuration, though.

[2015-04-29 23:26] bootstraponline commented on #5018
My repro steps:

1. clone appium
2. run reset
3. run ios test
4. observe crash

[2015-04-29 23:47] moizjv commented on #4463
@RasoolShaik  You can use [forum](http://diiscuss.appium.io) got asking questions. I am closing this issue as it is not an defect.

[2015-04-29 23:47] #4463 closed

[2015-04-30 03:16] bootstraponline opened #5023 "Replace uiwatchers with IActivityController"
See https://github.com/appium/appium/issues/4698 for the details. Work in progress code is [available in this branch](https://github.com/bootstraponline/appium/commit/795b5f2ae3c1b346d5bd2a8e1c89eb131efc337f).

The summary is that by using an internal API to handle crash dialogs we're able to avoid a significant CPU penalty by not constantly polling via [uiautomator uiwatchers](https://github.com/

[2015-04-30 03:59] valarmathivrv opened #5024 "How to reslove the appium crash?"
1.  I have installed appium 1.3.7 version in mac machine.
  2. I have started appium server for android app in android device.
  3.  In android device, the app get installed and opened successfully.
  4.  I have clicked the show inspector button and then I can able to see the inspector screen and then my appium inspector get crashed.

5. I have attached the screen shot below for reference.

![scre

[2015-04-30 06:02] debugger89 opened #5025 "Appium UI is crashing when the device is replugged and launched"
<b>Issue : </b>
Appium UI is crashing when the device is unplugged while appium is launched and plugged back in to the mac and relaunched the appium.

<b>Steps to recreate : </b><ol>
<li>Open appium and plug a device to the mac</li>
<li>Launch appium</li>
<li>unplug the device without stopping appium</li>
<li>plug the device again</li>
<li>clear the logs</li>
<li>Stop and launch appium again</li>

[2015-04-30 06:26] debugger89 commented on #5025
<b>Steps to recreate missing step:</b>

Clear the logs after starting the appium after re-plugging

[2015-04-30 07:24] amake commented on #4971
@jlipps Sorry, I had overlooked that capability since the default behavior worked for us for so long. Yes, that's actually a great solution. Problem solved.

[2015-04-30 07:24] #4971 closed

[2015-04-30 07:48] akash-chaudhary opened #5026 "org.openqa.selenium.WebDriverException: ERROR running Appium command: undefined is not a function"
Appium version -- 1.3.7
iOS(iPAD ) version ---8.1
Firstly --App got launched and then this error was thrown .
Now this error is repetitive as soon as appium is launched.

[2015-04-30 08:41] zxhfirefox opened #5027 "When I get a UIElement, how can I call some special method on it ?"
For example, in iOS, I got a UIASegmentedControl, how can I call its selectedButton method?

[2015-04-30 10:31] tajmulhussainr commented on #4588
Similar issue observed. Appium version 1.3.6 on Mac OSX(10.10.3).
Android Device API level 17, Version 4.2

[2015-04-30 12:23] ruthwe opened #5028 "how can i get element location on python?"
location=tf.get_attribute("location")
throws
WebDriverException: Message: The requested resource could not be found, or a request was received using an HTTP method that is not supported by the mapped resource.

[2015-04-30 12:40] paymand commented on #5028
Try:
[code]

[2015-04-30 12:40] valarmathivrv opened #5029 "`--app` server arg is broken when passing BundleId"
1. I have installed appium version 1.3.3.
2. I have launched appium server to inspect an ios app.
3. I have attached the screen shot for reference.
4.
![screen shot 2015-04-30 at 4 30 50 pm](https://cloud.githubusercontent.com/assets/9842215/7412850/2c766806-ef64-11e4-99e4-8ba4d53e5655.png)
I am getting the below mentioned error message.

[2015-04-30 13:11] valarmathivrv opened #5030 "How to locate classname,id and xpath in appium inspector for android app?"
1. I have launched appium inspector.
   2. I can able to get always xpath alone.
   3. How can I get id,className,Name and tagName in appium inspector.

![screen shot 2015-04-30 at 6 26 33 pm](https://cloud.githubusercontent.com/assets/9842215/7413346/7b85737a-ef68-11e4-8a83-0161cf6d7bb5.png)
4. I have attached the screen shot below for reference.

[2015-04-30 13:16] akash-chaudhary commented on #5026
TypeError: undefined is not a function
    at serveStatic (/Applications/Appium1.3.7.app/Contents/Resources/node_modules/appium/node_modules/express/node_modules/serve-static/index.js:63:32)
    at Layer.handle [as handle_request] (/Applications/Appium1.3.7.app/Contents/Resources/node_modules/appium/node_modules/express/lib/router/layer.js:82:5)
    at trim_prefix (/Applications/Appium1.3.7.app/Co

[2015-04-30 15:16] iceicerickert opened #5031 "push notification"

[2015-04-30 15:16] #5031 closed

[2015-04-30 15:38] imurchie commented on #5018
I can reproduce steps 1-3.

[2015-04-30 18:15] brianmrock commented on #4900
This is happening almost for all test cases for me.  It works 1 out of 5 times.  Here's the logs I am seeing.

Running on iPad mini and 8.3

[code]

Is anyone else seeing this?

[2015-04-30 18:24] brianmrock commented on #4969
Anyone get a chance to dig into this, I am facing the same issue on mobile web tests.

[2015-04-30 21:26] hectorv opened #5032 "add server flag for logcat capture"
Similar to `--show-ios-log`, we could benefit from having a flag like `--show-logcat`.

[2015-04-30 23:34] imurchie commented on #5029
This generally means that somewhere along the line MobileSafari.app has been lost from the sim directory. Alas. It should be, I think, `/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS\ 8.1.simruntime/Contents/Resources/RuntimeRoot/Applications/MobileSafari.app`.

If it is not there, you can try to uninstall and reinstall the simulator through Xcode.

[2015-04-30 23:39] prashantnagrecha opened #5033 "Appium throws "ideviceinstaller" not found when launched through Eclipse - Java"
Hi,
While launching an app on real device through Appium Inspector there are no issues. It works perfect. The issue lies when I invoke to launch an app through Java. I'm specifying standard set of desired capabilities, port etc. Appium is launched but the moment it tries to open app - it throws an error stating Could not initialize ideviceinstaller; make sure it is installed and works on your syst

[2015-04-30 23:41] imurchie commented on #5030
There doesn't seem to be an `id` there (it would be `resource-id`). Class name is the last one in the xpath descriptor. In this case, `android.widget.TextView`. If you scroll up there will also be a field for `type`. This is the class name. Name is an amalgam, but you can use what is in the `content-desc`, at the top. There is no `tagName` unless you are in a webview context.

Please, in the futur

[2015-05-01 01:09] yaphatak commented on #5013
Thanks. It works.

[2015-05-01 01:30] moizjv commented on #4284
@ngocthanh looks like issue with device. Closing the ticket.

[2015-05-01 01:30] #4284 closed

[2015-05-01 01:45] moizjv commented on #5004
@priyankshah217 can you test from master i have fixed the issue. Thanks for reporting :)

[2015-05-01 09:05] srikanthsadhu opened #5034 "CRITICAL: On Mac Ideviceinstaller hangs with socker connection errors intermittently,only way to recover is replug the device to USB cable."
Ideviceinstaller on mac with latest version on YOSEMITE,IOS 8.2 seems to hang and the sys log show this msg below
com.apple.usbmuxd[17630]: SCEDeviceSocketCallback 0x1006027c0-libusbmuxd/org.libimobiledevice.usbmuxd remote peer closed connection for sce 0x1006027c0.

We are stuck that we cant install our app consistently through idevice. Please fix it.

[2015-05-01 10:04] melonieji opened #5035 "Automate 2 apps with appium"
Hi,
   My tests require me to connect to calendar app first and then head to my internal app built by my company, as there are some changes which happen to my internal app based on the set up I do at calendar app.

I did try a couple of options with appium 1.3.7-beta but did not find any luck.
Did try working with 2 drivers and that did not result in consistent/stable solution.
Also tried launchin

[2015-05-01 14:34] jlipps commented on #4539
@amedvedjev when you set your log-level to debug, do you see the issue?

[2015-05-01 14:36] jlipps commented on #4539
sorry @sm6995 wanted to handle this as part of 1.4 but it seems we're still investigating what's going on. I'm going to roll this over to 1.5, but hopefully it will be addressed soon so you can run from master if we resolve the issue. also will update the title to reflect the bug

[2015-05-01 14:39] ktronic80 commented on #4815
I did a short test for #4742 which reproduces the problem with back button using the Selendroid test app.
https://gist.github.com/ktronic80/675abc2838d92005abdc
Appium Java Client: 2.2.0
Android Emulator with 4.2.2.

With Appium version 1.3.4 the test is passing and with 1.3.7 it is falling, the back button is not working.
When you run it with 1.3.7 on a fresh started emulator and set unicodeKeybo

[2015-05-01 14:53] jlipps commented on #4397
@yaphatak thanks for the investigation! we're trying to get 1.4 out ASAP so i made these changes: https://github.com/appium/appium/pull/5036

can you see if this helps you? unfortunately i don't think it will help @chrigrahcisco since he's not using a real device.

[2015-05-01 15:21] bodiam commented on #4755
Hi @moizjv , thanks for the help. I didn't have the need for running appium on Windows for a while, but I tested the latest version, and it works. But is it also possible to start appium without the GUI?

[2015-05-01 16:05] SConrad-Whoop opened #5037 "Site documentation/tutorial update"
Hello,

Just wondering when the documentation for 1.3.7 is going to be updated. Currently some of it is very out of date or just completely missing, such as http://appium.io/slate/en/v1.3.7-Beta/?java#running-appium-tests3 and http://appium.io/slate/en/v1.3.7-Beta/?java#overview2

Going through the documentation and the tutorial has left me very frustrated and unable to do anything but very, very

[2015-05-01 16:29] sm6995 commented on #4539
The work-around (setting the log level at warn or error) is fine for us.  We are in no hurry.
Thank you!

[2015-05-01 16:30] jlipps commented on #5037
@SConrad-Whoop there are some issues with the doc publishing right now. 1.3.7 final was not able to be published. If you want the truest docs, simply navigate around https://github.com/appium/appium/tree/master/docs/en. We'll be re-publishing docs for 1.4 soon, and that should also fix the 1.3.7 issue.

In terms of your specific issues, I'm not sure where you got the links but there are extraneous